USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_contactPhoneNumber_delete - remove an existing phone number FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_contactPhoneNumber_delete] (
    @phoneNumberID INT,
    @contactID BIGINT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --primaryBIT stores if phone number is used as a primary number, and checkNumber to check if the owner is operating on the number
    DECLARE  @primaryBit BIT = 0, @checkNumberID INT 
    SELECT @checkNumberID = phoneNumberID FROM contactPhoneNumbers WHERE ownedByContactID = @contactID AND phoneNumberID = @phoneNumberID


    IF @checkNumberID IS NOT NULL --this is their number
    BEGIN
        SELECT @primaryBit = IIF(primaryPhoneNumberID = @phoneNumberID, 1, 0)
        FROM contacts
        WHERE contactID = @contactID AND primaryPhoneNumberID = @phoneNumberID

        --set phoneNumberID to NULL if the phone number is their primary number
        IF @primaryBit = 1 UPDATE contacts SET primaryPhoneNumberID = NULL WHERE contactID = @contactID

        --delete the phoneNumber
        DELETE FROM contactPhoneNumbers WHERE phoneNumberID = @phoneNumberID
    END


    IF @checkNumberID IS NULL --this is not their number
    SELECT @errorMessage = 'This is not your phone number so you cannot delete it.'

    SELECT ISNULL(@errorMessage, NULL)
END
GO
