USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripProtocol_HTTP - remove http and https from URL
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_stripProtocol_HTTP](
    @str VARCHAR(MAX)
)

RETURNS VARCHAR(MAX)
AS
BEGIN

    SELECT @str = REPLACE(REPLACE(@str, 'HTTPS://', ''), 'HTTP://', '')

    RETURN @str
END
GO
