USE [ectdb]
GO
/*
Written by Asira 09/22/2023
Table assets - A table of assets (tangible and not) and all information about them
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assets](
	[assetID] [int] IDENTITY(1,1) NOT NULL,
	[assetDescription] [varchar](255) NOT NULL,
	[assetTypeID] [int] NOT NULL,
	[aquisitionDate] [smalldatetime] NOT NULL,
	[aquisitionPrice] [money] NULL,
	[referenceNumber] [varchar](64) NULL,
	[locationLTID] [tinyint] NULL,
	[locationXID] [int] NULL,
	[inventoriedDate] [smalldatetime] NULL,
	[aquiredFromOrganizationID] [int] NOT NULL,
	[assetMemo] [text] NULL,
 CONSTRAINT [PK_assets] PRIMARY KEY NONCLUSTERED 
(
	[assetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_assets]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_assets] ON [dbo].[assets]
(
	[assetID] ASC,
	[locationLTID] ASC,
	[assetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assets] ADD  DEFAULT (getdate()) FOR [aquisitionDate]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [FK_assets_aquiredFromOrganizationID] FOREIGN KEY([aquiredFromOrganizationID])
REFERENCES [dbo].[organizations] ([organizationID])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [FK_assets_aquiredFromOrganizationID]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [FK_assets_assetTypes] FOREIGN KEY([assetTypeID])
REFERENCES [dbo].[assetTypes] ([assetTypeID])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [FK_assets_assetTypes]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [FK_assets_locationLTID] FOREIGN KEY([locationLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [FK_assets_locationLTID]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [CK_assets_location] CHECK  (([locationLTID] IS NULL AND [locationXID] IS NULL OR [locationLTID] IS NOT NULL AND [locationXID] IS NOT NULL))
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [CK_assets_location]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [CK_assets_location_LTID] CHECK  (([locationLTID] IS NULL OR [locationLTID]=(6) OR [locationLTID]=(14) OR [locationLTID]=(15)))
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [CK_assets_location_LTID]
GO
