USE [ectdb]
GO
/*
Written by Asira 10/18/2023
Table settingValues - values that can be used for a setting type
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settingValues](
	[settingValueID] [int] IDENTITY(1,1) NOT NULL,
	[settingTypeID] [int] NOT NULL,
	[value] [varchar](450) NOT NULL,
	[isDefault] [bit] NULL,
 CONSTRAINT [PK_settingValues] PRIMARY KEY CLUSTERED 
(
	[settingValueID] ASC,
	[settingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_settingTypeValue] UNIQUE NONCLUSTERED 
(
	[settingTypeID] ASC,
	[value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[settingValues] ADD  CONSTRAINT [DEFAULT_settingValues_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[settingValues]  WITH CHECK ADD  CONSTRAINT [FK_settingValues_settingTypeID] FOREIGN KEY([settingTypeID])
REFERENCES [dbo].[settingTypes] ([settingTypeID])
GO
ALTER TABLE [dbo].[settingValues] CHECK CONSTRAINT [FK_settingValues_settingTypeID]
GO
