USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_employee - retrieves single employee record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_employee] AS

    SELECT employees.employeeID, employees.birthdate, employees.hiredate, employees.hourlyWage, employees.inActive, employees.userID, dbo.fn_entityName_public(2, employees.employeeID) AS preferredName, employees.quickPin, users.firstName, users.lastName, users.email, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID
    FROM employees
    LEFT JOIN linkedTables ON 2 = linkedTables.linkedTableID
    LEFT JOIN users ON employees.userID = users.userID
    LEFT JOIN linkedEntities LE ON toLTID = 2 AND toXID = employees.employeeID
    
GO
