USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_timeEntry - data for a single time entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_timeEntry] AS


    SELECT timeEntryID, employeeID, taskID, isTimeClockEntry, startDateTime, endDateTime
    FROM timeEntries

GO
