USE [ectdb]
GO
/*
Written by Asira 08/11/2023
Table actions - a list of actions that can be made; how long those action logs should be retained
*/SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actions](
	[actionID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](64) NOT NULL,
	[monthsOfRetention] [tinyint] NOT NULL,
 CONSTRAINT [PK_actions] PRIMARY KEY NONCLUSTERED 
(
	[actionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_actionDescription]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_actionDescription] ON [dbo].[actions]
(
	[actionID] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_actionRetentionPeriod]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_actionRetentionPeriod] ON [dbo].[actions]
(
	[actionID] ASC,
	[monthsOfRetention] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[actions] ADD  CONSTRAINT [DEFAULT_actions_monthsOfRetention]  DEFAULT ((1)) FOR [monthsOfRetention]
GO
