USE [ectdb]
GO
/*
Written by Asira 2022
Table Function tb_userGroupMembers - returns a list of members joined to a usergroup
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_userGroupMembers] ()
RETURNS TABLE AS 

RETURN(
        SELECT      userGroupMemberships.userGroupMembershipID, userGroupMemberships.userGroupID, userGroupMemberships.memberLTID, userGroupMemberships.memberXID, users.userID, users.firstName, users.lastName FROM ectdb.dbo.userGroupMemberships
        LEFT JOIN   users ON userGroupmemberships.memberXID = users.userID
        WHERE       userGroupMemberships.memberLTID = 1
 
        UNION

        SELECT      userGroupMemberships.userGroupMembershipID, userGroupMemberships.userGroupID, userGroupMemberships.memberLTID, userGroupMemberships.memberXID, users.userID, users.firstName, users.lastName FROM ectdb.dbo.userGroupMemberships
        LEFT JOIN   employees ON userGroupmemberships.memberXID = employees.employeeID
        LEFT JOIN   users ON employees.userID = users.userID
        WHERE       userGroupMemberships.memberLTID = 2
)
GO
