USE [ectdb]
GO
/*
Written by Asira 03/22/2024
Procedure pr_acl_purge - deletes all ACL records that aren't blacklisted
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_acl_purge]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM aclSessions WHERE blacklistedIP = 0
END
GO
