USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_downloadGroup_deleteFile - remove a file from a download group (note: actual files are stored on a file server ... the deleted record is only a physical path)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_downloadGroup_deleteFile] (
    @fileID INT
  )
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

  DELETE FROM downloadFiles WHERE downloadFileID = @fileID
GO
