USE [ectdb]
GO
/*
Written by Asira 2022
Table territories - a list of states/territories/provinces that segment countries into local government zones
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[territories](
	[territoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[territoryCode] [char](2) NOT NULL,
	[countryID] [int] NOT NULL,
	[timeZoneID] [int] NULL,
 CONSTRAINT [PK_States] PRIMARY KEY NONCLUSTERED 
(
	[territoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_stateCode] UNIQUE NONCLUSTERED 
(
	[territoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_territories]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_territories] ON [dbo].[territories]
(
	[territoryID] ASC,
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[territories]  WITH CHECK ADD  CONSTRAINT [FK_territories_countryID] FOREIGN KEY([countryID])
REFERENCES [dbo].[countries] ([countryID])
GO
ALTER TABLE [dbo].[territories] CHECK CONSTRAINT [FK_territories_countryID]
GO
