USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripTags - removes XML/HTML tags
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_stripTags]
	(@text varchar(MAX))
	RETURNS varchar(MAX)
As

Begin
	DECLARE @start INT, @end INT, @length INT
		
		WHILE CharIndex('<!--', @text) > 0 AND CharIndex('-->', @text, CharIndex('<!--', @text)) > 0
	    BEGIN
		    SELECT @start = CharIndex('<!--', @text), @end = CharIndex('-->', @text, CharIndex('<!--', @text))
		    SELECT @length = (@end - @start) + 3
		    If @length > 0
		    BEGIN
			    SELECT @text = Stuff(@text, @start, @length, '')
		    END
	    END


	    WHILE CharIndex('<', @text) > 0 AND CharIndex('>', @text, CharIndex('<', @text)) > 0
	    BEGIN
		    SELECT @start = CharIndex('<', @text), @end = CharIndex('>', @text, CharIndex('<', @text))
		    SELECT @length = (@end - @start) + 1
		    IF @length > 0
		    BEGIN
			    SELECT @text = Stuff(@text, @start, @length, '')
		    END
	    END


        WHILE CharIndex('&lt;', @text) > 0 AND CharIndex('&gt;', @text, CharIndex('&lt;', @text)) > 0
	    BEGIN
		    SELECT @start = CharIndex('&lt;', @text), @end = CharIndex('&gt;', @text, CharIndex('&lt;', @text))
		    SELECT @length = (@end - @start) + 4
		    IF @length > 0
		    BEGIN
			    SELECT @text = Stuff(@text, @start, @length, '')
		    END
	    END

        
	RETURN @text
End
GO
