USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_binLocation_new - create a new bin location record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_binLocation_new] (
    @binDescription VARCHAR(255),
    @binPrefix VARCHAR(16),
    @parentBinLocationID INT = NULL,
    @warehouseID INT,
    @websiteID INT,
    @newBinLocationID INT = NULL OUTPUT
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  INSERT INTO binLocations (description, prefix, parentBinLocationID, warehouseID)
  VALUES (dbo.sqlProtect_xss(@binDescription,4), dbo.sqlProtect_xss(@binPrefix,6), dbo.sqlProtect_xss(@parentBinLocationID,7), dbo.sqlProtect_xss(@warehouseID,7))

  SELECT @newBinLocationID = SCOPE_IDENTITY()
  EXEC dbo.pr_linkedEntity_new 14, @newBinLocationID, @websiteID

  SELECT ISNULL(@newBinLocationID, NULL)
END
GO
