USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_users - retrieves user records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_users] AS


    SELECT users.userID, users.websiteID, users.firstName, users.lastName, users.email, users.registrationDate, users.inActive, users.isBanned, users.organizationID AS organizationID, organizations.name AS organizationName, contactPhoneNumbers.phoneNumber, contactPhoneNumbers.phoneNumberExtension, contactAddresses.city, contactAddresses.zipcode, territories.name AS territoryName, countries.countryCode
    FROM users
    LEFT JOIN organizations ON organizations.organizationID = users.organizationID
    LEFT JOIN linkedEntities LE ON toLTID = 1 AND toXID = users.userID
    LEFT JOIN contacts ON contacts.ownerLEID = LE.linkedEntityID
    LEFT JOIN contactPhoneNumbers ON contacts.primaryPhoneNumberID = contactPhoneNumbers.phoneNumberID
    LEFT JOIN contactAddresses ON ISNULL(contacts.primaryShipAddressID, contacts.primaryBillAddressID) = contactAddresses.addressID
    LEFT JOIN territories ON contactAddresses.territoryID = territories.territoryID
    LEFT JOIN countries ON territories.countryID = countries.countryID

GO
