USE [ectdb]
GO
/*
Written by Asira 2023
Table binLocations - The description, prefix (for quick lookup), and location a binLocation (e.g. shelf) is at
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binLocations](
	[binLocationID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[prefix] [varchar](16) NOT NULL,
	[parentBinLocationID] [int] NULL,
	[warehouseID] [int] NOT NULL,
 CONSTRAINT [PK_binLocations] PRIMARY KEY NONCLUSTERED 
(
	[binLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_binLocations_description] UNIQUE NONCLUSTERED 
(
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_binLocations_prefix] UNIQUE NONCLUSTERED 
(
	[prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_binLocations]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_binLocations] ON [dbo].[binLocations]
(
	[binLocationID] ASC,
	[parentBinLocationID] ASC,
	[warehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_binLocations_cardInformation]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_binLocations_cardInformation] ON [dbo].[binLocations]
(
	[binLocationID] ASC,
	[description] ASC,
	[prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_binLocations_information]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_binLocations_information] ON [dbo].[binLocations]
(
	[binLocationID] ASC,
	[description] ASC,
	[prefix] ASC,
	[parentBinLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[binLocations]  WITH CHECK ADD  CONSTRAINT [FK_binLocations_parentLocation] FOREIGN KEY([parentBinLocationID])
REFERENCES [dbo].[binLocations] ([binLocationID])
GO
ALTER TABLE [dbo].[binLocations] CHECK CONSTRAINT [FK_binLocations_parentLocation]
GO
ALTER TABLE [dbo].[binLocations]  WITH CHECK ADD  CONSTRAINT [FK_binLocations_warehouseID] FOREIGN KEY([warehouseID])
REFERENCES [dbo].[warehouses] ([warehouseID])
GO
ALTER TABLE [dbo].[binLocations] CHECK CONSTRAINT [FK_binLocations_warehouseID]
GO
