USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Procedure pr_collection_unmarkHidden - make a collection visible
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_unmarkHidden] (
    @collectionID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
  
    DECLARE @parentCollectionID INT
    SELECT @parentCollectionID = parentCollectionID FROM collections WHERE collectionID = @collectionID

    UPDATE collections SET isHidden = 0 WHERE collectionID = @collectionID
    IF @parentCollectionID IS NOT NULL EXEC pr_collection_unmarkHidden @parentCollectionID
END
GO
