USE [ectdb]
GO
/*
Written by Asira 2024
Procedure pr_entityQueue_new - create a new entity queue entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_entityQueue_new] (
  @entityLEID BIGINT,
  @ownerLEID BIGINT,
  @entityQueueTypeID INT,
  @quantity INT,
  @newEntityQueueID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkQueueID BIGINT --used to check if this item is already in the entityQueue
    SELECT @checkQueueID = entityQueueID FROM entityQueue WHERE entityLEID = dbo.sqlProtect_xss(@entityLEID,7) AND ownerLEID = dbo.sqlProtect_xss(@ownerLEID,7)


    --entity is not in queue for this user, insert to queue
    IF @checkQueueID IS NULL
    BEGIN
        INSERT INTO entityQueue (entityQueueTypeID, entityLEID, ownerLEID, quantity)
        VALUES (dbo.sqlProtect_xss(@entityQueueTypeID,7), dbo.sqlProtect_xss(@entityLEID,7), dbo.sqlProtect_xss(@ownerLEID,7), dbo.sqlProtect_xss(@quantity,7))

        SELECT @newEntityQueueID = SCOPE_IDENTITY()
    END


    --entity is already in queue for this user, add to existing quantity
    IF @checkQueueID IS NOT NULL
    BEGIN
        UPDATE entityQueue
        SET quantity = (quantity + dbo.sqlProtect_xss(@quantity,7))
        WHERE entityLEID = dbo.sqlProtect_xss(@entityLEID,7) AND ownerLEID = dbo.sqlProtect_xss(@ownerLEID,7)

        SELECT @newEntityQueueID = @checkQueueID
    END


    SELECT ISNULL(@newEntityQueueID, NULL)
END
GO
