USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_contactPhoneNumber_edit - modify an existing phone number FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_contactPhoneNumber_edit] (
    @phoneNumberID INT,
    @contactID INT,
    @recipient VARCHAR(101),
    @phoneNumberTypeID INT,
    @phoneNumber VARCHAR(17),
    @phoneNumberExtension VARCHAR(4),
    @primaryPhone INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkOwnerID INT
    SELECT @checkOwnerID = ownedByContactID FROM contactPhoneNumbers WHERE phoneNumberID = @phoneNumberID AND ownedByContactID = @contactID


    IF @checkOwnerID IS NOT NULL --the person editing the number is the owner
    BEGIN
        --makes changes to the phone number
        UPDATE contactPhoneNumbers
        SET recipient = dbo.sqlProtect_xss(@recipient,5), phoneNumberTypeID = dbo.sqlProtect_xss(@phoneNumberTypeID,7), phoneNumber = dbo.sqlProtect_xss(@phoneNumber,4), phoneNumberExtension = dbo.sqlProtect_xss(@phoneNumberExtension,7)
        WHERE phoneNumberID = @phoneNumberID AND ownedByContactID = @contactID


        --if the phoneNumber is a primary phone, set it as the primary phone for the user
        IF @primaryPhone = 1 UPDATE contacts SET primaryPhoneNumberID = @phoneNumberID WHERE contactID = @contactID
    END


    IF @checkOwnerID IS NULL SELECT @errorMessage = 'You are not the owner of this phone number and cannot edit it.'
    SELECT ISNULL(@errorMessage, NULL)
END
GO
