USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_website - returns a website record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_website] AS

    SELECT site.websiteID, site.parentWebsiteID, site.websiteURL, site.cookieTag, site.description, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID AS LE_websiteID
    FROM websites site
    LEFT JOIN linkedTables ON 102 = linkedTables.linkedTableID
    LEFT JOIN linkedEntities LE ON toLTID = 102 AND toXID = site.websiteID

GO
