USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_markDepreciated - marks a knowledgebase entry and all descendants as depreciated
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_markDepreciated] (
    @knowledgebaseID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --update this KB to be depreciated
    UPDATE knowledgebase SET depreciated = 1 WHERE knowledgebaseID = @knowledgebaseID
  
    --store a list of KBID's that need to be marked as depreciated
    DECLARE @aTable TABLE (KBID INT)
    DECLARE @KBID INT = 0
    INSERT INTO @aTable SELECT knowledgebaseID FROM knowledgebase WHERE parentKnowledgebaseID = @knowledgebaseID ORDER BY knowledgebaseID ASC

    WHILE (1=1)
    BEGIN
        --get next ID
        SELECT TOP 1 @KBID = KBID
        FROM @aTable
        WHERE KBID > @KBID
        ORDER BY KBID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to depreciate the descendant
        EXEC dbo.pr_knowledgebase_markDepreciated @KBID
    END
END
GO
