USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_contactAddress_delete - delete an address FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_contactAddress_delete] (
    @addressID INT,
    @contactID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

    --shipBit stores if address is used as a billing address
    --billBit stores if address is used as a billing address
    --checkAddressID confirms if the user owns the address
    DECLARE @shipBit BIT = 0, @billBit BIT = 0, @checkAddressID INT

    SELECT @checkAddressID = addressID FROM contactAddresses WHERE ownedByContactID = @contactID AND addressID = @addressID

    SELECT @shipBit = IIF(primaryShipAddressID = @addressID, 1, 0),
           @billBit = IIF(primaryBillAddressID = @addressID, 1, 0)
    FROM contacts
    WHERE contactID = @contactID AND (primaryShipAddressID = @addressID OR primaryBillAddressID = @addressID)



    IF @checkAddressID IS NOT NULL --this address is owned by the user deleting it
    BEGIN
        --set billingAddressID to NULL (for address owner) if the address is their primary billing address
        IF @billBit = 1 UPDATE contacts SET primaryBillAddressID = NULL WHERE contactID = @contactID

        --set shippingAddressID to NULL (for address owner) if the address is their primary shipping address
        IF @shipBit = 1 UPDATE contacts SET primaryShipAddressID = NULL WHERE contactID = @contactID

        --delete the address
        DELETE FROM contactAddresses WHERE addressID = @addressID
    END



    IF @checkAddressID IS NULL --this address isn't owned by the user deleting it
    SELECT @errorMessage = 'This is not your address so you cannot delete it.'

    SELECT ISNULL(@errorMessage, NULL)
GO
