USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_widget_edit - modify an existing widget
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_widget_edit] (
  @widgetID INT,
  @description VARCHAR(255),
  @tag VARCHAR(64),
  @sourceCode TEXT,
  @isPublic BIT,
  @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  DECLARE @checkTag VARCHAR(64), @widgetTag VARCHAR(64)

  SELECT @checkTag = tag FROM widgets WHERE tag = dbo.sqlProtect_xss(@tag,5)              --check to see if a widget with this tag already exists
  SELECT @widgetTag = tag FROM widgets WHERE widgetID = @widgetID                         --get the tag for the widgetID

  IF @checkTag = @widgetTag SELECT @checkTag = NULL                 --if the widget being edited matches the "replacement" tag, then checkTag can be set to NULL


  IF @checkTag IS NULL
  BEGIN
    UPDATE widgets
    SET description = dbo.sqlProtect_xss(@description,4), tag = dbo.sqlProtect_xss(@tag,5), sourceCode = dbo.sqlProtect_xss(@sourceCode,0), isPublic = dbo.sqlProtect_xss(ISNULL(@isPublic, 0),5)
    WHERE widgetID = @widgetID
  END

  IF @checkTag IS NOT NULL
  BEGIN
    SELECT @errorMessage = 'A widget with the tag: ' + @tag + ' already exists. Please choose a different tag.'
  END

SELECT ISNULL(@errorMessage, NULL)
END
GO
