USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_downloadGroup_new - create a new download group record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_downloadGroup_new] (
    @groupName VARCHAR(64),
    @groupDescription VARCHAR(MAX),
    @websiteID INT,
    @newGroupID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkName VARCHAR(MAX)
    SELECT @checkName = downloadGroupName FROM downloadGroups WHERE downloadGroupName = dbo.sqlProtect_xss(@groupName,4)

    IF @checkName IS NULL
    BEGIN
        INSERT INTO downloadGroups (downloadGroupName, downloadGroupDescription, date) VALUES
        (dbo.sqlProtect_xss(@groupName,4), dbo.sqlProtect_xss(@groupDescription,4), GETDATE())

        SELECT @newGroupID = SCOPE_IDENTITY()
        EXEC dbo.pr_linkedEntity_new 104, @newGroupID, @websiteID
    END

    IF @checkName IS NOT NULL SELECT @errorMessage = CONCAT('The download group name must be unique! "', dbo.sqlProtect_xss(@groupName,4), '" is already used.')

    SELECT ISNULL(@newGroupID, NULL), ISNULL(@errorMessage, NULL)
END
GO
