USE [ectdb]
GO
/*
Written by Asira 2024
Procedure pr_productVariants_markHidden - hide all variants of a product
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_productVariants_markHidden] (
    @parentProductID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE productVariations SET isHidden = 1 WHERE parentProductID = @parentProductID
END
GO
