USE [ectdb]
GO
/*
Written by Asira 11/14/2024
Procedure pr_notification_remind - Marks a notification to remind later (acknowledged = seen, dimissed = will no longer appear in notifications list)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_notification_remind] (
    @notificationID INT,
    @userLEID BIGINT,
    @employeeLEID BIGINT,
    @remindDate DATETIME,
    @errorMessage VARCHAR(256) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --prevent modification of notifications that are not for the user/employye
    IF (SELECT TOP 1 toLEID FROM notifications WHERE notificationID = @notificationID) NOT IN (@userLEID, @employeeLEID)
    SELECT @errorMessage = 'This is not your notification to set a reminder for. Please contact a system administrator if you believe this is in error.'

    IF @errorMessage IS NULL
    BEGIN
        UPDATE notifications SET acknowledged = 0, dismissed = 0, resendDate = dbo.sqlProtect_xss(@remindDate,4)
        WHERE notificationID = @notificationID AND toLEID IN (@userLEID, @employeeLEID)
    END


    SELECT ISNULL(@errorMessage, NULL)
END
GO
