USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripNumeric - remove numerals
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_stripNumeric](
    @str VARCHAR(MAX)
)

RETURNS VARCHAR(MAX)
AS
BEGIN

    SELECT @str = REPLACE(@str, '1', '')
    SELECT @str = REPLACE(@str, '2', '')
    SELECT @str = REPLACE(@str, '3', '')
    SELECT @str = REPLACE(@str, '4', '')
    SELECT @str = REPLACE(@str, '5', '')
    SELECT @str = REPLACE(@str, '6', '')
    SELECT @str = REPLACE(@str, '7', '')
    SELECT @str = REPLACE(@str, '8', '')
    SELECT @str = REPLACE(@str, '9', '')
    SELECT @str = REPLACE(@str, '0', '')

    RETURN @str
END
GO
