USE [ectdb]
GO
/*
Written by Asira 06/26/2024
View vw_shipBoxMaterials_select - retrieves data for a ship box materials select list
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_shipBoxMaterials_select] AS


    SELECT shipBoxMaterialID, shipBoxMaterial
    FROM shipBoxMaterials

GO
