USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_binLocation_changeLocation - change the parent location of a bin location
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_binLocation_changeLocation] (
    @binLocationID INT,
    @parentBinLocationID INT = NULL
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  UPDATE binLocations
  SET parentBinLocationID = dbo.sqlProtect_xss(@parentBinLocationID,7)
  WHERE binLocationID = @binLocationID
END
GO
