USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_documentKeywords - returns keywords relevant to a document
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_documentKeywords](
    @documentID INT,
    @option TINYINT
)
RETURNS VARCHAR(MAX)
BEGIN
    --option 0/null: return keywords for this DOC only
    --option 1/2:    return keywords for this DOC and all ancestors
    DECLARE @aString VARCHAR(MAX), @parentString VARCHAR(MAX), @parentDocID INT

    IF @documentID IS NOT NULL
    BEGIN
        --get parentDocID
        SELECT @parentDocID = parentDocumentID, @aString = keywords FROM documents WHERE documentID = @documentID



        --keywords for option 0/null
        IF ISNULL(@option, 0) = 0
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT description FROM documents WHERE documentID = ISNULL(doc.parentDocumentID, 0)), ' ', doc.keywords, ' ', doc.documentID, ' doc dc dox docs document', ' ', CONCAT('DOC', @documentID)), ' ')
            FROM documents AS doc
            WHERE doc.documentID = @documentID
        END



        --keywords for option 1/2
        IF @option IN (1, 2)
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT description FROM documents WHERE documentID = ISNULL(doc.parentDocumentID, 0)), ' ', doc.keywords, ' ', doc.documentID, ' doc dc dox docs document', ' ', CONCAT('DOC', @documentID)), ' ')
            FROM documents AS doc
            WHERE doc.documentID = @documentID

            --get keywords and prepend them
            SELECT @parentString = dbo.fn_documentKeywords(@parentDocID, 2)
            IF @parentString + @aString IS NOT NULL
                SELECT @aString = dbo.fn_dedupeString(@aString + ' ' + @parentString, ' ') 
            ELSE
                SELECT @aString = ISNULL(@parentString, '') + ' ' + ISNULL(@aString, '')
        END



        --default keywords
        IF @aString = '' SELECT @aString = NULL
        IF @option = 1 AND @aString IS NULL
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT description FROM documents WHERE documentID = ISNULL(doc.parentDocumentID, 0)), ' ', doc.keywords, ' ', doc.documentID, ' doc dc dox docs document', ' ', CONCAT('DOC', @documentID)), ' ')
            FROM documents AS doc
            WHERE doc.documentID = @documentID
        END
    END

    SELECT @aString = dbo.fn_sortAlphaString(LOWER(@aString))
    RETURN @aString
END
GO
