USE [ectdb]
GO
/*
Written by Asira 2023
Table bins - Similar to binLocations, but used to sort+store assets, products, etc
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bins](
	[binID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](64) NOT NULL,
	[binLocationID] [int] NULL,
	[creationDate] [smalldatetime] NOT NULL,
	[inventoriedDate] [smalldatetime] NULL,
	[brokenApart] [bit] NOT NULL,
	[isMissing] [bit] NOT NULL,
	[inspectionNeeded] [bit] NOT NULL,
 CONSTRAINT [PK_bins] PRIMARY KEY NONCLUSTERED 
(
	[binID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_bins_binLocations]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_bins_binLocations] ON [dbo].[bins]
(
	[binID] ASC,
	[binLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_bins_cardInformation]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_bins_cardInformation] ON [dbo].[bins]
(
	[binID] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bins] ADD  DEFAULT (getdate()) FOR [creationDate]
GO
ALTER TABLE [dbo].[bins] ADD  DEFAULT ((0)) FOR [brokenApart]
GO
ALTER TABLE [dbo].[bins] ADD  DEFAULT ((0)) FOR [isMissing]
GO
ALTER TABLE [dbo].[bins] ADD  DEFAULT ((0)) FOR [inspectionNeeded]
GO
ALTER TABLE [dbo].[bins]  WITH CHECK ADD  CONSTRAINT [FK_bins_binLocation] FOREIGN KEY([binLocationID])
REFERENCES [dbo].[binLocations] ([binLocationID])
GO
ALTER TABLE [dbo].[bins] CHECK CONSTRAINT [FK_bins_binLocation]
GO
