USE [ectdb]
GO
/*
Written by Asira 04/25/2024
Function fn_productKeywords - Returns keywords relevant to a product
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_productKeywords](
    @productID INT
)
RETURNS VARCHAR(MAX)
BEGIN
    DECLARE @aString VARCHAR(MAX), @parentString VARCHAR(MAX)

    IF @productID IS NOT NULL
    BEGIN
        SELECT @aString = dbo.fn_dedupeString(CONCAT(description, ' ', customsDescription, ' ', keywords, ' ', productID, ' prd prod product set group', ' ', CONCAT('PRD', @productID)), ' ')
        FROM products
        WHERE productID = @productID
    END

    SELECT @aString = dbo.fn_sortAlphaString(LOWER(@aString))
    RETURN @aString
END
GO
