USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure apr_voteScores_synchronize - synchronizes votes from the voteLedger to the voteScores table (enables faster score lookup but accuracy may be up to one day old)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_voteScores_synchronize]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    MERGE voteScores AS target
    USING (SELECT DISTINCT toLinkedEntityID, dbo.fn_voteScore(toLinkedEntityID) AS voteLedgerSum FROM voteLedger) AS source
    ON source.toLinkedEntityID = target.toLinkedEntityID

    WHEN NOT MATCHED BY target THEN INSERT VALUES (source.toLinkedEntityID, source.voteLedgerSum)
    WHEN MATCHED THEN UPDATE SET voteLedgerSum = source.voteLedgerSum
    WHEN NOT MATCHED BY source THEN DELETE;  --delete from voteScores if a score wasn't genereated from the source SELECT statement

    EXEC dbo.pr_actionLog_new NULL, NULL, 51, 'apr_voteScores_synchronize', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
