USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_warehouse_edit - modify an existing warehouse record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_warehouse_edit] (
  @warehouseID INT,
  @description VARCHAR(128)
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE warehouses
    SET description = dbo.sqlProtect_xss(@description,4)
    WHERE warehouseID = @warehouseID
  
END
GO
