USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_assets - retrieves list of asset records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_assets] AS


    SELECT assets.assetID, assets.assetDescription, assets.aquisitionDate, assets.aquisitionPrice, assets.referenceNumber, assets.aquiredFromOrganizationID, assets.assetTypeID, assetTypes.assetTypeDescription, organizations.name AS organizationName, LE.websiteID
    FROM assets
    LEFT JOIN assetTypes ON assets.assetTypeID = assetTypes.assetTypeID
    LEFT JOIN organizations ON assets.aquiredFromOrganizationID = organizations.organizationID
    LEFT JOIN linkedEntities LE ON toLTID = 6 AND toXID = assetID
    
GO
