USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_linkedTable - retrieves a single linkedTable record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_linkedTable] AS


    SELECT linkedTableID, description, tableTag, primaryKey, iconURL, tableName, inSearchIndex, searchRankFactor
    FROM linkedTables
    
GO
