USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_highlight - retrieves a single highlight record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_highlight] AS


    SELECT hl.highlightID, hl.highlightTypeID, hl.title, hl.startDate, hl.endDate, hl.keywords, hl.content, hl.imgURL, hl.dispOnCollectionID, ht.description AS highlightType, cl.collectionID, cl.name AS collectionName, LE.websiteID
    FROM highlights hl
    LEFT JOIN linkedEntities LE ON toLTID = 8 AND toXID = hl.highlightID
    LEFT JOIN highlightTypes ht ON hl.highlightTypeID = ht.highlightTypeID
    LEFT JOIN collections cl ON hl.dispOnCollectionID = cl.collectionID
    
GO
