USE [ectdb]
GO
/*
Written by Asira 09/22/2023
Table assetTypes - The kinds of assets that can be recorded
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assetTypes](
	[assetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[assetTypeDescription] [varchar](50) NOT NULL,
	[parentAssetTypeID] [int] NULL,
 CONSTRAINT [PK_assetTypes] PRIMARY KEY NONCLUSTERED 
(
	[assetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_assetTypes_parentAssets]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_assetTypes_parentAssets] ON [dbo].[assetTypes]
(
	[assetTypeID] ASC,
	[parentAssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[assetTypes]  WITH CHECK ADD  CONSTRAINT [FK_assetTypes_parentAssetTypeID] FOREIGN KEY([parentAssetTypeID])
REFERENCES [dbo].[assetTypes] ([assetTypeID])
GO
ALTER TABLE [dbo].[assetTypes] CHECK CONSTRAINT [FK_assetTypes_parentAssetTypeID]
GO
