USE [ectdb]
GO
/*
Written by Asira 2023
Table projectStatuses - The status options for a project (in progress, completed, cancelled, etc)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projectStatuses](
	[projectStatusID] [tinyint] IDENTITY(1,1) NOT NULL,
	[projectStatusDescription] [varchar](128) NOT NULL,
 CONSTRAINT [PK_projectStatuses] PRIMARY KEY NONCLUSTERED 
(
	[projectStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
