USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_project_new - create a new project record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_project_new] (
    @projectName VARCHAR(128),
    @projectMemo VARCHAR(MAX),
    @leadByEmployeeID INT,
    @startDate DATETIME,
    @dueDate DATETIME,
    @completeDate DATETIME,
    @projectStatusID TINYINT,
    @websiteID INT,
    @newProjectID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    INSERT INTO projects (projectName, projectMemo, leadByEmployeeID, startDate, dueDate, completeDate, projectStatusID)
    VALUES (dbo.sqlProtect_xss(@projectName,4), dbo.sqlProtect_xss(@projectMemo,1), dbo.sqlProtect_xss(@leadByEmployeeID,7), dbo.sqlProtect_xss(@startDate,4), dbo.sqlProtect_xss(@dueDate,4), dbo.sqlProtect_xss(@completeDate,4), dbo.sqlProtect_xss(@projectStatusID,7))


    SELECT @newProjectID = SCOPE_IDENTITY()
    IF @newProjectID IS NOT NULL EXEC dbo.pr_linkedEntity_new 25, @newProjectID, @websiteID

    SELECT ISNULL(@newProjectID, NULL)
END
GO
