USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_knowledgebase - retrieves a single knowledgebase record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_knowledgebase] AS


    SELECT kb.knowledgebaseID, kb.parentknowledgebaseID, kb.description, kb.keywords, kb.date, kb.knowledgebaseContent, kb.depreciated, employees.employeeID, users.firstName, users.lastName, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID
    FROM knowledgebase AS kb
    LEFT JOIN linkedTables ON 10 = linkedTables.linkedTableID
    LEFT JOIN employees ON kb.authorID = employees.employeeID
    LEFT JOIN users ON employees.userID = users.userID
    LEFT JOIN linkedEntities LE ON toLTID = 10 AND toXID = kb.knowledgebaseID
    
GO
