USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure pr_sessions_endExpiredSessions - delete sessions where the session is expired
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessions_endExpiredSessions]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @aTable TABLE (id INT IDENTITY, ip VARCHAR(39), sessionID INT)

    --store associated acl ip's in temp table
    INSERT INTO @aTable (ip, sessionID)
    SELECT ISNULL(ipv6, ipv4), sessionID
    FROM sessions
    WHERE expires < GETDATE()
   

    --delete associated acl sessions and sessionStorage data
    DECLARE @ip VARCHAR(39), @cursor INT, @sessionID INT
    SELECT @ip = 0, @cursor = 0

    WHILE 1=1
    BEGIN
        SELECT TOP 1 @cursor = id, @ip = ip, @sessionID = sessionID FROM @aTable
        IF @@ROWCOUNT = 0 BREAK
        
        DELETE FROM @aTable WHERE id = @cursor
        DELETE FROM sessionStorage WHERE sessionID = ISNULL(@sessionID, 0) --deletes data stored to a session, has to run before delete sessions because of the foreign key
        EXEC dbo.pr_aclSession_endSession @ip  
    END


    --delete all sessions that are expired
    DELETE FROM sessions WHERE expires < GETDATE()
END
GO
