USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_user_endAllSessions - forcefully end all sessions for a given user
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_endAllSessions] (
  @targetUserID INT
  )
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @sessionID INT = 0
    WHILE 1=1
    BEGIN
        SELECT @sessionID = MIN(sessionID) FROM sessions WHERE sessionID > @sessionID AND ownerID = @targetUserID
        IF @sessionID IS NULL BREAK
        EXEC dbo.pr_user_endSession @sessionID
    END
END
GO
