USE [ectdb]
GO
/*
Written by Asira 06/26/2024
Procedure pr_shipBox_edit - modify an existing shipping container record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_shipBox_edit] (
    @shipBoxID INT,
    @shipBoxMaterialID INT,
    @description VARCHAR(MAX),
    @length FLOAT,
    @width FLOAT,
    @height FLOAT,
    @boxWeight FLOAT,
    @maxWeight FLOAT,
    @ulineModel VARCHAR(MAX),
    @ulinePrice FLOAT,
    @inActive BIT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    UPDATE shipBoxes
    SET shipBoxMaterialID = dbo.sqlProtect_xss(@shipBoxMaterialID,7), description = dbo.sqlProtect_xss(@description,4), length = dbo.sqlProtect_xss(@length,7), width = dbo.sqlProtect_xss(@width,7), height = dbo.sqlProtect_xss(@height,7), boxWeight = dbo.sqlProtect_xss(@boxWeight,7), maxWeight = dbo.sqlProtect_xss(@maxWeight,7), ulineModel = dbo.sqlProtect_xss(@ulineModel,6), ulinePrice = dbo.sqlProtect_xss(@ulinePrice,7), inActive = ISNULL(dbo.sqlProtect_xss(@inActive,7), 1)
    WHERE shipBoxID = dbo.sqlProtect_xss(@shipBoxID,7)
  
END
GO
