USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_tasks_quickPanel - returns list of tasks specifcally for the quick panel
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_tasks_quickPanel] AS

    SELECT tasks.taskID, tasks.dueDate, tasks.completeDate, tasks.recurCode, tasks.description, tasks.assignedToEmployeeID, tasks.assignedToProjectID, IIF(tasks.memo IS NOT NULL, 1, 0) AS hasMemo, LE.websiteID
    FROM tasks
    LEFT JOIN linkedEntities LE ON LE.toLTID = 253 AND tasks.taskID = LE.toXID

    WHERE (CASE --only show incomplete tasks or tasks completed today
        WHEN tasks.completeDate IS NULL THEN 1
        WHEN CAST(tasks.completeDate AS DATE) = CAST(GETDATE() AS DATE) THEN 1
        ELSE 0 END
    ) = 1 AND CAST(tasks.startDate AS DATE) <= CAST(GETDATE() AS DATE)

GO
