USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Function fn_messageWeight - weighted value for priority of message in threads/comment sections (NOT DMs)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_messageWeight]
  (@messageID INT)
RETURNS FLOAT
  AS
    BEGIN
        DECLARE @weightedValue FLOAT

        SELECT
        @weightedValue = CAST(
            (
                --(IIF(pinned = 1, 99999.0, 0)) + --pinned = higher weight.  99,999.00 to gurantee it is at the top.  --commented out as this is not currently being used.
                (.6 * (dbo.fn_voteScore_quick(dbo.fn_linkedEntity_getID(255, @messageID)) + dbo.fn_messageThreads_childCount(messageID))) + --more votes and comments means higher weight
                (50.0 * EXP(-ABS(DATEDIFF(day, sendDate, GETDATE())) / 14.0)) --the first float (50.0) represents the number of votes a brand new comment should be worth.  14.0 represents the number of days, as a float, before a comment has half its previously relevancy according to date only
            ) AS FLOAT
        )
        FROM messages WHERE messageID=@messageID

        IF @weightedValue < 0 SET @weightedValue = 0 --this will prevent 

        RETURN ISNULL(@weightedValue, 0)
    END
GO
