USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View wv_website_idents - used to identify which website is being accessed _onRequestStart
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_website_idents] AS

    SELECT t1.websiteID, t1.parentWebsiteID, t1.websiteURL, ISNULL(t1.cookieTag, t2.cookieTag) AS cookieTag, ISNULL(t1.description, t2.description) AS description
    FROM websites t1
    LEFT JOIN websites t2 ON t1.parentWebsiteID = t2.websiteID

GO
