USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Function fn_linkedEntity_getID - get LEID from LTID/XID key pair
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_linkedEntity_getID](
    @toLTID TINYINT,
    @toXID INT
  )
RETURNS SMALLINT WITH SCHEMABINDING
BEGIN
    RETURN(
        SELECT TOP 1 linkedEntityID FROM dbo.linkedEntities WHERE toLTID = @toLTID AND toXID = @toXID
    )
END
GO
