USE [ectdb]
GO
/*
Written by Asira 12/12/2024
Function vw_accessRights - returns a list of who+level has access to an entity
*/SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_accessRights] AS

    SELECT t1.accessRightGrantedID, t1.accessToLTID, t1.accessToXID, t1.accessForLTID, t1.accessForXID, t1.grantedDate, dbo.fn_entityName(t1.accessForLTID, t1.accessForXID) AS entityName, t2.accessRightID, CONCAT(t2.accessRightDescription, ' (', t2.accessRightID, ')') AS level
    FROM accessRightsGranted t1
    LEFT JOIN accessRights t2 ON t1.accessRightID = t2.accessRightID

GO
