USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_tableContstraints - Returns constraints that have been applied to tables. Used by LinkedTable console page detailed view.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_tableConstraints] AS

    SELECT TOP 9999
    tbl.name AS tableName,
    o.name AS constraintName,
    o.type AS constraintType,

    (
        SELECT SUBSTRING(column_names, 1, LEN(column_names)-1) AS [columns]
        FROM sys.objects t
        INNER JOIN sys.indexes i ON t.object_id = i.object_id AND i.name = o.name
        CROSS APPLY (
            SELECT col.[name] + ', '
            FROM sys.index_columns ic
            INNER JOIN sys.columns col ON ic.object_id = col.object_id AND ic.column_id = col.column_id
            WHERE ic.object_id = t.object_id AND ic.index_id = i.index_id
            FOR XML PATH ('')
        ) D (column_names)
        WHERE t.is_ms_shipped != 1 AND (i.is_unique = 1 AND i.is_primary_key = 0)
        AND index_id > 0
    ) AS uq_cols,

    (SELECT definition FROM sys.check_constraints WHERE object_id = o.object_id) AS ck_def,
    (SELECT CONCAT('[', sys.schemas.name, '].[', sys.objects.name,']') FROM sys.objects LEFT JOIN sys.schemas ON sys.objects.schema_id = sys.schemas.schema_id WHERE object_id = fk.referenced_object_id) AS fk_table,
    (SELECT name FROM sys.columns WHERE column_id = fk.parent_column_id AND object_id = fk.parent_object_id) AS fk_col

    FROM sys.objects o

    LEFT JOIN (SELECT * FROM sys.foreign_key_columns) fk ON fk.constraint_object_id = o.object_id 
    LEFT JOIN sys.objects tbl ON o.parent_object_id = tbl.object_id

    WHERE o.type IN ('C', 'F', 'UQ')
    ORDER BY tbl.name, o.type ASC, fk_table ASC, fk_col ASC, o.name ASC

GO
