USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure pr_sessions_endAllSessions - forcefully terminate every session (users, employees, everything)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessions_endAllSessions]
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DELETE FROM aclSessions WHERE blacklistedIP = 0 --removes all ACL data except for blacklisted IP addresses
    DELETE FROM sessionStorage --deletes data stored to a session, has to run before delete sessions because of the foreign key
    DELETE FROM sessions --terminates all sessions
END
GO
