USE [ectdb]
GO
/*
Written by Asira 2024
Table imageTypes - NOT jpg,png,etc ... rather, stores details about different preset image characteristics (e.g. width, height) for processing and displaying images differently on the website
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imageTypes](
	[imageTypeID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[tag] [varchar](32) NOT NULL,
	[height] [smallint] NOT NULL,
	[width] [smallint] NOT NULL,
 CONSTRAINT [PK_imageTypes] PRIMARY KEY CLUSTERED 
(
	[imageTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
