USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_fileFolder_isPathLegal - ensures a folder path can actually be created?
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fileFolder_isPathLegal](
  @folderPath VARCHAR(MAX)
  )
RETURNS BIT
BEGIN
    DECLARE @aTable TABLE (thisID INT IDENTITY, thisValue VARCHAR(4))
    DECLARE @thisIndex INT, @tableLength INT, @currentFilter VARCHAR(4), @isLegal BIT

    INSERT INTO @aTable
    SELECT tableTag FROM linkedTables
    SELECT TOP 1 @thisIndex = 1, @tableLength = thisID FROM @aTable ORDER BY thisID DESC


    WHILE @thisIndex <= @tableLength
    BEGIN
        SELECT @currentFilter = CONCAT(thisValue, '\') FROM @aTable WHERE thisID = @thisIndex

        IF CHARINDEX(@currentFilter, @folderPath) > 0
        SELECT @isLegal = 0

        ELSE
        IF NOT(@isLegal = 0)
        SELECT @isLegal = 1

        SET @thisIndex = @thisIndex + 1
    END

    RETURN ISNULL(@isLegal, 1)
END
GO
