USE [ectdb]
GO
/*
Written by Asira 2022
Table widgets - portable code (via iframe or API embed) 
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[widgets](
	[widgetID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[tag] [varchar](64) NULL,
	[sourceCode] [text] NULL,
	[isPublic] [bit] NOT NULL,
 CONSTRAINT [PK_widgets] PRIMARY KEY NONCLUSTERED 
(
	[widgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_widgets_cardInformation]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_widgets_cardInformation] ON [dbo].[widgets]
(
	[widgetID] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[widgets] ADD  CONSTRAINT [DEFAULT_widgets_isPublic]  DEFAULT ((0)) FOR [isPublic]
GO
