USE [ectdb]
GO
/*
Written by Asira 06/11/2022
Procedure pr_user_forceLogin - forcefully associate a session with a user account (DANGEROUS)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_forceLogin] (
  @targetUserID INT,
  @targetSessionID INT,
  @persist BIT,
  @userID INT = NULL OUTPUT,
  @sessionID INT = NULL OUTPUT
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE sessions SET ownerID = dbo.sqlProtect_xss(@targetUserID,7), actingOwnerID = dbo.sqlProtect_xss(@targetUserID,7), persist = dbo.sqlProtect_xss(@persist,7), loginAttempts = 0 WHERE sessionID = @targetSessionID

    SELECT @userID = ownerID, @sessionID = sessionID FROM sessions WHERE sessionID = @targetSessionID AND ownerID = @targetUserID
    SELECT ISNULL(@userID, NULL), ISNULL(@sessionID, NULL)
END
GO
