USE [ectdb]
GO
/*
Written by Asira 09/22/2023
Function fn_entityName - Formalized entity name, used for displaying as console page title, links, etc
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_entityName] (
  @linkedTableID INT,
  @XID INT
  )
RETURNS VARCHAR(64)
AS
BEGIN
    --declare and set entityName to null (result)
    DECLARE @entityName VARCHAR(64)
    SELECT @entityName = NULL



    --returns entityNames for LTID lists but not specific records
    IF ISNULL(@XID, 0) = 0
    BEGIN
        SELECT @entityName = description + 's' FROM linkedTables WHERE linkedTableID = @linkedTableID
    END



    --returns entityName for specific records
    IF (@entityName IS NULL) AND (ISNULL(@XID, 0) > 0)
    BEGIN

      --set custom rules here
        IF @linkedTableID=1 SELECT @entityName = firstName + ' ' + lastName FROM users WHERE userID = @XID
        IF @linkedTableID=2 SELECT @entityName = users.firstName + ' ' + users.lastName FROM employees INNER JOIN users ON users.userID = employees.userID WHERE employeeID = @XID
        IF @linkedTableID=3 SELECT @entityName = userGroups.groupName + ' (User Group)' FROM userGroups WHERE userGroupID = @XID
        IF @linkedTableID=4 SELECT @entityName = name FROM organizations WHERE organizationID = @XID
        --5 suppliers

        IF @linkedTableID=6 SELECT @entityName = CONCAT('AT',assets.assetID,' ') + assets.assetDescription FROM assets WHERE assetID = @XID

        IF @linkedTableID=7 SELECT @entityName = noteTitle FROM notes WHERE noteID = @XID IF @linkedTableID = 7 AND @entityName IS NULL SELECT @entityName = ''
        IF @linkedTableID=8 SELECT @entityName = title FROM highlights WHERE highlightID = @XID
        IF @linkedTableID=9 SELECT @entityName = documents.description FROM documents WHERE documentID = @XID
        IF @linkedTableID=10 SELECT @entityName = knowledgebase.description FROM knowledgebase WHERE knowledgebaseID = @XID
        IF @linkedTableID=11 SELECT @entityName = ISNULL(externalLinkDescription, externalLinkURL) FROM externalLinks WHERE externalLinkID = @XID

        IF @linkedTableID=12 BEGIN SELECT @entityName = dbo.fn_fileFolderPath_fromID(@XID); IF @entityName = '\' SELECT @entityName = NULL; END
        IF @linkedTableID=13 SELECT @entityName = [fileName] FROM files WHERE fileID = @XID

        IF @linkedTableID=14 SELECT @entityName = dbo.fn_binLocationTag(binLocationID, 1) FROM binLocations WHERE binLocationID = @XID
	    IF @linkedTableID=15 SELECT @entityName = bins.description FROM bins WHERE binID = @XID
	    IF @linkedTableID=16 SELECT @entityName = warehouses.description FROM warehouses WHERE warehouseID = @XID
        --17 fulfillment centers

        IF @linkedTableID=18 SELECT @entityName = name FROM collections WHERE collectionID = @XID
        IF @linkedTableID=19 SELECT @entityName = description FROM products WHERE productID = @XID
        IF @linkedTableID=20 SELECT @entityName = description FROM productVariants WHERE productVariantID = @XID
        --21 inventory ledger

        --22 price tokens
        --23 sale codes

        --30 purchase orders
        --31 bills
        --32 shipments
        IF @linkedTableID=33 SELECT @entityName = description FROM shipBoxes WHERE shipBoxID = @XID
        --34 unused
        --35 cx orders

        --80 email chains
        --81 email templates

        IF @linkedTableID=100 SELECT @entityName = description + 's' FROM linkedTables WHERE linkedTableID = @XID
        IF @linkedTableID=101 SELECT @entityName = widgets.description + ' ' + CHAR(40) + ISNULL(widgets.tag, 'no tag') + CHAR(41) FROM widgets WHERE widgetID = @XID
        IF @linkedTableID=102 BEGIN DECLARE @parentXID INT; SELECT @parentXID = parentWebsiteID FROM websites WHERE websiteID = @XID; SELECT @entityName = description FROM websites WHERE websiteID = ISNULL(@parentXID, @XID); END
        --103 virtual pages
        IF @linkedTableID=104 SELECT @entityName = CONCAT(downloadGroups.downloadGroupName, ' Download Group') FROM downloadGroups WHERE downloadGroupID = @XID
        IF @linkedTableID=105 SELECT @entityName = CONCAT(ecreports.description, ' Report') FROM ecreports WHERE ecreportID = @XID

        --200 transactions ledger
        --201 bank accounts
        --202 bank transactions
        --203 payroll reports
        --204 payroll entries
        --205 reconciliations

        IF @linkedTableID=252 SELECT @entityName = projectName FROM projects WHERE projectID = @XID
        IF @linkedTableID=253 SELECT @entityName = description FROM tasks WHERE taskID = @XID
        --254 messageGroups?
        IF @linkedTableID=255 SELECT @entityName = dbo.fn_entityName_public(fromLTID, fromXID) + ': ' + LEFT(message, 13) + '...' FROM messages WHERE messageID = @XID



        --default return of entityName if custom rules aren't defined above or they return NULL
        IF @entityName IS NULL
        BEGIN
            SELECT @entityName = description + ' ID: ' + CAST(@XID AS VARCHAR(10)) FROM linkedTables WHERE linkedTableID = @linkedTableID
        END
    END
 


    --return entityName with default value of Employee Console
    RETURN ISNULL(@entityName,'Employee Console')
END
GO
