USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_accessRight_grant - give access level to an entity to access another
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_accessRight_grant] (
    @accessRightID TINYINT,
    @toLTID TINYINT,
    @toXID INT,
    @forLTID TINYINT,
    @forXID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
    )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @accessRightID NOT IN (0,1,2,3,4,5,6,7)
    SELECT @errorMessage = 'Access right level is not valid'

    IF @toLTID IS NULL OR @forLTID IS NULL OR @forXID IS NULL
    SELECT @errorMessage = 'toLTID and entity information is required to grant access'


    IF @errorMessage IS NULL
    BEGIN
        INSERT INTO accessRightsGranted (accessRightID, accessToLTID, accessToXID, accessForLTID, accessForXID)
        VALUES (dbo.sqlProtect_xss(@accessRightID,7), dbo.sqlProtect_xss(@toLTID,7), dbo.sqlProtect_xss(@toXID,7), dbo.sqlProtect_xss(@forLTID,7), dbo.sqlProtect_xss(@forXID,7))
    END

    SELECT ISNULL(@errorMessage, NULL)
GO
