USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Function fn_searchedItem_computeRank - Determines the approximate place each searched item should take
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_searchedItem_computeRank] (
  @LEID BIGINT
)
RETURNS FLOAT
AS
BEGIN 
    DECLARE @searchRankFactor FLOAT, @LTID TINYINT, @XID INT, @weightedValue FLOAT

    SELECT @LTID = dbo.fn_linkedEntity_getLTID(@LEID), @XID = dbo.fn_linkedEntity_getXID(@LEID)
    SELECT @searchRankFactor = ISNULL(searchRankFactor, .1) FROM linkedTables WHERE linkedTableID = ISNULL(@LTID, 0)

    SELECT @weightedValue = CAST(
        (   (.5 * (SELECT COUNT(logID) FROM actionLog WHERE actionID = 1 AND LTID = @LTID AND XID = @XID AND actionDate > DATEADD(day, -30, GETDATE()))) +    --add weight based on number of views in the last 30 days
            (100.0 * EXP(-ABS(DATEDIFF(day, insertDate, GETDATE())) / 45.0))                                                                                  --100.0 represents extra views, 45.0 is the number of days before the weight/extra views is halved
        ) *     
        (@searchRankFactor * .25)                                                                                                                             --search rank factor from linkedTables, multiplied by .25 to modify its weight
    AS FLOAT) 
    FROM searchedItems WHERE LEID = @LEID

    IF @weightedValue <= 0 SET @weightedValue = .1 --this will prevent negative values from returning


  RETURN ISNULL(@weightedValue, .1)
END
GO
