USE [ectdb]
GO
/*
Written by Asira 10/18/2023
Table settingTypes - each kind of setting that can be set
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settingTypes](
	[settingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[memo] [varchar](max) NOT NULL,
	[isEmployeeSetting] [bit] NOT NULL,
 CONSTRAINT [PK_settingTypes] PRIMARY KEY NONCLUSTERED 
(
	[settingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_settingTypeDescription] UNIQUE NONCLUSTERED 
(
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[settingTypes] ADD  CONSTRAINT [DEFAULT_settingTypes_isEmployeeSetting]  DEFAULT ((1)) FOR [isEmployeeSetting]
GO
