USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Function fn_ssn_formatted - properly formats a USA SSN
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ssn_formatted](
  @ssn VARCHAR(11)
  )
RETURNS VARCHAR(11)
BEGIN
    DECLARE @aNumber VARCHAR(255)
    SET @aNumber = @ssn

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^0-9]%'
    WHILE PatIndex(@keepValues, @aNumber) > 0
        SET @aNumber = Stuff(@aNumber, PatIndex(@keepValues, @aNumber), 1, '')


    --len 9  123456789  =>  123-45-6789
    IF LEN(@aNumber) = 9
    BEGIN
        SELECT @aNumber =
            LEFT(@aNumber, 3) + '-' +
            SUBSTRING(@aNumber, 4, 2) + '-' + 
            RIGHT(@aNumber, 4)
        RETURN @aNumber
    END


    RETURN @aNumber --unformatted, but stripped to numeral characters only
END
GO
