USE [ectdb]
GO
/*
Written by Asira 04/17/2024
Procedure pr_websiteSetting_edit - modifies website/global setting
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_websiteSetting_edit] (
    @settingID INT,
    @settingTypeID INT,
    @settingValue VARCHAR(MAX),
    @websiteID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkTypeID INT
    SELECT @checkTypeID = websiteSettingTypeID FROM websiteSettings WHERE websiteSettingID = @settingID AND websiteID = @websiteID
    IF @checkTypeID != @settingTypeID SELECT @errorMessage = 'The settingTypeID provided and associated settingTypeID of the settingID were mismatched.'



    IF @errorMessage IS NULL
    BEGIN
        DECLARE @newValue VARCHAR(MAX)
        SELECT @newValue = ISNULL(@settingValue, websiteSettingDefaultValue) FROM websiteSettingTypes WHERE websiteSettingTypeID = @settingTypeID


        --new setting
        IF @settingID IS NULL
        BEGIN
            IF @settingValue IS NULL RETURN --null value for a new setting... don't set, use default instead.
            IF @settingValue IS NOT NULL
            BEGIN
                IF @settingValue = (SELECT websiteSettingDefaultValue FROM websiteSettingTypes WHERE websiteSettingTypeID = @settingTypeID) RETURN --is default value, return to prevent storing repeated value
                ELSE --store new value
                    INSERT INTO websiteSettings (websiteSettingTypeID, websiteSettingValue, websiteID, date) VALUES
                    (dbo.sqlProtect_xss(@settingTypeID,7), dbo.sqlProtect_xss(@newValue,1), dbo.sqlProtect_xss(@websiteID,7), GETDATE())  
            END
        END


        --editted setting
        IF @settingID IS NOT NULL
        BEGIN
            --whether settingValue is null or not, new value will be used.
            --if null value, default value will be used. a record will be stored and indicates this value was previously something else
            --if not null, new value is assigned
            UPDATE websiteSettings SET websiteSettingValue = dbo.sqlProtect_xss(@newValue,1) WHERE websiteSettingID = @settingID AND websiteSettingTypeID = @settingTypeID AND websiteID = @websiteID
        END
    END



    SELECT ISNULL(@errorMessage, NULL)
END
GO
