USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_downloadGroup_addFile - add a file to a download group
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_downloadGroup_addFile] (
    @filePath VARCHAR(MAX),
    @fileAlias VARCHAR(MAX),
    @downloadGroupID INT = NULL,
    @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

  IF @downloadGroupID IS NULL
  BEGIN
    SELECT @errorMessage = 'Cannot execute pr_downloadGroup_addFile without a downloadGroupID. Please contact a system administrator.'
  END

  IF @downloadGroupID IS NOT NULL
  BEGIN
    INSERT INTO downloadFiles (downloadGroupID, downloadFilePath, downloadFileAlias) VALUES
    (dbo.sqlProtect_xss(@downloadGroupID,7), dbo.sqlProtect_xss(@filePath,4), dbo.sqlProtect_xss(ISNULL(@fileAlias, NULL),4))
  END

  SELECT ISNULL(@errorMessage, NULL)
GO
