USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripForAlpha2 - keep only alpha and spaces
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_stripNonAlpha2](@temp VARCHAR(MAX))
Returns VARCHAR(MAX)
AS
Begin
    --keeps the space character as well as alpha characters
    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^a-z,^ ]%'
    WHILE PatIndex(@keepValues, @temp) > 0
      SET @temp = Stuff(@temp, PatIndex(@keepValues, @temp), 1, '')

    RETURN @temp
End
GO
