USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_document_oldestAncestor - returns the oldest ancestor for a document
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_document_oldestAncestor]
(
  @documentID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @parentID INT, @ancestorID INT
    SELECT @parentID = parentDocumentID FROM documents WHERE documentID = @documentID

    IF @parentID IS NOT NULL
    BEGIN
        SELECT @ancestorID = dbo.fn_document_oldestAncestor(@parentID)
        IF @ancestorID IS NULL SELECT @ancestorID = @parentID
    END

    RETURN ISNULL(@ancestorID, @documentID) --return self if self has no ancestor
END
GO
