USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_note_edit - modify an existing note record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_note_edit]
(
	@noteID INT,
	@noteTitle VARCHAR(128),
	@noteContent VARCHAR(MAX),
    @noteTypeID INT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE notes
	SET noteTitle = dbo.sqlProtect_xss(@noteTitle,4), noteContent = dbo.sqlProtect_xss(@noteContent,1), noteDate = GETDATE(), noteTypeID = dbo.sqlProtect_xss(ISNULL(@noteTypeID, 1),7)
	WHERE noteID = @noteID
END
GO
