USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_actions - returns a list of possible, loggable actions/events
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_actions] AS

    SELECT actionID, description
    FROM actions
    
GO
