USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_user_edit - modify an existing user record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_edit] (
  @userID INT,
  @firstName VARCHAR(50),
  @lastName VARCHAR(50),
  @displayName VARCHAR(101),
  @organizationID INT,
  @email VARCHAR(255),
  @inActive BIT,
  @isBanned BIT,
  @accountRisk TINYINT,
  @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

    DECLARE @checkID INT, @websiteID INT --check if the email edit is allowed
    SELECT @websiteID = websiteID FROM users WHERE userID = @userID
    SELECT @checkID = userID FROM users WHERE email = @email AND websiteID = @websiteID AND userID != @userID

    IF @checkID IS NOT NULL SELECT @errorMessage = 'There is already an account with that email.'

    IF @errorMessage IS NULL
    BEGIN
        IF @isBanned = 1 SELECT @inActive = 1 --if banned, then account should be forced to be inactive



        --used for validation and risk assessment
        DECLARE @oldOrganizationID INT, @oldEmail VARCHAR(MAX)
        SELECT @oldOrganizationID = organizationID, @oldEmail = email FROM users WHERE userID = @userID

        --rerun risk assessment if user joins and organization OR if their email is updated
        IF (@oldOrganizationID IS NULL AND @organizationID IS NOT NULL) OR (@oldEmail != @email)
            UPDATE users SET accountRisk = dbo.fn_userAccount_riskScore(@userID) WHERE userID = @userID

        IF @oldEmail != @email
        UPDATE users SET emailValidated = 0 WHERE userID = @userID      --mark email as not validated upon change



        --update the record
        UPDATE users
        SET firstName = dbo.sqlProtect_xss(@firstName,5), lastName = dbo.sqlProtect_xss(@lastName,5), displayName = dbo.sqlProtect_xss(ISNULL(@displayName, NULL),5), organizationID = dbo.sqlProtect_xss(ISNULL(@organizationID, NULL),7), email = dbo.sqlProtect_xss(@email,4), inActive = dbo.sqlProtect_xss(@inActive,7), isBanned = dbo.sqlProtect_xss(@isBanned,7), accountRisk = dbo.sqlProtect_xss(@accountRisk, 7)
        WHERE userID = @userID
    


        --if marked inactive
        IF @inActive = 1
        BEGIN
            DECLARE @employeeID INT
            SELECT @employeeID = employeeID FROM employees WHERE userID = @userID
  
            IF @employeeID IS NOT NULL
            BEGIN
                UPDATE employees
                SET inactive = dbo.sqlProtect_xss(@inActive,7) WHERE employeeID = @employeeID and userID = @userID
            END
        END
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
