USE [ectdb]
GO
/*
Written by Asira 05/15/2025
Function fn_entityImage_path - returns physical path for entity
    converts an entityImageID into a physical path (where the image is stored on the server)
    975,601 becomes /images/900,000/70,000/5,000/600/601
    23,544 becomes /images/20,000/3,000/500/544
    divide each order of magnitude into folders (e.g 9000 8000 7000 6000 5000 4000 3000 2000 1000). smallest order of mangitude (100s) is last that is divided... i.e. 100 images in each folder

    folder 0 has images 1-99, folder 100 has images 100-199, etc..
    folder 3000 has folders 3000, 3100, 3200, 3300, etc..
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_entityImage_path](
  @entityImageID INT
  )
RETURNS VARCHAR(MAX)
AS  
BEGIN
    DECLARE @path VARCHAR(MAX)


    /*  if less than or equal to 100, put in the "00" folder  */
    IF @entityImageID <=99 
    SELECT @path = '/images/00'



    /*  if greater than 99, parse path  */
    IF @entityImageID > 99
    BEGIN
        DECLARE @eID_substring VARCHAR(MAX) = LEFT(CAST(@entityImageID AS VARCHAR(MAX)), LEN(CAST(@entityImageID AS VARCHAR(MAX))) - 2)     --remove last two digits (below 100)
        DECLARE @aTable TABLE (pos INT IDENTITY, val INT)                                                                                 --store results and their order of magnitude (pos)

        --store orders of magnitude in table
        WHILE @eID_substring IS NOT NULL
        BEGIN
            INSERT INTO @aTable SELECT RIGHT(@eID_substring, 1)
            SELECT @eID_substring = LEFT(@eID_substring, LEN(@eID_substring) - 1)         --remove last digit because it is stored in table
            --THIS PART OF THE FUNCTION IS NOT WORKING ... FOR WHATEVER REASON, @eID_reverse KEEPS THE ORIGINAL VALUE FROM WHEN IT IS DECLARED AND IS NOT OVERWRITTEN LIKE IT IS SUPPOSED TO BE HERE. EVERYTHING ELSE SEEMS TO WORK CORRECTLY
            IF @eID_substring = '' OR @eID_substring IS NULL SELECT @eID_substring = NULL
        END
        SELECT @path = '/images'

        
        --parse path from table
        DECLARE @aPos INT, @aMagnitude INT, @aVal INT
        WHILE (SELECT TOP 1 pos FROM @aTable) IS NOT NULL
        BEGIN
            SELECT @aPos = pos, @aMagnitude = POWER(10, @aPos + 1), @aVal = val FROM @aTable
            SELECT @path = CONCAT(@path, '/', (@aMagnitude * @aVal))
            DELETE FROM @aTable WHERE pos = @aPos
        END
    END



    SELECT @path = CONCAT(@path, '/', CAST(@entityImageID AS VARCHAR(MAX)), '.png') --NEED TO MAKE THIS COMPATIBLE WITH OTHER MIME TYPES LATER
    RETURN ISNULL(@path, NULL)
END
GO
