USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_accessRight_revoke - Set access level 0 (none) for an entity to access another
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_accessRight_revoke] (
    @accessRightGrantedID INT
    )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE accessRightsGranted
    SET accessRightID = 0 WHERE accessRightGrantedID = @accessRightGrantedID
GO
