USE [ectdb]
GO
/*
Written by Asira 11/07/2023
Function fn_highlight_keywords - returns keywords relevant to a highlight record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_highlightKeywords](
    @highlightID INT
)
RETURNS VARCHAR(MAX)
BEGIN

    DECLARE @aString VARCHAR(MAX)

    IF @highlightID IS NOT NULL  SELECT @aString = dbo.fn_dedupeString(CONCAT(hl.title, ' ', hl.keywords, ' highlight hl hlt high light ', CONCAT('HLT', @highlightID)), ' ') FROM highlights hl WHERE highlightID = @highlightID

    SELECT @aString = dbo.fn_sortAlphaString(LOWER(@aString))
    RETURN @aString
END
GO
