USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_organization - retrieves a single organization record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_organization] AS


    SELECT organizations.organizationID, organizations.name, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID
    FROM organizations
    LEFT JOIN linkedTables ON 4 = linkedTables.linkedtableID
    LEFT JOIN linkedEntities LE ON toLTID = 4 AND toXID = organizations.organizationID
    
GO
