USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_binLocationTag - returns a file-system-like path or single word tag representing a bin location
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_binLocationTag](
  @binLocationID INT,
  @option TINYINT
  )
RETURNS VARCHAR(128)
BEGIN
    --option 0, null: if iv(description), nv(prefix), return basic description
    --option 1, 2: use prefix and traverse up the tree, returning any item that has a prefix

    DECLARE @aTag VARCHAR(128), @parentTag VARCHAR(128), @prefix VARCHAR(10), @description VARCHAR(128), @parentBinLocationID INT

    IF @binLocationID IS NOT NULL
    BEGIN
        --get information of current bin
        SELECT @description = description, @prefix = prefix, @parentBinLocationID = parentBinLocationID FROM binLocations WHERE binLocationID = @binLocationID

        --default name if option param is 0 or null
        IF ISNULL(@option, 0) = 0 SELECT @aTag = ISNULL(@description, @prefix)

        --if option is 1 or 2
        IF @option IN (1, 2)
        BEGIN
            --get the name of the parent tag and prepend it
            SELECT @parentTag = dbo.fn_binLocationTag(@parentBinLocationID, 2)
            IF @parentTag + @prefix IS NOT NULL SELECT @aTag = @parentTag + '.' + @prefix
            ELSE SELECT @aTag = ISNULL(@parentTag, '') + ISNULL(@prefix, '')
        END

        --default name
        IF @aTag = '' SELECT @aTag = NULL
        IF @option = 1 AND @aTag IS NULL SELECT @aTag = @description
    END

    RETURN @aTag
END
GO
