USE [ectdb]
GO
/*
Written by Asira 06/26/2024
View vw_shipBoxes - retrieves list of ship box records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_shipBoxes] AS


    SELECT shipBoxes.shipBoxID, shipBoxes.description, shipBoxes.length, shipBoxes.width, shipBoxes.height, shipBoxes.boxWeight, shipBoxes.maxWeight, shipBoxes.ulineModel, shipBoxes.ulinePrice, shipBoxes.inActive, shipBoxMaterials.shipBoxMaterial, LE.websiteID
    FROM shipBoxes
    LEFT JOIN shipBoxMaterials ON shipBoxes.shipBoxMaterialID = shipBoxMaterials.shipBoxMaterialID
    LEFT JOIN linkedEntities LE ON LE.toLTID = 33 AND LE.toXID = shipBoxes.shipBoxID
    
GO
