USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_collection - retrieves a single collection record
previously vw_entityGroup
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_collection] AS


    SELECT cl.collectionID AS collectionID, cl.parentCollectionID AS parentCollectionID, cl.name, cl.keywords, cl.showEntities, cl.memo, cl.createdOn, cl.isHidden, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, LT.description AS iconDescription, LE.websiteID
    FROM collections cl
    LEFT JOIN linkedTables LT ON 18 = LT.linkedTableID
    LEFT JOIN linkedEntities LE ON toLTID = 18 AND toXID = cl.collectionID
    
GO
