USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_edit - Modifies an existing document
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_edit] (
    @documentID INT,
    @description VARCHAR(255),
    @keywords VARCHAR(MAX),
    @parentDocID INT,
    @docContent TEXT,
    @docAuthorName VARCHAR(101),
    @priority FLOAT = .5,
    @isHidden BIT,
    @allowReplies BIT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @websiteID INT
    SELECT @websiteID = ISNULL(websiteID, 0) FROM documents WHERE documentID = @documentID

    DECLARE @checkParentDocID INT, @checkDescription VARCHAR(255)
    SELECT @checkParentDocID = parentDocumentID FROM documents WHERE documentID = @documentID
    SELECT @checkDescription = description FROM documents WHERE description = dbo.sqlProtect_xss(@description,4) AND documentID != @documentID AND websiteID = @websiteID

    IF @checkDescription IS NULL
        BEGIN
        --update everything but keywords and parentLoc
        UPDATE documents
        SET description = dbo.sqlProtect_xss(@description,4), documentContent = dbo.sqlProtect_xss(@docContent,1), authorNameOverride = dbo.sqlProtect_xss(@docAuthorName,5), priority = dbo.sqlProtect_xss(@priority,7), allowReplies = dbo.sqlProtect_xss(ISNULL(@allowReplies, 0),7)
        WHERE documentID = @documentID

        --move to new parent if applicable ... update hidden status
        IF ISNULL(@checkParentDocID, 0) <> @parentDocID EXEC dbo.pr_document_changeParent @documentID, @parentDocID
        IF ISNULL(@isHidden, 0) = 0 EXEC dbo.pr_document_unmarkHidden @documentID
        IF ISNULL(@isHidden, 0) = 1 EXEC dbo.pr_document_markHidden @documentID

        EXEC dbo.pr_document_updateKeywords @documentID, @keywords
    END


    IF @checkDescription IS NOT NULL
    BEGIN
        SELECT @errorMessage = 'Each document must have an unique title. Please choose a different title.'
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
