USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_organization_new - create a new organization record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_organization_new] (
  @description VARCHAR(128),
  @websiteID INT,
  @newOrganizationID INT = NULL OUTPUT
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  INSERT INTO organizations (name)
  VALUES(dbo.sqlProtect_xss(@description,5))

  SELECT @newOrganizationID = SCOPE_IDENTITY()
  IF @newOrganizationID IS NOT NULL EXEC dbo.pr_linkedEntity_new 4, @newOrganizationID, @websiteID

  SELECT ISNULL(@newOrganizationID, NULL)
END
GO
