USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Table searchedItems - the LEID, websiteID, and keywords related to every searchable entity record (full text indexed)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[searchedItems](
	[searchedItemID] [int] IDENTITY(1,1) NOT NULL,
	[LEID] [bigint] NOT NULL,
	[websiteID] [int] NOT NULL,
	[keywords] [varchar](max) NOT NULL,
	[searchRankFactor] [float] NOT NULL,
	[insertDate] [datetime] NOT NULL,
	[refreshDate] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_searchedItems] PRIMARY KEY NONCLUSTERED 
(
	[searchedItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_searchedItems]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_searchedItems] ON [dbo].[searchedItems]
(
	[LEID] ASC,
	[searchedItemID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_searchedItems_keywords]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_searchedItems_keywords] ON [dbo].[searchedItems]
(
	[searchedItemID] ASC,
	[LEID] ASC
)
INCLUDE([keywords]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[searchedItems] ADD  DEFAULT ((0.5)) FOR [searchRankFactor]
GO
ALTER TABLE [dbo].[searchedItems] ADD  DEFAULT (getdate()) FOR [insertDate]
GO
ALTER TABLE [dbo].[searchedItems] ADD  CONSTRAINT [DEFAULT_searchedItems_refreshDate]  DEFAULT (getdate()) FOR [refreshDate]
GO
ALTER TABLE [dbo].[searchedItems] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[searchedItems]  WITH CHECK ADD  CONSTRAINT [FK_searchedItems_linkedEntityID] FOREIGN KEY([LEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[searchedItems] CHECK CONSTRAINT [FK_searchedItems_linkedEntityID]
GO
ALTER TABLE [dbo].[searchedItems]  WITH CHECK ADD  CONSTRAINT [FK_searchedItems_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[searchedItems] CHECK CONSTRAINT [FK_searchedItems_websiteID]
GO
