USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_employee_edit - modify an existing employee record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_employee_edit] (
  @employeeID INT,
  @preferredName VARCHAR(36),
  @hourlyWage MONEY,
  @inActive BIT,
  @birthdate DATETIME,
  @ssn VARCHAR(11) = NULL,
  @quickPin VARCHAR(4)
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON


    UPDATE employees
    SET preferredName = dbo.sqlProtect_xss(@preferredName,5) , hourlyWage = dbo.sqlProtect_xss(@hourlyWage,4), inactive = dbo.sqlProtect_xss(@inActive,7), birthdate = dbo.sqlProtect_xss(@birthdate,4)
    WHERE employeeID = @employeeID


    IF @ssn IS NOT NULL UPDATE employees SET SSN = dbo.fn_ssn_formatted(@ssn) WHERE employeeID = @employeeID


    IF @inActive = 0
    BEGIN
        DECLARE @userID INT
        SELECT @userID = userID FROM employees WHERE employeeID = @employeeID

        UPDATE users
        SET inactive = dbo.sqlProtect_xss(@inActive,7) WHERE userID = @userID
    END


    IF ISNULL(@quickPin, '') != '' AND LEN(@quickPin) = 4
    BEGIN
        UPDATE employees
        SET quickPin = dbo.fn_stripNonNumeric(@quickPin)
        WHERE employeeID = @employeeID
    END
END
GO
