USE [ectdb]
GO
/*
Written by Asira 2022
Table notes - A type of console employee "shortcut" (managed with shortcuts) that displays text or inline binary image in the employee notes and shortcuts panel linked to a particular entity record.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[noteID] [int] IDENTITY(1,1) NOT NULL,
	[noteTitle] [varchar](128) NULL,
	[noteContent] [text] NOT NULL,
	[noteDate] [smalldatetime] NOT NULL,
	[noteAuthorID] [int] NOT NULL,
	[noteTypeID] [int] NOT NULL,
 CONSTRAINT [PK_notes] PRIMARY KEY NONCLUSTERED 
(
	[noteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_notes]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_notes] ON [dbo].[notes]
(
	[noteID] ASC,
	[noteAuthorID] ASC,
	[noteTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[notes] ADD  CONSTRAINT [DF__notes__noteDate__6AEFE058]  DEFAULT (getdate()) FOR [noteDate]
GO
ALTER TABLE [dbo].[notes] ADD  CONSTRAINT [DEFAULT_notes_noteTypeID]  DEFAULT ((1)) FOR [noteTypeID]
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_noteAuthorID] FOREIGN KEY([noteAuthorID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notes_noteAuthorID]
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_noteTypeID] FOREIGN KEY([noteTypeID])
REFERENCES [dbo].[noteTypes] ([noteTypeID])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notes_noteTypeID]
GO
