USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Function fn_linkedEntity_getLTID - get LTID from LEID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_linkedEntity_getLTID](
    @linkedEntityID INT
  )
RETURNS INT WITH SCHEMABINDING
  AS
    BEGIN
        DECLARE @toLTID INT
        SELECT @toLTID = toLTID FROM dbo.linkedEntities WHERE linkedEntityID = @linkedEntityID

        RETURN ISNULL(@toLTID, 0)
    END
GO
