USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_task_new - create a new task record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_task_new] (
    @description VARCHAR(256),
    @memo VARCHAR(MAX),
    @assignedByEmployeeID INT,
    @assignedToEmployeeID INT,
    @assignedToProjectID INT,
    @predecessorOfTaskID INT,
    @startDate DATETIME,
    @dueDate DATETIME,
    @recurCode VARCHAR(32),
    @websiteID INT,
    @errorMessage VARCHAR(256) = NULL OUTPUT,
    @newTaskID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @dueDate < @startDate SELECT @errorMessage = 'The due date cannot be before the start date.'
    IF @assignedToEmployeeID IS NULL AND @assignedToProjectID IS NULL SELECT @errorMessage = 'Either a projectID, employee, or both need to be assigned this task (it can''t go to no-one).'


    IF @errorMessage IS NULL
    BEGIN
        INSERT INTO tasks (description, memo, assignedByEmployeeID, assignedToEmployeeID, assignedToProjectID, predecessorOfTaskID, startDate, dueDate, recurCode)
        VALUES (dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@memo,1), dbo.sqlProtect_xss(@assignedByEmployeeID,7), dbo.sqlProtect_xss(@assignedToEmployeeID,7), dbo.sqlProtect_xss(@assignedToProjectID,7), dbo.sqlProtect_xss(@predecessorOfTaskID,7), dbo.sqlProtect_xss(ISNULL(CAST(@startDate AS DATETIME),GETDATE()),4), dbo.sqlProtect_xss(CAST(@dueDate AS DATETIME),4), dbo.sqlProtect_xss(@recurCode,6))

        SELECT @newTaskID = SCOPE_IDENTITY()
        IF @newTaskID IS NOT NULL EXEC dbo.pr_linkedEntity_new 253, @newTaskID, @websiteID


        DECLARE @assignedByLEID BIGINT, @assignedToLEID BIGINT, @notificationContent VARCHAR(MAX)
        SELECT @assignedByLEID = dbo.fn_linkedEntity_getID(2, @assignedByEmployeeID), @assignedToLEID = dbo.fn_linkedEntity_getID(2, @assignedToEmployeeID)

        IF @assignedByLEID != @assignedToLEID
        BEGIN
            SELECT @notificationContent = dbo.fn_entityName_public(2, @assignedByEmployeeID) + ' assigned you the task "' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@newTaskID AS VARCHAR(10)), dbo.sqlProtect_xss(@description,4)) + '" with a due date of ' +  ISNULL(CAST(dbo.sqlProtect_xss(CAST(@dueDate AS DATETIME), 4) AS VARCHAR(10)), 'whenever is reasonably possible') + '.'
            EXEC dbo.pr_notification_new @assignedByLEID, @assignedToLEID, @notificationContent
        END
    END


    SELECT ISNULL(@newTaskID, NULL), ISNULL(@errorMessage, NULL)
END
GO
