USE [ectdb]
GO
/*
Written by Asira 12/12/2024
Function fn_accessLevel - returns the access level an entity has to another
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_accessLevel]
(
    @userID INT,
    @employeeID INT,
    @LTID TINYINT,
    @XID INT
)
RETURNS TINYINT
AS
BEGIN
    DECLARE @accessLevel TINYINT --output level
    DECLARE @userGroupLevel1 TINYINT, @userLevel1 TINYINT, @employeeLevel1 INT

    /*  determine the accessLevel for the specific LTID/XID record  */
    --1: determine XID accessLevel for userGroup (least specific access)
    SELECT @userGroupLevel1 = MAX(t3.accessRightID) FROM userGroups t1
    LEFT JOIN userGroupMemberships t2 ON t1.userGroupID = t2.userGroupID
    LEFT JOIN accessRightsGranted t3 ON t1.userGroupID = t3.accessForXID AND t3.accessForLTID = 3
    WHERE t3.accessForXID = t1.userGroupID AND ((t2.memberLTID = 1 AND t2.memberXID = ISNULL(@userID,0)) OR (t2.memberLTID = 2 AND memberXID = ISNULL(@employeeID,0)))
    AND accessToLTID = @LTID AND accessToXID = @XID

    --2: determine XID accessLevel for user (more specific access)
    SELECT @userLevel1 = accessRightID FROM accessRightsGranted
    WHERE accessToLTID = @LTID AND accessToXID = @XID AND accessForLTID = 1 AND accessForXID = @userID --access to specific LTID/XID where entity is user: @userID

    --3: determine XID accessLevel for employee (most specific access)
    SELECT @employeeLevel1 = accessRightID FROM accessRightsGranted
    WHERE accessToLTID = @LTID AND accessToXID = @XID AND accessForLTID = 2 AND accessForXID = @employeeID --access to specific LTID/XID where entity is employee: @employeeID




    DECLARE @userGroupLevel2 TINYINT, @userLevel2 TINYINT, @employeeLevel2 INT
    /*  determine the accessLevel for any record in the LTID  */
    --1: determine LTID accessLevel for userGroup (least specific access)
    SELECT @userGroupLevel2 = MAX(t3.accessRightID) FROM userGroups t1
    LEFT JOIN userGroupMemberships t2 ON t1.userGroupID = t2.userGroupID
    LEFT JOIN accessRightsGranted t3 ON t1.userGroupID = t3.accessForXID AND t3.accessForLTID = 3
    WHERE t3.accessForXID = t1.userGroupID AND ((t2.memberLTID = 1 AND t2.memberXID = ISNULL(@userID,0)) OR (t2.memberLTID = 2 AND memberXID = ISNULL(@employeeID,0)))
    AND accessToLTID = 100 AND t3.accessToXID = @LTID

    --2: determine LTID accessLevel for user (more specific access)
    SELECT @userLevel2 = accessRightID FROM accessRightsGranted
    WHERE accessToLTID = 100 AND accessToXID = @LTID AND accessForLTID = 1 AND accessForXID = @userID --access to all XIDs in LTID where entity is user: @userID

    --3: determine LTID accessLevel for employee (most specific access)
    SELECT @employeeLevel2 = accessRightID FROM accessRightsGranted
    WHERE accessToLTID = 100 AND accessToXID = @LTID AND accessForLTID = 2 AND accessForXID = @employeeID --access to all XIDs in LTID where entity is employee: @employeeID




    DECLARE @userGroupLevel TINYINT, @userLevel TINYINT, @employeeLevel INT            
    SELECT @userGroupLevel = ISNULL(@userGroupLevel1, @userGroupLevel2)         --see if the userGroup has access to the specific record or all records in the LTID
    SELECT @userLevel = ISNULL(@userLevel1, @userLevel2)                        --see if the user has access to the specific record or all records in the LTID
    SELECT @employeeLevel = ISNULL(@employeeLevel1, @employeeLevel2)            --see if the employee has access to the specific record or all records in the LTID

    SELECT @accessLevel = COALESCE(@employeeLevel, @userLevel, @userGroupLevel)  --use employee level, then user level, then groupLevel to determine access.




    --grant minimum of view access for employee's employee page and user page on the console
    IF @employeeID IS NOT NULL AND ((@LTID = 1 AND @XID = @userID) OR (@LTID = 2 AND @XID = @employeeID))
    SELECT @accessLevel = (SELECT MAX(i) FROM (VALUES (@accessLevel), (1)) AS t(i))

    IF (SELECT isAdmin FROM employees WHERE employeeID = ISNULL(@employeeID, 0)) = 1 SET @accessLevel = 7 --website admin account should automatically have highest level permissions always

    --SET @accessLevel = 7 --override for testing purposes
    RETURN ISNULL(@accessLevel, 0)  --user for no access granted
END
GO
