USE [ectdb]
GO
/*
Written by Asira 2022
Table Function tb_knowledgebaseAncestors - returns a list of ancestors for a given kb
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_knowledgebaseAncestors]
(
	@knowledgebaseID int
)
RETURNS TABLE 
AS
    RETURN (
        WITH kbResults (knowledgebaseID, parentKnowledgebaseID) AS (
            SELECT      knowledgebaseID, parentKnowledgebaseID
            FROM        knowledgebase
            WHERE       knowledgebaseID = @knowledgebaseID

            UNION ALL

            SELECT      knowledgebase.knowledgebaseID, knowledgebase.parentKnowledgebaseID
            FROM        knowledgebase
            INNER JOIN  kbResults ON kbResults.parentKnowledgebaseID = knowledgebase.knowledgebaseID
            WHERE       knowledgebase.knowledgebaseID <> @knowledgebaseID 
        )

        SELECT knowledgebaseID FROM kbResults
    )
GO
