USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_record_deleteShortcuts - delete all shortcuts related to an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_record_deleteShortcuts] (
  @LEID BIGINT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @i TINYINT, @iterations SMALLINT, @targetLEID BIGINT
    SELECT @i = 0, @iterations = COUNT(t.shortcutID) FROM (SELECT shortcutID FROM shortcuts WHERE shortcutGroupID IN (SELECT shortcutGroupID FROM shortcuts WHERE LEID = @LEID) AND NOT (LEID = @LEID)) t


    WHILE @i < @iterations
    BEGIN
        SELECT @targetLEID = t2.LEID FROM (SELECT shortcutID, LEID FROM shortcuts WHERE shortcutGroupID IN (SELECT shortcutGroupID FROM shortcuts WHERE LEID = @LEID) AND NOT(LEID = @LEID)) t2 WHERE 1=1 ORDER BY shortcutID OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
        EXEC pr_shortcut_delete2 @LEID, @targetLEID
        
        SET @i = @i + 1
    END
END
GO
