USE [ectdb]
GO
/*
Written by Asira 11/07/2023
Procedure pr_highlight_updateKeywords - Update a highlight with new keywords
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_highlight_updateKeywords] (
    @highlightID INT,
    @keywords VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newKeywords VARCHAR(MAX)

    --delete old keywords then make sure updated keywords includes default keywords but no duplicates... then update
    UPDATE highlights SET keywords = NULL WHERE highlightID = @highlightID

    SELECT @newKeywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_highlightKeywords(@highlightID)), ' ')
    SELECT @newKeywords = dbo.fn_sortAlphaString(LOWER(@newKeywords))
    
    UPDATE highlights SET keywords = dbo.sqlProtect_xss(@newKeywords,6) WHERE highlightID = @highlightID

END
GO
