USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Procedure pr_message_edit - modify an existing message record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_message_edit] (
    @messageID INT,
    @userID INT,
    @employeeID INT,
    @message VARCHAR(MAX) = NULL,
    @pinned BIT = NULL,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    -- Written by Asira on 7/27/2023 ... edit a message, including message content and pin status

    DECLARE @checkID INT = NULL
    IF @checkID IS NULL SELECT @checkID = fromXID FROM messages WHERE messageID = @messageID AND fromLTID = 1 --check if edit is by OP (as a user)
    IF @checkID IS NULL SELECT @checkID = fromXID FROM messages WHERE messageID = @messageID AND fromLTID = 2 --check if edit is by OP (as an employee)
    IF @checkID IS NULL AND @employeeID IS NULL SELECT @errorMessage = 'This message can only be edited by the OP or by an employee' --if null then the editor is not the OP or an employee

    IF (SELECT TOP 1 sendDate FROM messages WHERE messageID = @messageID) <= DATEADD(day, -28, GETDATE()) SELECT @errorMessage = 'This comment or message is too old to modify. Edits must be performed within 4 weeks of posting the comment or sending the message.'

    IF @errorMessage IS NULL
    BEGIN
        --if message is null then the current message is kept... if pinned is null then current pin status is kept
        UPDATE messages SET message = dbo.sqlProtect_xss(ISNULL(@message, message),3), pinned = dbo.sqlProtect_xss(ISNULL(@pinned, pinned),7) WHERE messageID = @messageID
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
