USE [ectdb]
GO
/*
Written by Asira 07/09/2023
Procedure pr_linkedEntity_new - create a global record (linkedEntity) for a new entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_linkedEntity_new] (
    @toLTID TINYINT,
    @toXID INT,
    @websiteID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --if it exists, don't create new one
    DECLARE @checkEntityID BIGINT, @LEID BIGINT
    SELECT @checkEntityID = dbo.fn_linkedEntity_getID(@toLTID, @toXID)

    --if it doesn't exist, create it and return the new ID
    IF @checkEntityID IS NULL
    BEGIN
        INSERT INTO linkedEntities (toLTID, toXID, websiteID)
        VALUES (@toLTID, @toXID, @websiteID)
    END

    --add the new linkedEntity to searchedItems
    SELECT @LEID = SCOPE_IDENTITY()
    EXEC dbo.pr_searchedItem_refresh @LEID
END
GO
