USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure apr_sessions_endExpiredSessions - automatically deletes sessions where the user session has expired; deletes all non-blacklisted ACL sessions daily
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_sessions_endExpiredSessions]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM aclSessions WHERE blacklistedIP = 0

    EXEC dbo.pr_sessions_endExpiredSessions
    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_sessions_endExpiredSessions', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
