USE [ectdb]
GO
/*
Written by Asira 2022
Function sqlProtect_specialChar - strips certain special characters
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sqlProtect_specialChar]
	(@str VARCHAR(MAX))

RETURNS VARCHAR(MAX)
AS

--strip special characters other than . , _ -

	BEGIN
    DECLARE @expres AS VARCHAR(56)
    SELECT @expres='%[{,},<,>,`,~,@,#,$,:,%,&,*,(,),!,?,/,\,|,=,+,'',"]%'

    WHILE PATINDEX(@expres, @str) > 0 
    SET @str = REPLACE(@str, SUBSTRING(@str, PATINDEX(@expres, @str ), 1 ), '')

    SET @str = REPLACE(@str, '[', '')
    SET @str = REPLACE(@str, ']', '')

	RETURN @str
	END
GO
