USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Table products - a list of products that can be sold
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productTypeID] [int] NOT NULL,
	[description] [varchar](256) NOT NULL,
	[memo] [varchar](max) NULL,
	[keywords] [varchar](max) NULL,
	[tariffCodeID] [int] NULL,
	[originCountryID] [int] NOT NULL,
	[customsDescription] [varchar](256) NULL,
	[allowReplies] [bit] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY NONCLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_products]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_products] ON [dbo].[products]
(
	[productID] ASC,
	[productTypeID] ASC,
	[originCountryID] ASC,
	[tariffCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_products_tariff_info]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_products_tariff_info] ON [dbo].[products]
(
	[productID] ASC,
	[originCountryID] ASC,
	[tariffCodeID] ASC
)
INCLUDE([customsDescription]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DEFAULT_products_allowReplies]  DEFAULT ((0)) FOR [allowReplies]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_originCountryID] FOREIGN KEY([originCountryID])
REFERENCES [dbo].[countries] ([countryID])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_originCountryID]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_productTypeID] FOREIGN KEY([productTypeID])
REFERENCES [dbo].[productTypes] ([productTypeID])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_productTypeID]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_tariffCodeID] FOREIGN KEY([tariffCodeID])
REFERENCES [dbo].[tariffCodes] ([tariffCodeID])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_tariffCodeID]
GO
