USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Table contactPhoneNumbers - a phone number linked to a contactID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactPhoneNumbers](
	[phoneNumberID] [int] IDENTITY(1,1) NOT NULL,
	[ownedByContactID] [int] NOT NULL,
	[phoneNumberTypeID] [int] NOT NULL,
	[recipient] [varchar](101) NOT NULL,
	[phoneNumber] [varchar](17) NOT NULL,
	[phoneNumberExtension] [varchar](4) NULL,
 CONSTRAINT [PK_phoneNumbers] PRIMARY KEY NONCLUSTERED 
(
	[phoneNumberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_phoneNumbers]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_phoneNumbers] ON [dbo].[contactPhoneNumbers]
(
	[ownedByContactID] ASC,
	[phoneNumberID] ASC,
	[phoneNumberTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contactPhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_phoneNumbers_phoneNumberTypeID] FOREIGN KEY([phoneNumberTypeID])
REFERENCES [dbo].[contactPhoneNumberTypes] ([phoneNumberTypeID])
GO
ALTER TABLE [dbo].[contactPhoneNumbers] CHECK CONSTRAINT [FK_phoneNumbers_phoneNumberTypeID]
GO
ALTER TABLE [dbo].[contactPhoneNumbers]  WITH CHECK ADD  CONSTRAINT [LEN_PhoneNumber] CHECK  ((len([phoneNumber])>=(7)))
GO
ALTER TABLE [dbo].[contactPhoneNumbers] CHECK CONSTRAINT [LEN_PhoneNumber]
GO
