USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure pr_sessions_endFailedLoginSessions - delete sessions where the user failed the login process
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessions_endFailedLoginSessions]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @aTable TABLE (id INT IDENTITY, ip VARCHAR(39), sessionID INT)

    --store associated acl ip's in temp table
    INSERT INTO @aTable (ip, sessionID)
    SELECT ISNULL(ipv6, ipv4), sessionID
    FROM sessions t1
    --INNER JOIN aclSessions as t2 on t1.ipv4 = t2.ipAddress or t1.ipv6 = t2.ipAddress --unsure why this was here but it was causing problems deleting expired sessions because the ACL session and sessionStorage wasn't cleared
    WHERE loginAttempts >= 5
    
    --delete associated acl sessions
    DECLARE @ip VARCHAR(39), @cursor INT, @sessionID INT
    SELECT @ip = 0, @cursor = 0

    WHILE 1=1
    BEGIN
        SELECT TOP 1 @cursor =id, @ip = ip, @sessionID = sessionID FROM @aTable
        IF @@ROWCOUNT = 0 BREAK
        DELETE FROM @aTable WHERE id = @cursor

        DELETE FROM sessionStorage WHERE sessionID = @sessionID --deletes data stored to a session, has to run before delete sessions because of the foreign key
        EXEC dbo.pr_aclSession_endSession @ip  
    END


    --delete all sessions that failed login
    DELETE FROM sessions WHERE loginAttempts >= 5
END
GO
