USE [ectdb]
GO
/*
Written by Asira 08/19/2024
Procedure pr_timeEntry_new - Enter a new time entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_timeEntry_new] (
    @employeeID INT,
    @isTimeClockEntry BIT,
    @taskID INT,
    @latitude FLOAT,
    @longitude FLOAT,
    @startDateTime DATETIME,
    @endDateTime DATETIME,
    @errorMessage VARCHAR(255) = NULL OUTPUT,
    @returnState BIT = NULL OUTPUT
    )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @endDateTime IS NOT NULL AND @endDateTime > GETDATE() SELECT @errorMessage = 'End time cannot be in the future.'


    --check the employee's current clockstate
    DECLARE @clockState BIT, @anEndDateTime DATETIME
    SELECT TOP 1 @anEndDateTime = endDateTime FROM timeEntries WHERE isTimeClockEntry = @isTimeClockEntry AND employeeID = @employeeID AND deleted = 0 ORDER BY timeEntryID DESC
    IF (@anEndDateTime IS NULL OR @anEndDateTime > GETDATE()) --is not clocked out or end time is designated and therefore is still clocked in
        SELECT @clockState = 1          --is clocked in (endTime is null or future)
        ELSE SELECT @clockState = 0     --is clocked out (end time is not null)

      

    DECLARE @checkOverlap SMALLINT, @checkTaskID INT

    --prevent overlapping time entries if designating time
    SELECT @checkOverlap = COUNT(timeEntryID) FROM timeEntries
    WHERE employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0 AND (
        startDateTime < @startDateTime AND endDateTime > @startDateTime OR        --startTime is during another time entry
        startDateTime < @endDateTime AND endDateTime >   @endDateTime OR          --endTime is during another time entry
        startDateTime > @startDateTime AND endDateTime < @endDateTime             --startTime/endTime begins before and ends after another time entry
    )




    --check to see if the new task being clocked in the same as the previous one
    IF @taskID IS NOT NULL 
    SELECT @checkTaskID = taskID FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = 0 AND (endDateTime IS NULL OR endDateTime > GETDATE()) AND deleted = 0 ORDER BY timeEntryID DESC

    --if they are not the same task, then clock out of the previous task before clocking into the new task
    IF @taskID != ISNULL(@checkTaskID, @taskID)
    EXEC dbo.pr_timeEntry_clocking @employeeID, @isTimeClockEntry, @checkTaskID, @latitude, @longitude, @startDateTime, @endDateTime




    IF @checkOverlap != 0 SELECT @errorMessage = 'Time entries cannot overlap.' --timeclock entry overlaps
    IF @checkOverlap = 0 AND @errorMessage IS NULL --timeEntry doesn't overlap
    BEGIN
        IF @clockState = 0 --employee is clocked out
        BEGIN

            IF NOT EXISTS (SELECT * FROM timeEntries WHERE startDateTime IS NOT NULL AND (endDateTime IS NULL OR endDateTime > GETDATE()) AND employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0) --if employee is not clocked in and does not have a designated start time
            BEGIN
                INSERT INTO timeEntries (employeeID, isTimeClockEntry, taskID, startDateTime, latitude, longitude)
                VALUES (dbo.sqlProtect_xss(@employeeID,7), dbo.sqlProtect_xss(@isTimeClockEntry,7), dbo.sqlProtect_xss(@taskID,7), dbo.sqlProtect_xss(ISNULL(@startDateTime, GETDATE()),4), dbo.sqlProtect_xss(ISNULL(@latitude, 0),7), dbo.sqlProtect_xss(ISNULL(@longitude, 0),7))
            END


            ELSE --employee is not clocked in but has a designated start time
            BEGIN
                DECLARE @latestClockID INT
                SELECT TOP(1) @latestClockID = timeEntryID FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0 ORDER BY timeEntryID DESC

                UPDATE timeEntries
                SET startDateTime = dbo.sqlProtect_xss(ISNULL(@startDateTime, GETDATE()),4)
                WHERE timeEntryID = @latestClockID
            END
        END
    
    
    
    
    
        IF @clockState = 1 --employee is clocked in
        BEGIN
            DECLARE @lastEndTime DATETIME, @lastStartTime DATETIME
            SELECT TOP(1) @lastEndTime = endDateTime, @lastStartTime = startDateTime FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0 ORDER BY timeEntryID DESC


            IF @lastEndTime > GETDATE() OR @lastEndTime IS NULL --if employee is clocked in when the they clicked clock out
            BEGIN

                IF (ISNULL(@endDateTime, GETDATE()) > @lastStartTime) AND (ISNULL(@endDateTime, GETDATE()) < DATEADD(HOUR, 12, @lastStartTime)) --only allow a clock out if the end time is after the start time    AND    time clock runs less than 12 hours
                BEGIN
                    DECLARE @currentTimeEntryID INT
                    SELECT TOP(1) @currentTimeEntryID = timeEntryID FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0 ORDER BY timeEntryID DESC --get the current clock entry for this employee

                    UPDATE timeEntries 
                    SET endDateTime = dbo.sqlProtect_xss(ISNULL(@endDateTime, GETDATE()), 4) --clock out employee, with getdate() as default value if they did not designate their end time
                    WHERE timeEntryID = @currentTimeEntryID
                END
            END



            --return error message if employee clocks out before start time
            IF @lastStartTime > ISNULL(@endDateTime, GETDATE()) SELECT @errorMessage = 'Your clock-out time cannot be before your clock-in time.'

            --if employee is clocked out when the they click clock out
            IF @lastEndTime < GETDATE() SELECT @errorMessage = 'You are already clocked out. Please refresh the page.'

            --if employee clocks out more than 12 hours after clocking in
            IF ISNULL(@endDateTime, GETDATE()) > DATEADD(HOUR, 12, @lastStartTime) SELECT @errorMessage = 'Your total work time cannot be more than 12 hours.'
        END
    END



    --invert clockState as returnState
    IF @errorMessage IS NULL
    BEGIN
        IF @clockState = 0 SELECT @returnState = 1
        IF @clockState = 1 SELECT @returnState = 0
    END
    ELSE SELECT @returnState = @clockState          --clocking didn't change, return old state

    SELECT ISNULL(@errorMessage, NULL), ISNULL(@returnState, @clockState)
END
GO
