USE [ectdb]
GO
/*
Written by Asira 06/26/2024
Function fn_shipBox_estimatedWeight - returns the estimated weight of a box based on its dimensions and material
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_shipBox_estimatedWeight]
(
    @shipBoxMaterialID INT,
    @length FLOAT = 0,  --inches
    @width FLOAT = 0,   --inches
    @height FLOAT = 0   --inches
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @calculatedWeight FLOAT = 0.00
    DECLARE @poundsPerSqFt FLOAT = 0.00
    DECLARE @surfaceArea FLOAT = 0.00

    SELECT @length = @length / 12,  @width = @width / 12,  @height = @height / 12                                               --convert to feet
    SELECT @surfaceArea = (@length * @width * 2) + (@length * @height * 2) + (@width * @height * 2)                             --calculate surface area in sqft
    SELECT @poundsPerSqFt = ISNULL(poundsPerSqFt, 0.00) FROM shipBoxMaterials WHERE shipBoxMaterialID = @shipBoxMaterialID      --get weight per sqft

    SELECT @calculatedWeight = ROUND(@surfaceArea * @poundsPerSqFt, 4)                                                          --calculate result
    

    RETURN ISNULL(@calculatedWeight, 0.00)
END
GO
