USE [ectdb]
GO
/*
Written by Asira 10/23/2022
Table users - base entity for all record entities that represent a single, real human being. Includes their sign in email address (should be replaced with username and emails stored in contactEmails only), account status, password, etc
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[displayName] [varchar](101) NULL,
	[email] [varchar](50) NOT NULL,
	[emailValidated] [bit] NOT NULL,
	[organizationID] [int] NULL,
	[passwordHash] [binary](32) NOT NULL,
	[registrationDate] [smalldatetime] NOT NULL,
	[isBanned] [bit] NOT NULL,
	[inActive] [bit] NOT NULL,
	[accountRisk] [tinyint] NOT NULL,
	[websiteID] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[websiteID] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_users]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_users] ON [dbo].[users]
(
	[userID] ASC,
	[organizationID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_addresses]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_addresses] ON [dbo].[users]
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DEFAULT_users_emailValidated]  DEFAULT ((0)) FOR [emailValidated]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [registrationDate]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DEFAULT_users_bannedAccount]  DEFAULT ((0)) FOR [isBanned]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [inActive]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DEFAULT_users_accountRisk]  DEFAULT ((0)) FOR [accountRisk]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_organizationID] FOREIGN KEY([organizationID])
REFERENCES [dbo].[organizations] ([organizationID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_organizationID]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_websiteID]
GO
