USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_websiteSettings - returns a list of website settings
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_websiteSettings] AS

    SELECT t1.websiteID, t1.websiteSettingID, t1.websiteSettingTypeID, ISNULL(t1.websiteSettingValue, t2.websiteSettingDefaultValue) AS value, t2.websiteSettingTypeDescription AS tag, t1.date
    FROM websiteSettings t1
    LEFT JOIN websiteSettingTypes t2 ON t1.websiteSettingTypeID = t2.websiteSettingTypeID

GO
