USE [ectdb]
GO

/*
Written by Asira 10/10/2023
Table accessRightsGranted - What level of access has been granted to entity for accessing another
*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accessRightsGranted](
	[accessRightGrantedID] [int] IDENTITY(1,1) NOT NULL,
	[accessRightID] [tinyint] NOT NULL,
	[accessToLTID] [tinyint] NOT NULL,
	[accessToXID] [int] NULL,
	[accessForLTID] [tinyint] NOT NULL,
	[accessForXID] [int] NULL,
	[grantedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_accessRightsGranted] PRIMARY KEY NONCLUSTERED 
(
	[accessRightGrantedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_accessRightsGranted_entity] UNIQUE NONCLUSTERED 
(
	[accessToLTID] ASC,
	[accessToXID] ASC,
	[accessForLTID] ASC,
	[accessForXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_accessRightsGranted]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_accessRightsGranted] ON [dbo].[accessRightsGranted]
(
	[accessRightGrantedID] ASC,
	[accessForLTID] ASC,
	[accessToLTID] ASC,
	[accessRightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_accessRightsGranted_entity]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_accessRightsGranted_entity] ON [dbo].[accessRightsGranted]
(
	[accessToLTID] ASC,
	[accessToXID] ASC,
	[accessForLTID] ASC,
	[accessForXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Index_accessRightsGranted_level]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [Index_accessRightsGranted_level] ON [dbo].[accessRightsGranted]
(
	[accessRightGrantedID] ASC,
	[accessRightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accessRightsGranted] ADD  CONSTRAINT [DEFAULT_accessRightsGranted_grantedDate]  DEFAULT (getdate()) FOR [grantedDate]
GO
ALTER TABLE [dbo].[accessRightsGranted]  WITH CHECK ADD  CONSTRAINT [FK_accessRightsGranted_accessRights] FOREIGN KEY([accessRightID])
REFERENCES [dbo].[accessRights] ([accessRightID])
GO
ALTER TABLE [dbo].[accessRightsGranted] CHECK CONSTRAINT [FK_accessRightsGranted_accessRights]
GO
ALTER TABLE [dbo].[accessRightsGranted]  WITH CHECK ADD  CONSTRAINT [FK_accessRightsGranted_forLTID] FOREIGN KEY([accessForLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[accessRightsGranted] CHECK CONSTRAINT [FK_accessRightsGranted_forLTID]
GO
ALTER TABLE [dbo].[accessRightsGranted]  WITH CHECK ADD  CONSTRAINT [FK_accessRightsGranted_toLTID] FOREIGN KEY([accessToLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[accessRightsGranted] CHECK CONSTRAINT [FK_accessRightsGranted_toLTID]
GO
