USE [ectdb]
GO
/*
Written by Asira 05/01/2025
Function fn_userAccount_riskScore - Returns a score 0-255 to annotate how risky a user account is
previously fn_userAccount_assessRisk 
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_userAccount_riskScore]
(
    @userID INT
)
RETURNS SMALLINT
AS
BEGIN
    /*  returns total risk score for a user account... i.e. sum of scores from tb_user_riskAssessment  */

    DECLARE @accountRisk SMALLINT --risk level (0-255)... smallint in case an error occurs in tb_user_riskAssessment causing it to overflow
    SELECT @accountRisk = SUM(score) FROM tb_user_riskAssessment(@userID)


    IF @accountRisk > 255 SELECT @accountRisk = 255     --255 is the maximum allowed value
    IF @accountRisk < 0 SELECT @accountRisk = 0         --  0 is the minimum allowed value

    RETURN ISNULL(@accountRisk, 0)
END
GO
