USE [ectdb]
GO
/*
Written by Asira 10/20/2023
Procedure apr_sessionStorage_cleanup - automated/agent to cleanup old/expired session storage
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_sessionStorage_cleanup]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DELETE FROM sessionStorage WHERE DATEADD(DAY, 7, date) < GETDATE() --delete sessionStorage items if it is older than one week

    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_sessionStorage_cleanup', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
