USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_tableContstraints - Returns the structure of a SQL table. Used by LinkedTable console page detailed view.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_tableDesign] AS

    SELECT TABLE_CATALOG AS catalog, TABLE_SCHEMA AS tblSchema, TABLE_NAME AS tableName, COLUMN_NAME AS columnName, DATA_TYPE AS dataType, CHARACTER_MAXIMUM_LENGTH AS maxLength, IS_NULLABLE AS allowNulls, COLUMN_DEFAULT AS defaultValue
    FROM INFORMATION_SCHEMA.COLUMNS
    --WHERE TABLE_NAME = '[tableName]'
    
GO
