USE [ectdb]
GO
/*
Written by Asira 10/22/2024
Procedure pr_notification_new - generate a new text-based notification from one entity to another
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_notification_new] (
    @fromLEID BIGINT,
    @toLEID BIGINT,
    @content VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    INSERT INTO notifications (notificationContent, fromLEID, toLEID, sendDate)
    VALUES (dbo.sqlProtect_xss(@content, 1), dbo.sqlProtect_xss(@fromLEID,7), dbo.sqlProtect_xss(@toLEID,7), GETDATE())

END
GO
