USE [ectdb]
GO
/*
Written by Asira 10/26/2023
Procedure pr_linkedEntity_report_resolve - Provides resolution details for a report that has been solved
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_linkedEntity_report_resolve] (
    @reportedID INT,
    @resolvedByEmployeeID INT,
    @resolutionDetails VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE linkedEntities_reported SET resolved = 1, resolvedOn = GETDATE(), resolvedByEmployeeID = dbo.sqlProtect_xss(@resolvedByEmployeeID,7), resolutionDetails = dbo.sqlProtect_xss(@resolutionDetails, 5)
    WHERE reportedID = @reportedID
    
END
GO
