USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_employee_new - create a new employee record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_employee_new] (
  @userID INT,
  @preferredName VARCHAR(36),
  @hourlyWage MONEY,
  @birthdate DATETIME,
  @ssn VARCHAR(11),
  @websiteID INT,
  @employeeID INT = NULL OUTPUT
  )
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

  --check if an employee already exists
  SELECT @employeeID = employeeID FROM employees WHERE userID = @userID



  --if employee doesn't exist, create an employee account
  IF @employeeID IS NULL
    BEGIN
    --create new employee
      INSERT INTO employees (userID, preferredName, hourlyWage, birthdate, hiredate, SSN, inactive, isAdmin, websiteID)
      VALUES (dbo.sqlProtect_xss(@userID,7), dbo.sqlProtect_xss(@preferredName,5), dbo.sqlProtect_xss(@hourlyWage,4), dbo.sqlProtect_xss(CAST(@birthdate AS DATETIME),4), GETDATE(), dbo.sqlProtect_xss(@ssn,6), 1, 0, dbo.sqlProtect_xss(@websiteID,7))

      SELECT @employeeID = SCOPE_IDENTITY()
      EXEC dbo.pr_linkedEntity_new 2, @employeeID, @websiteID


      --update user account risk score
      UPDATE users SET accountRisk = dbo.fn_userAccount_riskScore(@userID)
      

      --automatically assign base level employee permissions
      --NOTHING HERE YET
    END



  --if employee exists, then a new account won't be created
  SELECT ISNULL(@employeeID, 0) --0 for error
GO
