USE [ectdb]
GO
/*
Written by Asira 07/21/2022
Procedure pr_voteHandler - handles up-, down-, and un- voting on records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_voteHandler] (
  @voteLedgerID INT = NULL,
  @action VARCHAR(MAX),
  @toLTID INT,
  @toXID INT,
  @userID INT,
  @newScore SMALLINT = NULL OUTPUT,
  @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkVoteLedgerID INT = NULL
    IF @voteLedgerID IS NOT NULL SELECT TOP (1) @checkVoteLedgerID = voteLedgerID FROM voteLedger WHERE voteLedgerID = @voteLedgerID
    IF @voteLedgerID IS NOT NULL AND @checkVoteLedgerID IS NULL SELECT @errorMessage = CONCAT('voteLedgerID (',@voteLedgerID,') was supplied to pr_voteHandler but voteLedgerID ',@voteLedgerID,' does not exist in dbo.voteLedger')

    IF @action != 'upvote' AND @action != 'downvote' AND @action != 'unvote' SELECT @errorMessage = 'Invalid vote action ("' + ISNULL(@action, 'null action') + '") supplied to pr_voteHandler (only upvote, downvote, and unvote are allowed)'
    IF @userID IN (NULL, 0) SELECT @errorMessage = CONCAT('Invalid userID (', ISNULL(@userID, 'null userID'), ') supplied to pr_voteHandler') 

    IF @errorMessage IS NULL
    BEGIN
        DECLARE @toLinkedEntityID INT
        --EXEC @toLinkedEntityID = dbo.pr_linkedEntity_getID @toLTID, @toXID  --fn is faster than pr. pr will create linkedEntityID if it doesn't exist, but it should exist already
        SELECT @toLinkedEntityID = dbo.fn_linkedEntity_getID(@toLTID, @toXID)

        IF @action = 'upvote'
        BEGIN
            IF @checkVoteLedgerID IS NULL --new vote
            BEGIN INSERT INTO voteLedger (toLinkedEntityID, voteValue, fromUserID) VALUES (@toLinkedEntityID, 1, dbo.sqlProtect_xss(@userID,7)) END

            IF @checkVoteLedgerID IS NOT NULL --already exists. update instead
            BEGIN UPDATE voteLedger SET voteValue = 1 WHERE voteLedgerID = @voteLedgerID END
        END



        IF @action = 'downvote'
        BEGIN
            IF @checkVoteLedgerID IS NULL --new vote
            BEGIN INSERT INTO voteLedger (toLinkedEntityID, voteValue, fromUserID) VALUES (@toLinkedEntityID, -1, dbo.sqlProtect_xss(@userID,7)) END

            IF @checkVoteLedgerID IS NOT NULL --already exists. update instead
            BEGIN UPDATE voteLedger SET voteValue = -1 WHERE voteLedgerID = @voteLedgerID END
        END

        IF @action = 'unvote' AND @checkVoteLedgerID IS NOT NULL UPDATE voteLedger SET voteValue = 0 WHERE voteLedgerID = @voteLedgerID
        IF @action = 'unvote' AND @checkVoteLedgerID IS NULL SELECT @errorMessage = CONCAT('Attempted action (unvote) cannot be performed with invalid voteLedgerID (', dbo.sqlProtect_xss(ISNULL(@voteLedgerID, 'null voteLedgerID'),6), ')')

        IF @errorMessage IS NULL SELECT @newScore = dbo.fn_voteScore_quick(@toLinkedEntityID)

        --no record was returned from voteScores so a new entry is made for it. This entry is automtically updated daily (dbo.apr_voteScores_update)
        IF @newScore IS NULL INSERT INTO voteScores VALUES (@toLinkedEntityID, 0)
    END


    SELECT ISNULL(@errorMessage, NULL), ISNULL(@newScore, 0)
END
GO
