USE [ectdb]
GO
/*
Written by Asira 12/01/2023
View vw_table_fullTextIndexes - Returns full text indexes that have been applied to tables. Used by LinkedTable console page detailed view.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_table_fullTextIndexes] AS

SELECT TOP 9999 objectName AS tableName, catalogName, idxName AS PK_index, columns = STUFF((
    SELECT DISTINCT ', ' + columnName FROM (
        SELECT t.name AS objectName, c.name AS catalogName, i.name AS idxName, cl.name AS columnName
        FROM sys.objects t 
        INNER JOIN sys.fulltext_indexes fi ON t.[object_id] = fi.[object_id] 
        INNER JOIN sys.fulltext_index_columns ic ON ic.[object_id] = t.[object_id]
        INNER JOIN sys.columns cl ON ic.column_id = cl.column_id AND ic.[object_id] = cl.[object_id]
        INNER JOIN sys.fulltext_catalogs c ON fi.fulltext_catalog_id = c.fulltext_catalog_id
        INNER JOIN sys.indexes i ON fi.unique_index_id = i.index_id AND fi.[object_id] = i.[object_id]
    ) t2 WHERE t2.objectName = t1.objectName FOR XML PATH('')
),1,2, '')

FROM (
    SELECT t.name AS objectName, c.name AS catalogName, i.name AS idxName, cl.name AS columnName
    FROM sys.objects t 
    INNER JOIN sys.fulltext_indexes fi ON t.[object_id] = fi.[object_id] 
    INNER JOIN sys.fulltext_index_columns ic ON ic.[object_id] = t.[object_id]
    INNER JOIN sys.columns cl ON ic.column_id = cl.column_id AND ic.[object_id] = cl.[object_id]
    INNER JOIN sys.fulltext_catalogs c ON fi.fulltext_catalog_id = c.fulltext_catalog_id
    INNER JOIN sys.indexes i ON fi.unique_index_id = i.index_id AND fi.[object_id] = i.[object_id]
) t1
GROUP BY objectName, idxName, catalogName
    
GO
