USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_fileFolder_move - modify the parent folder of a given fileFolder record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_fileFolder_move] (
    @fileFolderID INT,
    @parentFileFolderID INT = NULL,
    @folderPath VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    --move path by parentID OR manually override a file path.
END
GO
