USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_tasks - returns task records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_tasks] AS

    SELECT tasks.taskID, tasks.startDate, tasks.dueDate, tasks.completeDate, tasks.description, tasks.assignedByEmployeeID, tasks.assignedToEmployeeID, tasks.assignedToProjectID, IIF(tasks.memo IS NOT NULL, 1, 0) AS hasMemo, tasks.recurCode, LE.websiteID,
    dbo.fn_entityName_public(2, tasks.assignedByEmployeeID) AS fromEmployeeName,
    dbo.fn_entityName_public(2, tasks.assignedToEmployeeID) AS toEmployeeName,
    dbo.fn_entityName(252, tasks.assignedToProjectID) AS toProjectName
    FROM tasks
    LEFT JOIN linkedEntities LE ON LE.toLTID = 253 AND tasks.taskID = LE.toXID
GO
