USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_websiteAltURL_edit - modify a website's alternate URL
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_websiteAltURL_edit] (
  @websiteID INT,
  @websiteURL VARCHAR(2048),
  @cookieTag VARCHAR(6),
  @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DECLARE @checkURL VARCHAR(2048), @currentURL VARCHAR(2048), @checkCookieTag VARCHAR(6)
    SELECT @checkURL = websiteURL FROM websites WHERE websiteURL = dbo.sqlProtect_xss(@websiteURL,4)
    SELECT @currentURL = websiteURL FROM websites WHERE websiteID = @websiteID

    IF @checkURL = @currentURL SELECT @checkURL = NULL



    IF @checkURL IS NULL
    BEGIN
        --get parent (check) cookieTag
        SELECT TOP 1 @checkCookieTag = t2.cookieTag
        FROM websites t1
        LEFT JOIN websites t2 ON t1.parentWebsiteID = t2.websiteID
        WHERE t1.websiteID = @websiteID

        IF @checkCookieTag = UPPER(@cookieTag) SELECT @cookieTag = NULL --if subdomain cookieTag is the same as the parent's tag then simply don't store it.


        UPDATE websites
        SET websiteURL = dbo.sqlProtect_xss(dbo.fn_stripProtocol_HTTP(@websiteURL),4), cookieTag = UPPER(dbo.fn_stripNonAlpha(@cookieTag))
        WHERE websiteID = @websiteID
    END



    IF @checkURL IS NOT NULL SELECT @errorMessage = 'This website subdomain/domain has already been used. Please choose a unique domain.'

    SELECT ISNULL(@errorMessage, NULL)
END
GO
