USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_collection_updateKeywords - generate+update keywords for a collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_updateKeywords] (
    @collectionID INT,
    @keywords VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newKeywords VARCHAR(MAX), @clID INT = 0, @someKeywords VARCHAR(MAX)
    DECLARE @aTable TABLE (clID INT, someKeywords VARCHAR(MAX))

    --delete old keywords then make sure updated keywords includes default keywords but no duplicates... then update
    UPDATE collections SET keywords = NULL WHERE collectionID = @collectionID
    SELECT @newKeywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_collectionKeywords(@collectionID, 1)), ' ')
    SELECT @newKeywords = dbo.fn_sortAlphaString(LOWER(@newKeywords))
    UPDATE collections SET keywords = dbo.sqlProtect_xss(@newKeywords,6) WHERE collectionID = @collectionID


    --store a list of child clID's that need to have their keywords udpated
    INSERT INTO @aTable SELECT collectionID, keywords FROM collections WHERE parentCollectionID = @collectionID ORDER BY collectionID ASC



    WHILE 1=1
    BEGIN
        --get next ID
        SELECT TOP 1 @clID = clID, @someKeywords = someKeywords
        FROM @aTable
        WHERE clID > @clID
        ORDER BY clID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to update keywords
        EXEC dbo.pr_collection_updateKeywords @clID, @someKeywords
    END
END
GO
