USE [ectdb]
GO
/*
Written by Asira 07/12/2023
Function fn_entityName_public - Create a public name for entity (e.g. employee or user public-facing name)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_entityName_public] (
  @linkedTableID INT,
  @XID INT
  )
RETURNS VARCHAR(64)
AS
BEGIN

  --declare and set entityName to null (result)
  DECLARE @entityName VARCHAR(64)
  SELECT @entityName = NULL



    --returns entityName for specific records
    IF (@entityName IS NULL) AND (ISNULL(@XID,0) > 0)
    BEGIN

      --set custom rules here
      IF @linkedTableID=1 SELECT @entityName = ISNULL(displayName, CONCAT(firstName, ' ', LEFT(lastName,1), '.')) FROM users WHERE userID = @XID AND inActive = 0
      IF @linkedTableID=2 SELECT @entityName = COALESCE(employees.preferredName, CONCAT(users.firstName, ' ', LEFT(users.lastName,1), '.')) FROM employees INNER JOIN users ON users.userID = employees.userID WHERE employees.employeeID = @XID AND users.inActive = 0
    END
 


  --default name is [deleted]
  RETURN ISNULL(@entityName, NULL)
END
GO
