USE [ectdb]
GO
/*
Written by Asira 2023-2024
Function fn_record_activeStatus - overarching/master function for if a record is hidden/active/depreciated/completed/etc
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_record_activeStatus] (
  @LEID BIGINT
)
RETURNS FLOAT
AS
BEGIN 
  DECLARE @activeStatus BIT, @LTID TINYINT, @XID INT
  SELECT @LTID = dbo.fn_linkedEntity_getLTID(@LEID), @XID = dbo.fn_linkedEntity_getXID(@LEID)
  

  IF @LTID = 1 SELECT @activeStatus = IIF(inActive = 1, 0, 1) FROM users WHERE userID = @XID 
  IF @LTID = 2 SELECT @activeStatus = IIF(inActive = 1, 0, 1) FROM employees WHERE employeeID = @XID
  IF @LTID = 8 SELECT @activeStatus = IIF(endDate < CAST(GETDATE() AS DATE), 1, 0) FROM highlights WHERE highlightID = @XID
  IF @LTID = 9 SELECT @activeStatus = IIF(isHidden = 1, 0, 1) FROM documents WHERE documentID = @XID
  IF @LTID = 10 SELECT @activeStatus = IIF(depreciated = 1, 0, 1) FROM knowledgebase WHERE knowledgebaseID = @XID
  IF @LTID = 18 SELECT @activeStatus = IIF(isHidden = 1, 0, 1) FROM collections WHERE collectionID = @XID
  IF @LTID = 33 SELECT @activeStatus = IIF(inActive = 1, 1, 0) FROM shipBoxes WHERE shipBoxID = @XID
  IF @LTID = 253 SELECT @activeStatus = IIF(completeDate IS NULL, 1, 0) FROM tasks WHERE taskID = @XID

  
  RETURN ISNULL(@activeStatus, 1) --1 is active/visible, 0 is inActive/hidden
END
GO
