USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_contactAddress_new - create a new address FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_contactAddress_new] (
    @contactID INT,
    @ownerLEID BIGINT,
    @recipient VARCHAR(101),
    @company VARCHAR(128) = NULL,
    @address1 VARCHAR(50),
    @address2 VARCHAR(50) = NULL,
    @city VARCHAR(50),
    @territoryID INT,
    @zipcode VARCHAR(10),
    @countryID INT,
    @billingAddress INT,
    @shippingAddress INT
)
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @contactID IS NULL
    EXEC dbo.pr_contact_new @ownerLEID, @contactID OUTPUT 

    --insert new address
    INSERT INTO contactAddresses (ownedByContactID, recipient, company, address1, address2, city, territoryID, zipcode, countryID)
    VALUES (dbo.sqlProtect_xss(@contactID,7), dbo.sqlProtect_xss(@recipient,5), dbo.sqlProtect_xss(@company,5), dbo.sqlProtect_xss(@address1,4), dbo.sqlProtect_xss(@address2,4), dbo.sqlProtect_xss(@city,5), dbo.sqlProtect_xss(@territoryID,7), dbo.fn_zipcode_formatted(@zipcode), dbo.sqlProtect_xss(@countryID,7))

    --if new address is a billingAddress OR shippingAddress
    IF @billingAddress = 1 OR @shippingAddress = 1
    BEGIN
        DECLARE @newAddressID INT
        SELECT @newAddressID = SCOPE_IDENTITY()
        
        --if the new address is a billing address, set it as the billingAddress for the entity
        IF @billingAddress = 1 UPDATE contacts SET primaryBillAddressID = @newAddressID WHERE contactID = @contactID
        
        --if the new address is a shipping address, set it as the shippingAddress for the entity
        IF @shippingAddress = 1 UPDATE contacts SET primaryShipAddressID = @newAddressID WHERE contactID = @contactID
    END
GO
