USE [ectdb]
GO
/*
Written by Asira 07/21/2022
Table voteScores - a daily summage of the total votes cast for a particular entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voteScores](
	[toLinkedEntityID] [bigint] NOT NULL,
	[voteLedgerSum] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx_voteScores]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_voteScores] ON [dbo].[voteScores]
(
	[toLinkedEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[voteScores] ADD  CONSTRAINT [DEFAULT_voteScores_voteLedgerSum]  DEFAULT ((0)) FOR [voteLedgerSum]
GO
ALTER TABLE [dbo].[voteScores]  WITH CHECK ADD  CONSTRAINT [FK_voteScores_linkedEntityID] FOREIGN KEY([toLinkedEntityID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[voteScores] CHECK CONSTRAINT [FK_voteScores_linkedEntityID]
GO
