USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_externalLink_new - create a new hyperlink shortcut
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_externalLink_new]
(
	@linkURL VARCHAR(2048),
	@linkDescription VARCHAR(64),
    @websiteID INT,
    @newLinkLEID BIGINT = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newLinkID INT

	INSERT INTO externalLinks(externalLinkDescription, externalLinkURL)
	VALUES (dbo.sqlProtect_xss(@linkDescription,4), dbo.sqlProtect_xss(@linkURL,4))

	SELECT @newLinkID = SCOPE_IDENTITY()
    EXEC dbo.pr_linkedEntity_new 11, @newLinkID, @websiteID

    SELECT @newLinkLEID = dbo.fn_linkedEntity_getID(11,@newLinkID)

	SELECT ISNULL(@newLinkLEID,0)
END
GO
