USE [ectdb]
GO
/*
Written by Asira 2023
Table collections - groups products, highlights, etc ... in a public-facing "tree" format
previously entityGroups
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collections](
	[collectionID] [int] IDENTITY(1,1) NOT NULL,
	[parentCollectionID] [int] NULL,
	[name] [varchar](32) NOT NULL,
	[memo] [varchar](max) NULL,
	[keywords] [varchar](max) NULL,
	[imgURL] [varchar](2048) NULL,
	[showEntities] [tinyint] NOT NULL,
	[isHidden] [bit] NOT NULL,
	[createdOn] [datetime] NOT NULL,
	[websiteID] [int] NOT NULL,
 CONSTRAINT [PK_entityGroups] PRIMARY KEY NONCLUSTERED 
(
	[collectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_entityGroups_name] UNIQUE NONCLUSTERED 
(
	[websiteID] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_entityGroups]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_entityGroups] ON [dbo].[collections]
(
	[collectionID] ASC,
	[parentCollectionID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[collections] ADD  CONSTRAINT [DEFAULT_entityGroups_showEntities]  DEFAULT ((0)) FOR [showEntities]
GO
ALTER TABLE [dbo].[collections] ADD  CONSTRAINT [DEFAULT_entityGroups_isHidden]  DEFAULT ((1)) FOR [isHidden]
GO
ALTER TABLE [dbo].[collections] ADD  CONSTRAINT [DEFAULT_entityGroups_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_collections_parentCollectionID] FOREIGN KEY([parentCollectionID])
REFERENCES [dbo].[collections] ([collectionID])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_collections_parentCollectionID]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_entityGroups_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_entityGroups_websiteID]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [CK_entityGroups_showEntities] CHECK  (([parentCollectionID] IS NULL AND [showEntities]=(0) OR [parentCollectionID] IS NOT NULL AND ([showEntities]=(2) OR [showEntities]=(1) OR [showEntities]=(0))))
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [CK_entityGroups_showEntities]
GO
