USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_fileFolder_delete - delete a file folder record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_fileFolder_delete] (
    @fileFolderID INT = NULL
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @fileFolderID IS NOT NULL
    BEGIN
        --used for while loops to simulate for loops
        DECLARE @thisIndex INT, @tableLength INT, @thisID INT

        --used to delete files contained within folder
        DECLARE @aTable TABLE (thisIndex INT IDENTITY, thisID INT)
        INSERT INTO @aTable SELECT fileID FROM files WHERE fileFolderID = @fileFolderID

        --delete all files within this folder
        SELECT TOP 1 @thisIndex = 1, @tableLength = thisIndex FROM @aTable ORDER BY thisIndex DESC
        WHILE @thisIndex <= @tableLength
        BEGIN
            SELECT @thisID = thisID FROM @aTable WHERE thisIndex = @thisIndex
            EXEC pr_file_delete @thisID

            SELECT @thisIndex = @thisIndex + 1
        END

        
        --used to delete folders nested in this folder
        DECLARE @bTable TABLE (thisIndex INT IDENTITY, thisID INT)
        INSERT INTO @bTable SELECT fileFolderID FROM fileFolders WHERE parentFileFolderID = @fileFolderID

        SELECT TOP 1 @thisIndex = 1, @tableLength = thisIndex FROM @bTable ORDER BY thisIndex DESC
        WHILE @thisIndex <= @tableLength
        BEGIN
            SELECT @thisID = thisID FROM @bTable WHERE thisIndex = @thisIndex
            EXEC pr_fileFolder_delete @thisID

            SELECT @thisIndex = @thisIndex + 1
        END

        DELETE FROM fileFolders WHERE fileFolderID = @fileFolderID
    END
END
GO
