USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_unmarkDepreciated - Modifies a knowledgebae (and direct ancenstors) as no longer depreciated
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_unmarkDepreciated] (
    @knowledgebaseID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
  
    DECLARE @parentKBID INT
    SELECT @parentKBID = parentKnowledgebaseID FROM knowledgebase WHERE knowledgebaseID = @knowledgebaseID

    UPDATE knowledgebase SET depreciated = 0 WHERE knowledgebaseID = @knowledgebaseID
    IF @parentKBID IS NOT NULL EXEC pr_knowledgebase_unmarkDepreciated @parentKBID
END
GO
