USE [ectdb]
GO
/*
Written by Asira 03/15/2024
Table websiteSettingTypes - The settings that can be applied to a website
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[websiteSettingTypes](
	[websiteSettingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[websiteSettingTypeDescription] [varchar](128) NOT NULL,
	[websiteSettingTypeMemo] [varchar](max) NOT NULL,
	[websiteSettingDefaultValue] [varchar](max) NOT NULL,
 CONSTRAINT [PK_websiteSettingTypes] PRIMARY KEY NONCLUSTERED 
(
	[websiteSettingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
