USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_userGroup_new - create a new userGroup record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_userGroup_new]
(
    @groupName VARCHAR(64),
    @websiteID INT,
    @newUserGroupID INT = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

	INSERT INTO userGroups (groupName)
	VALUES(dbo.sqlProtect_xss(@groupName,4))

	SELECT @newUserGroupID = SCOPE_IDENTITY()
    IF @newUserGroupID IS NOT NULL EXEC dbo.pr_linkedEntity_new 3, @newUserGroupID, @websiteID
    
	SELECT ISNULL(@newUserGroupID, NULL)
END
GO
