USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactPhoneNumber_new - create a new phone number record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contactPhoneNumber_new] (
    @contactID INT,
    @ownerLEID BIGINT,
    @recipient VARCHAR(101),
    @phoneNumberTypeID INT,
    @phoneNumber VARCHAR(17),
    @phoneNumberExtension VARCHAR(4),
    @primaryPhone INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @contactID IS NULL
    EXEC dbo.pr_contact_new @ownerLEID, @contactID OUTPUT 

    --insert new phone number
    INSERT INTO contactPhoneNumbers (phoneNumberTypeID, recipient, ownedByContactID, phoneNumber, phoneNumberExtension)
    VALUES (dbo.sqlProtect_xss(@phoneNumberTypeID,7), dbo.sqlProtect_xss(@recipient,5), dbo.sqlProtect_xss(@contactID,7), dbo.sqlProtect_xss(dbo.fn_phoneNumber_formatted(@phoneNumber),4), dbo.sqlProtect_xss(@phoneNumberExtension,7))

    --if new phoneNumber is a primary phone number
    IF @primaryPhone = 1 UPDATE contacts SET primaryPhoneNumberID = SCOPE_IDENTITY() WHERE contactID = @contactID
END
GO
