USE [ectdb]
GO
/*
Written by Asira 11/07/2023
Table highlights - A brief image and/or text spiel highlight information about a collection (see collections). Also usable for employee console bulletin by setting highlightTypeID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[highlights](
	[highlightID] [int] IDENTITY(1,1) NOT NULL,
	[highlightTypeID] [int] NOT NULL,
	[dispOnCollectionID] [int] NULL,
	[title] [varchar](128) NULL,
	[keywords] [varchar](max) NULL,
	[content] [varchar](max) NOT NULL,
	[imgURL] [varchar](2048) NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
 CONSTRAINT [PK_highlights] PRIMARY KEY NONCLUSTERED 
(
	[highlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_highlights]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_highlights] ON [dbo].[highlights]
(
	[highlightID] ASC,
	[highlightTypeID] ASC,
	[dispOnCollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[highlights] ADD  CONSTRAINT [DEFAULT_highlights_startDate]  DEFAULT (dateadd(day,(1),getdate())) FOR [startDate]
GO
ALTER TABLE [dbo].[highlights]  WITH CHECK ADD  CONSTRAINT [FK_highlights_collectionID] FOREIGN KEY([dispOnCollectionID])
REFERENCES [dbo].[collections] ([collectionID])
GO
ALTER TABLE [dbo].[highlights] CHECK CONSTRAINT [FK_highlights_collectionID]
GO
ALTER TABLE [dbo].[highlights]  WITH CHECK ADD  CONSTRAINT [FK_highlights_highlightTypeID] FOREIGN KEY([highlightTypeID])
REFERENCES [dbo].[highlightTypes] ([highlightTypeID])
GO
ALTER TABLE [dbo].[highlights] CHECK CONSTRAINT [FK_highlights_highlightTypeID]
GO
