USE [ectdb]
GO
/*
Written by Asira 07/27/2023
Procedure pr_message_dissociate - remove the message sender from the message
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_message_dissociate] (
    @messageID INT,
    @userID INT,
    @employeeID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    -- Written by Asira on 7/27/2023 ... remove the sender from a message

    DECLARE @checkID INT = NULL
    IF @checkID IS NULL SELECT @checkID = fromXID FROM messages WHERE messageID = @messageID AND fromLTID = 1 --check if dissociation is by OP (as a user)
    IF @checkID IS NULL SELECT @checkID = fromXID FROM messages WHERE messageID = @messageID AND fromLTID = 2 --check if dissociation is by OP (as an employee)
    IF @checkID IS NULL AND @employeeID IS NULL SELECT @errorMessage = 'A dissociation of a user from their message can only be performed by the OP or an employee' --if null then the dissociator is not the OP or an employee

    IF @errorMessage IS NULL
    BEGIN
        UPDATE messages SET fromLTID = NULL, fromXID = NULL WHERE messageID = @messageID
    END
END
GO
