USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_downloadGroup_edit - modify an existing download group record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_downloadGroup_edit] (
    @groupID INT,
    @groupName VARCHAR(64),
    @groupDescription VARCHAR(MAX),
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkName VARCHAR(MAX)
    SELECT @checkName = downloadGroupName FROM downloadGroups WHERE downloadGroupName = dbo.sqlProtect_xss(@groupName,4) AND downloadGroupID <> @groupID

    IF @checkName IS NULL
    BEGIN
        UPDATE downloadGroups SET
        downloadGroupName = dbo.sqlProtect_xss(@groupName,4),
        downloadGroupDescription = dbo.sqlProtect_xss(@groupDescription,4)
        WHERE downloadGroupID = @groupID
    END

    IF @checkName IS NOT NULL SELECT @errorMessage = CONCAT('The download group name must be unique! "', dbo.sqlProtect_xss(@groupName,4), '" is already used.')

    SELECT ISNULL(@errorMessage, NULL)
END
GO
