USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_collections - retrieves list of collection records
previously vw_entityGroups
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_collections] WITH SCHEMABINDING AS


    SELECT cl.collectionID AS collectionID, cl.parentCollectionID AS parentCollectionID, cl.name AS name, cl.keywords AS keywords, cl.createdOn AS createdOn, cl.isHidden AS isHidden, LE.websiteID AS websiteID
    FROM dbo.collections cl
    INNER JOIN dbo.linkedTables LT ON LT.linkedTableID = 18
    INNER JOIN dbo.linkedEntities LE ON toLTID = 18 AND toXID = cl.collectionID
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IDX_vw_collections]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_vw_collections] ON [dbo].[vw_collections]
(
	[collectionID] ASC,
	[parentCollectionID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [PK_vw_collections]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PK_vw_collections] ON [dbo].[vw_collections]
(
	[collectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
