USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_task_edit - modify an existing task record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_task_edit] (
    @taskID INT,
    @description VARCHAR(256),
    @memo VARCHAR(MAX),
    @assignedByEmployeeID INT,
    @assignedToEmployeeID INT,
    @assignedToProjectID INT,
    @startDate DATETIME,
    @dueDate DATETIME,
    @recurCode VARCHAR(32),
    @errorMessage VARCHAR(256) = NULL OUTPUT
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @dueDate < @startDate SELECT @errorMessage = 'The due date cannot be before the start date.'
    IF @assignedToEmployeeID IS NULL AND @assignedToProjectID IS NULL SELECT @errorMessage = 'Either a projectID, employee, or both need to be assigned this task (it can''t go to no-one).'
    
    IF @errorMessage IS NULL
    BEGIN
        DECLARE @previousAssigneeID INT, @taskLEID BIGINT
        SELECT @previousAssigneeID = assignedToEmployeeID FROM tasks WHERE taskID = @taskID
        SELECT @taskLEID = dbo.fn_linkedEntity_getID(253, @taskID)

        UPDATE tasks 
        SET description = dbo.sqlProtect_xss(@description,4), memo = dbo.sqlProtect_xss(@memo,1), assignedByEmployeeID = dbo.sqlProtect_xss(@assignedByEmployeeID,7), assignedToEmployeeID = dbo.sqlProtect_xss(@assignedToEmployeeID,7), assignedToProjectID = dbo.sqlProtect_xss(@assignedToProjectID,7), startDate = dbo.sqlProtect_xss(CAST(@startDate AS DATETIME),4), dueDate = dbo.sqlProtect_xss(CAST(@dueDate AS DATETIME),4), recurCode = dbo.sqlProtect_xss(@recurCode,6)
        WHERE taskID = @taskID


        --notify if reassignment is made
        IF @previousAssigneeID != @assignedToEmployeeID
        BEGIN
            DECLARE @assignedByLEID BIGINT, @assignedToLEID BIGINT, @notificationContent VARCHAR(MAX), @previousAssignedToLEID BIGINT
            SELECT @assignedByLEID = dbo.fn_linkedEntity_getID(2, @assignedByEmployeeID), @assignedToLEID = dbo.fn_linkedEntity_getID(2, @assignedToEmployeeID)
            SELECT @previousAssignedToLEID = dbo.fn_linkedEntity_getID(2, @previousAssigneeID)

            SELECT @notificationContent = 'The task "' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@taskID AS VARCHAR(10)), dbo.sqlProtect_xss(@description,4)) + '" is now assigned to you with a due date of ' +  ISNULL(CAST(dbo.sqlProtect_xss(CAST(@dueDate AS DATETIME), 4) AS VARCHAR(10)), 'when reasonably possible') + '. It was previously assigned to ' + dbo.fn_entityName_public(2, @previousAssigneeID) + '.'
            EXEC dbo.pr_notification_new @assignedByLEID, @assignedToLEID, @notificationContent

            SELECT @notificationContent = 'The task "' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@taskID AS VARCHAR(10)), dbo.sqlProtect_xss(@description,4)) + '" is no longer assigned to you.'
            EXEC dbo.pr_notification_new @assignedByLEID, @previousAssignedToLEID, @notificationContent

            SELECT @notificationContent = 'The task "' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@taskID AS VARCHAR(10)), dbo.sqlProtect_xss(@description,4)) + '" is now assigned to ' + dbo.fn_entityName_public(2, @assignedToEmployeeID) + ' instead of ' + dbo.fn_entityName_public(2, @previousAssigneeID) + '.'
            EXEC dbo.pr_notification_new @taskLEID, @assignedByLEID, @notificationContent
        END
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
