USE [ectdb]
GO
/*
Written by Asira 08/11/2023
Procedure pr_actionLog_new - insert a log into the actionLog
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_actionLog_new] (
    @userID INT = NULL,
    @sessionID INT,
    @actionID TINYINT,
    @memo VARCHAR(MAX) = NULL,
    @requestFile VARCHAR(28),
    @LTID TINYINT = NULL,
    @XID INT = NULL,
    @URL VARCHAR(2048) = NULL,
    @ipv4 VARCHAR(32) = NULL,
    @ipv6 VARCHAR(64) = NULL
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @userID IS NULL SELECT @userID = ownerID FROM sessions WHERE sessionID = @sessionID

    DECLARE @ipv4_bin BINARY(16), @ipv6_bin BINARY(16)
    SELECT @ipv4_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipv4)), @ipv6_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipv6))

    INSERT INTO actionLog (userID, sessionID, actionID, memo, requestFile, LTID, XID, URL, ipv4, ipv6, actionDate)
    VALUES (dbo.sqlProtect_xss(@userID,7), dbo.sqlProtect_xss(@sessionID,7), dbo.sqlProtect_xss(@actionID,7), dbo.sqlProtect_xss(@memo,2), dbo.sqlProtect_xss(@requestFile,5), dbo.sqlProtect_xss(@LTID,7), dbo.sqlProtect_xss(@XID,7), dbo.sqlProtect_xss(@URL,4), @ipv4_bin, @ipv6_bin, GETDATE())
END
GO
