USE [ectdb]
GO
/*
Written by Asira 07/11/2024 INCOMPLETE
Table shipments - a list of shipments and vital information about them
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipments](
	[shipmentID] [int] IDENTITY(1,1) NOT NULL,
	[shipboxID] [int] NULL,
	[length] [float] NOT NULL,
	[width] [float] NOT NULL,
	[height] [float] NOT NULL,
	[weightLBS] [float] NOT NULL,
	[referenceNumber] [varchar](40) NULL,
 CONSTRAINT [PK_shipments] PRIMARY KEY NONCLUSTERED 
(
	[shipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_shipments]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_shipments] ON [dbo].[shipments]
(
	[shipmentID] ASC,
	[shipboxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD  CONSTRAINT [FK_shipments_shipboxID] FOREIGN KEY([shipboxID])
REFERENCES [dbo].[shipBoxes] ([shipBoxID])
GO
ALTER TABLE [dbo].[shipments] CHECK CONSTRAINT [FK_shipments_shipboxID]
GO
