USE [ectdb]
GO
/*
Written by Asira 04/24/2024
Procedure pr_product_new - Create a new product record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_product_new] (
  @productTypeID INT,
  @description VARCHAR(256),
  @memo VARCHAR(MAX),
  @keywords VARCHAR(MAX),
  @tariffCodeID INT,
  @originCountryID INT,
  @customsDescription VARCHAR(256),
  @websiteID INT,
  @newProductID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    INSERT INTO products (productTypeID, description, memo, tariffCodeID, originCountryID, customsDescription, allowReplies)
    VALUES (dbo.sqlProtect_xss(@productTypeID,7), dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@memo,1), dbo.sqlProtect_xss(@tariffCodeID,7), dbo.sqlProtect_xss(@originCountryID,7), dbo.sqlProtect_xss(@customsDescription,4), 0)

    SELECT @newProductID = SCOPE_IDENTITY()


    SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_productKeywords(@newProductID)), ' ')
    SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

    UPDATE products
    SET keywords = dbo.sqlProtect_xss(@keywords,6)
    WHERE productID = @newProductID


    IF @newProductID IS NOT NULL EXEC dbo.pr_linkedEntity_new 19, @newProductID, @websiteID

    SELECT ISNULL(@newProductID, NULL)
END
GO
