USE [ectdb]
GO
/*
Written by Asira 10/16/2023
View vw_blacklistedIPs - returns a list of blacklisted IP addresses from aclSessions
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_blacklistedIPs] AS

    SELECT ipAddress, CAPTCHAScore, errorScore, locationScore, riskScore, (ISNULL(aclSessions.CAPTCHAScore,0) + ISNULL(aclSessions.errorScore,0) + ISNULL(aclSessions.locationScore,0) + ISNULL(aclSessions.riskScore,0)) AS aclScore
    FROM aclSessions
    WHERE blacklistedIP = 1

GO
