USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Table contactEmailAddresses - an email address linked to a contactID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactEmailAddresses](
	[emailAddressID] [int] IDENTITY(1,1) NOT NULL,
	[ownedByContactID] [int] NOT NULL,
	[emailAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contactEmailAddresses] PRIMARY KEY NONCLUSTERED 
(
	[emailAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_emailAddresses]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_emailAddresses] ON [dbo].[contactEmailAddresses]
(
	[ownedByContactID] ASC,
	[emailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contactEmailAddresses]  WITH CHECK ADD  CONSTRAINT [FK_emailAddresses_contactID] FOREIGN KEY([ownedByContactID])
REFERENCES [dbo].[contacts] ([contactID])
GO
ALTER TABLE [dbo].[contactEmailAddresses] CHECK CONSTRAINT [FK_emailAddresses_contactID]
GO
