USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripForIP - only keep IP valid characters
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_stripForIP](@str VARCHAR(MAX))
Returns VARCHAR(MAX)
AS
Begin

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^0-9:.^a-f,^A-F]%'
    WHILE PatIndex(@keepValues, @str) > 0
      SET @str = Stuff(@str, PatIndex(@keepValues, @str), 1, '')

    RETURN @str
End
GO
