USE [ectdb]
GO
/*
Written by Asira 2024
Table productAttributeTypes - The kinds of attributes (color, size, etc) that can be applied to an productVariant
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productAttributeTypes](
	[productAttributeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[productAttributeTypeDescription] [varchar](64) NOT NULL,
 CONSTRAINT [PK_productAttributeTypes] PRIMARY KEY NONCLUSTERED 
(
	[productAttributeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
