USE [ectdb]
GO
/*
Written by Asira 11/07/2023
Procedure pr_highlight_edit - Modifies an existing highlight record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_highlight_edit] (
    @highlightID INT,
    @highlightTypeID INT,
    @title VARCHAR(128),
    @keywords VARCHAR(MAX),
    @content VARCHAR(MAX),
    @startDate DATETIME,
    @endDate DATETIME,
    @dispOnCollectionID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @content IS NULL SELECT @errorMessage = 'Highlight content is required in order to create a highlight.'
    IF @highlightTypeID IS NULL SELECT @errorMessage = 'Highlight type is required in order to create a highlight.'

    IF @errorMessage IS NULL
    BEGIN
        UPDATE highlights
        SET highlightTypeID = dbo.sqlProtect_xss(@highlightTypeID,7), title = dbo.sqlProtect_xss(@title,4), content = dbo.sqlProtect_xss(@content,1), startDate = ISNULL(dbo.sqlProtect_xss(@startDate,4), DATEADD(day, 1, GETDATE())), endDate = ISNULL(dbo.sqlProtect_xss(@endDate,4), NULL), dispOnCollectionID = dbo.sqlProtect_xss(@dispOnCollectionID,7)
        WHERE highlightID = @highlightID

        EXEC dbo.pr_highlight_updateKeywords @highlightID, @keywords
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
