USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_binTag - returns a file-system-like path or single word tag representing a bin
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_binTag](
  @binID INT,
  @option TINYINT
  )
RETURNS VARCHAR(128)
BEGIN
    --option 0, null: if iv(description), nv(prefix), return basic description
    --option 1: use prefix and traverse up the tree, returning any item that has a prefix

    DECLARE @aTag VARCHAR(255)

    IF @binID IS NOT NULL
    BEGIN
        IF ISNULL(@option, 0) = 0
        BEGIN
            SELECT @aTag = description FROM bins WHERE binID = @binID
        END

        IF ISNULL(@option, 0) = 1
        BEGIN
            DECLARE @binLocationID INT, @binLocationTag VARCHAR(255)
            SELECT @binLocationID = binLocationID FROM bins WHERE binID = @binID
            SELECT @aTag = dbo.fn_binLocationTag(@binLocationID, 1)

            SELECT @aTag = CONCAT(@aTag, ':', description) FROM bins WHERE binID = @binID
        END
    END

    RETURN @aTag
END
GO
