USE [ectdb]
GO
/*
Written by Asira 10/23/2023
Table ecreports - a list of generatable reports
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecreports](
	[ecreportID] [int] IDENTITY(1,1) NOT NULL,
	[tag] [varchar](32) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[memo] [text] NULL,
 CONSTRAINT [PK_ecreports] PRIMARY KEY NONCLUSTERED 
(
	[ecreportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
