USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_aclSessions - retrieves acl records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_aclSessions] AS

    SELECT ipAddress, CAPTCHAScore, errorScore, locationScore, riskScore, blacklistedIP
    FROM aclSessions
    
GO
