USE [ectdb]
GO
/*
Written by Asira 2024
Table entityQueue - a queue or list of entities to be processed in different ways
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entityQueue](
	[entityQueueID] [int] IDENTITY(1,1) NOT NULL,
	[entityQueueTypeID] [int] NOT NULL,
	[entityLEID] [bigint] NOT NULL,
	[ownerLEID] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_entityQueue] PRIMARY KEY NONCLUSTERED 
(
	[entityQueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_entityQueue]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_entityQueue] ON [dbo].[entityQueue]
(
	[entityQueueID] ASC,
	[entityQueueTypeID] ASC,
	[ownerLEID] ASC,
	[entityLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[entityQueue] ADD  CONSTRAINT [DEFAULT_entityQueue_entityQueueTypeID]  DEFAULT ((1)) FOR [entityQueueTypeID]
GO
ALTER TABLE [dbo].[entityQueue] ADD  CONSTRAINT [DEFAULT_entityQueue_count]  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[entityQueue] ADD  CONSTRAINT [DEFAULT_entityQueue_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[entityQueue]  WITH CHECK ADD  CONSTRAINT [FK_entityQueue_entityLEID] FOREIGN KEY([entityLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[entityQueue] CHECK CONSTRAINT [FK_entityQueue_entityLEID]
GO
ALTER TABLE [dbo].[entityQueue]  WITH CHECK ADD  CONSTRAINT [FK_entityQueue_entityQueueTypeID] FOREIGN KEY([entityQueueTypeID])
REFERENCES [dbo].[entityQueueTypes] ([entityQueueTypeID])
GO
ALTER TABLE [dbo].[entityQueue] CHECK CONSTRAINT [FK_entityQueue_entityQueueTypeID]
GO
ALTER TABLE [dbo].[entityQueue]  WITH CHECK ADD  CONSTRAINT [FK_entityQueue_ownerLEID] FOREIGN KEY([ownerLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[entityQueue] CHECK CONSTRAINT [FK_entityQueue_ownerLEID]
GO
