USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactEmailAddress_new - create a new contact email address record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_contactEmailAddress_new] (
    @contactID INT,
    @ownerLEID BIGINT,
    @emailAddress VARCHAR(50),
    @primaryEmail BIT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @contactID IS NULL
    EXEC dbo.pr_contact_new @ownerLEID, @contactID OUTPUT 

    --insert new email address
    INSERT INTO contactEmailAddresses (ownedByContactID, emailAddress)
    VALUES (dbo.sqlProtect_xss(@contactID,7), dbo.sqlProtect_xss(@emailAddress, 4))

    --if new emailAddress is primary
    IF @primaryEmail = 1 UPDATE contacts SET primaryEmailAddressID = SCOPE_IDENTITY() WHERE contactID = @contactID
END
GO
