USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_documents - retrieves list of document records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_documents] WITH SCHEMABINDING AS


    SELECT doc.documentID AS documentID, doc.parentDocumentID AS parentDocumentID, doc.description AS description, doc.keywords AS keywords, doc.date AS date, doc.isHidden AS isHidden, employees.employeeID AS employeeID, users.firstName AS firstName, users.lastName AS lastName, LE.websiteID AS websiteID
    FROM dbo.documents AS doc
    INNER JOIN dbo.employees on doc.authorID = employees.employeeID
    INNER JOIN dbo.users on employees.userID = users.userID
    INNER JOIN dbo.linkedEntities LE ON toLTID = 9 AND toXID = doc.documentID
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IDX_vw_documents]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_vw_documents] ON [dbo].[vw_documents]
(
	[documentID] ASC,
	[parentDocumentID] ASC,
	[websiteID] ASC,
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [PK_vw_documents]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PK_vw_documents] ON [dbo].[vw_documents]
(
	[documentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
