USE [ectdb]
GO
/*
Written by Asira 2024
Table aclSessions - Associates how risky a session is to its IP address ... also for blacklisting IPs
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aclSessions](
	[ipAddress] [binary](16) NOT NULL,
	[CAPTCHAScore] [smallint] NULL,
	[errorScore] [smallint] NULL,
	[locationScore] [smallint] NULL,
	[riskScore] [smallint] NULL,
	[blacklistedIP] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aclSessions] ADD  CONSTRAINT [DEFAULT_aclSessions_blacklistedIP]  DEFAULT ((0)) FOR [blacklistedIP]
GO
