USE [ectdb]
GO
/*
Written by Asira 2023
Table tasks - tasks assigned (to and from whom) ... can depend on another task being complete first. projectID foreign key should be added to group tasks into projects (optionally; currently they reside in task list under employee button and this should be kept either way)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[taskID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](256) NOT NULL,
	[memo] [varchar](max) NULL,
	[assignedByEmployeeID] [int] NOT NULL,
	[assignedToEmployeeID] [int] NULL,
	[assignedToProjectID] [int] NULL,
	[predecessorOfTaskID] [int] NULL,
	[startDate] [datetime] NOT NULL,
	[dueDate] [datetime] NULL,
	[completeDate] [datetime] NULL,
	[recurCode] [varchar](32) NULL,
 CONSTRAINT [PK_tasks] PRIMARY KEY NONCLUSTERED 
(
	[taskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_tasks]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_tasks] ON [dbo].[tasks]
(
	[taskID] ASC,
	[predecessorOfTaskID] ASC,
	[assignedByEmployeeID] ASC,
	[assignedToEmployeeID] ASC,
	[assignedToProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tasks_dependancy]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_tasks_dependancy] ON [dbo].[tasks]
(
	[taskID] ASC,
	[predecessorOfTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tasks] ADD  CONSTRAINT [DEFAULT_tasks_taskDate]  DEFAULT (CONVERT([datetime],CONVERT([date],getdate()+(1)))) FOR [startDate]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assignedBy] FOREIGN KEY([assignedByEmployeeID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assignedBy]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assignedToEmp] FOREIGN KEY([assignedToEmployeeID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assignedToEmp]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_assignedToProj] FOREIGN KEY([assignedToProjectID])
REFERENCES [dbo].[projects] ([projectID])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_assignedToProj]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_dependancyTaskID] FOREIGN KEY([predecessorOfTaskID])
REFERENCES [dbo].[tasks] ([taskID])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_dependancyTaskID]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [CHK_tasks_assignedTo] CHECK  (([assignedToEmployeeID] IS NOT NULL OR [assignedToProjectID] IS NOT NULL))
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [CHK_tasks_assignedTo]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'finishBeforeTaskID tasks need to be compelted before their "parent" task' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tasks', @level2type=N'INDEX',@level2name=N'idx_tasks_dependancy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'finishBeforeTaskID tasks need to be finished before their "parent"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tasks', @level2type=N'CONSTRAINT',@level2name=N'FK_tasks_dependancyTaskID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'At least one must be assigned' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tasks', @level2type=N'CONSTRAINT',@level2name=N'CHK_tasks_assignedTo'
GO
