USE [ectdb]
GO
/*
Written by Darin Andersen pre-2022
Refactored by Asira circa 2023
Function fn_dateGroup - generally used to group related dates together
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_dateGroup](
  @date datetime,
  @grouping TINYINT
  )
RETURNS DATETIME

AS  
BEGIN 
/* 
  grouping
  0 - day
  1 - month
  2 - year
  3 - week
  4 - quarter
  5 - bi-week - a
  6 - bi-week - b
*/

  DECLARE @newDate DATETIME, @month TINYINT, @day TINYINT, @year SMALLINT, @quarter SMALLINT

  Select @month=MONTH(@date)
  Select @day=DAY(@date)
  Select @year=YEAR(@date)
  Select @quarter=DATEPART(qq, @date)



  IF @grouping = 1 SELECT @day = 1
  IF @grouping = 2  Begin  Select @Day=1  Select @Month=1  End 



  --quarterly grouping pull all days back to the first day of the quarter (i.e. Jan 1, Apr 1, July1, Oct 1)
  IF @grouping = 4
  BEGIN

    --check date to see which quarter it falls in
    if @quarter = 1  BEGIN Select @day = 1 Select @month = 1  END
    if @quarter = 2  BEGIN Select @day = 1 Select @month = 4  END
    if @quarter = 3  BEGIN Select @day = 1 Select @month = 7  END
    if @quarter = 4  BEGIN Select @day = 1 Select @month = 10 END
  END



  IF @grouping = 3 --weekly grouping pull all days of the week back to Sunday (i.e. first day of the week)
    SELECT @newDate = DATEADD(WEEK, DATEDIFF(WEEK, '19050101', @date), '19050101')

  ELSE IF @grouping = 5 -- biWeekly - A
    SELECT @newDate = CAST(CAST(@date AS INT) + 1 - (CAST(@date AS INT) + 1) % 14 - 1 AS DATETIME)

  ELSE IF @grouping = 6 -- biWeekly - B
    SELECT @newDate = CAST(CAST(@date AS INT) + 8 - (CAST(@date AS INT) + 8) % 14 - 8 AS DATETIME)

  ELSE   
    Select @newDate = CAST(CAST(@month AS varchar(2)) + '/' + CAST(@day AS varchar(2)) + '/' + CAST(@year AS VARCHAR(4)) as DATETIME)
 


  RETURN @newDate
END
GO
