USE [ectdb]
GO
/*
Written by Asira 10/17/2023
Table settings - set settings bound to a specific user (used to populated sessionStorage)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[settingID] [int] IDENTITY(1,1) NOT NULL,
	[settingTypeID] [int] NOT NULL,
	[settingValueID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_settings] PRIMARY KEY NONCLUSTERED 
(
	[settingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_settings_userSetting] UNIQUE NONCLUSTERED 
(
	[userID] ASC,
	[settingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_settings]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_settings] ON [dbo].[settings]
(
	[userID] DESC,
	[settingTypeID] ASC,
	[settingValueID] ASC,
	[settingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[settings] ADD  CONSTRAINT [DEFAULT_settings_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[settings]  WITH CHECK ADD  CONSTRAINT [FK_settings_settingValueType] FOREIGN KEY([settingValueID], [settingTypeID])
REFERENCES [dbo].[settingValues] ([settingValueID], [settingTypeID])
GO
ALTER TABLE [dbo].[settings] CHECK CONSTRAINT [FK_settings_settingValueType]
GO
ALTER TABLE [dbo].[settings]  WITH CHECK ADD  CONSTRAINT [FK_settings_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[settings] CHECK CONSTRAINT [FK_settings_userID]
GO
