USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_acl_blacklistIP - blacklist an IP to prevent it from reaching the website(s)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_acl_blacklistIP] (
    @ipaddress VARCHAR(39),
    @blacklist BIT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkIP BINARY(16), @ip_bin BINARY(16)
    SELECT @ip_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipAddress))
    SELECT @checkIP = ipAddress FROM aclSessions WHERE ipAddress = @ip_bin

    IF @checkIP IS NOT NULL --it exists and record needs to be updated
    UPDATE aclSessions SET blacklistedIP = dbo.sqlProtect_xss(ISNULL(@blacklist, 0),7), riskScore = dbo.sqlProtect_xss(IIF(@blacklist = 1, 999, 0),7) WHERE ipAddress = @ip_bin

    IF @checkIP IS NULL -- new record and ban
    INSERT INTO aclSessions (ipaddress, riskScore, blacklistedIP)
    VALUES (@ip_bin, dbo.sqlProtect_xss(IIF(@blacklist = 1, 999, 0),7), dbo.sqlProtect_xss(ISNULL(@blacklist, 0),7))

    --terminate session so it can't keep being used
    IF ISNULL(@blacklist, 0) = 1
    DELETE FROM sessions WHERE ipv4 = @ip_bin OR ipv6 = @ip_bin
END
GO
