USE [ectdb]
GO
/*
Written by Asira 2022
Table shortcuts - virtual links between two (or hypothetically more) entity records. Used to quickly move between related items on the console and to bind externalLinks and notes.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shortcuts](
	[shortcutID] [int] IDENTITY(1,1) NOT NULL,
	[shortcutGroupID] [int] NOT NULL,
	[LEID] [bigint] NOT NULL,
 CONSTRAINT [PK_shortcuts] PRIMARY KEY NONCLUSTERED 
(
	[shortcutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_shortcuts]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_shortcuts] ON [dbo].[shortcuts]
(
	[shortcutID] ASC,
	[LEID] ASC,
	[shortcutGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[shortcuts]  WITH CHECK ADD  CONSTRAINT [FK_shortcuts_LEID] FOREIGN KEY([LEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[shortcuts] CHECK CONSTRAINT [FK_shortcuts_LEID]
GO
