USE [ectdb]
GO
/*
Written by Asira 06/11/2022
Table Function tb_employee_getData - retrieves data about the employee for the employee object
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_employee_getData]
(
    @employeeID INT
)
RETURNS @aTable TABLE(LEID BIGINT, clockState BIT, preferredName VARCHAR(MAX), quickPin VARCHAR(4))
AS
BEGIN
    DECLARE @LEID BIGINT, @clockState BIT, @preferredName VARCHAR(MAX), @quickPin VARCHAR(4)



    --CLOCK STATE
    DECLARE @lastEndTime DATETIME
    SELECT TOP(1) @lastEndTime = endDateTime FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = CAST(1 AS BIT) AND deleted = 0 ORDER BY timeEntryID DESC --select the last end time of the employee timeclock, for specific employee

    IF EXISTS (SELECT timeEntryID FROM timeEntries WHERE startDateTime IS NOT NULL AND startDateTime < GETDATE() AND endDateTime IS NULL AND employeeID = @employeeID AND isTimeClockEntry = CAST(1 AS BIT) AND deleted = 0)
        SET @clockState = 1  --clockState is set to true if employee is currently clocked in, but not if they have a designated start time

    IF @lastEndTime > GETDATE() --employee is still clocked in, but with a designated end time
        SET @clockState = 1  --clockState is set to true if employee is currently clocked in



    --PREFERRED NAME & QUICK PIN
    SELECT @preferredName = ISNULL(employees.preferredName, dbo.fn_entityName_public(2, @employeeID)), @quickPin = quickPin FROM employees WHERE employeeID = @employeeID


    --EmployeeLEID
    SELECT @LEID = dbo.fn_linkedEntity_getID(2, @employeeID)


    INSERT INTO @aTable SELECT ISNULL(@LEID, NULL) AS LEID, ISNULL(@clockState, 0) AS clockState, ISNULL(@preferredName, NULL) AS preferredName, ISNULL(@quickPin, '0000') AS quickPin
    RETURN
END
GO
