USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_sessionsAndACL - retrieves list of sessions AND other ACL sessions... not to use for quick look up, but for commprehensive report (ecreport_sessions)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_sessionsAndACL] AS


    SELECT sessionType, sessionID, ownerID, actingOwnerID, expires, persist, ipv4, ipv6, loginAttempts, aclScore, cookie, browserString, websiteID, firstName, lastName, blacklistedIP FROM (
        SELECT 'Regular' AS sessionType, sessions.sessionID, sessions.ownerID, sessions.actingOwnerID, CONVERT(DATETIME, ROUND(CONVERT(FLOAT, sessions.expires, 101), 0, 1), 101) AS expires, sessions.persist, sessions.ipv4, sessions.ipv6, sessions.loginAttempts, dbo.fn_session_aclScore(sessions.sessionID) AS aclScore, sessions.cookie, sessions.browserString, sessions.websiteID, users.firstName, users.lastName, 0 AS blacklistedIP
        FROM sessions
        LEFT JOIN users ON sessions.ownerID = users.userID

        UNION ALL

        SELECT 'ACL' AS sessionType, NULL AS sessionID, NULL AS ownerID, NULL AS actingOwnerID, NULL AS expires, NULL AS persist,
        IIF(SUBSTRING(ipAddress, 1, 12) = 0x000000000000000000000000, ipAddress, NULL) AS ipv4, IIF(SUBSTRING(ipAddress, 1, 12) <> 0x000000000000000000000000, ipAddress, NULL) AS ipv6, 
        NULL AS loginAttempts, ISNULL(CAPTCHAScore + errorScore + locationScore + riskScore, 0) AS aclScore, NULL AS cookie, NULL AS browserString, NULL AS websiteID, NULL AS firstName, NULL AS lastName, blacklistedIP
        FROM aclSessions acl
        WHERE NOT EXISTS (SELECT 1 FROM sessions reg WHERE (SUBSTRING(ipAddress, 1, 12) = 0x000000000000000000000000 AND reg.ipv4 = acl.ipAddress) OR (SUBSTRING(ipAddress, 1, 12) <> 0x000000000000000000000000 AND reg.ipv6 = acl.ipAddress))
    ) t1
    WHERE t1.blacklistedIP = 0
    GROUP BY sessionType, websiteID, expires, ownerID, actingOwnerID, aclScore, ipv4, ipv6, loginAttempts, lastName, firstName, sessionID, cookie, persist, browserString, blacklistedIP

GO
