USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_sessions - retrieves list of sessions
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sessions] AS

    SELECT sessions.sessionID, sessions.ownerID, sessions.actingOwnerID, CONVERT(DATETIME, ROUND(CONVERT(FLOAT, sessions.expires, 101), 0, 1), 101) AS expires, sessions.persist, sessions.ipv4, sessions.ipv6, sessions.loginAttempts, dbo.fn_session_aclScore(sessions.sessionID) AS aclScore, sessions.cookie, sessions.browserString, sessions.websiteID, users.firstName, users.lastName
    FROM sessions
    LEFT JOIN users ON sessions.ownerID = users.userID

GO
