USE [ectdb]
GO
/*
Written by Asira 07/10/2024
Table Function tb_entityBarcode_decode - decodes a barcode into LTID, XID, and LEID (if applicable) or just a vanilla value (if not)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_entityBarcode_decode]
(
    @barcode VARCHAR(17)    --MAKE SURE TO PASS IN BARCODE AS STRING, NOT INT; OTHERWISE, PRECEDING 0s AND THE LIKE MAY BE REMOVED!!
)
RETURNS @barcodeDecoded TABLE (
    LTID TINYINT NULL,
    XID BIGINT NULL,
    LEID BIGINT NULL,
    barcodeVal VARCHAR(16)
)
AS
BEGIN

    DECLARE @LTID TINYINT, @XID BIGINT, @LEID BIGINT, @barcodeVal VARCHAR(16)                   --containers for output values
    DECLARE @tempBarcode VARCHAR(17)                                                            --container for temporary operations
    DECLARE @symbology VARCHAR(20)                                                              --begin by decoding symbology

         IF ISNUMERIC(@barcode) = 1 AND LEN(@barcode) = 12 SELECT @symbology = 'UPC'            --if upc lookup fails, universal barcode will be tried later. same thing applies to ean13
    ELSE IF ISNUMERIC(@barcode) = 1 AND LEN(@barcode) = 13 SELECT @symbology = 'EAN13'
    ELSE IF LEFT(@barcode, 1) IN ('A','B') AND RIGHT(@barcode, 1) IN ('A','B') SELECT @symbology = 'codabar'
    ELSE SELECT @symbology = 'c128' --or code 39
    IF @symbology = 'EAN13' AND LEFT(@barcode, 1) = '0' SELECT @symbology = 'UPC', @barcode = CAST(RIGHT(@barcode, LEN(@barcode) - 1) AS VARCHAR(12))    --UPC is formatted the same as EAN13, but is a preceding 0 followed by 12 digits of the UPC

    --DECODE FOR UPC / EAN13
    IF @LTID IS NULL AND @symbology IN ('UPC', 'EAN13')
    BEGIN
        SELECT @LTID = 20, @XID = productVariantID FROM productVariants WHERE UPC = @barcode
        IF @XID IS NOT NULL SELECT @LEID = dbo.fn_linkedEntity_getID(20, @XID)                      --valid product, get remaining information
        IF @XID IS NULL SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = @barcode      --invalid product, reset columns
    END


    --DECODE FOR codabar (not currently in use)
    /*
    IF @LTID IS NULL AND @symbology = 'codabar'
    BEGIN
        decode for codabar
    END
    */


    --DECODE FOR c128/c39
    IF @LTID IS NULL AND @symbology = 'c128'
    BEGIN
        IF ISNUMERIC(@barcode) = 1 --c128c
        BEGIN
            SELECT @tempBarcode = LEFT(@barcode, LEN(@barcode) - 4)                                 --get barcode less the LEIDCheck
            SELECT @XID = CAST(@tempBarcode/256 AS BIGINT)
            SELECT @LTID = CAST(@tempBarcode - (@XID * 256) AS TINYINT)
            SELECT @LEID = dbo.fn_linkedEntity_getID(@LTID, @XID)
            
            --attempting to decode universal entity barcode... got LTID, XID, and LEID. Now validating.
            IF @LEID IS NOT NULL
            BEGIN
                DECLARE @LEIDCheck VARCHAR(4)
                SELECT @LEIDCheck = RIGHT(CAST(@LEID AS VARCHAR(MAX)), 4)                            --get right four digits of LEID for check
                WHILE LEN(@LEIDCheck) < 4 BEGIN SELECT @LEIDCheck = '0' + @LEIDCheck END            --if less than four digits, make it four digits long

                IF @LEIDCheck = RIGHT(@barcode, 4) SELECT @barcodeVal = @barcode                    --valid universal barcode. store vals for return
                ELSE SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = NULL             --invalid universal barcode. generic c128 or c39 instead.
            END

            --not a universal entity barcode. decode as generic c128/c39 instead
            IF @LEID IS NULL
            BEGIN
                IF LEN(@barcode) % 2 = 1 SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = NULL         --odd length is invalid
                ELSE                     SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = @barcode     --c128/c39 is last checked val
            END
        END

        -- IF ISNUMERIC(@barcode) = 0 --c128a/b or c39
        -- BEGIN
            -- --Not currently using c128a/b or c39 ... all three of these use alpha characters as well. Added this section here just in case they are used in the future
            -- SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = @barcode
        -- END
    END


    --lookup shipments
    IF @LTID IS NULL
    BEGIN
        SELECT @LTID = 32, @XID = shipmentID FROM shipments WHERE referenceNumber = @barcode
        IF @XID IS NOT NULL SELECT @LEID = dbo.fn_linkedEntity_getID(32, @XID)                      --valid shipment, get remaining information
        IF @XID IS NULL SELECT @LTID = NULL, @XID = NULL, @LEID = NULL, @barcodeVal = @barcode      --invalid shipment, reset columns
    END


    INSERT INTO @barcodeDecoded
    SELECT @LTID, @XID, @LEID, @barcodeVal
    RETURN
END
GO
