USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_asset - retrieves data for a single assset
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_asset] AS


    SELECT assets.assetID, assets.assetDescription, assets.aquisitionDate, assets.aquisitionPrice, assets.referenceNumber, assets.locationLTID, assets.locationXID, assets.inventoriedDate, assets.assetMemo, assets.assetTypeID, assetTypes.assetTypeDescription, organizations.name AS organizationName, organizations.organizationID, IIF(assets.locationLTID = 13, dbo.fn_binLocationTag(assets.locationXID, 1), IIF(assets.locationLTID = 14, dbo.fn_binTag(assets.locationXID, 1), NULL)) AS locationTag, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID
    FROM assets
    LEFT JOIN linkedTables ON 6 = linkedTables.linkedtableID
    LEFT JOIN assetTypes ON assets.assetTypeID = assetTypes.assetTypeID
    LEFT JOIN organizations ON assets.aquiredFromOrganizationID = organizations.organizationID
    LEFT JOIN linkedEntities LE ON toLTID = 6 AND toXID = assetID
    
GO
