USE [ectdb]
GO
/*
Written by Asira 06/26/2024
View vw_shipBox - retrieves data for a single shipBox
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_shipBox] AS


    SELECT shipBoxes.shipBoxID, shipBoxes.shipBoxMaterialID, shipBoxes.description, shipBoxes.length, shipBoxes.width, shipBoxes.height, shipBoxes.boxWeight, dbo.fn_shipBox_estimatedWeight(shipBoxes.shipBoxMaterialID, ISNULL(shipBoxes.length,0), ISNULL(shipBoxes.width,0), ISNULL(shipBoxes.height,0)) AS estimatedWeight, shipBoxes.maxWeight, shipBoxes.ulineModel, shipBoxes.ulinePrice, shipBoxes.inActive, shipBoxMaterials.shipBoxMaterial, dbo.fn_entityImage(LE.linkedEntityID, 1) AS iconURL, LE.websiteID
    FROM shipBoxes
    LEFT JOIN shipBoxMaterials ON shipBoxes.shipBoxMaterialID = shipBoxMaterials.shipBoxMaterialID
    LEFT JOIN linkedEntities LE ON toLTID = 33 AND toXID = shipBoxes.shipBoxID

GO
