USE [ectdb]
GO
/*
Written by Asira 2022
Table linkedTables - the different types of entities that can exist in the console
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkedTables](
	[linkedTableID] [tinyint] NOT NULL,
	[tableName] [varchar](75) NOT NULL,
	[primaryKey] [varchar](75) NOT NULL,
	[description] [varchar](64) NOT NULL,
	[tableTag] [varchar](3) NOT NULL,
	[inSearchIndex] [bit] NOT NULL,
	[searchRankFactor] [float] NULL,
	[iconURL] [varchar](128) NULL,
 CONSTRAINT [PK_linkedTables] PRIMARY KEY NONCLUSTERED 
(
	[linkedTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[linkedTables] ADD  DEFAULT ((0)) FOR [inSearchIndex]
GO
ALTER TABLE [dbo].[linkedTables] ADD  DEFAULT ((0.5)) FOR [searchRankFactor]
GO
