USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_contactAddress_edit - modify an address FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_contactAddress_edit] (
    @addressID INT,
    @contactID INT,
    @recipient VARCHAR(101),
    @company VARCHAR(128) = NULL,
    @address1 VARCHAR(50),
    @address2 VARCHAR(50) = NULL,
    @city VARCHAR(50),
    @territoryID INT,
    @zipcode VARCHAR(10),
    @countryID INT,
    @billingAddress INT,
    @shippingAddress INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkOwnerID INT
    SELECT @checkOwnerID = ownedByContactID FROM contactAddresses WHERE addressID = @addressID AND ownedByContactID = @contactID

    IF @checkOwnerID IS NOT NULL --the person editing the number is the owner
    BEGIN
        --make changes to the address entry
        UPDATE contactAddresses
        SET recipient = dbo.sqlProtect_xss(@recipient,5), company = dbo.sqlProtect_xss(@company,5), address1 = dbo.sqlProtect_xss(@address1,4), address2 = dbo.sqlProtect_xss(@address2,4), city = dbo.sqlProtect_xss(@city,5), territoryID = dbo.sqlProtect_xss(@territoryID,7), zipcode = dbo.fn_zipcode_formatted(@zipcode), countryID = dbo.sqlProtect_xss(@countryID,7)
        WHERE addressID = @addressID AND ownedByContactID = @contactID


        --if the address is a billing address, set it as the billingAddress for the entity
        IF @billingAddress = 1 UPDATE contacts SET primaryBillAddressID = @addressID WHERE contactID = @contactID

        --if the new address is a shipping address, set it as the shippingAddress for the entity
        IF @shippingAddress = 1 UPDATE contacts SET primaryShipAddressID = @addressID WHERE contactID = @contactID
    END

    IF @checkOwnerID IS NULL SELECT @errorMessage = 'You are not the owner of this address and cannot edit it.'
    SELECT ISNULL(@errorMessage, NULL)
GO
