USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactPhoneNumber_edit - modify an existing phone number record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contactPhoneNumber_edit] (
    @phoneNumberID INT,
    @contactID INT,
    @recipient VARCHAR(101),
    @phoneNumberTypeID INT,
    @phoneNumber VARCHAR(17),
    @phoneNumberExtension VARCHAR(4),
    @primaryPhone INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --makes changes to the phone number
    UPDATE contactPhoneNumbers
    SET recipient = dbo.sqlProtect_xss(@recipient,5), phoneNumberTypeID = dbo.sqlProtect_xss(@phoneNumberTypeID,7), phoneNumber = dbo.sqlProtect_xss(dbo.fn_phoneNumber_formatted(@phoneNumber),4), phoneNumberExtension = dbo.sqlProtect_xss(@phoneNumberExtension,7)
    WHERE phoneNumberID = @phoneNumberID AND ownedByContactID = @contactID

    --if the phoneNumber is a primary phone, set it as the primary phone for the entity
    IF @primaryPhone = 1 UPDATE contacts SET primaryPhoneNumberID = @phoneNumberID WHERE contactID = @contactID
END
GO
