USE [ectdb]
GO
/*
Written by Asira 07/2024
Procedure pr_entityQueue_edit - modify an entity queue entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_entityQueue_edit] (
  @entityQueueID INT,
  @quantity INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @quantity < 0 SET @quantity = 0

    UPDATE entityQueue
    SET quantity = (dbo.sqlProtect_xss(@quantity,7))
    WHERE entityQueueID = dbo.sqlProtect_xss(@entityQueueID,7)
END
GO
