USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_website_new - create a new website record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_website_new](
    @websiteURL VARCHAR(2048),
    @websiteName VARCHAR(255),
    @cookieTag VARCHAR(6),
    @newWebsiteID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkURL VARCHAR(2048), @checkName VARCHAR(255)
    SELECT @checkURL = websiteURL FROM websites WHERE websiteURL = dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(dbo.fn_stripProtocol_HTTP(@websiteURL)),4)
    SELECT @checkName = description FROM websites WHERE description = @websiteName

    IF @checkURL IS NULL AND @checkName IS NULL AND @cookieTag IS NOT NULL
    BEGIN
        INSERT INTO websites (websiteURL, description, cookieTag)
        VALUES (dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(LOWER(dbo.fn_stripProtocol_HTTP(@websiteURL))),4), dbo.sqlProtect_xss(@websiteName,4), UPPER(dbo.fn_stripNonAlpha(@cookieTag)))

        SELECT @newWebsiteID = SCOPE_IDENTITY()
        EXEC dbo.pr_linkedEntity_new 102, @newWebsiteID, 1 --always set websiteID to 1, so only the original website can view other websites
        EXEC dbo.pr_website_autoConfig @websiteURL, @newWebsiteID --automatically configure the new website
    END


    IF @cookieTag IS NULL SELECT @errorMessage = 'A 6-character cookie tag is required to create a new website.'
    IF @checkName IS NOT NULL SELECT @errorMessage = 'This website domain (not including subdomains) has already been used. Please choose a unique domain.'
    IF @checkURL IS NOT NULL SELECT @errorMessage = 'This website domain (not including subdomains) has already been used. Please choose a unique domain.'
    IF @checkName IS NOT NULL AND @checkURL IS NOT NULL SELECT @errorMessage = 'Both the website name and domain (not including subdomains) supplied have already been used. Please choose a unique name and domain.'

    SELECT ISNULL(@errorMessage, NULL), ISNULL(@newWebsiteID, NULL)
END
GO
