USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactAddress_delete - delete an address record for a contact
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contactAddress_delete] (
    @addressID INT,
    @contactID INT
)
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

    --is the address a shipping or billing address (or both)?
    DECLARE @shipBit BIT = 0, @billBit BIT = 0
    SELECT @shipBit = 0, @billBit = 0

    SELECT @shipBit = IIF(primaryShipAddressID = @addressID, 1, 0),
           @billBit = IIF(primaryBillAddressID = @addressID, 1, 0)
    FROM contacts
    WHERE contactID = @contactID AND (primaryShipAddressID = @addressID OR primaryBillAddressID = @addressID)

    IF @shipBit = 1 UPDATE contacts SET primaryShipAddressID = NULL WHERE contactID = @contactID
    IF @billBit = 1 UPDATE contacts SET primaryBillAddressID = NULL WHERE contactID = @contactID

    --delete the address
    DELETE FROM contactAddresses WHERE addressID = @addressID
GO
