USE [ectdb]
GO
/*
Written by Asira 07/21/2022
Function fn_voteScore - sums the total votes cast to an entity (used to store for quicker lookup)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_voteScore](
  @toLinkedEntityID INT
  )
RETURNS SMALLINT
BEGIN
    DECLARE @voteScore SMALLINT

    SELECT @voteScore = SUM(CAST(ISNULL(voteValue,0) AS INT)) FROM voteLedger
    WHERE toLinkedEntityID = @toLinkedEntityID

    RETURN ISNULL(@voteScore, 0)
END
GO
