USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_document - retrieves a single document record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_document] AS


    SELECT doc.documentID, doc.parentDocumentID, doc.description, doc.keywords, doc.date, doc.documentContent, doc.allowReplies, doc.isHidden, doc.authorNameOverride AS authorName, doc.priority, employees.employeeID, users.firstName, users.lastName, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription, LE.websiteID
    FROM documents AS doc
    LEFT JOIN linkedTables ON 9 = linkedTables.linkedTableID
    LEFT JOIN employees ON doc.authorID = employees.employeeID
    LEFT JOIN users ON employees.userID = users.userID
    LEFT JOIN linkedEntities LE ON toLTID = 9 AND toXID = doc.documentID
    
GO
