USE [ectdb]
GO
/*
Written by Asira 10/26/2023
Table linkedEntities_reported - A list of entities (e.g. images, users, etc) that have been reported for content violations
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkedEntities_reported](
	[reportedID] [int] IDENTITY(1,1) NOT NULL,
	[reportedLEID] [bigint] NOT NULL,
	[reasonID] [int] NOT NULL,
	[details] [varchar](max) NULL,
	[reportedByUserID] [int] NOT NULL,
	[reportedOn] [datetime] NOT NULL,
	[resolved] [bit] NOT NULL,
	[resolvedOn] [datetime] NULL,
	[resolvedByEmployeeID] [int] NULL,
	[resolutionDetails] [varchar](max) NULL,
 CONSTRAINT [PK_linkedEntities_reported] PRIMARY KEY NONCLUSTERED 
(
	[reportedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_linkedEntities_reported_entityReportedBy] UNIQUE NONCLUSTERED 
(
	[reportedLEID] ASC,
	[reportedByUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_linkedEntities_reported]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_linkedEntities_reported] ON [dbo].[linkedEntities_reported]
(
	[reportedID] ASC,
	[reportedLEID] ASC,
	[reasonID] ASC,
	[reportedByUserID] ASC,
	[resolvedByEmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[linkedEntities_reported] ADD  CONSTRAINT [DEFAULT_linkedEntities_reported_reportedOn]  DEFAULT (getdate()) FOR [reportedOn]
GO
ALTER TABLE [dbo].[linkedEntities_reported] ADD  CONSTRAINT [DEFAULT_linkedEntities_reported_resolved]  DEFAULT ((0)) FOR [resolved]
GO
ALTER TABLE [dbo].[linkedEntities_reported]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_reported_linkedEntities_employeeID] FOREIGN KEY([resolvedByEmployeeID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[linkedEntities_reported] CHECK CONSTRAINT [FK_linkedEntities_reported_linkedEntities_employeeID]
GO
ALTER TABLE [dbo].[linkedEntities_reported]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_reported_linkedEntities_reasonID] FOREIGN KEY([reasonID])
REFERENCES [dbo].[linkedEntities_reportReasons] ([reportReasonID])
GO
ALTER TABLE [dbo].[linkedEntities_reported] CHECK CONSTRAINT [FK_linkedEntities_reported_linkedEntities_reasonID]
GO
ALTER TABLE [dbo].[linkedEntities_reported]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_reported_linkedEntityID] FOREIGN KEY([reportedLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[linkedEntities_reported] CHECK CONSTRAINT [FK_linkedEntities_reported_linkedEntityID]
GO
ALTER TABLE [dbo].[linkedEntities_reported]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_reported_userID] FOREIGN KEY([reportedByUserID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[linkedEntities_reported] CHECK CONSTRAINT [FK_linkedEntities_reported_userID]
GO
