USE [ectdb]
GO
/*
Written by Asira 06/12/2024
Procedure pr_entityImage_delete - soft delete (later hard deletes) an entity's custom image
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_entityImage_delete] (
    @LEID BIGINT,
    @deletePaths VARCHAR(MAX) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    /*
    Written by Asira 11/21/2024
    Deletes old entity image
    */

    --mark old image(s) as deleted ... apr_entityImages_cleanup actually deletes old images daily
    UPDATE entityImages SET deleted = 1 WHERE LEID = @LEID AND deleted = 0

    --return JSON object for rows that need to be deleted from file server
    SELECT @deletePaths = (SELECT physicalPath FROM entityImages WHERE LEID = @LEID AND deleted = 1 FOR XML PATH, ROOT('paths'))
    SELECT ISNULL(@deletePaths, NULL)              
END
GO
