USE [ectdb]
GO
/*
Written by Asira 09/22/2023
Function fn_linkedEntity_getWebsiteID - return websiteID from LEID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_linkedEntity_getWebsiteID](
    @linkedEntityID BIGINT
  )
RETURNS INT WITH SCHEMABINDING
  AS
    BEGIN
        DECLARE @websiteID INT
        SELECT @websiteID = websiteID FROM dbo.linkedEntities WHERE linkedEntityID = @linkedEntityID

        RETURN ISNULL(@websiteID, 0)
    END
GO
