USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactEmailAddress_edit - modify an existing email address for a contact
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_contactEmailAddress_edit] (
    @emailAddressID INT,
    @contactID INT,
    @emailAddress VARCHAR(50),
    @primaryEmail BIT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --makes changes to the phone number
    UPDATE contactEmailAddresses
    SET emailAddress = dbo.sqlProtect_xss(@emailAddress,4)
    WHERE emailAddressID = @emailAddressID AND ownedByContactID = @contactID

    --if the phoneNumber is a primary phone, set it as the primary phone for the entity
    IF @primaryEmail = 1 UPDATE contacts SET primaryEmailAddressID = @emailAddressID WHERE contactID = @contactID
END
GO
