USE [ectdb]
GO
/*
Written by Asira 07/2024
Table entityQueueTypes - Different ways a queue can be processed (e.g. labels, locations, etc)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entityQueueTypes](
	[entityQueueTypeID] [int] IDENTITY(1,1) NOT NULL,
	[entityQueueTypeName] [varchar](256) NOT NULL,
	[disabled] [bit] NOT NULL,
 CONSTRAINT [PK_entityQueueTypes] PRIMARY KEY CLUSTERED 
(
	[entityQueueTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[entityQueueTypes] ADD  CONSTRAINT [DEFAULT_entityQueueTypes_disabled]  DEFAULT ((0)) FOR [disabled]
GO
