USE [ectdb]
GO
/*
Written by Asira 04/25/2024
Function fn_productVariants_count - Returns how many variants of a given product exist
previously fn_productVariations_count 
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_productVariants_count](
    @parentProductID INT
)
RETURNS INT
BEGIN
    DECLARE @aCount INT
    
    SELECT @aCount = COUNT(*) FROM productVariants WHERE parentProductID = @parentProductID
    RETURN ISNULL(@aCount, 0)
END
GO
