USE [ectdb]
GO
/*
Written by Asira 11/21/2024
Procedure apr_oldNotification_cleanup - automated/agent cleans up dismissed notifications
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_oldNotification_cleanup]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM notifications
    WHERE acknowledged=1 AND dismissed=1

    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_oldNotification_cleanup', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
