USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_fileFolder_checkPath - ensures a fileFolder path is formatted correctly
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fileFolder_checkPath]
(
  @folderPath VARCHAR(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
    --check path to make sure it starts and ends with a /  ...  this formating is simply more ideal
    DECLARE @leftChar VARCHAR(1), @rightChar VARCHAR(1)
    SELECT @leftChar = LEFT(@folderPath, 1), @rightChar = RIGHT(@folderPath, 1)

    IF NOT(@leftChar = '\') SELECT @folderPath = CONCAT('\', @folderPath)
    IF NOT(@rightChar = '\') SELECT @folderPath = CONCAT(@folderPath, '\')

    RETURN @folderPath
END
GO
