USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_contactAddresses - Returns a list of addresses linked to a contact
previously vw_addresses
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_contactAddresses] AS

    SELECT addresses.addressID, addresses.ownedByContactID, addresses.recipient, addresses.company, addresses.address1, addresses.address2, addresses.city, territories.name AS territoryName, territories.territoryCode AS territoryCode, territories.territoryID, addresses.zipcode, countries.name AS countryName, countries.countryCode AS countryCode, countries.countryID AS countryID
    FROM contactAddresses addresses
    LEFT JOIN territories ON addresses.territoryID = territories.territoryID
    LEFT JOIN countries ON addresses.countryID = countries.countryID
    
GO
