USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_website_edit - modify an existing website
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_website_edit](
  @websiteID INT,
  @websiteURL VARCHAR(2048),
  @websiteName VARCHAR(255),
  @cookieTag VARCHAR(6),
  @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  DECLARE @checkURL VARCHAR(2048), @checkName VARCHAR(255), @currentURL VARCHAR(2048), @currentName VARCHAR(255)
  SELECT @checkURL = websiteURL FROM websites WHERE websiteURL = dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(@websiteURL),4)
  SELECT @checkName = description FROM websites WHERE description = dbo.sqlProtect_xss(@websiteName,4)
  SELECT @currentURL = websiteURL, @currentName = description FROM websites WHERE websiteID = @websiteID

  IF @checkURL = @currentURL SELECT @checkURL = NULL
  IF @checkName = @currentName SELECT @checkName = NULL

  IF @checkURL IS NULL AND @checkName IS NULL AND @cookieTag IS NOT NULL
  BEGIN
    UPDATE websites
    SET websiteURL = dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(LOWER(@websiteURL)),4), description = dbo.sqlProtect_xss(@websiteName,4), cookieTag = UPPER(dbo.fn_stripNonAlpha(@cookieTag))
    WHERE websiteID = @websiteID
  END


  IF @cookieTag IS NULL SELECT @errorMessage = 'A 6-character cookie tag is required to create a new website.'
  IF @checkName IS NOT NULL SELECT @errorMessage = 'This website name has already been used. Please choose a unique name.'
  IF @checkURL IS NOT NULL SELECT @errorMessage = 'This website domain (not including subdomains) has already been used. Please choose a unique domain.'
  IF @checkName IS NOT NULL AND @checkURL IS NOT NULL SELECT @errorMessage = 'Both the website name and domain (not including subdomains) supplied have already been used. Please choose a unique name and domain.'

  SELECT ISNULL(@errorMessage, NULL)
END
GO
