USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_countries - Returns a sorted list of territories/states/provinces and associated countryID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_territories] AS

    SELECT TOP 9999 territoryID, name + ' ' + '(' + territoryCode + ')' AS name, countryID
    FROM territories
    ORDER BY name
       
GO
