USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_shortcut_delete - delete all shortcut records between two entities
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_shortcut_delete]
(
    @LEID BIGINT,
    @targetLEID BIGINT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @targetLTID TINYINT, @targetShortcutGroupID INT  
    SELECT @targetLTID = dbo.fn_linkedEntity_getLTID(@targetLEID)   --notes and external link records get deleted
	
    --get target shortcutGroupID
    SELECT @targetShortcutGroupID = shortcutGroupID
    FROM shortcuts
    WHERE shortcutGroupID IN (SELECT shortcutGroupID FROM shortcuts WHERE LEID = @LEID) --narrow down by this LEID
    AND LEID != @LEID AND LEID = @targetLEID                                            --narrow down by NOT this LEID and is grouped with target


	--delete the linked shortcuts
	DELETE FROM shortcuts WHERE shortcutGroupID = @targetShortcutGroupID


    --delete note or externalLink record
    IF @targetLTID IN (7, 11)
    BEGIN
        DECLARE @targetXID INT, @aWebsiteID INT
        SELECT @targetXID = dbo.fn_linkedEntity_getXID(@targetLEID), @aWebsiteID = dbo.fn_linkedEntity_getWebsiteID(@targetLEID)

        EXEC pr_record_delete @targetLTID, @targetXID, NULL, NULL, @aWebsiteID
    END

END
GO
