USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_warehouse_new - create a new warehouse record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_warehouse_new] (
  @description VARCHAR(128),
  @websiteID INT,
  @newWarehouseID INT = NULL OUTPUT
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  INSERT INTO warehouses (description)
  VALUES(dbo.sqlProtect_xss(@description,4))

  SELECT @newWarehouseID = SCOPE_IDENTITY()
  EXEC dbo.pr_linkedEntity_new 16, @newWarehouseID, @websiteID

  SELECT ISNULL(@newWarehouseID, NULL)
END
GO
