USE [ectdb]
GO
/*
Written by Asira 2024
Table shipBoxMaterials - materials a container may be made from ... used to calculate approximate weight of a container if it is not recorded in shipBoxes
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipBoxMaterials](
	[shipBoxMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[shipBoxMaterial] [varchar](32) NOT NULL,
	[poundsPerSqFt] [float] NOT NULL,
 CONSTRAINT [PK_shipBoxMaterials] PRIMARY KEY NONCLUSTERED 
(
	[shipBoxMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
