USE [ectdb]
GO
/*
Written by Asira 2022
Function sqlProtect_risk - Returns a risk score between 0 and 255, depending on what text is passed in
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sqlProtect_risk](
    @aString TEXT
    )
RETURNS TINYINT
  AS

BEGIN
  DECLARE @risk SMALLINT = 0
  
  IF @aString LIKE '%ajax(%'                SET @risk = @risk + 150
  IF @aString LIKE '%atob(%'                SET @risk = @risk + 75 
  IF @aString LIKE '%document.write(%'      SET @risk = @risk + 25 
  IF @aString LIKE '%document.writeln(%'    SET @risk = @risk + 25 
  IF @aString LIKE '%eval(%'                SET @risk = @risk + 100 
  IF @aString LIKE '%fetch(%'               SET @risk = @risk + 150 
  IF @aString LIKE '%innerHTML(%'           SET @risk = @risk + 25 
  IF @aString LIKE '%localstorage%'         SET @risk = @risk + 200 
  IF @aString LIKE '%onclick%'              SET @risk = @risk + 50  
  IF @aString LIKE '%onerror%'              SET @risk = @risk + 50 
  IF @aString LIKE '%onload%'               SET @risk = @risk + 50 
  IF @aString LIKE '%onMouseOver%'          SET @risk = @risk + 25  
  IF @aString LIKE '%<script%'              SET @risk = @risk + 150 
  IF @aString LIKE '%sessionStorage%'       SET @risk = @risk + 200
  IF @aString LIKE '%window.location(%'     SET @risk = @risk + 200 
  IF @aString LIKE '%XMLHttpRequest%'       SET @risk = @risk + 150    

  IF @risk > 255 SELECT @risk = 255
  RETURN @risk
END
GO
