USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_contactPhoneNumbers - Returns a list of phone numbers linked to a contact
previously vw_phoneNumbers
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_contactPhoneNumbers] AS

    SELECT numbers.ownedByContactID, numbers.phoneNumberID, numbers.phoneNumberTypeID, numbers.recipient, types.description AS typeDescription, numbers.phoneNumber, numbers.phoneNumberExtension
    FROM contactPhoneNumbers numbers
    LEFT JOIN contactPhoneNumberTypes types ON numbers.phoneNumberTypeID = types.phoneNumberTypeID
    
GO
