USE [ectdb]
GO
/*
Written by Asira 2022
Table Function tb_shortcuts - returns a list of shortcuts related to an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[tb_shortcuts] (
  @LEID BIGINT
  )
RETURNS @aTable TABLE (
  dest_shortcutID INT, dest_ltid SMALLINT, dest_xid SMALLINT, dest_leid BIGINT, dest_iconURL VARCHAR(128), dest_description VARCHAR(255)
) AS 
BEGIN

  DECLARE @LTID TINYINT, @XID INT
  SELECT @LTID = dbo.fn_linkedEntity_getLTID(@LEID), @XID = dbo.fn_linkedEntity_getXID(@LEID)
  
  INSERT INTO     @aTable(dest_shortcutID, dest_ltid, dest_xid, dest_leid, dest_iconURL, dest_description)
    SELECT          shortcutID AS dest_shortCutID, dbo.fn_linkedEntity_getLTID(LEID) AS dest_ltid, dbo.fn_linkedEntity_getXID(LEID) AS dest_xid, LEID AS dest_leid,
                    dbo.fn_entityImage(LEID, 2) AS dest_iconURL, dbo.fn_entityName(dbo.fn_linkedEntity_getLTID(LEID), dbo.fn_linkedEntity_getXID(LEID)) AS dest_description
    FROM            shortcuts
    WHERE           shortcutGroupID IN (SELECT shortcutGroupID FROM shortcuts WHERE LEID=@LEID) AND NOT(LEID=@LEID)

  RETURN
END
GO
