USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Function fn_phoneNumbeR_formatted - Arg phoneNumber, strips all formatting, returns standard format depending on length
    if incorrect length, only numbers are returned (improper format entered)
    if len 7    xxxyyyy         =>  xxx-yyyy
    if len 10  aaaxxxyyyy   =>  (aaa) xxx-yyyy
    if len 11  caaaxxxyyyy  =>  +c (aaa) xxx-yyyy
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_phoneNumber_formatted](
  @phoneNumber VARCHAR(17)
  )
RETURNS VARCHAR(17)
BEGIN
    DECLARE @aNumber VARCHAR(255)
    SET @aNumber = @phoneNumber

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^0-9]%'
    WHILE PatIndex(@keepValues, @aNumber) > 0
        SET @aNumber = Stuff(@aNumber, PatIndex(@keepValues, @aNumber), 1, '')


    --len 7   xxxyyyy  =>  xxx-yyyy
    IF LEN(@aNumber) = 7
    BEGIN
        SELECT @aNumber =
            LEFT(@aNumber, 3) + '-' +
            RIGHT(@aNumber, 4)
        RETURN @aNumber
    END


    --len 10  aaaxxxyyyy  =>  (aaa) xxx-yyyy
    IF LEN(@aNumber) = 10
    BEGIN
        SELECT @aNumber =
            '(' + LEFT(@aNumber, 3) + ') ' +
            SUBSTRING(@aNumber, 4, 3) + '-' +
            RIGHT(@aNumber, 4)
        RETURN @aNumber
    END


    --len 11 caaaxxxyyy  =>  +c (aaa) xxx-yyyy
    IF LEN(@aNumber) = 11
    BEGIN
        SELECT @aNumber =
            '+' + LEFT(@aNumber, 1) +
            ' (' + SUBSTRING(@aNumber, 2, 3) + ') ' +
            SUBSTRING(@aNumber, 5, 3) + '-' +
            RIGHT(@aNumber, 4)
        RETURN @aNumber
    END


    RETURN @aNumber --unformatted, but stripped to numeral characters only
END
GO
