USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_markHidden - Marks a document and all descendants as hidden
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_markHidden] (
    @documentID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --update this Doc to be hidden
    UPDATE documents SET isHidden = 1 WHERE documentID = @documentID
  
    --store a list of docID's that need to be marked as hidden
    DECLARE @aTable TABLE (docID INT)
    DECLARE @docID INT = 0
    INSERT INTO @aTable SELECT documentID FROM documents WHERE parentDocumentID = @documentID ORDER BY documentID ASC

    WHILE (1=1)
    BEGIN
        --get next ID
        SELECT TOP 1 @docID = docID
        FROM @aTable
        WHERE docID > @docID
        ORDER BY docID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to depreciate the descendant
        EXEC dbo.pr_document_markHidden @docID
    END
END
GO
