USE [ectdb]
GO
/*
Written by Asira 2022
Table downloadFiles - a list of downloadable files, their physical server path, and download group (for batch .zip downloads)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[downloadFiles](
	[downloadFileID] [int] IDENTITY(1,1) NOT NULL,
	[downloadGroupID] [int] NOT NULL,
	[downloadFilePath] [varchar](260) NULL,
	[downloadFileAlias] [varchar](260) NULL,
 CONSTRAINT [PK_downloadFiles] PRIMARY KEY NONCLUSTERED 
(
	[downloadFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Index_downloadFiles_downloadGroups]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [Index_downloadFiles_downloadGroups] ON [dbo].[downloadFiles]
(
	[downloadFileID] ASC,
	[downloadGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_downloadFiles]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [Index_downloadFiles] ON [dbo].[downloadFiles]
(
	[downloadFileID] ASC,
	[downloadFilePath] ASC,
	[downloadFileAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[downloadFiles]  WITH CHECK ADD  CONSTRAINT [FK_downloadFiles_downloadGroups] FOREIGN KEY([downloadGroupID])
REFERENCES [dbo].[downloadGroups] ([downloadGroupID])
GO
ALTER TABLE [dbo].[downloadFiles] CHECK CONSTRAINT [FK_downloadFiles_downloadGroups]
GO
