USE [ectdb]
GO
/*
Written by Asira 06/11/2022
Procedure pr_user_login - returns userID (or denies) after login attempts
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_login]
(
    @email VARCHAR(255),
    @password VARCHAR(32),
    @persist BIT,
    @sessionID INT,
    @websiteID INT,
    @userID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @attempts INT, @isInactive BIT
    SELECT @attempts = loginAttempts FROM sessions WHERE sessionID = @sessionID
    IF @attempts IS NULL SET @attempts = 0


    SELECT @userID = users.userID, @isInactive = inActive
    FROM users
    LEFT JOIN linkedEntities ON linkedEntities.toLTID = 1 AND linkedEntities.toXID = users.userID
    WHERE users.email = @email AND users.passwordHash = HASHBYTES('SHA2_256', @password) AND linkedEntities.websiteID = @websiteID

    IF @userID IS NULL
    BEGIN
        SET @attempts = @attempts + 1
        UPDATE sessions SET loginAttempts = @attempts WHERE sessionID = @sessionID
        
        IF @attempts > 0 AND @attempts <= 2 SELECT @errorMessage = 'Incorrect email or password.'
        IF @attempts > 2 AND @attempts <= 3 SELECT @errorMessage = 'Incorrect email or password (2 more attempts allowed).'
        IF @attempts > 3 AND @attempts <= 4 SELECT @errorMessage = 'Incorrect email or password (1 more attempt allowed).'
        IF @attempts > 4                    SELECT @errorMessage = 'Too many login attempts. Come back tomorrow or contact customer support.'
    END

    IF @userID IS NOT NULL AND @attempts < 5
    BEGIN
      IF @isInactive = 1
      BEGIN
        SELECT @errorMessage = 'Your account is currently inactive. Please contact customer support to reactive your account.' --user account isn't active
        SELECT @userID = NULL
      END

      IF @isInactive = 0 --active account; can log in
      BEGIN
        DELETE FROM sessionStorage WHERE sessionID = @sessionID --load in the proper user settings and stored items
        UPDATE sessions SET ownerID = @userID, actingOwnerID = @userID, loginAttempts = 0, persist = dbo.sqlProtect_xss(@persist,7), websiteID = dbo.sqlProtect_xss(@websiteID,7) WHERE sessionID = @sessionID
      END
    END

    SELECT ISNULL(@userID, NULL), ISNULL(@errorMessage, NULL)
END
GO
