USE [ectdb]
GO
/*
Written by Asira 2022
Table sessions - a list of current sessions for connected clients. SessionID binds to many things ... cookie used to validate
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[sessionID] [int] IDENTITY(1,1) NOT NULL,
	[ownerID] [int] NULL,
	[actingOwnerID] [int] NULL,
	[cookie] [uniqueidentifier] NOT NULL,
	[expires] [datetime] NOT NULL,
	[persist] [bit] NOT NULL,
	[ipv4] [binary](16) NULL,
	[ipv6] [binary](16) NULL,
	[browserString] [varchar](max) NULL,
	[websiteID] [int] NOT NULL,
	[loginAttempts] [tinyint] NOT NULL,
 CONSTRAINT [PK__sessions] PRIMARY KEY NONCLUSTERED 
(
	[sessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_sessions]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_sessions] ON [dbo].[sessions]
(
	[sessionID] ASC,
	[ownerID] ASC,
	[actingOwnerID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT ((0)) FOR [persist]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT ((0)) FOR [loginAttempts]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [FK_sessions_actingOwnerID] FOREIGN KEY([actingOwnerID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [FK_sessions_actingOwnerID]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [FK_sessions_ownerID] FOREIGN KEY([ownerID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [FK_sessions_ownerID]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [FK_sessions_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [FK_sessions_websiteID]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [CK_sessions_ipAddress] CHECK  (([ipv4] IS NOT NULL OR [ipv6] IS NOT NULL))
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [CK_sessions_ipAddress]
GO
