USE [ectdb]
GO
/*
Written by Asira 2022
Function sqlProtect_html - Strips HTML from input (replaces br, hr with linebreaks, strips repeated linebreaks to one, removes html tags, replaces &nbsp; with spaces, trims whitespace)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sqlProtect_html]
(@HTMLText VARCHAR(MAX))

RETURNS VARCHAR(MAX) AS
BEGIN
    DECLARE @start INT, @end INT, @length INT

    SET @HTMLText = REPLACE(REPLACE(@HTMLText, '<br />', CHAR(13)),'<br/>', CHAR(13))
    SET @HTMLText = REPLACE(REPLACE(@HTMLText, '<hr />', CHAR(13)),'<hr/>', CHAR(13))

    SET @start = CHARINDEX('<',@HTMLText)
    SET @end = CHARINDEX('>',@HTMLText, CHARINDEX('<', @HTMLText))
    SET @length = (@end - @start) + 1

    WHILE @start > 0 AND @end > 0 AND @length > 0
    BEGIN
        SET @HTMLText = STUFF(@HTMLText, @start, @length, '')
        SET @start = CHARINDEX('<', @HTMLText)
        SET @end = CHARINDEX('>', @HTMLText, CHARINDEX('<', @HTMLText))
        SET @length = (@end - @start) + 1
    END

    SET @HTMLText = REPLACE(@HTMLText, '&nbsp;', ' ')
    SET @HTMLText = REPLACE(@HTMLText, CHAR(13)+CHAR(13), CHAR(13))
    
    RETURN LTRIM(RTRIM(@HTMLText))
END
GO
