USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_timeEntries_work - work time-clock entries for employees clocking into/out of work
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_timeEntries_work] AS


    SELECT TOP 999
    GETDATE() AS currentTime, timeEntryID, employeeID, deleted, startDateTime, endDateTime,
    (CONVERT(FLOAT, endDateTime) - CONVERT(FLOAT, startDateTime)) * 24 AS duration,
    dbo.fn_dateGroup(startDateTime, 0) AS dateDay, dbo.fn_dateGroup(startDateTime, 3) AS dateWeek
        
    FROM timeEntries
    WHERE isTimeClockEntry = CAST(1 AS BIT) AND taskID IS NULL AND deleted = 0
    ORDER BY startDateTime DESC, endDateTime DESC, timeEntryID DESC
GO
