USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_userGroup - returns a user group record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_userGroup] AS

    SELECT COUNT(t2.userGroupMembershipID) AS memberCount, t1.userGroupID, t1.groupName, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, t3.description AS iconDescription, LE.websiteID
    FROM userGroups t1
    LEFT JOIN userGroupMemberships t2 ON t1.userGroupID = t2.userGroupID
    LEFT JOIN linkedTables t3 ON 3 = t3.linkedTableID
    LEFT JOIN linkedEntities LE ON toLTID = 3 AND toXID = t1.userGroupID
    GROUP BY t1.userGroupID, t1.groupName, t3.iconURL, t3.description, LE.websiteID, LE.linkedEntityID
    
GO
