USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_websites - returns website records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_websites] AS

    SELECT site.websiteID, site.parentWebsiteID, site.websiteURL, site.description, LE.websiteID AS LE_websiteID
    FROM websites site
    LEFT JOIN linkedEntities LE ON toLTID = 102 AND toXID = site.websiteID

GO
