USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_userGroups - returns a list of user groups
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_userGroups] AS

    /*  retrieves user group records  */

    SELECT t1.userGroupID, t1.groupName, LE.websiteID
    FROM userGroups t1
    LEFT JOIN linkedEntities LE ON toLTID = 3 AND toXID = t1.userGroupID
    
GO
