USE [ectdb]
GO
/*
Written by Asira 07/24/2023
Table Function tb_messageThread - 
  tb_messageThreads is the default view for all comments and replies on entities. It uses weighted values to determine comment/reply order.
  tb_messageThread  is the chronological view for only one comment and its replies.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_messageThread]
  (@linkedEntityID INT)
RETURNS TABLE
AS

RETURN (
    WITH CTE (messageID, parentMessageID, fromLTID, fromXID, sendDate, message, deleted, level, sortBy) AS (
        SELECT      messageID, parentMessageID, fromLTID, fromXID, sendDate, message, deleted, 0 AS level,
                    CAST(ROW_NUMBER() OVER (ORDER BY sendDate DESC, messageID DESC
                    ) AS FLOAT) AS sortBy
        FROM        messages WITH (NOLOCK)
        WHERE       linkedEntityID=@linkedEntityID AND parentMessageID IS NULL

        UNION ALL

        SELECT      c2.messageID, c2.parentMessageID, c2.fromLTID, c2.fromXID, c2.sendDate, c2.message, c2.deleted, CTE.level + 1 AS level,
                    1/POWER(CAST(ROW_NUMBER() OVER (ORDER BY c2.sendDate DESC, c2.messageID DESC)
                    AS FLOAT)*100.0, CTE.level+1.0) + CTE.sortBy AS sortBy
        FROM        messages c2  WITH (NOLOCK)
        INNER JOIN  CTE ON CTE.messageID = c2.parentMessageID
    )

    SELECT TOP(99999) messageID, parentMessageID, fromLTID, fromXID, sendDate, message, deleted, level, sortBy FROM CTE ORDER BY sortBy ASC
)
GO
