USE [ectdb]
GO
/*
Written by Asira 2023
Table fileFolders - A table representation of a file system tree
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fileFolders](
	[fileFolderID] [int] IDENTITY(1,1) NOT NULL,
	[folderName] [varchar](255) NOT NULL,
	[parentFileFolderID] [int] NULL,
	[originLTID] [tinyint] NULL,
	[folderPath] [varchar](max) NULL,
	[date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_fileFolders] PRIMARY KEY NONCLUSTERED 
(
	[fileFolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_fileFolders]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_fileFolders] ON [dbo].[fileFolders]
(
	[fileFolderID] ASC,
	[parentFileFolderID] ASC,
	[originLTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_fileFolder_searchCard]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_fileFolder_searchCard] ON [dbo].[fileFolders]
(
	[fileFolderID] ASC,
	[folderName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fileFolders] ADD  CONSTRAINT [DEFAULT_fileFolders_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[fileFolders]  WITH CHECK ADD  CONSTRAINT [FK_fileFolders_originLTID] FOREIGN KEY([originLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[fileFolders] CHECK CONSTRAINT [FK_fileFolders_originLTID]
GO
ALTER TABLE [dbo].[fileFolders]  WITH CHECK ADD  CONSTRAINT [FK_fileFolders_parentFileFolderID] FOREIGN KEY([parentFileFolderID])
REFERENCES [dbo].[fileFolders] ([fileFolderID])
GO
ALTER TABLE [dbo].[fileFolders] CHECK CONSTRAINT [FK_fileFolders_parentFileFolderID]
GO
ALTER TABLE [dbo].[fileFolders]  WITH CHECK ADD  CONSTRAINT [CK_originLTID_restrictions] CHECK  ((NOT [originLTID]=(7) AND NOT [originLTID]=(11) AND NOT [originLTID]=(12) AND NOT [originLTID]=(13)))
GO
ALTER TABLE [dbo].[fileFolders] CHECK CONSTRAINT [CK_originLTID_restrictions]
GO
ALTER TABLE [dbo].[fileFolders]  WITH CHECK ADD  CONSTRAINT [CK_originLTID_versus_path] CHECK  (([originLTID] IS NULL AND [folderPath] IS NOT NULL OR [folderPath] IS NULL AND NOT [originLTID]=(0)))
GO
ALTER TABLE [dbo].[fileFolders] CHECK CONSTRAINT [CK_originLTID_versus_path]
GO
