USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Procedure pr_serachedItem_refresh - update the searchedItem entry for an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_searchedItem_refresh] (
  @LEID BIGINT
)
AS
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

  DECLARE @keywords VARCHAR(MAX), @searchRankFactor FLOAT, @searchedItemID INT

  --get data to insert into searchedItems
  SELECT @keywords = dbo.fn_searchedItem_keywords(@LEID)
  SELECT @searchRankFactor = dbo.fn_searchedItem_computeRank(@LEID) --this needs to be updated, see notes within file
  SELECT @searchedItemID = searchedItemID FROM searchedItems WHERE LEID = @LEID


  --get additional data to isnert into searchedItems
  DECLARE @LTID TINYINT, @XID INT, @websiteID INT, @inActive BIT, @inSearchIndex BIT
  
  SELECT @LTID = dbo.fn_linkedEntity_getLTID(@LEID), @XID = dbo.fn_linkedEntity_getXID(@LEID), @websiteID = dbo.fn_linkedEntity_getWebsiteID(@LEID)
  SELECT @inSearchIndex = inSearchIndex FROM linkedTables WHERE linkedTableID = dbo.fn_linkedEntity_getLTID(@LEID)


  --exists and is being refreshed
  IF @searchedItemID IS NOT NULL
  BEGIN
    IF @inSearchIndex = 1
        UPDATE searchedItems SET
        keywords = dbo.sqlProtect_xss(@keywords,5),
        searchRankFactor = dbo.sqlProtect_xss(@searchRankFactor,7),
        refreshDate = GETDATE(),
        isActive = dbo.sqlProtect_xss(dbo.fn_record_activeStatus(@LEID),7)
        WHERE searchedItemID = @searchedItemID

    IF @inSearchIndex = 0
        DELETE FROM searchedItems WHERE searchedItemID = @searchedItemID --remove from search index
  END


  --new item needs to be added
  IF @searchedItemID IS NULL
  BEGIN

    IF @inSearchIndex = 1 --new record 
        INSERT INTO searchedItems(LEID, websiteID, keywords, searchRankFactor, isActive)
        VALUES (dbo.sqlProtect_xss(@LEID,7), dbo.sqlProtect_xss(@websiteID,7), dbo.sqlProtect_xss(@keywords,5), dbo.sqlProtect_xss(@searchRankFactor,7), dbo.sqlProtect_xss(dbo.fn_record_activeStatus(@LEID),7))

    SELECT @searchedItemID = SCOPE_IDENTITY()
  END


END
GO
