USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_widget - vw_widget retrieves data for a single widget
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_widget] AS


    SELECT t1.widgetID, t1.description, t1.tag, t1.sourceCode, t1.isPublic, LE.websiteID, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, LT.description AS iconDescription
    FROM widgets t1
    LEFT JOIN linkedEntities LE ON LE.toLTID = 101 AND LE.toXID = t1.widgetID
    LEFT JOIN linkedTables LT ON LT.linkedTableID = 101
    
GO
