USE [ectdb]
GO
/*
Written by Asira 2024
Table productAttributeValues - attributes that have been stored and applied to a product variant
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productAttributeValues](
	[productAttributeValueID] [int] IDENTITY(1,1) NOT NULL,
	[productAttributeTypeID] [int] NOT NULL,
	[productAttributeValue] [varchar](max) NOT NULL,
 CONSTRAINT [PK_productAttributeValues] PRIMARY KEY NONCLUSTERED 
(
	[productAttributeValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_productAttributeValues]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_productAttributeValues] ON [dbo].[productAttributeValues]
(
	[productAttributeTypeID] ASC,
	[productAttributeValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_productAttributeValues_productAttributeTypeID] FOREIGN KEY([productAttributeTypeID])
REFERENCES [dbo].[productAttributeTypes] ([productAttributeTypeID])
GO
ALTER TABLE [dbo].[productAttributeValues] CHECK CONSTRAINT [FK_productAttributeValues_productAttributeTypeID]
GO
