USE [ectdb]
GO
/*
Written by Asira 2024
Table Function tb_acl_getData - returns acl data for a given IP
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_acl_getData]
(
    @ipAddress VARCHAR(39)
)
RETURNS @aTable TABLE(previousACLRisk SMALLINT, CAPTCHAScore SMALLINT, errorScore SMALLINT, locationScore SMALLINT)
AS
BEGIN
    DECLARE @previousACLRisk SMALLINT, @CAPTCHAScore SMALLINT, @errorScore SMALLINT, @locationScore SMALLINT

    SELECT @previousACLRISK = riskScore, @CAPTCHAScore = CAPTCHAScore, @errorScore = errorScore, @locationScore = locationScore --default values of 0 if none stored
    FROM aclSessions
    WHERE ipAddress = ISNULL(@ipAddress, NULL) AND ipAddress IS NOT NULL    --force ipAddress to be null if null or blank, require actual entry.

    INSERT INTO @aTable SELECT ISNULL(@previousACLRisk,0) , ISNULL(@CAPTCHAScore,0), ISNULL(@errorScore,0), ISNULL(@locationScore,0)
    RETURN
END
GO
