USE [ectdb]
GO
/*
Written by Asira 2022
Function sqlProtect_xss - utilizes sqlProtect _html and _specialChar functions in tandem with additional filters to sanitize inputs before they are passed to tables (anti SQL and XSS -injection); different levels present increasing levels of protection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[sqlProtect_xss] (
  @string varchar(MAX),
  @option TINYINT --0/null = !protection, 1 = !js, 2 = html but !anchors, 3 = !html, 4 = !programmatic characters, 5 = !special characters
  )

RETURNS VARCHAR(MAX) AS
  BEGIN
    DECLARE @newstring VARCHAR(MAX)
    SELECT @newstring = @string


    IF @option >= 1
        --moderate (no scripting)
        BEGIN
          SELECT @newstring=REPLACE(@newstring,'atob(','xss_attempt')
          SELECT @newstring=REPLACE(@newstring,'eval(','xss_attempt')
          SELECT @newstring=REPLACE(@newstring,'onchange','')
          SELECT @newstring=REPLACE(@newstring,'onclick','')
          SELECT @newstring=REPLACE(@newstring,'onerror','')
          SELECT @newstring=REPLACE(@newstring,'<script','xss_attempt')
        END     


    IF @option >= 2
        --somewhat strict (allow html, remove srcs and links)
        BEGIN
          SELECT @newstring=REPLACE(@newstring, 'src', 'data-src')
          SELECT @newstring=REPLACE(@newstring, 'href', 'data-href')
        END


    IF @option >= 3
        --fairly strict (strip all html/xml)
        BEGIN SELECT @newstring = dbo.sqlProtect_html(@newstring) END


    IF @option >= 4
        --strict (strip programmatic characters)
        BEGIN
          SELECT @newstring=REPLACE(@newstring, '&&', '&')
          SELECT @newstring=REPLACE(@newstring, '<', '(')
          SELECT @newstring=REPLACE(@newstring, '>', ')')
          SELECT @newstring=REPLACE(@newstring, '{', '(')
          SELECT @newstring=REPLACE(@newstring, '}', ')')
          SELECT @newstring=REPLACE(@newstring, '[', '(')
          SELECT @newstring=REPLACE(@newstring, ']', ')')
          SELECT @newstring=REPLACE(@newstring, '\', '/')
          SELECT @newstring=REPLACE(@newstring, '|', ' ')
        END


    IF @option >= 5
        --very strict (strip special characters other than - _ . ,)
        BEGIN 
            SELECT @newstring=REPLACE(@newstring, '&', ' and ')
            SELECT @newstring = dbo.sqlProtect_specialChar(@newstring)
        END


    IF @option >= 6
        --super strict (strip _ ,)
        BEGIN
            SELECT @newstring=REPLACE(@newstring, '_', ' ')
            SELECT @newstring=REPLACE(@newstring, ',', '')
        END


    IF @option >= 7
        --extremely strict (numbers only)
        BEGIN SELECT @newstring = dbo.fn_stripNonNumeric(@newstring) END


    RETURN @newstring
  END
GO
