USE [ectdb]
GO
/*
Written by Asira 06/12/2024
Procedure pr_entityImage_edit - reates / Edits / Replaces an entity image for LEID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_entityImage_edit] (
    @LEID BIGINT,
    @imageTypeID INT,
    @entityImageID INT = NULL OUTPUT,
    @physicalPath VARCHAR(MAX) = NULL OUTPUT,
    @imgWidth INT = NULL OUTPUT,
    @imgHeight INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    --mark old image(s) as deleted
    UPDATE entityImages SET deleted = 1 WHERE LEID = @LEID AND imageTypeID = @imageTypeID AND deleted = 0                                                               --mark old images as deleted



    --if there is not an image, create a new one
    INSERT INTO entityImages (imageTypeID, LEID, physicalPath, deleted) VALUES (dbo.sqlProtect_xss(@imageTypeID,7), dbo.sqlProtect_xss(@LEID,7), NULL, 0)               --create a new image
    SELECT @entityImageID = SCOPE_IDENTITY()                                                                                                                            --get identity for new image
    SELECT @physicalPath = dbo.fn_entityImage_path(@entityImageID)                                                                                                      --set path for new image
    UPDATE entityImages SET physicalPath = @physicalPath WHERE entityImageID = @entityImageID                                                                           --store path for new image



    --get other return values (i.e. image dimensions)
    SELECT @imgWidth = width, @imgHeight = height FROM imageTypes WHERE imageTypeID = @imageTypeID                                                                      --return dimensions

    --return statement
    SELECT ISNULL(@entityImageID, NULL) AS entityImageID, ISNULL(@physicalPath, NULL) AS physicalPath, ISNULL(@imgWidth, NULL) AS imgWidth, ISNULL(@imgHeight, NULL) AS imgHeight                                      
END
GO
