USE [ectdb]
GO
/*
Written by Asira 2023
Table Function tb_documentAncestors - returns a list of ancestors for a document
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_documentAncestors]
(
	@documentID int
)
RETURNS TABLE 
AS
    RETURN (
        WITH docResults (documentID, parentDocumentID) AS (
            SELECT      documentID, parentDocumentID
            FROM        documents
            WHERE       documentID = @documentID

            UNION ALL

            SELECT      documents.documentID, documents.parentDocumentID
            FROM        documents
            INNER JOIN  docResults ON docResults.parentDocumentID = documents.documentID
            WHERE       documents.documentID <> @documentID 
        )

        SELECT TOP 99999 documentID, parentDocumentID FROM docResults
    )
GO
