USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_collection_new - create a new collection record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_new] (
    @parentCollectionID INT,
    @name VARCHAR(32),
    @memo VARCHAR(MAX),
    @keywords VARCHAR(MAX),
    @showEntities TINYINT,
    @websiteID INT,
    @newCollectionID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @name IS NULL SELECT @errorMessage = 'The collection must have a name.'
    IF @memo IS NULL SELECT @errorMessage = 'The collection must have a memo (information about the collection which is publicly visible on the website).'
    IF @showEntities IS NULL SELECT @errorMessage = 'Descendancy rule (don''t show, children only, or all descendants) must be provided.'

    DECLARE @checkName VARCHAR(MAX), @checkRootID INT
    SELECT @checkName = name FROM collections WHERE websiteID = @websiteID AND name = dbo.sqlProtect_xss(@name,4)
    IF @checkName IS NOT NULL SELECT @errorMessage = 'The collection name must be unique. Please choose a different name.'

    SELECT @checkRootID = collectionID FROM collections WHERE parentCollectionID IS NULL AND websiteID = @websiteID
    IF @checkRootID IS NOT NULL AND @parentCollectionID IS NULL SELECT @errorMessage = 'A parent collection must be provided because a root collection already exists on the website.'



    IF @errorMessage IS NULL
    BEGIN
        IF @parentCollectionID IS NULL SELECT @showEntities = 0

        INSERT INTO collections (parentCollectionID, name, memo, imgURL, showEntities, isHidden, websiteID)
        VALUES (dbo.sqlProtect_xss(@parentCollectionID,7), dbo.sqlProtect_xss(@name,4), dbo.sqlProtect_xss(@memo,1), NULL, dbo.sqlProtect_xss(@showEntities,7), 1, dbo.sqlProtect_xss(@websiteID,7))

        SELECT @newCollectionID = SCOPE_IDENTITY()

        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_collectionKeywords(@newCollectionID, 1)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE collections
        SET keywords = dbo.sqlProtect_xss(@keywords,6)
        WHERE collectionID = @newCollectionID

        EXEC dbo.pr_linkedEntity_new 18, @newCollectionID, @websiteID
    END

    SELECT ISNULL(@newCollectionID, NULL), ISNULL(@errorMessage, NULL)
END
GO
