USE [ectdb]
GO
/*
Written by Asira 10/26/2023
Table linkedEntities_reportReasons - the reason an entity may be violating policies or TOS
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkedEntities_reportReasons](
	[reportReasonID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[memo] [varchar](max) NOT NULL,
	[isHidden] [bit] NOT NULL,
 CONSTRAINT [PK_linkedEntities_reportReasons] PRIMARY KEY NONCLUSTERED 
(
	[reportReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[linkedEntities_reportReasons] ADD  CONSTRAINT [DEFAULT_linkedEntities_reportReasons_isHidden]  DEFAULT ((0)) FOR [isHidden]
GO
