USE [ectdb]
GO
/*
Written by Asira 08/11/2023
Table actionLog - a log of all actions taken
*/SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actionLog](
	[logID] [bigint] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[sessionID] [int] NULL,
	[actionID] [int] NOT NULL,
	[memo] [varchar](max) NULL,
	[requestFile] [varchar](28) NULL,
	[LTID] [tinyint] NULL,
	[XID] [int] NULL,
	[url] [varchar](2048) NULL,
	[ipv4] [binary](16) NULL,
	[ipv6] [binary](16) NULL,
	[actionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_actionLog] PRIMARY KEY NONCLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_actionLog]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_actionLog] ON [dbo].[actionLog]
(
	[logID] ASC,
	[sessionID] ASC,
	[userID] ASC,
	[XID] ASC,
	[LTID] ASC,
	[actionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_actionLog_date]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_actionLog_date] ON [dbo].[actionLog]
(
	[XID] ASC,
	[LTID] ASC,
	[actionID] ASC,
	[userID] ASC,
	[sessionID] ASC,
	[actionDate] ASC
)
INCLUDE([logID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[actionLog] ADD  CONSTRAINT [DEFAULT_actionLog_actionDate]  DEFAULT (getdate()) FOR [actionDate]
GO
ALTER TABLE [dbo].[actionLog]  WITH CHECK ADD  CONSTRAINT [FK_actionLog_actionID] FOREIGN KEY([actionID])
REFERENCES [dbo].[actions] ([actionID])
GO
ALTER TABLE [dbo].[actionLog] CHECK CONSTRAINT [FK_actionLog_actionID]
GO
ALTER TABLE [dbo].[actionLog]  WITH CHECK ADD  CONSTRAINT [FK_actionLog_LTID] FOREIGN KEY([LTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[actionLog] CHECK CONSTRAINT [FK_actionLog_LTID]
GO
ALTER TABLE [dbo].[actionLog]  WITH CHECK ADD  CONSTRAINT [CHK_actionLog_IP] CHECK  (([ipv4] IS NOT NULL OR [ipv6] IS NOT NULL OR [url]='SQLServerAgent'))
GO
ALTER TABLE [dbo].[actionLog] CHECK CONSTRAINT [CHK_actionLog_IP]
GO
ALTER TABLE [dbo].[actionLog]  WITH CHECK ADD  CONSTRAINT [CHK_actionLog_URL] CHECK  (([LTID] IS NOT NULL OR [url] IS NOT NULL))
GO
ALTER TABLE [dbo].[actionLog] CHECK CONSTRAINT [CHK_actionLog_URL]
GO
