USE [ectdb]
GO
/*
Written by Asira 10/16/2023
View vw_joinedGroups - returns a list of groups joined with their members
previously vw_entityInUserGroups
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_joinedGroups] AS

    SELECT t1.userGroupID, t1.groupName, joinDate, t2.memberLTID, t2.memberXID
    FROM userGroups t1
    LEFT JOIN userGroupMemberships t2 ON t1.userGroupID = t2.userGroupID

GO
