USE [ectdb]
GO
/*
Written by Asira 2024
Table linkedEntities - A master list of all console entities (have an LTID+XID) ... perhaps a better name would be ERID (entityRecordID)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkedEntities](
	[linkedEntityID] [bigint] IDENTITY(1,1) NOT NULL,
	[toLTID] [tinyint] NOT NULL,
	[toXID] [int] NOT NULL,
	[websiteID] [int] NULL,
 CONSTRAINT [PK_linkedEntities] PRIMARY KEY NONCLUSTERED 
(
	[linkedEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_linkedEntities_LTID_XID] UNIQUE NONCLUSTERED 
(
	[toLTID] ASC,
	[toXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_linkedEntities]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_linkedEntities] ON [dbo].[linkedEntities]
(
	[linkedEntityID] ASC,
	[toLTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_linkedEntities_lookup]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_linkedEntities_lookup] ON [dbo].[linkedEntities]
(
	[toXID] ASC,
	[toLTID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[linkedEntities]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_toLTID] FOREIGN KEY([toLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[linkedEntities] CHECK CONSTRAINT [FK_linkedEntities_toLTID]
GO
ALTER TABLE [dbo].[linkedEntities]  WITH CHECK ADD  CONSTRAINT [FK_linkedEntities_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[linkedEntities] CHECK CONSTRAINT [FK_linkedEntities_websiteID]
GO
ALTER TABLE [dbo].[linkedEntities]  WITH CHECK ADD  CONSTRAINT [CK_linkedEntities_websiteID] CHECK  (([websiteID] IS NOT NULL OR [websiteID] IS NULL AND [toLTID]=(105)))
GO
ALTER TABLE [dbo].[linkedEntities] CHECK CONSTRAINT [CK_linkedEntities_websiteID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'reports (LTID 105) are not website specific' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'linkedEntities', @level2type=N'CONSTRAINT',@level2name=N'CK_linkedEntities_websiteID'
GO
