USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_fileFolderPath_fromID - get the path represntation of a file folder from its ID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fileFolderPath_fromID](
  @fileFolderID INT
  )
RETURNS VARCHAR(MAX)
BEGIN
    DECLARE @fileFolderPath VARCHAR(MAX), @originTag VARCHAR(3)

    --get primary path information
    SELECT @fileFolderPath = COALESCE(@fileFolderPath + '\', '') + dbo.fn_fileFolderTag(fl.fileFolderID, 0)
    FROM fileFolders AS fl
    INNER JOIN tb_fileFolderAncestors(@fileFolderID) ON fl.fileFolderID = tb_fileFolderAncestors.fileFolderID
    ORDER BY fl.parentFileFolderID ASC


    --get origin path information
    SELECT @originTag = linkedTables.tableTag
    FROM fileFolders
    LEFT JOIN linkedTables ON fileFolders.originLTID = linkedTables.linkedTableID
    WHERE fileFolderID = @fileFolderID


    --create final string
    SELECT @fileFolderPath = CONCAT(@originTag, '\', @fileFolderPath, '\')
    SELECT @fileFolderPath = REPLACE(dbo.fn_fileFolder_checkPath(@fileFolderPath), '\\', '\')

    RETURN @fileFolderPath
END
GO
