USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_organization_edit - modify an existing organization record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_organization_edit] (
  @organizationID INT,
  @description VARCHAR(128)
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE organizations
    SET name = dbo.sqlProtect_xss(@description,5)
    WHERE organizationID = @organizationID
  
END
GO
