USE [ectdb]
GO
/*
Written by Asira 05/15/2025
Function fn_entityImage - returns the custom (or default) image for an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_entityImage] (
  @LEID BIGINT,
  @imageTypeID INT
  )
RETURNS VARCHAR(2048)
AS
BEGIN
    DECLARE @imagePath VARCHAR(2048), @siteID INT
    SELECT @siteID = dbo.fn_linkedEntity_getWebsiteID(@LEID)


    --specific entity image
    SELECT @imagePath = physicalPath FROM dbo.entityImages WHERE LEID = @LEID AND imageTypeID = @imageTypeID AND deleted = 0
    


    --couldn't find based on LEID
    IF @imagePath IS NULL 
    BEGIN
        DECLARE @LTID TINYINT = dbo.fn_linkedEntity_getLTID(@LEID), @XID INT = dbo.fn_linkedEntity_getXID(@LEID)

        --use user account image if the employee doesn't have an assigned image
        IF @LTID = 2  
        BEGIN
            SELECT @LEID = dbo.fn_linkedEntity_getID(1, (SELECT TOP 1 userID FROM dbo.employees WHERE employeeID = @XID))
            SELECT @imagePath = physicalPath FROM dbo.entityImages WHERE LEID = @LEID AND imageTypeID = @imageTypeID
        END


        --use parent doc image if the doc doesn't have an assigned image
        IF @LTID = 9
        BEGIN
            SELECT @LEID = dbo.fn_linkedEntity_getID(9, (SELECT TOP 1 parentDocumentID FROM dbo.documents WHERE documentID = @XID))
            SELECT @imagePath = dbo.fn_entityImage(@LEID, 1)
        END


        --use parent kb image if the kb doesn't have an assigned image
        IF @LTID = 10
        BEGIN
            SELECT @LEID = dbo.fn_linkedEntity_getID(10, (SELECT TOP 1 parentKnowledgebaseID FROM dbo.knowledgebase WHERE knowledgebaseID = @XID))
            SELECT @imagePath = dbo.fn_entityImage(@LEID, 1)
        END


        --linkedTable icon (default if there isn't an assigned image for the particular entity)
        IF @imagePath IS NULL SELECT @imagePath = iconURL FROM dbo.linkedTables WHERE linkedTableID = @LTID
    END

  

  RETURN ISNULL(@imagePath, NULL)
END
GO
