USE [ectdb]
GO
/*
Written by Asira 04/25/2024
Procedure pr_product_edit - modify an existing product record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_product_edit] (
  @productID INT,
  @productTypeID INT,
  @description VARCHAR(256),
  @memo VARCHAR(MAX),
  @keywords VARCHAR(MAX),
  @tariffCodeID INT,
  @originCountryID INT,
  @allowReplies BIT,
  @customsDescription VARCHAR(256)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE products
    SET productTypeID = dbo.sqlProtect_xss(@productTypeID,7), description = dbo.sqlProtect_xss(@description,4), memo = dbo.sqlProtect_xss(@memo,1), tariffCodeID = dbo.sqlProtect_xss(@tariffCodeID,7), originCountryID = dbo.sqlProtect_xss(@originCountryID,7), customsDescription = dbo.sqlProtect_xss(@customsDescription,4), allowReplies = dbo.sqlProtect_xss(@allowReplies,7)
    WHERE productID = @productID

    EXEC dbo.pr_product_updateKeywords @productID, @keywords
END
GO
