USE [ectdb]
GO
/*
Written by Asira 2023
Table downloadGroups - Groups of downloadable files for batch (.zip) downloads
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[downloadGroups](
	[downloadGroupID] [int] IDENTITY(1,1) NOT NULL,
	[downloadGroupName] [varchar](64) NOT NULL,
	[downloadGroupDescription] [varchar](max) NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_downloadGroups] PRIMARY KEY CLUSTERED 
(
	[downloadGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_downloadGroups_1]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [Index_downloadGroups_1] ON [dbo].[downloadGroups]
(
	[downloadGroupID] ASC,
	[downloadGroupName] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_downloadGroups_2]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [Index_downloadGroups_2] ON [dbo].[downloadGroups]
(
	[downloadGroupID] ASC,
	[downloadGroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[downloadGroups] ADD  CONSTRAINT [DEFAULT_downloadGroups_date]  DEFAULT (getdate()) FOR [date]
GO
