USE [ectdb]
GO
/****** Object:  UserDefinedFunction [dbo].[tb_user_getData]    Script Date: 12/12/2024 3:16:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_user_getData]
(
    @sessionID INT
)
RETURNS @aTable TABLE(userID INT, LEID BIGINT, employeeID INT, firstName VARCHAR(50), lastName VARCHAR(50), displayName VARCHAR(101), email VARCHAR(50), persist BIT)
AS
BEGIN
    -- ==============================================
    -- Author:      Asira
    -- Create Date: 2022 6-11
    -- Description: retrieve user data from sessionID
    -- ==============================================

    DECLARE @userID INT, @LEID BIGINT, @employeeID INT, @firstName VARCHAR(50), @lastName VARCHAR(50), @displayName VARCHAR(101), @email VARCHAR(50), @persist BIT, @inActiveEmployee BIT

    SELECT
    @userID = sessions.ownerID,
    @LEID = dbo.fn_linkedEntity_getID(1, sessions.ownerID),
    @employeeID = employees.employeeID,
    @inActiveEmployee = employees.inActive,
    @firstName = users.firstName,
    @lastName = users.lastName,
    @displayName = ISNULL(users.displayName, dbo.fn_entityName_public(1, users.userID)),
    @email = users.email,
    @persist = sessions.persist
    FROM sessions
    LEFT JOIN users ON sessions.ownerID = users.userID
    LEFT JOIN employees ON sessions.ownerID = employees.userID
    WHERE sessionID = @sessionID

    IF ISNULL(@inActiveEmployee, 1) = 1 SET @employeeID = NULL --set employeeID to null if they are inactive



    INSERT INTO @aTable SELECT ISNULL(@userID, NULL), ISNULL(@LEID, NULL), ISNULL(@employeeID, NULL), ISNULL(@firstName, NULL), ISNULL(@lastName, NULL), ISNULL(@displayName, NULL), ISNULL(@email, NULL), ISNULL(@persist, 0)
    RETURN
END
GO
