USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_unmarkHidden - Marks a document and all direct ancestors as no longer hidden
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_unmarkHidden] (
    @documentID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
  
    DECLARE @parentDocID INT
    SELECT @parentDocID = parentDocumentID FROM documents WHERE documentID = @documentID

    UPDATE documents SET isHidden = 0 WHERE documentID = @documentID
    IF @parentDocID IS NOT NULL EXEC pr_document_unmarkHidden @parentDocID
END
GO
