USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_user_endSession - forcefully end a user session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_endSession] (
    @sessionID INT
  )
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM sessionStorage WHERE sessionID = @sessionID
    DELETE FROM sessions WHERE sessionID = @sessionID
END
GO
