USE [ectdb]
GO
/*
Written by Asira 11/14/2024
Procedure pr_notification_dismiss - Marks a notification as dismissed (acknowledged = seen, dimissed = will no longer appear in notifications list)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_notification_dismiss] (
    @userLEID BIGINT,
    @employeeLEID BIGINT,
    @notificationID INT,
    @errorMessage VARCHAR(256) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --prevent dismissal of notifications that are not the user's/employye's to dismiss
    IF (SELECT TOP 1 toLEID FROM notifications WHERE notificationID = @notificationID) NOT IN (@userLEID, @employeeLEID)
    SELECT @errorMessage = 'This is not your notification to dismiss. Please contact a system administrator if you believe this is in error.'

    IF @errorMessage IS NULL
    BEGIN
        UPDATE notifications SET dismissed = 1
        WHERE notificationID = @notificationID AND toLEID IN (@userLEID, @employeeLEID)
    END


    SELECT ISNULL(@errorMessage, NULL)
END
GO
