USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_file_delete - delete a file record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_file_delete] (
    @fileID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM files WHERE fileID = @fileID
    
END
GO
