USE [ectdb]
GO
/*
Written by Asira 2023
Table Function tb_fileFolderAncestors - returns a list of ancestors for a given filefolder
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_fileFolderAncestors]
(
	@fileFolderID int
)
RETURNS TABLE 
AS
    RETURN (
        WITH flResults (fileFolderID, parentFileFolderID) AS (
            SELECT      fileFolderID, parentFileFolderID
            FROM        fileFolders
            WHERE       fileFolderID = @fileFolderID

            UNION ALL

            SELECT      fileFolders.fileFolderID, fileFolders.parentFileFolderID
            FROM        fileFolders
            INNER JOIN  flResults ON flResults.parentFileFolderID = fileFolders.fileFolderID
            WHERE       fileFolders.fileFolderID <> @fileFolderID 
        )

        SELECT fileFolderID FROM flResults
    )
GO
