USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_setting_edit - modify a user setting FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_setting_edit] (
    @userID INT,
    @settingID INT,
    @settingTypeID INT,
    @settingValueID INT,
    @settingValue VARCHAR(450) = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkOwnerID INT
    SELECT @checkOwnerID = userID FROM settings WHERE settingID = @settingID
    IF @userID != @checkOwnerID SELECT @errorMessage = 'You are not the owner of this setting and cannot change it.'


    IF @userID = @checkOwnerID AND @errorMessage IS NULL --the person changing the setting owns the setting
    BEGIN
        DECLARE @checkTypeID INT
        SELECT @checkTypeID = settingTypeID FROM settingValues WHERE settingValueID = @settingValueID
        IF @settingTypeID != @checkTypeID SELECT @errorMessage = 'The value cannot be applied for this setting.'

        IF @settingTypeID = @checkTypeID --the setting value is valid for the setting type
        BEGIN
            UPDATE settings SET settingValueID = @settingValueID WHERE settingID = @settingID AND userID = @userID AND settingTypeID = @settingTypeID
            SELECT @settingValue = value FROM settingValues WHERE settingValueID = @settingValueID
        END
    END


    SELECT ISNULL(@errorMessage, NULL), @settingValue
GO
