USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_collection_markHidden - hide a collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_markHidden] (
    @collectionID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --update this KB to be depreciated
    UPDATE collections SET isHidden = 1 WHERE collectionID = @collectionID
  
    --store a list of KBID's that need to be marked as depreciated
    DECLARE @aTable TABLE (clID INT)
    DECLARE @clID INT = 0
    INSERT INTO @aTable SELECT collectionID FROM collections WHERE parentCollectionID = @collectionID ORDER BY collectionID ASC

    WHILE (1=1)
    BEGIN
        --get next ID
        SELECT TOP 1 @clID = clID
        FROM @aTable
        WHERE clID > @clID
        ORDER BY clID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to depreciate the descendant
        EXEC dbo.pr_collection_markHidden @clID
    END
END
GO
