USE [ectdb]
GO
/*
Written by Asira 08/15/2024
Procedure pr_employee_validatePin - validate that an employees quick login pin (for switching profiles on console) is correct before switching to that account
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_employee_validatePin]
(
    @employeeID INT,
    @userID INT,
    @quickPin VARCHAR(4),
    @valid BIT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkID INT
    SELECT @checkID = userID FROM employees WHERE employeeID = @employeeID
    IF @checkID != @userID SELECT @errorMessage = 'EmployeeID and UserID mismatch! Please contact a system administrator.'


    IF @errorMessage IS NULL
    BEGIN
        SET @valid = CAST(0 AS BIT) --default value
        SELECT @checkID = NULL
        SELECT @checkID = @employeeID FROM employees WHERE employeeID = @employeeID AND userID = @userID AND quickPin = @quickPin

        IF @checkID IS NULL
        BEGIN
            SET @valid = CAST(0 AS BIT)
            SELECT @errorMessage = 'Incorrect pin number.'
        END

        IF @checkID IS NOT NULL SET @valid = CAST(1 AS BIT)
    END


    SELECT ISNULL(@valid, 0), ISNULL(@errorMessage, NULL)
END
GO
