USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_edit - Modifies an existing knowledgebase entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_edit] (
    @knowledgebaseID INT,
    @description VARCHAR(255),
    @keywords VARCHAR(MAX),
    @parentKBID INT,
    @kbContent TEXT,
    @depreciated BIT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkParentKBID INT
    SELECT @checkParentKBID = parentKnowledgebaseID FROM knowledgebase WHERE knowledgebaseID = @knowledgebaseID

    --update everything but keywords and parentLoc
    UPDATE knowledgebase
    SET description = dbo.sqlProtect_xss(@description,4), knowledgebaseContent = dbo.sqlProtect_xss(@kbContent,1)
    WHERE knowledgebaseID = @knowledgebaseID

    --move to new parent if applicable
    IF ISNULL(@checkParentKBID, 0) <> @parentKBID
    EXEC dbo.pr_knowledgebase_changeParent @knowledgebaseID, @parentKBID

    EXEC dbo.pr_knowledgebase_updateKeywords @knowledgebaseID, @keywords

    IF ISNULL(@depreciated, 0) = 0 EXEC dbo.pr_knowledgebase_unmarkDepreciated @knowledgebaseID
    IF ISNULL(@depreciated, 0) = 1 EXEC dbo.pr_knowledgebase_markDepreciated @knowledgebaseID
END
GO
