USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_kb_records - retrieves list of knowledgebase records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_kb_records] WITH SCHEMABINDING AS


    SELECT kb.knowledgebaseID AS knowledgebaseID, kb.parentKnowledgebaseID AS parentKnowledgebaseID, kb.description AS description, kb.keywords AS keywords, kb.date AS date, kb.depreciated AS depreciated, employees.employeeID AS employeeID, users.firstName AS firstName, users.lastName AS lastName, LE.websiteID AS websiteID
    FROM dbo.knowledgebase AS kb
    INNER JOIN dbo.employees on kb.authorID = employees.employeeID
    INNER JOIN dbo.users on employees.userID = users.userID
    INNER JOIN dbo.linkedEntities LE ON toLTID = 10 AND toXID = kb.knowledgebaseID
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IDX_vw_kb_records]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_vw_kb_records] ON [dbo].[vw_kb_records]
(
	[knowledgebaseID] ASC,
	[parentKnowledgebaseID] ASC,
	[websiteID] ASC,
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [PK_vw_kb_records]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PK_vw_kb_records] ON [dbo].[vw_kb_records]
(
	[knowledgebaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
