USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Table productTypes - e.g digital, physical, etc
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productTypes](
	[productTypeID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](126) NOT NULL,
 CONSTRAINT [PK_productTypes] PRIMARY KEY NONCLUSTERED 
(
	[productTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
