USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_fileFolder_oldestAncestor - get the oldest ancestor/parent for a file folder
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fileFolder_oldestAncestor]
(
  @fileFolderID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @parentID INT, @ancestorID INT
    SELECT @parentID = parentFileFolderID FROM fileFolders WHERE fileFolderID = @fileFolderID

    IF @parentID IS NOT NULL
    BEGIN
        SELECT @ancestorID = dbo.fn_fileFolder_oldestAncestor(@parentID)
        IF @ancestorID IS NULL SELECT @ancestorID = @parentID
    END

    RETURN ISNULL(@ancestorID, @fileFolderID) --return self if self has no ancestor
END
GO
