USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_fileFolderTag - returns a tag or file-system-style "path" of tags representing the fileFolder
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_fileFolderTag](
  @fileFolderID INT,
  @option TINYINT
  )
RETURNS VARCHAR(128)
BEGIN
    --option 0, null: if iv(description), nv(prefix), return basic description
    --option 1: use prefix and traverse up the tree, returning any item that has a prefix

    IF @fileFolderID IS NOT NULL
    BEGIN
        --get information of current bin
        DECLARE @aTag VARCHAR(128), @parentTag VARCHAR(128), @description VARCHAR(128), @parentFileFolderID INT, @ownPath VARCHAR(MAX)
        SELECT @description = folderName, @parentFileFolderID = parentFileFolderID, @ownPath = folderPath FROM fileFolders WHERE fileFolderID = @fileFolderID

        IF @ownPath IS NOT NULL
        BEGIN
            SELECT @aTag = CONCAT(@ownPath, @description)
        END

        IF @ownPath IS NULL
        BEGIN
            --default name if option param is 0 or null
            IF ISNULL(@option, 0) = 0 SELECT @aTag = ISNULL(@description, CONCAT('FLD', @fileFolderID))

            --if option is 1 or 2
            IF @option IN (1, 2)
            BEGIN
                --get the name of the parent tag and prepend it
                SELECT @parentTag = dbo.fn_fileFolderTag(@parentFileFolderID, 2)
                IF @parentTag IS NOT NULL SELECT @aTag = @parentTag
                ELSE SELECT @aTag = ISNULL(@parentTag, '')
            END

            --default name
            IF @aTag = '' SELECT @aTag = NULL
            IF @option = 1 AND @aTag IS NULL SELECT @aTag = @description
        END
    END

    RETURN @aTag
END
GO
