USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_externalLink_edit - modify an existing hyperlink shortcut
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_externalLink_edit]
(
    @externalLinkID INT,
	@externalLinkURL VARCHAR(64),
	@externalLinkDescription VARCHAR(2048)
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

	UPDATE externalLinks
	SET externalLinkURL = dbo.sqlProtect_xss(@externalLinkURL,4), externalLinkDescription = dbo.sqlProtect_xss(@externalLinkDescription,4)
	WHERE externalLinkID = @externalLinkID
END
GO
