USE [ectdb]
GO
/*
Written by Asira 06/26/2024
Table shipBoxes - a list of containers used to ship tangible items
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipBoxes](
	[shipBoxID] [int] IDENTITY(1,1) NOT NULL,
	[shipBoxMaterialID] [int] NOT NULL,
	[description] [varchar](64) NOT NULL,
	[length] [float] NULL,
	[width] [float] NULL,
	[height] [float] NULL,
	[boxWeight] [float] NULL,
	[maxWeight] [float] NOT NULL,
	[ulineModel] [varchar](16) NULL,
	[ulinePrice] [float] NULL,
	[inActive] [bit] NOT NULL,
 CONSTRAINT [PK_shipBoxes] PRIMARY KEY NONCLUSTERED 
(
	[shipBoxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_shipBoxes]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_shipBoxes] ON [dbo].[shipBoxes]
(
	[shipBoxID] ASC,
	[shipBoxMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_shipBoxes_ulineModel_UQ]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_shipBoxes_ulineModel_UQ] ON [dbo].[shipBoxes]
(
	[ulineModel] ASC
)
WHERE ([ulineModel] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[shipBoxes] ADD  CONSTRAINT [DEFAULT_shipBoxes_inActive]  DEFAULT ((1)) FOR [inActive]
GO
ALTER TABLE [dbo].[shipBoxes]  WITH CHECK ADD  CONSTRAINT [FK_shipBoxes_shipBoxMaterials] FOREIGN KEY([shipBoxMaterialID])
REFERENCES [dbo].[shipBoxMaterials] ([shipBoxMaterialID])
GO
ALTER TABLE [dbo].[shipBoxes] CHECK CONSTRAINT [FK_shipBoxes_shipBoxMaterials]
GO
ALTER TABLE [dbo].[shipBoxes]  WITH CHECK ADD  CONSTRAINT [chk_shipBox_dimensions] CHECK  (([length] IS NOT NULL AND [width] IS NOT NULL AND [height] IS NOT NULL OR [length] IS NULL AND [width] IS NULL AND [height] IS NULL))
GO
ALTER TABLE [dbo].[shipBoxes] CHECK CONSTRAINT [chk_shipBox_dimensions]
GO
