USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_changeParent - Changes the parent of a document (e.g. sorting)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_changeParent] (
    @documentID INT,
    @parentDocumentID INT = NULL
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  UPDATE documents
  SET parentDocumentID = dbo.sqlProtect_xss(@parentDocumentID,7)
  WHERE documentID = @documentID
END
GO
