USE [ectdb]
GO
/*
Written by Darin Andersen
Format, comments by Asira circa 2023-2024
Function fn_IPv4_toString - Converts IPv4 address (binary) to string format (eg 192.168.1.1) ... does not handle IPv6
    fn_IpAddress_toString converts both binary IPv6 and IPv4 to string
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IPv4_toString]
(
    @binaryIP AS BINARY(4)
)
RETURNS VARCHAR(15)
AS
BEGIN

    DECLARE @stringIP AS VARCHAR(15) 
    SELECT @stringIP = NULL

    IF @binaryIP IS NOT NULL
    BEGIN
        SELECT @stringIP = CAST(CAST(SUBSTRING(@binaryIP, 1, 1) AS INTEGER) AS VARCHAR(3)) + '.'
                         + CAST(CAST(SUBSTRING(@binaryIP, 2, 1) AS INTEGER) AS VARCHAR(3)) + '.'
                         + CAST(CAST(SUBSTRING(@binaryIP, 3, 1) AS INTEGER) AS VARCHAR(3)) + '.'
                         + CAST(CAST(SUBSTRING(@binaryIP, 4, 1) AS INTEGER) AS VARCHAR(3));
    END
    
    RETURN @stringIP
END
GO
