USE [ectdb]
GO
/*
Written by Asira circa 2022-2023
Table Function tb_entitySearch_byLTIDandXID - returns image, description, leid for an entity search by its LTID/XID in console add shortcut
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_entitySearch_byLTIDandXID] (
  @LTID INT,
  @XID INT
  )
RETURNS @aTable TABLE (
  dest_ltid SMALLINT, dest_xid INT, dest_leid BIGINT, dest_description VARCHAR(255), dest_iconURL VARCHAR(128)
) AS
BEGIN

  IF @XID IS NOT NULL
  BEGIN
      INSERT INTO @aTable(dest_ltid, dest_xid, dest_leid, dest_description, dest_iconURL)
      VALUES (@LTID, ISNULL(@XID, NULL), dbo.fn_linkedEntity_getID(@LTID, @XID), dbo.fn_entityName(@LTID, @XID), dbo.fn_entityImage(dbo.fn_linkedEntity_getID(@LTID, @XID), 3))
  END

  RETURN
END

GO
