USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_collectionTag - generates a file-system-like path structure or single-word "tag" representing a collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_collectionTag](
  @collectionID INT,
  @option TINYINT
  )
RETURNS VARCHAR(128)
BEGIN
    --option 0, null: if iv(description), nv(prefix), return basic description
    --option 1: use prefix and traverse up the tree, returning any item that has a prefix

    IF @collectionID IS NOT NULL
    BEGIN
        --get information of current bin
        DECLARE @aTag VARCHAR(128), @parentTag VARCHAR(128), @name VARCHAR(128), @parentCollectionID INT
        SELECT @name = name, @parentCollectionID = parentCollectionID FROM collections WHERE collectionID = @collectionID

        --default name if option param is 0 or null
        IF ISNULL(@option, 0) = 0 SELECT @aTag = ISNULL(@name, CONCAT('CL', @collectionID))

        --if option is 1 or 2
        IF @option IN (1, 2)
        BEGIN
            --get the name of the parent tag and prepend it
            SELECT @parentTag = dbo.fn_collectionTag(@parentCollectionID, 2)
            IF @parentTag IS NOT NULL SELECT @aTag = @parentTag
            ELSE SELECT @aTag = ISNULL(@parentTag, '')
        END

        --default name
        IF @aTag = '' SELECT @aTag = NULL
        IF @option = 1 AND @aTag IS NULL SELECT @aTag = @name
    END

    RETURN @aTag
END
GO
