USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Procedure pr_message_new - create a new message record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_message_new] (
    @userID INT = NULL,
    @employeeID INT = NULL,
    @toLTID TINYINT = NULL,
    @toXID INT = NULL,
    @linkedEntityID INT = NULL,
    @parentMessageID INT = NULL,
    @message VARCHAR(MAX),
    @websiteID INT,
    @newMessageID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    /*
    Written by Asira on 7/27/2023. 
    Determines what kind of message has been written, how to store it, and then stores it or returns errors
    */

    IF @userID IS NULL AND @employeeID IS NULL SELECT @errorMessage = 'An invalid userID or employeeID was supplied'


    -- Must have only 1: LTID/XID pair, linkedEntityID, or parentMessageID
    DECLARE @recipientCounter INT = 0
    IF @toLTID IS NOT NULL AND @toXID IS NOT NULL SET @recipientCounter = @recipientCounter + 1
    IF @linkedEntityID IS NOT NULL SET @recipientCounter = @recipientCounter + 1
    IF @parentMessageID IS NOT NULL SET @recipientCounter = @recipientCounter + 1

    IF @recipientCounter = 0 SELECT @errorMessage = 'A recipient or target of the message is required'
    IF @recipientCounter > 1 SELECT @errorMessage = 'Too many recipients or targets of the message have been specified'


    IF @message IS NULL OR @message = '' SELECT @errorMessage = 'A message may not be null or blank'
    


    IF @errorMessage IS NULL
    BEGIN
        --users table is 1 and employees table is 2 ... if employee, the message is from an employee
        DECLARE @fromLTID INT = 1
        IF @employeeID IS NOT NULL SET @fromLTID = 2

        INSERT INTO messages (fromLTID, fromXID, toLTID, toXID, linkedEntityID, parentMessageID, message)
        VALUES (dbo.sqlProtect_xss(@fromLTID,7), dbo.sqlProtect_xss(ISNULL(@employeeID, @userID),7), dbo.sqlProtect_xss(@toLTID,7), dbo.sqlProtect_xss(@toXID,7), dbo.sqlProtect_xss(@linkedEntityID,7), dbo.sqlProtect_xss(@parentMessageID,7), dbo.sqlProtect_xss(@message,3))

        SELECT @newMessageID = SCOPE_IDENTITY()
        EXEC dbo.pr_linkedEntity_new 255, @newMessageID, @websiteID
    END

    SELECT ISNULL(@newMessageID, NULL), ISNULL(@errorMessage, NULL)
END
GO
