USE [ectdb]
GO
/*
Written by Asira 11/01/2023
Procedure pr_website_autoconfig - Automatic base configuration for a new website
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_website_autoConfig](
    @websiteURL VARCHAR(2048),
    @websiteID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DECLARE @adminEmail VARCHAR(MAX), @adminPassword VARCHAR(MAX), @checkID INT
    SELECT @adminEmail = CONCAT('admin@', dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(dbo.fn_stripProtocol_HTTP(@websiteURL)),4))
    SELECT @adminPassword = CONCAT('@Admin', FORMAT(GETDATE(), 'MMdd'))





    -- create admin user
    INSERT INTO users (firstName, lastName, email, emailValidated, organizationID, websiteID, passwordHash, accountRisk)
    VALUES ('Admin', 'Admin', @adminEmail, 1, NULL, @websiteID, HASHBYTES('SHA2_256', @adminPassword), 0)

    DECLARE @websiteAdminUserID INT
    SELECT @websiteAdminUserID = SCOPE_IDENTITY()
    --double check that the selected user is the correct one
    SELECT @checkID = userID FROM users WHERE email = CONCAT('admin@', dbo.sqlProtect_xss(dbo.fn_websites_removeSubdomain(dbo.fn_stripProtocol_HTTP(@websiteURL)),4)) AND websiteID = @websiteID AND userID = @websiteAdminUserID

    IF @checkID IS NULL RETURN --something went wrong





    -- add new linkedEntity for admin user, create admin employee
    IF @checkID IS NOT NULL 
    BEGIN
        EXEC dbo.pr_linkedEntity_new 1, @websiteAdminUserID, @websiteID

        INSERT INTO employees (userID, hourlyWage, birthdate, hiredate, SSN, inactive, isAdmin, websiteID)
        VALUES (@websiteAdminUserID, 7.25, GETDATE(), GETDATE(), '000-00-0000', 0, 1, @websiteID)
    END
    SELECT @checkID = NULL

    DECLARE @websiteAdminEmployeeID INT
    SELECT @websiteAdminEmployeeID = SCOPE_IDENTITY()
    --double check that the selected employee is the correct one
    SELECT @checkID = employeeID FROM employees WHERE userID = @websiteAdminUserID AND employeeID = @websiteAdminEmployeeID

    IF @checkID IS NULL RETURN --something went wrong





    -- add new linkedEntity for admin employee, create a policies and rules document
    IF @checkID IS NOT NULL
    BEGIN
        EXEC dbo.pr_linkedEntity_new 2, @websiteAdminEmployeeID, @websiteID
        UPDATE employees SET isAdmin = 1 WHERE employeeID = @websiteAdminEmployeeID

        INSERT INTO documents (description, keywords, date, authorID, authorNameOverride, parentDocumentID, documentContent, priority, websiteID)
        VALUES ('Policies And Rules', NULL, GETDATE(), @websiteAdminEmployeeID, 'Administrator', NULL, 'Various legal documents and policies for our users.', .1, @websiteID)
    END
    SELECT @checkID = NULL

    DECLARE @aDocID INT
    SELECT @aDocID = SCOPE_IDENTITY()
    --double check the doc was created corrected
    SELECT @checkID = documentID FROM documents WHERE documentID = @aDocID AND [description] = 'Policies And Rules' AND websiteID = @websiteID

    IF @checkID IS NULL RETURN --something went wrong





    -- add new linkedEntity for previous document, update its keywords, make it visible, create a terms of service document
    IF @checkID IS NOT NULL
    BEGIN
        EXEC dbo.pr_linkedEntity_new 9, @aDocID, @websiteID
        DECLARE @keywords VARCHAR(MAX) = NULL

        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_documentKeywords(@aDocID, 1)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE documents
        SET keywords = dbo.sqlProtect_xss(@keywords,6), isHidden = 0
        WHERE documentID = @aDocID

        INSERT INTO documents (description, keywords, date, authorID, authorNameOverride, parentDocumentID, documentContent, websiteID)
        VALUES ('Terms Of Service', NULL, GETDATE(), @websiteAdminEmployeeID, 'Administrator', @aDocID, 'Website Terms of Service or Use. Please fill out.', @websiteID)
    END
    SELECT @checkID = NULL

    SELECT @aDocID = NULL --reset
    SELECT @aDocID = SCOPE_IDENTITY()
    --double check the doc was created corrected
    SELECT @checkID = documentID FROM documents WHERE documentID = @aDocID AND [description] = 'Terms Of Service' AND websiteID = @websiteID 

    IF @checkID IS NULL RETURN --something went wrong





    -- add new linkedEntity for previous document, update its keywords, make it visible, create a privacy policy document
    IF @checkID IS NOT NULL
    BEGIN
        EXEC dbo.pr_linkedEntity_new 9, @aDocID, @websiteID
        SELECT @keywords = NULL

        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_documentKeywords(@aDocID, 1)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE documents
        SET keywords = dbo.sqlProtect_xss(@keywords,6), isHidden = 0
        WHERE documentID = @aDocID

        INSERT INTO documents (description, keywords, date, authorID, authorNameOverride, parentDocumentID, documentContent, websiteID)
        VALUES ('Privacy Policy', NULL, GETDATE(), @websiteAdminEmployeeID, 'Administrator', @aDocID, 'Website Privacy Policy. Please fill out.', @websiteID)
    END

    SELECT @checkID = NULL

    SELECT @aDocID = NULL --reset
    SELECT @aDocID = SCOPE_IDENTITY()
    --double check the doc was created corrected
    SELECT @checkID = documentID FROM documents WHERE documentID = @aDocID AND [description] = 'Privacy Policy' AND websiteID = @websiteID 

    IF @checkID IS NULL RETURN --something went wrong





    -- add new linkedEntity for previous document, update its keywords, make it visible
    IF @checkID IS NOT NULL
    BEGIN
        EXEC dbo.pr_linkedEntity_new 9, @aDocID, @websiteID
        SELECT @keywords = NULL

        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_documentKeywords(@aDocID, 1)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE documents
        SET keywords = dbo.sqlProtect_xss(@keywords,6), isHidden = 0
        WHERE documentID = @aDocID
    END

    SELECT @checkID = NULL

    SELECT @aDocID = NULL --reset
    SELECT @aDocID = SCOPE_IDENTITY()
    --double check the doc was created corrected
    SELECT @checkID = documentID FROM documents WHERE documentID = @aDocID AND [description] = 'Terms Of Service' AND websiteID = @websiteID 

    IF @checkID IS NULL RETURN --something went wrong

END
GO
