USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Table Function tb_collectionAncestors - returns ancestors of a given collection
previously tb_entityGroupAncestors
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_collectionAncestors]
(
	@collectionID int
)
RETURNS TABLE 
AS
    RETURN (
        WITH clResults (collectionID, parentCollectionID) AS (
            SELECT      collectionID, parentCollectionID
            FROM        collections
            WHERE       collectionID = @collectionID

            UNION ALL

            SELECT      t2.collectionID, t2.parentCollectionID
            FROM        collections t2
            INNER JOIN  clResults ON clResults.parentCollectionID = t2.collectionID
            WHERE       t2.collectionID <> @collectionID 
        )

        SELECT TOP 99999 collectionID, parentCollectionID FROM clResults
    )
GO
