USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_user_edit - Modify an existing user record FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_edit] (
  @userID INT,
  @sessionID INT,
  @firstName VARCHAR(50) = NULL,
  @lastName VARCHAR(50) = NULL,
  @displayName VARCHAR(101) = NULL,
  @email VARCHAR(255) = NULL,
  @password VARCHAR(32) = NULL,
  @newPassword VARCHAR(32) = NULL,
  @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

    DECLARE @checkID INT, @websiteID INT, @oldEmail VARCHAR(MAX) --used to validate user's ID for password, and later to check if email is unique for website
    SELECT @websiteID = websiteID FROM users WHERE userID = @userID

    IF @password IS NOT NULL AND @newPassword IS NOT NULL --user is attempting to change their password
    BEGIN
        DECLARE @attempts INT
        SELECT @attempts = ISNULL(loginAttempts, 0) FROM sessions WHERE sessionID = @sessionID

        SELECT @checkID = userID FROM users WHERE userID = @userID AND passwordHash = HASHBYTES('SHA2_256', @password) --validate current password before changing

        IF @checkID IS NULL --incorrect password
        BEGIN
            SET @attempts = @attempts + 1
            UPDATE sessions SET loginAttempts = @attempts WHERE sessionID = @sessionID

            IF @attempts > 0 AND @attempts <= 2 SELECT @errorMessage = 'Incorrect password.'
            IF @attempts > 2 AND @attempts <= 3 SELECT @errorMessage = 'Incorrect password (2 more attempts allowed).'
            IF @attempts > 3 AND @attempts <= 4 SELECT @errorMessage = 'Incorrect password (1 more attempt allowed).'
            IF @attempts > 4                    SELECT @errorMessage = 'Too many password attempts. Come back tomorrow or contact customer support.'
        END

        IF @checkID IS NOT NULL --correct password, reset loginAttempts and update password
        BEGIN
            UPDATE sessions SET loginAttempts = 0 WHERE sessionID = @sessionID
            UPDATE users SET passwordHash = HASHBYTES('SHA2_256', @newPassword)
        END

        SET @checkID = NULL
    END


    SELECT @checkID = userID FROM users WHERE email = @email AND websiteID = @websiteID AND userID != @userID --if userID returns non-null then the email is already reserved
    IF @checkID IS NOT NULL SELECT @errorMessage = 'An account already exists with this email address.'


    IF @errorMessage IS NULL --only update if the user validated password (if they are trying to change password) and if the email is valid
    BEGIN
        --if email is different, set validated email to false and re-run account risk
        SELECT @oldEmail = email FROM users WHERE userID = @userID
        IF @email != @oldEmail UPDATE users SET emailValidated = 0, accountRisk = dbo.fn_userAccount_riskScore(userID) WHERE userID = @userID

        UPDATE users
        SET firstName = dbo.sqlProtect_xss(ISNULL(@firstName, firstName),5), lastName = dbo.sqlProtect_xss(ISNULL(@lastName, lastName),5), displayName = dbo.sqlProtect_xss(ISNULL(@displayName, displayName),5), email = dbo.sqlProtect_xss(ISNULL(@email, email),4)
        WHERE userID = @userID
    END

    SELECT ISNULL(@errorMessage,NULL)
END
GO
