USE [ectdb]
GO
/*
Written by Asira 08/19/2024
Procedure pr_timeEntry_break - Automatically handle logic for clocking out and back in for a break of set length
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_timeEntry_break] (
    @employeeID INT,
    @isTimeClockEntry BIT,
    @taskID INT,
    @breakLength SMALLINT
    )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
  
    DECLARE @latestClockID INT, @lat FLOAT, @lon FLOAT, @breakEndTime DATETIME --get their current timeEntryID, latitude, and longitude, calculated break end time
    SELECT TOP(1) @latestClockID = timeEntryID, @lat = latitude, @lon = longitude FROM timeEntries WHERE employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND deleted = 0 ORDER BY timeEntryID DESC

    UPDATE timeEntries
    SET endDateTime = GETDATE() --clock out now
    WHERE timeEntryID = @latestClockID

    --clock in with designated start time when the break ends
    SELECT @breakEndTime = DATEADD(MINUTE, @breakLength, GETDATE())
    EXEC pr_timeEntry_clocking @employeeID, @isTimeClockEntry, @taskID, @lat, @lon, @breakEndTime, NULL
END
GO
