USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_knowledgebase_oldestAncestor - represents the highest level ancestor in chain of inheritance for a given KB
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_knowledgebase_oldestAncestor]
    (@knowledgebaseID INT)
RETURNS INT
AS
BEGIN
    DECLARE @parentID INT, @ancestorID INT
    SELECT @parentID = parentKnowledgebaseID FROM knowledgebase WHERE knowledgebaseID = @knowledgebaseID

    IF @parentID IS NOT NULL
    BEGIN
        SELECT @ancestorID = dbo.fn_knowledgebase_oldestAncestor(@parentID)
        IF @ancestorID IS NULL SELECT @ancestorID = @parentID
    END

    RETURN ISNULL(@ancestorID, @knowledgebaseID) --return self if self has no ancestor
END
GO
