USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_dedupeString - removes duplicate words from a string
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_dedupeString]
(
  @list VARCHAR(MAX),
  @delim CHAR(1)
)
RETURNS VARCHAR(MAX)
AS

BEGIN
	/* NEW CODE COMPATIBLE WITH SQL SERVER 2016 AND LATER */
    DECLARE @aTable TABLE (tblIdent INT IDENTITY, aSubString VARCHAR(MAX))
    INSERT INTO @aTable SELECT DISTINCT [value] FROM STRING_SPLIT(@list, @delim) ORDER BY [value] ASC

    DECLARE @aNewString VARCHAR(MAX)
	SELECT @aNewString = COALESCE(@aNewString + @delim, '') + aSubString FROM @aTable

	RETURN @aNewString


  -- pre-2022
	/* OLD CODE COMPATIBLE WITH SQL SERVER 2014 AND EARLIER 
    RETURN (SELECT newval = STUFF((
     SELECT @Delim + x.[Value] FROM dbo.tb_splitString(@List, @Delim) AS x
      WHERE (x.vn = 1)
      ORDER BY x.rn
      FOR XML PATH, TYPE).value('.', 'varchar(max)'), 1, 1, '')
    );
	*/
END

--http://stackoverflow.com/questions/10586932/find-and-remove-repeated-substrings
GO
