USE [ectdb]
GO
/*
Written by Darin Andersen
Format, comments by Asira circa 10/15/2024
Function fn_IPv4_toBinary - Converts IPv4 address (string) to binary format (4 bytes) ... does not handle IPv6
    fn_IpAddress_toBinary converts both IPv6 and IPv4 to binary, but always returns in 16 byte format
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IPv4_toBinary]
(
    @ipAddress AS VARCHAR(15)
)
RETURNS BINARY(4)
AS
BEGIN

    DECLARE @binaryIP AS BINARY(4)
    SELECT @binaryIP = NULL

    IF @ipAddress IS NOT NULL
    BEGIN
        SELECT @binaryIP = CAST(TRY_CONVERT(INTEGER, PARSENAME(@ipAddress, 4)) AS BINARY(1))
                         + CAST(TRY_CONVERT(INTEGER, PARSENAME(@ipAddress, 3)) AS BINARY(1))
                         + CAST(TRY_CONVERT(INTEGER, PARSENAME(@ipAddress, 2)) AS BINARY(1))
                         + CAST(TRY_CONVERT(INTEGER, PARSENAME(@ipAddress, 1)) AS BINARY(1))
    END

    RETURN @binaryIP
END
GO
