USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_asset_new - create a new asset record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_asset_new] (
  @organizationID INT,
  @assetTypeID VARCHAR(255),
  @description VARCHAR(255),
  @referenceNumber VARCHAR(64) = NULL,
  @aquisitionPrice MONEY = NULL,
  @aquisitionDate SMALLDATETIME = NULL,
  @memo TEXT = NULL,
  @websiteID INT,
  @newAssetID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    INSERT INTO assets (assetDescription, assetTypeID, aquisitionDate, aquisitionPrice, referenceNumber, aquiredFromOrganizationID, assetMemo)
    VALUES(dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@assetTypeID,7), dbo.sqlProtect_xss(@aquisitionDate,4), dbo.sqlProtect_xss(@aquisitionPrice,4), dbo.sqlProtect_xss(@referenceNumber,4), dbo.sqlProtect_xss(@organizationID,7), dbo.sqlProtect_xss(@memo,1))

    SELECT @newAssetID = SCOPE_IDENTITY()
    IF @newAssetID IS NOT NULL EXEC dbo.pr_linkedEntity_new 6, @newAssetID, @websiteID

    SELECT ISNULL(@newAssetID, NULL)
END
GO
