USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_user_resetPassword - forcefully overwrite a user's existing password (should use automatically generated, unique address assigned by the system)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_resetPassword] (
  @userID INT,
  @password VARCHAR(32)
  )
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

  UPDATE users
  SET passwordHash = HASHBYTES('SHA2_256', @password)
  WHERE userID = @userID

  EXEC dbo.pr_user_endAllSessions @userID
END
GO
