USE [ectdb]
GO
/*
Written by Asira 2023
Function fn_collectionKeywords - generates relevant keywords to a collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_collectionKeywords](
    @collectionID INT,
    @option TINYINT
)
RETURNS VARCHAR(MAX)
BEGIN
    --option 0/null: return keywords for this collection only
    --option 1/2:    return keywords for this collection and all ancestors
    DECLARE @aString VARCHAR(MAX), @parentString VARCHAR(MAX), @parentCollectionID INT

    IF @collectionID IS NOT NULL
    BEGIN
        --get parentDocID
        SELECT @parentCollectionID = parentCollectionID, @aString = keywords FROM collections WHERE collectionID = @collectionID



        --keywords for option 0/null
        IF ISNULL(@option, 0) = 0
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT name FROM collections WHERE collectionID = ISNULL(parentCollectionID, 0)), ' ', keywords, ' ', collectionID, ' collection COL CL ', CONCAT('CL', @collectionID)), ' ')
            FROM collections
            WHERE collectionID = @collectionID
        END



        --keywords for option 1/2
        IF @option IN (1, 2)
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT name FROM collections WHERE collectionID = ISNULL(parentCollectionID, 0)), ' ', keywords, ' ', collectionID, ' collection COL CL ', CONCAT('CL', @collectionID)), ' ')
            FROM collections
            WHERE collectionID = @collectionID

            --get keywords and prepend them
            SELECT @parentString = dbo.fn_collectionKeywords(@parentCollectionID, 2)
            IF @parentString + @aString IS NOT NULL
                SELECT @aString = dbo.fn_dedupeString(@aString + ' ' + @parentString, ' ') 
            ELSE
                SELECT @aString = ISNULL(@parentString, '') + ' ' + ISNULL(@aString, '')
        END



        --default keywords
        IF @aString = '' SELECT @aString = NULL
        IF @option = 1 AND @aString IS NULL
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT name FROM collections WHERE collectionID = ISNULL(parentCollectionID, 0)), ' ', keywords, ' ', collectionID, ' collection COL CL ', CONCAT('CL', @collectionID)), ' ')
            FROM collections
            WHERE collectionID = @collectionID
        END
    END

    SELECT @aString = dbo.fn_sortAlphaString(LOWER(@aString))
    RETURN @aString
END
GO
