USE [ectdb]
GO
/*
Written by Asira 2024
Procedure pr_task_toggleCompletion - mark or unmark a task as complete
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_task_toggleCompletion] (
    @taskID INT,
    @isComplete BIT = NULL OUTPUT
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @notificationContent VARCHAR(MAX)

    DECLARE @clockTimeEntryID INT                       --if clocked into task, automatically clock out upon completion
    SELECT TOP 1 @clockTimeEntryID = timeEntryID
    FROM timeEntries
    WHERE (endDateTime IS NULL OR endDateTime > GETDATE()) AND isTimeClockEntry = 0 AND taskID = @taskID AND deleted = 0
    ORDER BY timeEntryID DESC



    DECLARE @wasComplete BIT, @taskAssignerID INT, @taskAssignerLEID BIGINT, @taskAssigneeID INT, @taskAssigneeLEID BIGINT, @taskDescription VARCHAR(MAX), @taskStartDate DATE 
    SELECT  @taskDescription = description, @taskStartDate = CAST(startDate AS DATE), @wasComplete = IIF(completeDate IS NOT NULL, 1, 0),
            @taskAssignerID = assignedByEmployeeID, @taskAssignerLEID = dbo.fn_linkedEntity_getID(2, assignedByEmployeeID),
            @taskAssigneeID = assignedToEmployeeID, @taskAssigneeLEID = dbo.fn_linkedEntity_getID(2, assignedToEmployeeID)
    FROM tasks WHERE taskID = @taskID
    SELECT @isComplete = ~@wasComplete --invert the bit value



    IF @wasComplete = 1 --was already complete, mark as incomplete instead
    BEGIN
        UPDATE tasks SET completeDate = NULL WHERE taskID = @taskID

        --assignee un-completed a task that was assigned to them
        IF @taskAssignerLEID != @taskAssigneeLEID
        BEGIN
            SELECT @notificationContent = dbo.fn_entityName_public(2, @taskAssigneeID) + ' marked the previously completed task ' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@taskID AS VARCHAR(MAX)), @taskDescription) + '" as incomplete.'
            EXEC dbo.pr_notification_new @taskAssigneeLEID, @taskAssignerLEID, @notificationContent
        END
    END



    IF @wasComplete = 0 --was not completed
    BEGIN
        IF @clockTimeEntryID IS NOT NULL 
            UPDATE timeEntries SET endDateTime = GETDATE() WHERE taskID = @taskID AND timeEntryID = @clockTimeEntryID --clock out of task if clocked in

        UPDATE tasks SET completeDate = GETDATE() WHERE taskID = @taskID

        --assignee completed a task that was assigned to them
        IF @taskAssignerLEID != @taskAssigneeLEID
        BEGIN
            SELECT @notificationContent = dbo.fn_entityName_public(2, @taskAssigneeID) + ' completed the task "' + dbo.fn_html_anchor('/console?ltid=253&xid=' + CAST(@taskID AS VARCHAR(10)), @taskDescription) + '" which you assigned on ' + CAST(@taskStartDate AS VARCHAR(10)) + '.'
            EXEC dbo.pr_notification_new @taskAssigneeLEID, @taskAssignerLEID, @notificationContent
        END
    END



    SELECT @isComplete --return value
END
GO
