USE [ectdb]
GO

/*
Written by Asira 12/12/2024
Table accessRights - differing levels of access that may be granted to entities such as users, employees, groups, etc
*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accessRights](
	[accessRightID] [tinyint] NOT NULL,
	[accessRightDescription] [varchar](128) NOT NULL,
 CONSTRAINT [PK_accessRights] PRIMARY KEY CLUSTERED 
(
	[accessRightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
