USE [ectdb]
GO
/*
Written by Asira 2022
Table employees - List of employees and critical legal information
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[preferredName] [varchar](36) NULL,
	[inActive] [bit] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[hourlyWage] [smallmoney] NOT NULL,
	[birthdate] [datetime] NOT NULL,
	[hiredate] [datetime] NOT NULL,
	[SSN] [varchar](11) NOT NULL,
	[quickPin] [varchar](4) NOT NULL,
	[websiteID] [int] NOT NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY NONCLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_employees] ON [dbo].[employees]
(
	[employeeID] ASC,
	[userID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_employees_addresses]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_employees_addresses] ON [dbo].[employees]
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DEFAULT_employees_inActive]  DEFAULT ((1)) FOR [inActive]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DEFAULT_employees_isAdmin]  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (($7.2500)) FOR [hourlyWage]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [hiredate]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DEFAULT_employees_quickPin]  DEFAULT (CONVERT([varchar](4),left(CONVERT([int],rand()*(1000000000)+(999999)),(4)))) FOR [quickPin]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_userID]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_websiteID]
GO
