USE [ectdb]
GO
/*
Written by Asira 04/25/2024
Function fn_productVariants_countNotDiscontinued - Returns how many ACTIVE variants of a given product exist
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_productVariants_countNotDiscontinued](
    @parentProductID INT
)
RETURNS INT
BEGIN
    DECLARE @aCount INT
    
    SELECT @aCount = COUNT(*) FROM productVariants WHERE parentProductID = @parentProductID AND isDiscontinued = 0
    RETURN ISNULL(@aCount, 0)
END
GO
