USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_employees - retrieves employee records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_employees] AS


    SELECT employees.employeeID, employees.inactive, employees.preferredName, users.firstName, users.lastName, users.email, contactPhoneNumbers.phoneNumber, contactPhoneNumbers.phoneNumberExtension, LE.websiteID
    FROM employees
    LEFT JOIN users ON employees.userID = users.userID
    LEFT JOIN linkedEntities LE ON toLTID = 2 AND toXID = employees.employeeID
    LEFT JOIN contacts ON contacts.ownerLEID = LE.linkedEntityID
    LEFT JOIN contactPhoneNumbers ON contacts.primaryPhoneNumberID = contactPhoneNumbers.phoneNumberID
    
GO
