USE [ectdb]
GO
/*
Written by Asira 2023
Table projects - projects that one or more people can be working on ... collects tasks, kbs, notes, etc into one place
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[projectID] [int] IDENTITY(1,1) NOT NULL,
	[projectName] [varchar](128) NOT NULL,
	[projectMemo] [varchar](max) NULL,
	[leadByEmployeeID] [int] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[dueDate] [datetime] NULL,
	[completeDate] [datetime] NULL,
	[projectStatusID] [tinyint] NOT NULL,
 CONSTRAINT [PK_projects] PRIMARY KEY NONCLUSTERED 
(
	[projectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[projects] ADD  CONSTRAINT [DEFAULT_projects_startDate]  DEFAULT (CONVERT([datetime],CONVERT([date],getdate()+(1)))) FOR [startDate]
GO
ALTER TABLE [dbo].[projects] ADD  CONSTRAINT [DEFAULT_projects_projectStatusID]  DEFAULT ((1)) FOR [projectStatusID]
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD  CONSTRAINT [FK_projects_employeeID] FOREIGN KEY([leadByEmployeeID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[projects] CHECK CONSTRAINT [FK_projects_employeeID]
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD  CONSTRAINT [FK_projects_projectStatusID] FOREIGN KEY([projectStatusID])
REFERENCES [dbo].[projectStatuses] ([projectStatusID])
GO
ALTER TABLE [dbo].[projects] CHECK CONSTRAINT [FK_projects_projectStatusID]
GO
