USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_employeeNotes - returns employee notes
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_employeeNotes] AS

    SELECT notes.noteID, notes.noteTitle, dbo.fn_stripTags(notes.noteContent) AS noteContent, notes.noteDate, notes.noteAuthorID, users.firstName, users.lastName, LE.websiteID
    FROM notes
    LEFT JOIN users ON notes.noteAuthorID = users.userID
    LEFT JOIN linkedEntities LE ON toLTID = 7 AND toXID = notes.noteID
    
GO
