USE [ectdb]
GO
/*
Written by Asira 2022
Table noteTypes - Types of notes an employee can write (currently colored, eventually may be tied to employee note, customer note, etc)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noteTypes](
	[noteTypeID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](64) NOT NULL,
	[inactive] [bit] NOT NULL,
 CONSTRAINT [PK_noteTypes] PRIMARY KEY CLUSTERED 
(
	[noteTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[noteTypes] ADD  CONSTRAINT [DEFAULT_noteTypes_inactive]  DEFAULT ((1)) FOR [inactive]
GO
