USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_updateKeywords - Returns a list of keywords relevant to a particular knowledgebase
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_updateKeywords] (
    @knowledgebaseID INT,
    @keywords VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newKeywords VARCHAR(MAX), @KBID INT = 0, @someKeywords VARCHAR(MAX)
    DECLARE @aTable TABLE (KBID INT, someKeywords VARCHAR(MAX))

    --delete old keywords then make sure updated keywords includes default keywords but no duplicates... then update
    UPDATE knowledgebase SET keywords = NULL WHERE knowledgebaseID = @knowledgebaseID
    SELECT @newKeywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_knowledgebaseKeywords(@knowledgebaseID, 1)), ' ')
    SELECT @newKeywords = dbo.fn_sortAlphaString(LOWER(@newKeywords))
    UPDATE knowledgebase SET keywords = dbo.sqlProtect_xss(@newKeywords,6) WHERE knowledgebaseID = @knowledgebaseID


    --store a list of KBID's that need to have their keywords udpated
    INSERT INTO @aTable SELECT knowledgebaseID, keywords FROM knowledgebase WHERE parentKnowledgebaseID = @knowledgebaseID ORDER BY knowledgebaseID ASC



    WHILE 1=1
    BEGIN
        --get next ID
        SELECT TOP 1 @KBID = KBID, @someKeywords = someKeywords
        FROM @aTable
        WHERE KBID > @KBID
        ORDER BY KBID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to update keywords
        EXEC dbo.pr_knowledgebase_updateKeywords @KBID, @someKeywords
    END
END
GO
