USE [ectdb]
GO
/*
Written by Asira 08/14/2024
Table timeEntries - time spent on tasks OR clocked in at work
replaces employeeTimeClock (created 05/03/2023)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timeEntries](
	[timeEntryID] [int] IDENTITY(1,1) NOT NULL,
	[employeeID] [int] NOT NULL,
	[taskID] [int] NULL,
	[isTimeClockEntry] [bit] NOT NULL,
	[startDateTime] [datetime] NOT NULL,
	[endDateTime] [datetime] NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_timeEntries] PRIMARY KEY NONCLUSTERED 
(
	[timeEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_timeEntries]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_timeEntries] ON [dbo].[timeEntries]
(
	[timeEntryID] ASC,
	[employeeID] ASC,
	[taskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[timeEntries] ADD  CONSTRAINT [DEFAULT_timeEntries_isTimeClockEntry]  DEFAULT ((1)) FOR [isTimeClockEntry]
GO
ALTER TABLE [dbo].[timeEntries] ADD  CONSTRAINT [DEFAULT_timeEntries_startDateTime]  DEFAULT (getdate()) FOR [startDateTime]
GO
ALTER TABLE [dbo].[timeEntries] ADD  CONSTRAINT [DEFAULT_timeEntries_latitude]  DEFAULT ((0)) FOR [latitude]
GO
ALTER TABLE [dbo].[timeEntries] ADD  CONSTRAINT [DEFAULT_timeEntries_longitude]  DEFAULT ((0)) FOR [longitude]
GO
ALTER TABLE [dbo].[timeEntries] ADD  CONSTRAINT [DEFAULT_timeEntries_delete]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[timeEntries]  WITH CHECK ADD  CONSTRAINT [FK_timeEntries_employeeID] FOREIGN KEY([employeeID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[timeEntries] CHECK CONSTRAINT [FK_timeEntries_employeeID]
GO
ALTER TABLE [dbo].[timeEntries]  WITH CHECK ADD  CONSTRAINT [FK_timeEntries_taskID] FOREIGN KEY([taskID])
REFERENCES [dbo].[tasks] ([taskID])
GO
ALTER TABLE [dbo].[timeEntries] CHECK CONSTRAINT [FK_timeEntries_taskID]
GO
ALTER TABLE [dbo].[timeEntries]  WITH CHECK ADD  CONSTRAINT [CHK_timeClock_or_task] CHECK  (([isTimeClockEntry]=(1) AND [taskID] IS NULL OR [isTimeClockEntry]=(0) AND [taskID] IS NOT NULL))
GO
ALTER TABLE [dbo].[timeEntries] CHECK CONSTRAINT [CHK_timeClock_or_task]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'null if isTimeClockEntry=1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'timeEntries', @level2type=N'COLUMN',@level2name=N'taskID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Must be 0 if taskID is not null' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'timeEntries', @level2type=N'COLUMN',@level2name=N'isTimeClockEntry'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'for clocking in and out of work' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'timeEntries', @level2type=N'COLUMN',@level2name=N'endDateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Either this is a time entry for being on the clock OR it is a time entry for a task. cannot be both' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'timeEntries', @level2type=N'CONSTRAINT',@level2name=N'CHK_timeClock_or_task'
GO
