USE [ectdb]
GO
/*
Written by Asira UNFINISHED
Table virtualPages - webpages (not sites) programmed via the employee console and stored in the database
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[virtualPages](
	[virtualPageID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_virtualPages] PRIMARY KEY NONCLUSTERED 
(
	[virtualPageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
