USE [ectdb]
GO
/*
Written by Asira 2023
Table files - the name of a file stored in a fileFolder
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[fileID] [int] IDENTITY(1,1) NOT NULL,
	[fileName] [varchar](255) NOT NULL,
	[fileFolderID] [int] NOT NULL,
	[date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_files] PRIMARY KEY NONCLUSTERED 
(
	[fileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_folderFiles]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_folderFiles] ON [dbo].[files]
(
	[fileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_folderFiles_searchCard]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_folderFiles_searchCard] ON [dbo].[files]
(
	[fileID] ASC,
	[fileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[files] ADD  CONSTRAINT [DEFAULT_files_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [FK_files_fileFolderID] FOREIGN KEY([fileFolderID])
REFERENCES [dbo].[fileFolders] ([fileFolderID])
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [FK_files_fileFolderID]
GO
