USE [ectdb]
GO
/*
Written by Asira 05/06/2024
Function fn_session_aclScore - Returns the total ACL Score for a session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_session_aclScore]
(
    @sessionID INT
)
RETURNS SMALLINT
AS
BEGIN
    DECLARE @aclTotal SMALLINT

    SELECT @aclTotal = (ISNULL(aclSessions.CAPTCHAScore,0) + ISNULL(aclSessions.errorScore,0) + ISNULL(aclSessions.locationScore,0) + ISNULL(aclSessions.riskScore,0))
    FROM aclSessions
    LEFT JOIN sessions ON sessions.ipv4 = aclSessions.ipAddress OR sessions.ipv6 = aclSessions.ipAddress
    WHERE sessions.sessionID = ISNULL(@sessionID, 0)

    RETURN ISNULL(@aclTotal, 0)
END
GO
