USE [ectdb]
GO
/*
Written by Asira 11/07/2023
Table highlightTypes - different items or ways a highlight is presented (e.g. document, product, employee event, etc)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[highlightTypes](
	[highlightTypeID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[forEmployees] [bit] NOT NULL,
 CONSTRAINT [PK_highlightTypes] PRIMARY KEY CLUSTERED 
(
	[highlightTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[highlightTypes] ADD  CONSTRAINT [DEFAULT_highlightTypes_forEmployees]  DEFAULT ((0)) FOR [forEmployees]
GO
