USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_countries - Returns a sorted list of earth countries
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_countries] AS

    SELECT TOP 300 countryID, name
    FROM countries
    ORDER BY (CASE
        WHEN countryID = 222 THEN 1 --USA
        ELSE 2 END
        ), name
       
GO
