USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Procedure apr_searchedItems_refresh - Automated/agent refreshes the keywords for searchable items (essentially linked entities keyword lookup)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_searchedItems_refresh]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DECLARE @LEID BIGINT = 0

    WHILE (1=1)
    BEGIN
        SELECT TOP 1 @LEID = linkedEntityID FROM linkedEntities WHERE linkedEntityID > @LEID ORDER BY linkedEntityID ASC --select the next linkedEntity
        IF @@ROWCOUNT = 0 BREAK;    --exit loop when done

        EXEC dbo.pr_searchedItem_refresh @LEID
    END



    EXEC dbo.pr_actionLog_new NULL, NULL, 51, 'arp_searchedItems_refresh', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
