USE [ectdb]
GO
/*
Written by Asira 10/22/2024
Function fn_html_anchor - create a simple HTML anchor from data in the database
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_html_anchor] (
  @href VARCHAR(MAX),
  @text VARCHAR(MAX)
  )
RETURNS VARCHAR(MAX)
AS
BEGIN
    
    DECLARE @result VARCHAR(MAX)
    SELECT @result = '<a href="'+CAST(@href AS VARCHAR(MAX))+'">'+CAST(@text AS VARCHAR(MAX))+'</a>'


    RETURN(@result)
END
GO
