USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_file_edit - modify an existing file
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_file_edit] (
    @fileID INT,
    @fileName VARCHAR(255)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --specifically used to RENAME a file, and NOTHING else. Moving files is in pr_file_move
    
    UPDATE files
    SET fileName = dbo.sqlProtect_xss(ISNULL(@fileName, 'New File'),6)
    WHERE fileID = @fileID

END
GO
