USE [ectdb]
GO
/*
Written by Asira 2022
Table externalLinks - a type of console employee shortcut that links to a hyperlink instead of LTID/XID combination
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[externalLinks](
	[externalLinkID] [int] IDENTITY(1,1) NOT NULL,
	[externalLinkDescription] [varchar](64) NOT NULL,
	[externalLinkURL] [varchar](2048) NOT NULL,
 CONSTRAINT [PK_externalLinks] PRIMARY KEY NONCLUSTERED 
(
	[externalLinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
