USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_asset_edit - modify an existing asset
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_asset_edit] (
  @assetID INT,
  @aquiredFromOrganizationID INT,
  @assetTypeID VARCHAR(255),
  @assetDescription VARCHAR(255),
  @referenceNumber VARCHAR(64) = NULL,
  @aquisitionPrice MONEY = NULL,
  @aquisitionDate SMALLDATETIME = NULL,
  @assetMemo TEXT = NULL
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    UPDATE assets
    SET assetDescription = dbo.sqlProtect_xss(@assetDescription,4), assetTypeID = dbo.sqlProtect_xss(@assetTypeID,7), aquisitionDate = dbo.sqlProtect_xss(@aquisitionDate,4), referenceNumber = dbo.sqlProtect_xss(@referenceNumber,4), aquiredFromOrganizationID = dbo.sqlProtect_xss(@aquiredFromOrganizationID,7), assetMemo = dbo.sqlProtect_xss(@assetMemo,1)
    WHERE assetID = @assetID
  
END
GO
