USE [ectdb]
GO
/*
Written by Asira 12/01/2022
Table knowledgebase -  "document" content, keywords, and relations (parent-sibling, tree) that are intended to be private-facing for company usage
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knowledgebase](
	[knowledgebaseID] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[keywords] [varchar](max) NULL,
	[date] [smalldatetime] NOT NULL,
	[authorID] [int] NOT NULL,
	[parentKnowledgebaseID] [int] NULL,
	[knowledgebaseContent] [text] NULL,
	[depreciated] [bit] NOT NULL,
 CONSTRAINT [PK_knowledgebase] PRIMARY KEY NONCLUSTERED 
(
	[knowledgebaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_knowledgebase]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_knowledgebase] ON [dbo].[knowledgebase]
(
	[knowledgebaseID] ASC,
	[authorID] ASC,
	[parentKnowledgebaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_knowledgebase_cardInformation]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_knowledgebase_cardInformation] ON [dbo].[knowledgebase]
(
	[knowledgebaseID] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[knowledgebase] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[knowledgebase] ADD  CONSTRAINT [DEFAULT_knowledgebase_depreciated]  DEFAULT ((0)) FOR [depreciated]
GO
ALTER TABLE [dbo].[knowledgebase]  WITH CHECK ADD  CONSTRAINT [FK_knowledgebase_authorID] FOREIGN KEY([authorID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[knowledgebase] CHECK CONSTRAINT [FK_knowledgebase_authorID]
GO
ALTER TABLE [dbo].[knowledgebase]  WITH CHECK ADD  CONSTRAINT [FK_knowledgebase_parentKnowledgebaseID] FOREIGN KEY([parentKnowledgebaseID])
REFERENCES [dbo].[knowledgebase] ([knowledgebaseID])
GO
ALTER TABLE [dbo].[knowledgebase] CHECK CONSTRAINT [FK_knowledgebase_parentKnowledgebaseID]
GO
