USE [ectdb]
GO
/*
Written by Asira 2023
Table Function tb_documentTree_collpased - returns a tree view via CTE for documents with some intentionally skipped in the middle (to prevent tree from growing to large on webpage)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_documentTree_collapsed] (
	@documentID int
)

RETURNS @aTable TABLE (documentID INT, parentDocumentID INT, description VARCHAR(MAX), level INT, sortBy FLOAT)
AS
    BEGIN

        DECLARE @websiteID INT
        SELECT @websiteID = ISNULL(websiteID, 0) FROM linkedEntities WHERE toLTID = 9 AND toXID = @documentID

        --@bTable stores a result set before it is subsequently sorted
        DECLARE @bTable TABLE (documentID INT, parentDocumentID INT, description VARCHAR(MAX), level INT, priority FLOAT)
            
        --selected document, siblings, children, parent
        --stores the tree, albeit out of order
        INSERT INTO @bTable 
            SELECT * FROM (
                --ancestral lineage
                SELECT 0 AS documentID, dbo.fn_document_oldestAncestor(@documentID) AS parentDocumentID, '...' AS description, 1 AS level, 0.5 AS priority
        
                UNION ALL
        
                --other root documents
                SELECT documentID, parentDocumentID, description, 0 AS level, priority
                FROM documents
                LEFT JOIN linkedEntities LE ON LE.toLTID = 9 AND LE.toXID = documents.documentID
                WHERE parentDocumentID IS NULL AND isHidden = 0 AND LE.websiteID = @websiteID
        
                UNION ALL
        
                --current document, children, siblings, parent
                SELECT documentID, IIF(documentID = (SELECT parentDocumentID FROM documents WHERE documentID = @documentID), 0, parentDocumentID) AS parentDocumentID, description, (dbo.fn_document_level(documentID) - (dbo.fn_document_level(@documentID)) + 3) AS level, priority
                FROM documents
                WHERE (documentID = @documentID OR documentID = (SELECT parentDocumentID FROM documents WHERE documentID = @documentID) OR parentDocumentID = @documentID OR parentDocumentID = (SELECT parentDocumentID FROM documents WHERE documentID = @documentID)) AND isHidden = 0
            ) results
            
            
        --sorts @bTable into the correct order
        ;WITH CTE (documentID, parentDocumentID, description, level, sortBy) AS (
            SELECT documentID, parentDocumentID, description, level, CAST(ROW_NUMBER() OVER (ORDER BY priority DESC, description ASC) AS FLOAT) AS sortBy
            FROM @bTable WHERE parentDocumentID IS NULL
        
            UNION ALL
        
            SELECT t.documentID, t.parentDocumentID, t.description, t.level, 1/POWER(CAST(ROW_NUMBER() OVER (ORDER BY t.priority ASC, t.description DESC) AS FLOAT)*100.00, CTE.level+1.0) + CTE.sortBy AS sortBy
            FROM @bTable t
            INNER JOIN CTE ON t.parentDocumentID = CTE.documentID
        )
        

        INSERT INTO @aTable
        SELECT documentID, parentDocumentID, description, level, sortBy FROM CTE

        RETURN
    END
GO
