USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Table contacts - replaces old contact fields replicated across many entities ... instead links to an LEID and stores primary forms of contact information for that entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[contactID] [int] IDENTITY(1,1) NOT NULL,
	[ownerLEID] [bigint] NOT NULL,
	[primaryPhoneNumberID] [int] NULL,
	[primaryShipAddressID] [int] NULL,
	[primaryBillAddressID] [int] NULL,
	[primaryEmailAddressID] [int] NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY NONCLUSTERED 
(
	[contactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_owner] UNIQUE NONCLUSTERED 
(
	[ownerLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_contacts]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_contacts] ON [dbo].[contacts]
(
	[contactID] ASC,
	[ownerLEID] ASC,
	[primaryPhoneNumberID] ASC,
	[primaryShipAddressID] ASC,
	[primaryBillAddressID] ASC,
	[primaryEmailAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_ownerLEID] FOREIGN KEY([ownerLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_ownerLEID]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_primaryBillAddressID] FOREIGN KEY([primaryBillAddressID])
REFERENCES [dbo].[contactAddresses] ([addressID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_primaryBillAddressID]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_primaryEmailID] FOREIGN KEY([primaryEmailAddressID])
REFERENCES [dbo].[contactEmailAddresses] ([emailAddressID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_primaryEmailID]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_primaryPhoneNumberID] FOREIGN KEY([primaryPhoneNumberID])
REFERENCES [dbo].[contactPhoneNumbers] ([phoneNumberID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_primaryPhoneNumberID]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_primaryShipAddressID] FOREIGN KEY([primaryShipAddressID])
REFERENCES [dbo].[contactAddresses] ([addressID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_primaryShipAddressID]
GO
