USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactPhoneNumber_delete - delete a phone number record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_contactPhoneNumber_delete] (
    @phoneNumberID INT,
    @contactID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @isPrimary BIT = 0

    SELECT @isPrimary = IIF(primaryPhoneNumberID = @phoneNumberID, 1, 0)
    FROM contacts
    WHERE contactID = @contactID AND primaryPhoneNumberID = @phoneNumberID

    --is not longer primary phone number, remove said status from contact
    IF @isPrimary = 1 UPDATE contacts SET primaryPhoneNumberID = NULL

    --delete the phone number
    DELETE FROM contactPhoneNumbers WHERE phoneNumberID = @phoneNumberID
END
GO
