USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_fileFolder_new - create a new fileFolder record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_fileFolder_new] (
    @folderName VARCHAR(255),
    @folderPath VARCHAR(MAX) = NULL,
    @originLTID INT,
    @parentFileFolderID INT = NULL,
    @websiteID INT,
    @newFileFolderID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    DECLARE @newOriginLTID INT



    --select the newOriginLTID to be equal to parent origin IF the originLTID is fileFolders linkedTableID (12)
    IF @originLTID = 12
    BEGIN
        SELECT @newOriginLTID = originLTID
        FROM fileFolders  
        WHERE fileFolderID = @parentFileFolderID 
    END




    --otherwise, @newOriginLTID is simply the @originLTID
    IF NOT(@originLTID = 12) 
    BEGIN
        SELECT @newOriginLTID = @originLTID
    END





    IF @newOriginLTID IS NULL AND @folderPath IS NULL
    BEGIN
        SELECT @errorMessage = CONCAT('An error occurred (either originLTID or folderPath is required for pr_fileFolder_new). Please contact a system administrator. ', ISNULL(CAST(@newOriginLTID AS VARCHAR(MAX)), 'missing'))
    END





    ELSE
    BEGIN
        DECLARE @checkName VARCHAR(MAX) --used for checking validity of a folder name

        --ensure folderPath starts and ends with a /
        SELECT @folderPath = dbo.fn_fileFolder_checkPath(dbo.sqlProtect_xss(@folderPath,4))

        --create a single record linked to parent
        IF @folderPath IS NULL
        BEGIN
            IF @parentFileFolderID IS NULL
            BEGIN
                IF @newOriginLTID IS NULL
                SELECT @checkName = folderName FROM fileFolders WHERE folderName = dbo.sqlProtect_xss(@folderName,6) AND parentFileFolderID IS NULL AND originLTID IS NULL

                IF @newOriginLTID IS NOT NULL
                SELECT @checkName = folderName FROM fileFolders WHERE folderName = dbo.sqlProtect_xss(@folderName,6) AND parentFileFolderID IS NULL AND originLTID = @newOriginLTID
            END


            IF @parentFileFolderID IS NOT NULL
            BEGIN
                IF @newOriginLTID IS NULL  
                SELECT @checkName = folderName FROM fileFolders WHERE folderName = dbo.sqlProtect_xss(@folderName,6) AND parentFileFolderID = @parentFileFolderID AND originLTID IS NULL

                IF @newOriginLTID IS NOT NULL
                SELECT @checkName = folderName FROM fileFolders WHERE folderName = dbo.sqlProtect_xss(@folderName,6) AND parentFileFolderID = @parentFileFolderID AND originLTID = @newOriginLTID
            END


            IF @checkName IS NULL
            BEGIN
                INSERT INTO fileFolders (folderName, folderPath, originLTID, parentFileFolderID, date)
                VALUES(dbo.sqlProtect_xss(@folderName,6), dbo.sqlProtect_xss(@folderPath,4), dbo.sqlProtect_xss(@newOriginLTID,7), dbo.sqlProtect_xss(@parentFileFolderID,7), GETDATE())
                SELECT @newFileFolderID = SCOPE_IDENTITY()

                EXEC dbo.pr_linkedEntity_new 12, @newFileFolderID, @websiteID
            END

            IF @checkName IS NOT NULL
            SELECT @errorMessage = 'A folder with this name already exists in this directory. Please choose a new name or cancel.'
        END



        --create multiple records for each layer of the folder path
        IF @folderPath IS NOT NULL
        BEGIN
            SELECT @folderPath = REPLACE(CONCAT(dbo.fn_fileFolderPath_fromID(dbo.sqlProtect_xss(@parentFileFolderID,7)), dbo.sqlProtect_xss(@folderPath,4), dbo.sqlProtect_xss(@folderName,4), '/'), '//', '/')


            --make sure path doesn't contain any tableTags as a folder within path
            DECLARE @isLegal BIT
            SELECT @isLegal = dbo.fn_fileFolder_isPathLegal(dbo.sqlProtect_xss(@folderPath,4))



            IF @isLegal = 1 --path is legal and can be generated
            BEGIN
                --create a list of each folder path that needs to be created
                DECLARE @aTable TABLE (aFolderID INT IDENTITY, aFolderName VARCHAR(MAX))
                DECLARE @anIndex INT, @tableLength INT --used for while loop

                DECLARE @currentName VARCHAR(MAX), @parentFolderID INT --current name in the loop

                INSERT INTO @aTable SELECT Value FROM STRING_SPLIT(dbo.sqlProtect_xss(@folderPath,4), '/') WHERE Value <> ''
                SELECT TOP 1 @anIndex = 1, @tableLength = aFolderID FROM @aTable ORDER BY aFolderID DESC

                WHILE @anIndex <= @tableLength
                BEGIN
                    --every iteration, before unique cases
                    SELECT @currentName = aFolderName FROM @aTable WHERE aFolderID = @anIndex --get name of the current item
                    SELECT @checkName = NULL --make sure that previous name check doesn't cause issues for future iterations

                    --first iteration
                    IF @anIndex = 1
                    BEGIN
                        SELECT @checkName = folderName FROM fileFolders WHERE folderName = @currentName AND folderPath = '/' --check if it already exists

                        IF @checkName IS NOT NULL --assign a variable to be used as a parent for next folder creation
                        SELECT @parentFolderID = fileFolderID FROM fileFolders WHERE folderName = @currentName AND folderPath = '/'

                        IF @checkName IS NULL --create it since it doesn't exist
                        BEGIN
                            INSERT INTO fileFolders (folderName, folderPath, originLTID, parentFileFolderID, date)
                            VALUES (dbo.sqlProtect_xss(@currentName,6), '/', NULL, NULL, GETDATE())
                            SELECT @parentFolderID = SCOPE_IDENTITY()

                            EXEC dbo.pr_linkedEntity_new 12, @parentFolderID, @websiteID
                        END
                    END


                    --not first or last iteration
                    IF @anIndex > 1
                    BEGIN
                        SELECT @checkName = folderName FROM fileFolders WHERE folderName = @currentName AND parentFileFolderID = ISNULL(@parentFolderID, 0) --check if it already exists

                        IF @checkName IS NOT NULL --this already exists and should be the next folders parent
                        SELECT @parentFolderID = fileFolderID FROM fileFolders WHERE folderName = @currentName AND parentFileFolderID = ISNULL(@parentFolderID, 0)

                        IF @checkName IS NULL --create it since it doesn't exist
                        BEGIN
                            INSERT INTO fileFolders(folderName, folderpath, originLTID, parentFileFolderID, date)
                            VALUES (dbo.sqlProtect_xss(@currentName,6), NULL, NULL, dbo.sqlProtect_xss(@parentFolderID,7), GETDATE())
                            SELECT @parentFolderID = SCOPE_IDENTITY()

                            EXEC dbo.pr_linkedEntity_new 12, @parentFolderID, @websiteID
                        END
                    END


                    --last iteration
                    IF @anIndex = @tableLength
                    BEGIN
                        SELECT @newFileFolderID = IDENT_CURRENT('fileFolders')
                    END


                    --every iteration, after unique cases
                    SET @anIndex = @anIndex + 1
                END
            END



            IF @isLegal = 0 --path is not legal and an error should occur instead
            SELECT @errorMessage = 'Manually declared paths cannot include a tableTag as a folder within the path.'
        END
    END

    SELECT ISNULL(@newFileFolderID, NULL), ISNULL(@errorMessage, NULL)
END
GO
