USE [ectdb]
GO
/*
Written by Asira 06/11/2022
Procedure pr_user_establishSession - establish or handle user sessions
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_establishSession] (
    @clientCookie UNIQUEIDENTIFIER = NULL,
    @websiteID INT,
    @ipv4 VARCHAR(15),
    @ipv6 VARCHAR(39),
    @browserString VARCHAR(MAX),
    @serverCookie UNIQUEIDENTIFIER = NULL OUTPUT,
    @expiration DATETIME = NULL OUTPUT,
    @sessionID INT = NULL OUTPUT
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --get current cookie data
    DECLARE @persist BIT, @ipv4_bin BINARY(16), @ipv6_bin BINARY(16)
    SELECT @serverCookie = cookie, @expiration = expires, @sessionID = sessionID, @persist = persist FROM sessions WHERE cookie = @clientCookie

    SELECT @ipv4_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipv4)), @ipv6_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipv6))

    IF @serverCookie IS NOT NULL
    BEGIN
        --delete old session and start a new one if expired
        IF GETDATE() > @expiration
        BEGIN
            EXEC dbo.pr_user_endSession @sessionID
            SELECT @serverCookie = NULL --will cause the IF statement on line 51 to be executed later, thereby assigning a new cookie
        END

        --renew session otherwise
        IF GETDATE() <= @expiration
        BEGIN
            IF @persist = 1 SELECT @expiration = GETDATE() + 7
            IF @persist = 0 SELECT @expiration = GETDATE() + 1

            UPDATE sessions
            SET expires = dbo.sqlProtect_xss(@expiration,4), browserString = dbo.sqlProtect_xss(@browserString,4)
            WHERE sessionID = @sessionID

            SELECT ISNULL(@serverCookie, NULL), ISNULL(@expiration, GETDATE() + 1), ISNULL(@sessionID, NULL)
        END
    END





    IF @serverCookie IS NULL --server doesn't have record of the client's cookie
    BEGIN
        SET @serverCookie = NEWID()
        SET @expiration = GETDATE() + 1

        INSERT INTO sessions(cookie, expires, persist, ipv4, ipv6, browserString, websiteID, loginAttempts)
        VALUES (dbo.sqlProtect_xss(@serverCookie,3), dbo.sqlProtect_xss(@expiration,4), 0, @ipv4_bin, @ipv6_bin, dbo.sqlProtect_xss(@browserString,4), dbo.sqlProtect_xss(@websiteID,7), 0)

        SELECT @sessionID = SCOPE_IDENTITY()
        SELECT ISNULL(@serverCookie, NULL), ISNULL(@expiration, GETDATE() + 1), ISNULL(@sessionID, NULL)
    END
END
GO
