USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_ecreports - returns a list of ecreports
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ecreports] AS

    SELECT ecreportID, tag, description, memo
    FROM ecreports

GO
