USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_new - Creates a new document entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_new] (
    @description VARCHAR(255),
    @keywords VARCHAR(MAX),
    @authorID INT,
    @parentDocID INT,
    @docContent TEXT,
    @docAuthorName VARCHAR(101),
    @websiteID INT,
    @newDocID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkDescription VARCHAR(255)
    SELECT @checkDescription = description FROM documents WHERE description = dbo.sqlProtect_xss(@description,4) AND websiteID = @websiteID
    
    IF @checkDescription IS NULL
    BEGIN
        INSERT INTO documents (description, keywords, date, authorID, authorNameOverride, parentDocumentID, documentContent, websiteID)
        VALUES (dbo.sqlProtect_xss(@description,5), dbo.sqlProtect_xss(@keywords,6), GETDATE(), dbo.sqlProtect_xss(@authorID,7), dbo.sqlProtect_xss(@docAuthorName,5), dbo.sqlProtect_xss(@parentDocID,7), dbo.sqlProtect_xss(@docContent,1), dbo.sqlProtect_xss(@websiteID,7))

        SELECT @newDocID = SCOPE_IDENTITY()
        
        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_documentKeywords(@newDocID, 1)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE documents
        SET keywords = dbo.sqlProtect_xss(@keywords,6)
        WHERE documentID = @newDocID
        
        EXEC dbo.pr_linkedEntity_new 9, @newDocID, @websiteID
    END


    IF @checkDescription IS NOT NULL
    SELECT @errorMessage = 'Each document must have an unique title. Please choose a different title.'

    SELECT ISNULL(@newDocID, NULL), ISNULL(@errorMessage, NULL)
END
GO
