USE [ectdb]
GO
/*
Written by Asira 07/28/2023
Function fn_message_getLevel - calc the level the message is at (how many ancestors)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_message_getLevel]
  (@messageID INT)
RETURNS INT
  AS
    BEGIN
        DECLARE @level INT

        ;WITH CTE (messageID, parentMessageID) AS (
            SELECT messageID, parentMessageID
            FROM messages  WITH (NOLOCK)
            WHERE messageID = @messageID

            UNION ALL

            SELECT c2.messageID, c2.parentMessageID
            FROM messages c2 WITH (NOLOCK)
            INNER JOIN CTE ON CTE.parentMessageID = c2.messageID
        )

        SELECT @level = (COUNT(messageID) - 1) FROM CTE  --minus one because starting level is 0 not 1
    RETURN(ISNULL(@level, 0))
END
GO
