USE [ectdb]
GO
/*
Written by Asira 2023
Table Function tb_documentTree - returns a tree view via CTE for documents
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_documentTree] (
	@documentID int
)

RETURNS @aTable TABLE (documentID INT, parentDocumentID INT, description VARCHAR(MAX), level INT, sortBy FLOAT)
AS
    BEGIN

        DECLARE @websiteID INT
        SELECT @websiteID = ISNULL(websiteID, 0) FROM linkedEntities WHERE toLTID = 9 AND toXID = @documentID

        --@bTable stores a result set before it is subsequently sorted
        DECLARE @bTable TABLE (documentID INT, parentDocumentID INT, description VARCHAR(MAX), level INT, priority FLOAT)
            
        --returns ancestoral lineage of the target document
        ;WITH ancestorCTE (documentID, parentDocumentID, description, level, priority) AS (
            SELECT documentID, parentDocumentID, description, dbo.fn_document_level(documentID) AS level, priority
            FROM documents
            LEFT JOIN linkedEntities LE ON LE.toLTID = 9 AND LE.toXID = documents.documentID
            WHERE documentID = (SELECT parentDocumentID FROM documents WHERE documentID = @documentID) AND isHidden = 0 AND LE.websiteID = @websiteID
            
            UNION ALL
            
            SELECT d.documentID, d.parentDocumentID, d.description, ancestorCTE.level - 1 AS level, d.priority
            FROM documents d
            INNER JOIN ancestorCTE ON d.documentID = ancestorCTE.parentDocumentID
            WHERE d.isHidden = 0
        )
            
            
        --stores the tree, albeit out of order
        INSERT INTO @bTable 
        SELECT * FROM (
            --ancestral lineage
            SELECT documentID, parentDocumentID, description, level, priority
            FROM ancestorCTE
            
            UNION ALL
            
            --other root documents
            SELECT documentID, parentDocumentID, description, 0 AS level, priority
            FROM documents
            LEFT JOIN linkedEntities LE ON LE.toLTID = 9 AND LE.toXID = documents.documentID
            WHERE parentDocumentID IS NULL AND documentID != ISNULL((SELECT TOP 1 documentID FROM ancestorCTE WHERE parentDocumentID IS NULL), @documentID) AND isHidden = 0 AND LE.websiteID = @websiteID
            
            UNION ALL
            
            --current document, children, siblings
            SELECT documentID, parentDocumentID, description, dbo.fn_document_level(documentID) AS level, priority
            FROM documents
            WHERE (documentID = @documentID OR parentDocumentID = @documentID OR parentDocumentID = (SELECT parentDocumentID FROM documents WHERE documentID = @documentID)) AND isHidden = 0
        ) results
            
            
        --sorts @bTable into the correct order
        ;WITH CTE (documentID, parentDocumentID, description, level, sortBy) AS (
            SELECT documentID, parentDocumentID, description, level, CAST(ROW_NUMBER() OVER (ORDER BY priority DESC, description ASC) AS FLOAT) AS sortBy
            FROM @bTable WHERE parentDocumentID IS NULL
            
            UNION ALL
            
            SELECT t.documentID, t.parentDocumentID, t.description, t.level, 1/POWER(CAST(ROW_NUMBER() OVER (ORDER BY t.priority ASC, t.description DESC) AS FLOAT)*100.00, CTE.level+1.0) + CTE.sortBy AS sortBy
            FROM @bTable t
            INNER JOIN CTE ON t.parentDocumentID = CTE.documentID
        )


        INSERT INTO @aTable
        SELECT documentID, parentDocumentID, description, level, sortBy FROM CTE

        RETURN
    END
GO
