USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_contactEmailAddresses - Returns a list of emails linked to a contact
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_contactEmailAddresses] AS

    SELECT emails.ownedByContactID, emails.emailAddressID, emails.emailAddress
    FROM contactEmailAddresses emails
    
GO
