USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_document_level - determines how many direct ancestors a document has
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_document_level]
(
  @documentID INT
)
RETURNS INT
AS
BEGIN

    DECLARE @resultLevel INT

    ;WITH CTE (documentID, parentDocumentID, level) AS (
        SELECT documentID, parentDocumentID, 0 AS level
        FROM documents
        WHERE documentID = @documentID

        UNION ALL

        SELECT d.documentID, d.parentDocumentID, CTE.level - 1 AS level
        FROM documents d
        INNER JOIN CTE ON d.documentID = CTE.parentDocumentID
    )

    SELECT TOP 1 @resultLevel = (level * -1)FROM CTE ORDER BY level ASC

    RETURN ISNULL(@resultLevel, 0) --return self if self has no ancestor
END
GO
