USE [ectdb]
GO
/*
Written by Asira 10/17/2024
Procedure pr_sessionStorage_store - store key value pairs in session storage
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessionStorage_store] (
    @sessionID INT,
    @tag VARCHAR(64),
    @value VARCHAR(MAX)
  )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkSessionStorageID INT
    SELECT @checkSessionStorageID = sessionStorageID FROM sessionStorage WHERE sessionID = @sessionID AND tag = dbo.sqlProtect_xss(@tag, 6)

    IF @checkSessionStorageID IS NULL -- doesn't exist, insert it
        INSERT INTO sessionStorage (sessionID, tag, value)
        VALUES (dbo.sqlProtect_xss(@sessionID, 7), dbo.sqlProtect_xss(@tag, 6), dbo.sqlProtect_xss(@value, 0))

    IF @checkSessionStorageID IS NOT NULL -- it already exists and needs to be updated
        UPDATE sessionStorage
        SET value = dbo.sqlProtect_xss(@value, 0), date = GETDATE()
        WHERE sessionStorageID = @checkSessionStorageID

GO
