USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_new - Creates a new knowledgebase entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_new] (
    @description VARCHAR(255),
    @keywords VARCHAR(MAX),
    @authorID INT,
    @parentKBID INT,
    @kbContent TEXT,
    @websiteID INT,
    @newKBID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    INSERT INTO knowledgebase (description, keywords, date, authorID, parentKnowledgebaseID, knowledgebaseContent)
    VALUES (dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@keywords,6), GETDATE(), dbo.sqlProtect_xss(@authorID,7), dbo.sqlProtect_xss(@parentKBID,7), dbo.sqlProtect_xss(@kbContent,1))

    SELECT @newKBID = SCOPE_IDENTITY()

    SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_knowledgebaseKeywords(@newKBID, 1)), ' ')
    SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

    UPDATE knowledgebase
    SET keywords = dbo.sqlProtect_xss(@keywords,6)
    WHERE knowledgebaseID = @newKBID

    
    EXEC dbo.pr_linkedEntity_new 10, @newKBID, @websiteID

    SELECT ISNULL(@newKBID, NULL)
END
GO
