USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_binLocation_edit - modify a bin location record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_binLocation_edit] (
    @binLocationID INT,
    @binDescription VARCHAR(255),
    @binPrefix VARCHAR(16),
    @parentBinLocationID INT,
    @warehouseID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkPrefix VARCHAR(16)
    SELECT @checkPrefix = prefix FROM binLocations WHERE prefix = dbo.sqlProtect_xss(@binPrefix,5) AND binLocationID <> @binLocationID

    IF @checkPrefix IS NULL
    BEGIN
        UPDATE binLocations 
        SET description = dbo.sqlProtect_xss(@binDescription,4), prefix = dbo.sqlProtect_xss(@binPrefix,6), parentBinLocationID = dbo.sqlProtect_xss(@parentBinLocationID,7), warehouseID = dbo.sqlProtect_xss(@warehouseID,7)
        WHERE binLocationID = @binLocationID
    END

    IF @checkPrefix IS NOT NULL SELECT @errorMessage = 'The bin location prefix must be unique. Please choose a unique prefix.'

    SELECT ISNULL(@errorMessage, NULL)
END
GO
