USE [ectdb]
GO
/*
Written by Asira 10/16/2023
View vw_actionLog - Returns the action log joined to action names (also used to filter down for errors, alerts, and risks)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_actionLog] AS

    SELECT t1.actionID, t1.logID, t1.userID, t1.actionDate, t1.LTID, t1.XID, t1.URL, t1.ipv4, t1.ipv6, t1.sessionID, t1.memo, t1.requestFile, t2.description AS action, IIF(t1.userID IS NOT NULL, dbo.fn_entityName_public(1, t1.userID), NULL) AS name
    FROM actionLog t1
    LEFT JOIN actions t2 ON t1.actionID = t2.actionID

GO
