USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_userGroupMember_remove - remove a member from the group
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_userGroupMember_remove]
(
  @userGroupID INT,
  @memberLTID INT,
  @memberXID INT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

	DELETE FROM userGroupMemberships WHERE userGroupID = @userGroupID AND memberLTID = @memberLTID AND memberXID = @memberXID
END
GO
