USE [ectdb]
GO
/*
Written by Darin Andersen
Format, Comments by Asira Circa 2023-2024
Function fn_IPAddress_toString - Converts IPv4 or IPv6 binary to string formats (respective structures e.g. 192.168.1.1 vs 2001:0db8:85a3:0000:0000:8a2e:0370:7334)  
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IPAddress_toString]
(
    @binaryIP BINARY(16)
)
RETURNS VARCHAR(39) AS
BEGIN

    IF DATALENGTH(@binaryIP) = 4    --is binary IPv4 stored in 4 bytes instead of 16... convert to work with this function
    SELECT @binaryIP = 0x000000000000000000000000 + @binaryIP


    DECLARE @part VARBINARY(2), @colIndex TINYINT, @ipAddress VARCHAR(39)   --current segment, index location of delimiter, resulting IP Address
    SET @ipAddress = ''


    IF SUBSTRING(@binaryIP, 1, 12) = 0x000000000000000000000000
    BEGIN   --IPv4
        SET @colIndex = 13
        

        WHILE @colIndex <= 16
            SELECT @part = SUBSTRING(@binaryIP, @colIndex, 1),          --extract segment
            @ipAddress = @ipAddress                                     
                + CAST(CAST(@part AS TINYINT) AS VARCHAR(3))            --convert segment to string and append
                + CASE @colIndex WHEN 16 THEN '' ELSE '.' END           --append delimiter
            , @colIndex = @colIndex + 1


        IF @ipAddress = '0.0.0.1'       
        SET @ipAddress = '::1'          --IPv6 localhost
    END



    ELSE    --IPv6
    BEGIN
        SET @colIndex = 1
        WHILE @colIndex <= 16
        BEGIN
            SET @part = SUBSTRING(@binaryIP, @colIndex, 2)              --extract segment

            SELECT @ipAddress = @ipAddress                              --convert segment to string and append
                + CAST('' AS XML).value('xs:hexBinary(sql:variable("@part") )', 'varchar(4)')
                + CASE @colIndex WHEN 15 THEN '' ELSE ':' END           --append delimiter
            , @colIndex = @colIndex + 2
        END
    END


    RETURN @ipAddress   
END 
GO
