USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_tableIndexes - Returns indexes that have been applied to tables. Used by LinkedTable console page detailed view.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_tableIndexes] AS

    SELECT TOP 9999 tableName, indexName, columns, isPrimaryKey, indexType FROM (
        SELECT t.name AS tableName, i.[name] AS indexName, SUBSTRING(column_names, 1, LEN(column_names)-1) AS [columns],
            CASE WHEN i.is_primary_key = 1 THEN CAST(1 AS BIT)
                ELSE CAST(0 AS BIT) END AS [isPrimaryKey],

            CASE WHEN i.[type] = 1 THEN 'CLUSTERED INDEX'
                WHEN i.[type] = 2 THEN 'NON-CLUSTERED INDEX'
                WHEN i.[type] = 3 THEN 'XML INDEX'
                WHEN i.[type] = 4 THEN 'SPATIAL INDEX'
                WHEN i.[type] = 5 THEN 'CLUSTERED COLUMNSTORE INDEX'
                WHEN i.[type] = 6 THEN 'NON-CLUSTERED COLUMNSTORE INDEX'
                WHEN i.[type] = 7 THEN 'NON-CLUSTERED HASH INDEX'
                END AS indexType

        FROM sys.objects t
            INNER JOIN sys.indexes i ON t.object_id = i.object_id
            CROSS APPLY (
                SELECT col.[name] + ', '
                FROM sys.index_columns ic
                INNER JOIN sys.columns col ON ic.object_id = col.object_id AND ic.column_id = col.column_id
                WHERE ic.object_id = t.object_id AND ic.index_id = i.index_id
                ORDER BY col.column_id
                FOR XML PATH ('')
            ) D (column_names)

        WHERE t.is_ms_shipped != 1 AND NOT(i.is_unique = 1 AND i.is_primary_key = 0)
        AND index_id > 0

    ) t1
    ORDER BY CASE
        WHEN isPrimaryKey = 1 THEN 1 ELSE 2 END,
        isPrimaryKey, indexName, tableName
    
GO
