USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Procedure pr_collection_changeParent - modify the parent of a collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_changeParent] (
    @collectionID INT,
    @parentCollectionID INT = NULL
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  UPDATE collections
  SET parentCollectionID = dbo.sqlProtect_xss(@parentCollectionID,7)
  WHERE collectionID = @collectionID
END
GO
