USE [ectdb]
GO
/*
Written by Asira 07/2024
Procedure pr_entityQueue_clear - clear an entity queue
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_entityQueue_clear] (
    @entityQueueID INT = NULL,
    @ownerLEID BIGINT = NULL,
    @queueTypeID INT = NULL
  )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @entityQueueID IS NOT NULL
    DELETE FROM entityQueue WHERE entityQueueID = dbo.sqlProtect_xss(@entityQueueID,7)


    IF @entityQueueID IS NULL
    BEGIN
        IF @ownerLEID IS NULL
        BEGIN
            --delete from the entire queue, no queueType or owner filtering
            IF @queueTypeID IS NULL         DELETE FROM entityQueue
            --delete from the queue, filtering on queue type
            IF @queueTypeID IS NOT NULL     DELETE FROM entityQueue WHERE entityQueueTypeID = dbo.sqlProtect_xss(@queueTypeID,7)
        END

        IF @ownerLEID IS NOT NULL
        BEGIN
            --delete from the queue, filtering on owner
            IF @queueTypeID IS NULL         DELETE FROM entityQueue WHERE ownerLEID = dbo.sqlProtect_xss(@ownerLEID,7)
            --delete from the queue, filtering on owner AND queue type
            IF @queueTypeID IS NOT NULL     DELETE FROM entityQueue WHERE ownerLEID = dbo.sqlProtect_xss(@ownerLEID,7) AND entityQueueTypeID = dbo.sqlProtect_xss(@queueTypeID,7)
        END
    END
GO
