USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_accessRight_edit - Modifies the level granted to an entity to access another
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_accessRight_edit] (
    @accessRightGrantedID INT,
    @accessRightID TINYINT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
    )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @accessRightID NOT IN (0,1,2,3,4,5,6,7)SELECT @errorMessage = 'Access right level is not valid'
    IF @accessRightGrantedID IS NULL SELECT @errorMessage = 'The target right was not included. Please contact a system administrator.'

    IF @errorMessage IS NULL
    BEGIN
        UPDATE accessRightsGranted
        SET accessRightID = dbo.sqlProtect_xss(@accessRightID,7)
        WHERE accessRightGrantedID = @accessRightGrantedID
    END

    SELECT ISNULL(@errorMessage, NULL)
GO
