USE [ectdb]
GO
/*
Written by Asira 11/14/2023
Table productVariants - variants/variations of a particular product, usually by size, color, etc ...
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productVariants](
	[productVariantID] [int] IDENTITY(1,1) NOT NULL,
	[parentProductID] [int] NOT NULL,
	[SKU] [varchar](32) NOT NULL,
	[UPC] [varchar](13) NULL,
	[keywords] [varchar](max) NULL,
	[description] [varchar](256) NOT NULL,
	[memo] [varchar](max) NULL,
	[listPrice] [smallmoney] NOT NULL,
	[MSRPrice] [smallmoney] NOT NULL,
	[MAPrice] [smallmoney] NOT NULL,
	[daysToFulfill] [smallint] NULL,
	[orderLimit] [smallint] NULL,
	[restockFeePercent] [float] NOT NULL,
	[length] [float] NULL,
	[width] [float] NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[measurementsVerified] [bit] NOT NULL,
	[isHidden] [bit] NOT NULL,
	[isDiscontinued] [bit] NOT NULL,
	[introductionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_productVariants] PRIMARY KEY NONCLUSTERED 
(
	[productVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_productVariations]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_productVariations] ON [dbo].[productVariants]
(
	[parentProductID] ASC,
	[productVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productVariants] ADD  CONSTRAINT [DEFAULT_productVariants_restockFeePercent]  DEFAULT ((5.0)) FOR [restockFeePercent]
GO
ALTER TABLE [dbo].[productVariants] ADD  CONSTRAINT [DEFAULT_productVariations_weightVerified]  DEFAULT ((0)) FOR [measurementsVerified]
GO
ALTER TABLE [dbo].[productVariants] ADD  CONSTRAINT [DEFAULT_productVariations_isHidden]  DEFAULT ((1)) FOR [isHidden]
GO
ALTER TABLE [dbo].[productVariants] ADD  CONSTRAINT [DEFAULT_productVariations_isDiscontinued]  DEFAULT ((0)) FOR [isDiscontinued]
GO
ALTER TABLE [dbo].[productVariants] ADD  CONSTRAINT [DEFAULT_productVariations_introductionDate]  DEFAULT (getdate()) FOR [introductionDate]
GO
ALTER TABLE [dbo].[productVariants]  WITH CHECK ADD  CONSTRAINT [FK_productVariations_productID] FOREIGN KEY([parentProductID])
REFERENCES [dbo].[products] ([productID])
GO
ALTER TABLE [dbo].[productVariants] CHECK CONSTRAINT [FK_productVariations_productID]
GO
