USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactAddress_edit - modify an existing address record for a contact
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contactAddress_edit] (
    @addressID INT,
    @contactID INT,
    @recipient VARCHAR(101),
    @company VARCHAR(128) = NULL,
    @address1 VARCHAR(50),
    @address2 VARCHAR(50) = NULL,
    @city VARCHAR(50),
    @territoryID INT,
    @zipcode VARCHAR(10),
    @countryID INT,
    @billingAddress INT,
    @shippingAddress INT
) AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --make changes to the address entry
    UPDATE contactAddresses
    SET recipient = dbo.sqlProtect_xss(@recipient,4), company = dbo.sqlProtect_xss(@company,4), address1 = dbo.sqlProtect_xss(@address1,4), address2 = dbo.sqlProtect_xss(@address2,4), city = dbo.sqlProtect_xss(@city,5), territoryID = dbo.sqlProtect_xss(@territoryID,7), zipcode = dbo.fn_zipcode_formatted(@zipcode), countryID = dbo.sqlProtect_xss(@countryID,7)
    WHERE addressID = @addressID AND ownedByContactID = @contactID


    --if the address is a billing address, set it as the billingAddress for the entity
    IF @billingAddress = 1 UPDATE contacts SET primaryBillAddressID = @addressID WHERE contactID = @contactID

    --if the new address is a shipping address, set it as the shippingAddress for the entity
    IF @shippingAddress = 1 UPDATE contacts SET primaryShipAddressID = @addressID WHERE contactID = @contactID
END
GO
