USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_linkedTableIcon - returns the physical path for a linked table icon
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_linkedTableIcon] (
    @LTID TINYINT
)
RETURNS VARCHAR(2048) WITH SCHEMABINDING
AS
BEGIN
    DECLARE @imagePath VARCHAR(2048), @LEID BIGINT, @siteID INT
    SELECT @imagePath = iconURL FROM dbo.linkedTables WHERE linkedTableID = @LTID
    RETURN ISNULL(@imagePath, NULL)
END
GO
