USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_downloadGroup_editFile - edit a file that is part of a download group
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_downloadGroup_editFile] (
    @fileID INT,
    @filePath VARCHAR(MAX),
    @fileAlias VARCHAR(MAX)
  )
AS 
  SET XACT_ABORT ON
  SET NOCOUNT ON

  UPDATE downloadFiles SET
  downloadFilePath = dbo.sqlProtect_xss(@filePath,4), downloadFileAlias = dbo.sqlProtect_xss(@fileAlias,4)
  WHERE downloadFileID = @fileID
GO
