USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_aclSession_endSession - remove an ACL score/session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_aclSession_endSession] (
  @ipAddress VARCHAR(39)
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    IF @ipAddress IS NOT NULL DELETE FROM aclSessions WHERE ipAddress = @ipAddress AND blacklistedIP = 0
END
GO
