USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_knowledgebase_changeParent - Changes the direct parent of a knowledgebase entry (e.g. sorting)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_knowledgebase_changeParent] (
    @knowledgebaseID INT,
    @parentKnowledgebaseID INT = NULL
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  UPDATE knowledgebase
  SET parentKnowledgebaseID = dbo.sqlProtect_xss(@parentKnowledgebaseID,7)
  WHERE knowledgebaseID = @knowledgebaseID
END
GO
