USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_knowledgebaseKeywords - returns keywords representing the KB entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_knowledgebaseKeywords](
    @knowledgebaseID INT,
    @option TINYINT
)
RETURNS VARCHAR(MAX)
BEGIN
    --option 0/null: return keywords for this KB only
    --option 1/2:    return keywords for this KB and all ancestors
    DECLARE @aString VARCHAR(MAX), @parentString VARCHAR(MAX), @parentKBID INT

    IF @knowledgebaseID IS NOT NULL
    BEGIN
        --get parentKBID
        SELECT @parentKBID = parentKnowledgebaseID, @aString = keywords FROM knowledgebase WHERE knowledgebaseID = @knowledgebaseID



        --keywords for option 0/null
        IF ISNULL(@option, 0) = 0
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT description FROM knowledgebase WHERE knowledgebaseID = ISNULL(kb.parentknowledgebaseID, 0)), ' ', kb.keywords, ' ', kb.knowledgebaseID, ' kb knowledgebase', ' ', CONCAT('KB', @knowledgebaseID)), ' ')
            FROM knowledgebase AS kb
            WHERE kb.knowledgebaseID = @knowledgebaseID
        END



        --keywords for option 1/2
        IF @option IN (1, 2)
        BEGIN
            SELECT @aString = CONCAT(@aString, ' ', dbo.fn_dedupeString(CONCAT((SELECT description FROM knowledgebase WHERE knowledgebaseID = ISNULL(kb.parentknowledgebaseID, 0)), ' ', kb.keywords, ' ', kb.knowledgebaseID, ' kb knowledgebase', ' ', CONCAT('KB', @knowledgebaseID)), ' '))
            FROM knowledgebase AS kb
            WHERE kb.knowledgebaseID = @knowledgebaseID

            --get keywords and prepend them
            SELECT @parentString = dbo.fn_knowledgebaseKeywords(@parentKBID, 2)
            IF @parentString + @aString IS NOT NULL
                SELECT @aString = dbo.fn_dedupeString(@aString + ' ' + @parentString, ' ') 
            ELSE
                SELECT @aString = ISNULL(@parentString, '') + ' ' + ISNULL(@aString, '')
        END



        --default keywords
        IF @aString = '' SELECT @aString = NULL
        IF @option = 1 AND @aString IS NULL
        BEGIN
            SELECT @aString = dbo.fn_dedupeString(CONCAT((SELECT description FROM knowledgebase WHERE knowledgebaseID = ISNULL(kb.parentknowledgebaseID, 0)), ' ', kb.keywords, ' ', kb.knowledgebaseID, ' kb knowledgebase', ' ', CONCAT('KB', @knowledgebaseID)), ' ')
            FROM knowledgebase AS kb
            WHERE kb.knowledgebaseID = @knowledgebaseID
        END
    END

    SELECT @aString = dbo.fn_sortAlphaString(LOWER(@aString))
    RETURN @aString
END
GO
