USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_settings - returns list of settings set for a user
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_settings] AS

    SELECT t1.settingID, t1.settingTypeID, t1.settingValueID, t1.userID, t2.description AS tag, t2.isEmployeeSetting, t3.value, t1.date
    FROM settings t1
    LEFT JOIN settingTypes t2 ON t1.settingTypeID = t2.settingTypeID
    LEFT JOIN settingValues t3 ON t1.settingValueID = t3.settingValueID

GO
