USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_highlights - retrieves list of highlight records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_highlights] WITH SCHEMABINDING AS


    SELECT hl.highlightID, hl.title, hl.keywords, hl.startDate, hl.endDate, hl.dispOnCollectionID, hl.highlightTypeID, ht.description AS highlightType, LE.websiteID
    FROM dbo.highlights hl
    INNER JOIN dbo.highlightTypes ht on hl.highlightTypeID = ht.highlightTypeID
    INNER JOIN dbo.linkedEntities LE ON toLTID = 8 AND toXID = hl.highlightID
GO
