USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_user - retrieves single user record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_user] AS


    SELECT users.userID, users.websiteID, users.firstName, users.lastName, dbo.fn_entityName_public(1, users.userID) AS displayName, users.email, users.emailValidated, users.registrationDate, users.inActive, users.isBanned, users.accountRisk, employees.employeeID, organizations.organizationID, organizations.name AS organizationName, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, linkedTables.description AS iconDescription
    FROM users
    LEFT JOIN employees ON users.userID = employees.userID
    LEFT JOIN linkedTables ON 1 = linkedTables.linkedTableID
    LEFT JOIN organizations ON users.organizationID = organizations.organizationID
    LEFT JOIN linkedEntities LE ON toLTID = 1 AND toXID = users.userID
    
GO
