USE [ectdb]
GO
/*
Written by Asira 06/26/2024
View vw_shipBoxes_select - retrieves list of ship box records ... but only that fast information for quick select box in ship wizard
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_shipBoxes_select] AS


    SELECT shipBoxes.shipBoxID, shipBoxes.description, LE.websiteID
    FROM shipBoxes
    LEFT JOIN linkedEntities LE ON LE.toLTID = 33 AND LE.toXID = shipBoxes.shipBoxID
    
GO
