USE [ectdb]
GO
/*
Written pre-2022
Function tb_splitString - use STRING_SPLIT command instead if possible
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_splitString]
(
    @list  nvarchar(max),
    @delim char(1)
)
RETURNS TABLE
AS

	--AVOID USING THIS FUNCTION IF POSSIBLE. INSTEAD, USE COMMAND STRING_SPLIT BUILT INTO SQL 2016 AND LATER

  RETURN (
	SELECT      rn, vn = ROW_NUMBER() OVER (PARTITION BY [value] ORDER BY rn), [value]
    FROM ( 
      SELECT
                rn = ROW_NUMBER() OVER (ORDER BY CHARINDEX(@delim, @list + @delim)),
                [value] = LTRIM(RTRIM(SUBSTRING(@list, [number], CHARINDEX(@delim, @list + @delim, [number]) - [number])))
        FROM    (SELECT Number = ROW_NUMBER() OVER (ORDER BY name) FROM sys.all_columns) AS x
        WHERE   number <= LEN(@list) AND SUBSTRING(@delim + @list, [number], 1) = @delim
     ) AS x
  );
GO
