USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_userGroup_edit - Modify an existing user group
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_userGroup_edit]
(
    @userGroupID INT,
	@groupName VARCHAR(64)
)
AS
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

  UPDATE userGroups
  SET groupName = dbo.sqlProtect_xss(@groupName,4)
  WHERE userGroupID = @userGroupID
END
GO
