USE [ectdb]
GO
/*
Written by Asira 11/08/2023
Procedure pr_highlight_new - Creates a new highlight record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_highlight_new] (
    @highlightTypeID INT,
    @title VARCHAR(128),
    @keywords VARCHAR(MAX),
    @content VARCHAR(MAX),
    @startDate DATETIME,
    @endDate DATETIME,
    @dispOnCollectionID INT,
    @websiteID INT,
    @newHighlightID INT = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @content IS NULL SELECT @errorMessage = 'Highlight content is required in order to create a highlight.'
    IF @highlightTypeID IS NULL SELECT @errorMessage = 'Highlight type is required in order to create a highlight.'

    IF @errorMessage IS NULL
    BEGIN

        INSERT INTO highlights (highlightTypeID, title, keywords, content, startDate, endDate, dispOnCollectionID)
        VALUES (dbo.sqlProtect_xss(@highlightTypeID,7), dbo.sqlProtect_xss(@title,4), dbo.sqlProtect_xss(@keywords,6), dbo.sqlProtect_xss(@content,1), ISNULL(dbo.sqlProtect_xss(@startDate,4), DATEADD(day, 1, GETDATE())), ISNULL(dbo.sqlProtect_xss(@endDate,4), NULL), dbo.sqlProtect_xss(@dispOnCollectionID,7))

        SELECT @newHighlightID = SCOPE_IDENTITY()

        SELECT @keywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_highlightKeywords(@newHighlightID)), ' ')
        SELECT @keywords = dbo.fn_sortAlphaString(LOWER(@keywords))

        UPDATE highlights
        SET keywords = dbo.sqlProtect_xss(@keywords,6)
        WHERE highlightID = @newHighlightID

        EXEC dbo.pr_linkedEntity_new 8, @newHighlightID, @websiteID
    END

    SELECT ISNULL(@newHighlightID, NULL), ISNULL(@errorMessage, NULL)
END
GO
