USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactInformation_deleteAll - delete all information (addresses, emails, phones) from a contact record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contactInformation_deleteAll] (
    @contactID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    IF @contactID IS NOT NULL
    BEGIN
        DELETE FROM contactAddresses WHERE ownedByContactID = @contactID
        DELETE FROM contactPhoneNumbers WHERE ownedByContactID = @contactID
        DELETE FROM contactEmailAddresses WHERE ownedByContactID = @contactID

        DELETE FROM contacts WHERE contactID = @contactID
    END
END
GO
