USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_acl_edit - modify an ACL score
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_acl_edit] (
  @ipAddress VARCHAR(39),
  @CAPTCHAScore SMALLINT,
  @errorScore SMALLINT,
  @locationScore SMALLINT,
  @riskScore SMALLINT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DECLARE @ip_bin BINARY(16)
    SET @ip_bin = dbo.fn_IPAddress_toBinary(dbo.fn_stripForIP(@ipAddress))
    
    DECLARE @checkIP BINARY(16)
    SELECT @checkIP = ipAddress FROM aclSessions WHERE ipAddress = @ip_bin

    IF @checkIP IS NOT NULL
    UPDATE aclSessions
    SET CAPTCHAScore = dbo.sqlProtect_xss(@CAPTCHAScore,7), errorScore = dbo.sqlProtect_xss(@errorScore,7), locationScore = dbo.sqlProtect_xss(@locationScore,7), riskScore = dbo.sqlProtect_xss(@riskScore,7)
    WHERE ipAddress = @ip_bin

    
    IF @checkIP IS NULL
    INSERT INTO aclSessions(ipAddress, CAPTCHAScore, errorScore, locationScore, riskScore)
    VALUES (@ip_bin, dbo.sqlProtect_xss(@CAPTCHAScore,7), dbo.sqlProtect_xss(@errorScore,7), dbo.sqlProtect_xss(@locationScore,7), dbo.sqlProtect_xss(@riskScore,7)) --ipAddress doesn't use sqlProtect_xss because it is already stripped at the beginning of the procedure
END
GO
