USE [ectdb]
GO
/*
Written by Darin Andersen
Formatted, comments by Asira circa 10/15/2024
Function fn_IPAddress_toBinary - Converts IPv4 or IPv6 string to binary format (both as 16 bytes)  
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IPAddress_toBinary]
(
    @ipAddress VARCHAR(40)
)
RETURNS BINARY(16) AS
BEGIN
    DECLARE @bytes BINARY(16), @vbytes VARBINARY(16), @vbzone VARBINARY(2)              --resulting IP in binary, stores binary data step by step, stores temp binary data for each segment
    DECLARE @colIndex TINYINT, @prevColIndex TINYINT, @parts TINYINT, @limit TINYINT    --current index location of colon, previous colon index location, number of segments/parts in the IP, maximum allowed number of segments in the IP
    DECLARE @delim CHAR(1), @token VARCHAR(4), @zone VARCHAR(4)                         --: vs . separating IP segments, like vbzone but as a string instead of binary, stores temp string data for the segment (like vbzone)

    SELECT @delim = '.', @prevColIndex = 0, @limit = 4, @vbytes = 0x, @parts = 0, @colIndex = CHARINDEX(@delim, @ipAddress)     --assumes address may be IPv4



    IF @ipAddress IS NOT NULL
    BEGIN
        IF @colIndex = 0    --ipAddress doesn't contain '.' delimiter, therefore is IPv6; reconfigure function variables
        BEGIN
            SELECT @delim = ':', @limit = 8, @colIndex = CHARINDEX(@delim, @ipAddress)
            
            WHILE @colIndex > 0
                SELECT @parts = @parts + 1, @colIndex = CHARINDEX(@delim, @ipAddress, @colIndex + 1)        --count the number of segments/parts in the IPv6
                SET @colIndex = CHARINDEX(@delim, @ipAddress)
    
            IF @colIndex = 0 RETURN NULL     
        END
    


        SET @ipAddress = @ipAddress + @delim
    
        WHILE @colIndex > 0
        BEGIN
            SET @token = SUBSTRING(@ipAddress, @prevColIndex + 1, @colIndex - @prevColIndex - 1)        --get the current segment
    
            IF @delim = ':'     --process as IPv6
            BEGIN
                SET @zone = RIGHT('0000' + @token, 4)
                SELECT @vbzone = CAST('' AS XML).value('xs:hexBinary(sql:variable("@zone"))', 'varbinary(2)'), @vbytes = @vbytes + @vbzone
    
                IF @token = ''
                WHILE @parts + 1 < @limit
                    SELECT @vbytes = @vbytes + @vbzone, @parts = @parts + 1
            END

            ELSE                --process as IPv4
            BEGIN
                SET @zone = SUBSTRING('' + master.sys.fn_varbintohexstr(CAST(@token AS TINYINT)), 3, 2)
                SELECT @vbzone = CAST('' AS XML).value('xs:hexBinary(sql:variable("@zone"))', 'varbinary(1)'), @vbytes = @vbytes + @vbzone
            END
    

            SELECT @prevColIndex = @colIndex, @colIndex = CHARINDEX(@delim, @ipAddress, @colIndex + 1) 
        END            
    


        SET @bytes = CASE @delim
            WHEN ':' THEN @vbytes                       --IPv6 result
            ELSE 0x000000000000000000000000 + @vbytes   --IPv4 result
        END 
    END
    


    RETURN @bytes
END
GO
