USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_shortcut_new - create a new shortcut between two entites
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_shortcut_new]
(
	@LEID BIGINT,
	@targetLEID BIGINT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

	--get latest shortcutGroupID
	DECLARE @previousShortcutGroupID INT, @newShortcutGroupID INT
	SELECT TOP(1) @previousShortcutGroupID = shortcutGroupID FROM shortcuts ORDER BY shortcutID DESC
	SELECT @newShortcutGroupID = ISNULL(@previousShortcutGroupID, 0) + 1 --set newShortcutGroupID as inc(1) of previous  --isnull used in event that no shortcuts exist yet

	--link the shortcut items together
	IF NOT(@LEID = @targetLEID)  --prevents a page linking back to itself
	INSERT INTO shortcuts(shortcutGroupID, LEID) VALUES
    (dbo.sqlProtect_xss(@newShortcutGroupID,7), dbo.sqlProtect_xss(@LEID,7)),
    (dbo.sqlProtect_xss(@newShortcutGroupID,7), dbo.sqlProtect_xss(@targetLEID,7))
END
GO
