USE [ectdb]
GO
/*
Written by Asira 05/15/2024
Table entityImages - a list of images that represent specific entities via LEID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entityImages](
	[entityImageID] [int] IDENTITY(1,1) NOT NULL,
	[imageTypeID] [int] NOT NULL,
	[LEID] [bigint] NOT NULL,
	[physicalPath] [varchar](max) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_entityImages] PRIMARY KEY CLUSTERED 
(
	[entityImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_entityImages]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_entityImages] ON [dbo].[entityImages]
(
	[entityImageID] ASC,
	[LEID] ASC,
	[imageTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[entityImages] ADD  CONSTRAINT [DEFAULT_entityImages_imageTypeID]  DEFAULT ((1)) FOR [imageTypeID]
GO
ALTER TABLE [dbo].[entityImages] ADD  CONSTRAINT [DEFAULT_entityImages_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[entityImages]  WITH NOCHECK ADD  CONSTRAINT [FK_entityImages_imageTypeID] FOREIGN KEY([imageTypeID])
REFERENCES [dbo].[imageTypes] ([imageTypeID])
GO
ALTER TABLE [dbo].[entityImages] CHECK CONSTRAINT [FK_entityImages_imageTypeID]
GO
ALTER TABLE [dbo].[entityImages]  WITH CHECK ADD  CONSTRAINT [FK_entityImages_LEID] FOREIGN KEY([LEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[entityImages] CHECK CONSTRAINT [FK_entityImages_LEID]
GO
