USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure pr_sessions_endSession - terminate a session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessions_endSession] (
  @sessionCookie UNIQUEIDENTIFIER,
  @sessionID INT
  )
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @ipv4 VARCHAR(15), @ipv6 VARCHAR(39)
    SELECT TOP 1 @ipv4 = ipv4, @ipv6 = ipv6 FROM sessions WHERE sessionID = @sessionID OR cookie = @sessionCookie
    EXEC pr_aclSession_endSession @ipv4
    EXEC pr_aclSession_endSession @ipv6

    DELETE FROM sessionStorage WHERE sessionID = @sessionID --deletes data stored to a session, has to run before delete sessions because of the foreign key
    DELETE FROM sessions WHERE sessionID = @sessionID OR cookie = @sessionCookie
END
GO
