USE [ectdb]
GO
/*
Written by Asira 04/23/2024
Table tariffCodes - a list of tariff codes for international shipment purposes
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariffCodes](
	[tariffCodeID] [int] IDENTITY(1,1) NOT NULL,
	[tariffCode] [varchar](14) NULL,
	[indent] [tinyint] NOT NULL,
	[description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tariffCodes] PRIMARY KEY NONCLUSTERED 
(
	[tariffCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tariffCodes] ADD  CONSTRAINT [DEFAULT_tariffCodes_indent]  DEFAULT ((0)) FOR [indent]
GO
ALTER TABLE [dbo].[tariffCodes] ADD  CONSTRAINT [DEFAULT_tariffCodes_description]  DEFAULT ('[Missing Description]') FOR [description]
GO
