USE [ectdb]
GO
/*
Written by Asira 08/30/2024
Procedure pr_contact_new - create a new contact record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_contact_new] (
    @ownerLEID BIGINT,
    @contactID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --prevent duplicates from accidental creation
    DECLARE @checkOwnerLEID BIGINT
    SELECT @checkOwnerLEID = ownerLEID FROM contacts WHERE ownerLEID = @ownerLEID


    --create a new value
    IF @checkOwnerLEID IS NULL
    BEGIN
        --create new contact
        INSERT INTO contacts (ownerLEID)
        VALUES (@ownerLEID)

        --get new contactID
        SELECT @contactID = SCOPE_IDENTITY()
    END


    --retrieve existing value
    IF @checkOwnerLEID IS NOT NULL
    SELECT @contactID = contactID FROM contacts WHERE ownerLEID = @checkOwnerLEID


    --return contactID from procedure
    SELECT @contactID
END
GO
