USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Procedure pr_searchedItem_delete - delete a searchedItem entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_searchedItem_delete] (
  @LEID BIGINT
)
AS
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

  DELETE FROM searchedItems WHERE LEID = @LEID
END
GO
