USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Function fn_linkedEntity_getXID - get XID from LEID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_linkedEntity_getXID](
    @linkedEntityID INT
  )
RETURNS INT WITH SCHEMABINDING
  AS
    BEGIN
        DECLARE @toXID INT
        SELECT @toXID = toXID FROM dbo.linkedEntities WHERE linkedEntityID = @linkedEntityID

        RETURN ISNULL(@toXID, 0)
    END
GO
