USE [ectdb]
GO
/*
Written by Asira circa 2022
Function fn_sortAlphaString - alpha sort each word in a string
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_sortAlphaString](
    @aString VARCHAR(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN

	/* NEW CODE THAT FOR SQL SERVER 2016 AND LATER */
    --store alphabetically sorted substrings into the table
    DECLARE @aTable TABLE (tblIdent INT IDENTITY, aSubString VARCHAR(MAX))
    INSERT INTO @aTable SELECT [value] FROM STRING_SPLIT(@aString, ' ') ORDER BY [value] ASC

    DECLARE @aNewString VARCHAR(MAX)
    SELECT @aNewString = COALESCE(@aNewString + ' ', '') + aSubString
    FROM @aTable ORDER BY aSubString ASC

    RETURN @aNewString
    



	/* OLD CODE FOR SQL SERVER 2014 AND EARLIER (no built in STRING_SPLIT function)
    DECLARE @aTable TABLE (tblIdent INT IDENTITY, aSubString VARCHAR(MAX))
    INSERT INTO @aTable SELECT DISTINCT [value] FROM tb_splitString(@aString, ' ')

    DECLARE @aNewString VARCHAR(MAX)
    SELECT @aNewString = COALESCE(@aNewString + ' ', '') + aSubString
    FROM @aTable ORDER BY aSubString ASC

    RETURN @aNewString
	*/
END
GO
