USE [ectdb]
GO
/*
Written by Asira INCOMPLETE
Procedure pr_product_updateKeywords - update keywords for a product and its variants
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_product_updateKeywords] (
    @productID INT,
    @keywords VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newKeywords VARCHAR(MAX), @prodVariationID INT = 0, @someKeywords VARCHAR(MAX)
    DECLARE @aTable TABLE (prodID INT, someKeywords VARCHAR(MAX))

    --delete old keywords then make sure updated keywords includes default keywords but no duplicates... then update
    UPDATE products SET keywords = NULL WHERE productID = @productID
    SELECT @newKeywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_productKeywords(@productID)), ' ')
    SELECT @newKeywords = dbo.fn_sortAlphaString(LOWER(@newKeywords))
    UPDATE products SET keywords = dbo.sqlProtect_xss(@newKeywords,6) WHERE productID = @productID



-- INCOMPLETE
    --UPDATE PRODUCT VARIATIONS
    --store a list of product variations that need to have their keywords udpated
    --INSERT INTO @aTable SELECT productVariationID, keywords FROM productVariations WHERE parentProductID = @productID ORDER BY productVariationID ASC
    
    -- WHILE 1=1
    -- BEGIN
    --     --get next ID
    --     SELECT TOP 1 @prodVariationID = prodID, @someKeywords = someKeywords
    --     FROM @aTable
    --     WHERE prodID > @prodVariationID
    --     ORDER BY prodID

    --     --exit loop when done
    --     IF @@ROWCOUNT = 0 BREAK

    --     --EXEC procedure to update keywords
    --     EXEC dbo.pr_productVariation_updateKeywords @prodVariationID, @someKeywords
    -- END
END
GO
