USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Function fn_zipcode_formatted - strips a zipcode to numbers only then reformats it depending on length
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_zipcode_formatted](
  @zipcode VARCHAR(10)
  )
RETURNS VARCHAR(10)
BEGIN
    DECLARE @aNumber VARCHAR(255)
    SET @aNumber = @zipcode

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^0-9]%'
    WHILE PatIndex(@keepValues, @aNumber) > 0
        SET @aNumber = Stuff(@aNumber, PatIndex(@keepValues, @aNumber), 1, '')


    --len 5   84321  =>  84321
    IF LEN(@aNumber) = 5 RETURN @aNumber --no change needed


    --len 9  843210000  =>  84321-0000
    IF LEN(@aNumber) = 9
    BEGIN
        SELECT @aNumber =
            LEFT(@aNumber, 5) + '-' +
            SUBSTRING(@aNumber, 6, 4)
        RETURN @aNumber
    END


    RETURN @aNumber --unformatted, but stripped to numeral characters only
END
GO
