USE [ectdb]
GO
/*
Written by Asira 11/08/2024
Procedure pr_menu_delete - delete an existing menu recod
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_menu_delete] (
    @menuID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM menuItems
    WHERE menuID = @menuID

    DELETE FROM menus
    WHERE menuID = @menuID
END
GO
