USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_document_updateKeywords - Updates a list of keywords relevant to a particular document
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_document_updateKeywords] (
    @documentID INT,
    @keywords VARCHAR(MAX)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newKeywords VARCHAR(MAX), @docID INT = 0, @someKeywords VARCHAR(MAX)
    DECLARE @aTable TABLE (docID INT, someKeywords VARCHAR(MAX))

    --delete old keywords then make sure updated keywords includes default keywords but no duplicates... then update
    UPDATE documents SET keywords = NULL WHERE documentID = @documentID
    SELECT @newKeywords = dbo.fn_dedupeString(CONCAT(@keywords, ' ', dbo.fn_documentKeywords(@documentID, 1)), ' ')
    SELECT @newKeywords = dbo.fn_sortAlphaString(LOWER(@newKeywords))
    UPDATE documents SET keywords = dbo.sqlProtect_xss(@newKeywords,6) WHERE documentID = @documentID


    --store a list of child DocIDs that need to have their keywords udpated
    INSERT INTO @aTable SELECT documentID, keywords FROM documents WHERE parentDocumentID = @documentID ORDER BY documentID ASC



    WHILE 1=1
    BEGIN
        --get next ID
        SELECT TOP 1 @docID = docID, @someKeywords = someKeywords
        FROM @aTable
        WHERE docID > @docID
        ORDER BY docID

        --exit loop when done
        IF @@ROWCOUNT = 0 BREAK

        --EXEC procedure to update keywords
        EXEC dbo.pr_document_updateKeywords @docID, @someKeywords
    END
END
GO
