USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_projects - returns a list of projects
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_projects] AS

    SELECT projectID, projectName, startDate, dueDate, completeDate, projectStatusDescription, dbo.fn_entityName_public(2, leadByEmployeeID) AS leadName, dbo.fn_entityImage(dbo.fn_linkedEntity_getID(2, leadByEmployeeID), 2) AS leadImg, LE.websiteID
    FROM projects
    LEFT JOIN projectStatuses statuses ON projects.projectStatusID = statuses.projectStatusID
    LEFT JOIN linkedEntities LE ON toLTID = 25 AND toXID = projectID
    
GO
