USE [ectdb]
GO
/*
Written by Asira 2023
Table Function tb_binLocationAncestors - returns a list of ancestors for a bin location
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_binLocationAncestors]
(
	@binLocationID int
)
RETURNS TABLE 
AS
    RETURN (
        WITH blResults (binLocationID, parentBinLocationID) AS (
            SELECT      binLocationID, parentBinLocationID
            FROM        binLocations
            WHERE       binLocationID = @binLocationID

            UNION ALL

            SELECT      binLocations.binLocationID, binLocations.parentBinLocationID
            FROM        binLocations
            INNER JOIN  blResults ON blResults.parentBinLocationID = binLocations.binLocationID
            WHERE       binLocations.binLocationID <> @binLocationID 
        )

        SELECT binLocationID FROM blResults
    )
GO
