USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Table messages - Messages sent between entities OR (more commonly) sent in a forum setting (e.g. comments on public documents)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[fromLTID] [tinyint] NULL,
	[fromXID] [int] NULL,
	[toLTID] [tinyint] NULL,
	[toXID] [int] NULL,
	[linkedEntityID] [bigint] NULL,
	[parentMessageID] [int] NULL,
	[sendDate] [datetime] NOT NULL,
	[readDate] [datetime] NULL,
	[message] [varchar](max) NOT NULL,
	[pinned] [bit] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY NONCLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_messages]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_messages] ON [dbo].[messages]
(
	[messageID] ASC,
	[fromLTID] ASC,
	[toLTID] ASC,
	[parentMessageID] ASC,
	[linkedEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_messages_directMessaging]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_messages_directMessaging] ON [dbo].[messages]
(
	[messageID] ASC,
	[fromLTID] ASC,
	[fromXID] ASC,
	[toLTID] ASC,
	[toXID] ASC
)
INCLUDE([message],[readDate],[sendDate],[deleted]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_messages_messageThreads]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_messages_messageThreads] ON [dbo].[messages]
(
	[messageID] ASC,
	[parentMessageID] ASC,
	[linkedEntityID] ASC
)
INCLUDE([fromLTID],[fromXID],[message],[sendDate],[pinned],[deleted]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DEFAULT_messages_sendDate]  DEFAULT (getdate()) FOR [sendDate]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DEFAULT_messages_pinned]  DEFAULT ((0)) FOR [pinned]
GO
ALTER TABLE [dbo].[messages] ADD  CONSTRAINT [DEFAULT_messages_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_fromLTID] FOREIGN KEY([fromLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_fromLTID]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_linkedEntityID] FOREIGN KEY([linkedEntityID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_linkedEntityID]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_parentMessageID] FOREIGN KEY([parentMessageID])
REFERENCES [dbo].[messages] ([messageID])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_parentMessageID]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_toLTID] FOREIGN KEY([toLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_toLTID]
GO
