USE [ectdb]
GO
/*
Written by Asira 07/10/2024
Function fn_entityBarcode - Returns a c128c barcode number as a universally encoded identifier for a given entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   function [dbo].[fn_entityBarcode]
(
    @LTID AS TINYINT,
    @XID AS BIGINT
)
RETURNS VARCHAR(16)
AS
BEGIN
    DECLARE @barcode VARCHAR(16)                                                        --11 or 12 digits used for LTID/XID encode, last 4 used as LEID check, 1 digit prepended to make even length if it isn't 
    DECLARE @LEID BIGINT, @LEIDCheck VARCHAR(4)

    IF @LTID IS NULL OR @XID IS NULL RETURN 0                                           --MUST HAVE LTID AND XID TO ENCODE!

    SELECT @LEID = dbo.fn_linkedEntity_getID(@LTID, @XID)                               --get LEID from LTID and XID
    IF @LEID IS NULL RETURN 0                                                           --INVALID ENTITY!


    /*  check barcode is valid using encoded LEID  */
    SELECT @LEIDCheck = RIGHT(CAST(@LEID AS VARCHAR(MAX)), 4)                            --get right four digits of LEID for check
    WHILE LEN(@LEIDCheck) < 4 BEGIN SELECT @LEIDCheck = '0' + @LEIDCheck END            --if less than four digits, make it four digits long


    SELECT @barcode = CONCAT(CAST(((@XID * 256) + @LTID) AS VARCHAR(12)), @LEIDCheck)   --generate barcode value
    IF LEN(@barcode) % 2 = 1 SELECT @barcode = '0' + @barcode                           --length must be even quantity of digits

    RETURN @barcode
END
GO
