USE [ectdb]
GO
/*
Written by Asira 08/19/2024
Procedure pr_timeEntry_edit - modify an existing time entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_timeEntry_edit] (
    @employeeID INT,
    @timeEntryID INT,
    @startDateTime DATETIME,
    @endDateTime DATETIME,
    @bypassTimeRestrictions BIT,
    @errorMessage VARCHAR(255) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    DECLARE @allowedStartDateTime DATETIME, @checkOverlap SMALLINT
    SELECT @allowedStartDateTime = DATEADD(HOUR, -36, GETDATE())

    DECLARE @isTimeClockEntry BIT
    SELECT @isTimeClockEntry = isTimeClockEntry FROM timeEntries WHERE timeEntryID = @timeEntryID   --used to check overlap only of the specific time entry type


    SELECT @checkOverlap = COUNT(*) FROM timeEntries
    WHERE timeEntryID != @timeEntryID AND employeeID = @employeeID AND isTimeClockEntry = @isTimeClockEntry AND (
        startDateTime < @startDateTime AND endDateTime > @startDateTime OR   --startTime is during another time entry
        startDateTime < @endDateTime AND endDateTime > @endDateTime OR       --endTime is during another time entry
        startDateTime > @startDateTime AND endDateTime < @endDateTime        --startTime/endTime begins before and ends after another time entry
    )



    --return an error message if end time is more than 12 hours after start time
    IF @endDateTime > DATEADD(HOUR, 12, @startDateTime) SELECT @errorMessage = 'Time entry cannot be more than 12 hours long.'

    --return an error message if the edit would cause the time entry to overlap with another
    IF @checkOverlap != 0 SELECT @errorMessage = 'Time entries cannot overlap.'

    --return an error message if end time is before start time
    IF @endDateTime < @startDateTime SELECT @errorMessage = 'You cannot clock out before you clocked in.'



    --error messages if an employee is modifying a work-time clock entry
    IF ISNULL(@bypassTimeRestrictions, 0) = 0
    BEGIN
        --return an error message if the employee designates end time earlier than they are allowed to
        IF @endDateTime > DATEADD(HOUR, 2, GETDATE()) SELECT @errorMessage = 'You cannot designate an end time more than 2 hours in advance.'

        --return an error message if employee clocks in earlier than is allowed
        IF @startDateTime < @allowedStartDateTime SELECT @errorMessage = 'You cannot add or edit time entries further than 36 hours ago.'
    END



    --error messages if an admin is modifying time entry
    IF ISNULL(@bypassTimeRestrictions, 0) = 1
    BEGIN
        IF @endDateTime > GETDATE() SELECT @errorMessage = 'End time cannot be in the future.'
    END



    --update time entry if the edits they are allowed
    IF @errorMessage IS NULL
    BEGIN
        UPDATE timeEntries
        SET startDateTime = dbo.sqlProtect_xss(ISNULL(@startDateTime, GETDATE()),4), endDateTime = dbo.sqlProtect_xss(ISNULL(@endDateTime, NULL),4)
        WHERE timeEntryID = @timeEntryID
    END



    SELECT ISNULL(@errorMessage, NULL)
END
GO
