USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Procedure pr_contactEmailAddress_delete - delete a contact's email address
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_contactEmailAddress_delete] (
    @emailAddressID INT,
    @contactID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @isPrimary BIT = 0

    SELECT @isPrimary = IIF(primaryEmailAddressID = @emailAddressID, 1, 0)
    FROM contacts
    WHERE contactID = @contactID AND primaryEmailAddressID = @emailAddressID

    --is not longer primary phone number, remove said status from contact
    IF @isPrimary = 1 UPDATE contacts SET primaryEmailAddressID = NULL

    --delete the phone number
    DELETE FROM contactEmailAddresses WHERE emailAddressID = @emailAddressID
END
GO
