USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_task - retrieves a task record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_task] AS

    SELECT tasks.taskID, tasks.description, tasks.memo, tasks.assignedByEmployeeID, tasks.assignedToEmployeeID, tasks.assignedToProjectID,
    tasks.startDate, tasks.dueDate, tasks.completeDate, tasks.recurCode, dbo.fn_entityImage(LE.linkedEntityID,1) AS iconURL, LT.description AS iconDescription, LE.websiteID
    FROM tasks
    LEFT JOIN linkedEntities LE ON LE.toLTID = 253 AND LE.toXID = tasks.taskID
    LEFT JOIN linkedTables LT ON linkedTableID = 253
    
GO
