USE [ectdb]
GO
/*
Written by Asira 07/27/2023
Procedure pr_message_isRead - mark the read datetime when a message is seen
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_message_isRead] (
    @messageID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    
    -- Written by Asira on 7/27/2023 ... add read date to message

    UPDATE messages SET readDate = GETDATE() WHERE messageID = @messageID
END
GO
