USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_userGroupMember_add - add a new member to the userGroup
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_userGroupMember_add]
(
    @userGroupID INT,
    @memberLTID INT,
    @memberXID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkLTID TINYINT, @checkXID INT
    SELECT @checkLTID = memberLTID, @checkXID = memberXID FROM userGroupMemberships WHERE userGroupID = @userGroupID AND memberLTID = @memberLTId AND memberXID = @memberXID


    IF @checkLTID IS NULL AND @checkXID IS NULL
    BEGIN
        IF @memberLTID IN (1,2)
        INSERT INTO userGroupMemberships (userGroupID, memberLTID, memberXID)
        VALUES (dbo.sqlProtect_xss(@userGroupID,7), dbo.sqlProtect_xss(@memberLTID,7), dbo.sqlProtect_xss(@memberXID,7))

        IF @memberLTID NOT IN (1,2) SELECT @errorMessage = 'Only users and employees can be added to a user group.'
    END


    IF @checkLTID IS NOT NULL OR @checkXID IS NOT NULL
    SELECT @errorMessage = 'Selected user / employee is already a member of this user group'

    SELECT ISNULL
    (@errorMessage, NULL)
END
GO
