USE [ectdb]
GO
/*
Written by Asira 2022
Table websites - a list of websites hosted by server
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[websites](
	[websiteID] [int] IDENTITY(1,1) NOT NULL,
	[parentWebsiteID] [int] NULL,
	[websiteURL] [varchar](2048) NOT NULL,
	[description] [varchar](255) NULL,
	[cookieTag] [varchar](6) NULL,
 CONSTRAINT [PK_websites] PRIMARY KEY NONCLUSTERED 
(
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_websites_websiteURL] UNIQUE NONCLUSTERED 
(
	[websiteURL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_unique_description]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_unique_description] ON [dbo].[websites]
(
	[description] ASC
)
WHERE ([description] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_websiteInfo]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_websiteInfo] ON [dbo].[websites]
(
	[websiteID] ASC,
	[parentWebsiteID] ASC,
	[websiteURL] ASC,
	[description] ASC,
	[cookieTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[websites]  WITH CHECK ADD  CONSTRAINT [CHK_websites_cookieTag] CHECK  (([cookieTag] IS NOT NULL OR [parentWebsiteID] IS NOT NULL))
GO
ALTER TABLE [dbo].[websites] CHECK CONSTRAINT [CHK_websites_cookieTag]
GO
ALTER TABLE [dbo].[websites]  WITH CHECK ADD  CONSTRAINT [CHK_websites_parentSiteAndDescription] CHECK  (([parentWebsiteID] IS NOT NULL AND [description] IS NULL OR [parentWebsiteID] IS NULL AND [description] IS NOT NULL))
GO
ALTER TABLE [dbo].[websites] CHECK CONSTRAINT [CHK_websites_parentSiteAndDescription]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'will either use own (eg dev environments) or inherit from parent' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'websites', @level2type=N'CONSTRAINT',@level2name=N'CHK_websites_cookieTag'
GO
