USE [ectdb]
GO
/*
Written by Asira 09/28/2023
Table userGroupMemberships - who is a member of which groups?
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userGroupMemberships](
	[userGroupMembershipID] [int] IDENTITY(1,1) NOT NULL,
	[userGroupID] [int] NOT NULL,
	[memberLTID] [tinyint] NOT NULL,
	[memberXID] [int] NOT NULL,
	[joinDate] [datetime] NOT NULL,
 CONSTRAINT [PK_userGroupMemberships] PRIMARY KEY NONCLUSTERED 
(
	[userGroupMembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_userGroupMemberships_member] UNIQUE NONCLUSTERED 
(
	[userGroupID] ASC,
	[memberLTID] ASC,
	[memberXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_userGroupMemberships]    Script Date: 12/12/2024 3:16:53 PM ******/
CREATE CLUSTERED INDEX [idx_userGroupMemberships] ON [dbo].[userGroupMemberships]
(
	[userGroupMembershipID] ASC,
	[memberLTID] ASC,
	[userGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_userGroupMembership_members]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_userGroupMembership_members] ON [dbo].[userGroupMemberships]
(
	[userGroupMembershipID] ASC,
	[memberLTID] ASC,
	[memberXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[userGroupMemberships] ADD  CONSTRAINT [DEFAULT_userGroupMemberships_joinDate]  DEFAULT (getdate()) FOR [joinDate]
GO
ALTER TABLE [dbo].[userGroupMemberships]  WITH CHECK ADD  CONSTRAINT [FK_userGroupMembership_memberLTID] FOREIGN KEY([memberLTID])
REFERENCES [dbo].[linkedTables] ([linkedTableID])
GO
ALTER TABLE [dbo].[userGroupMemberships] CHECK CONSTRAINT [FK_userGroupMembership_memberLTID]
GO
ALTER TABLE [dbo].[userGroupMemberships]  WITH CHECK ADD  CONSTRAINT [FK_userGroupMemberships_userGroupID] FOREIGN KEY([userGroupID])
REFERENCES [dbo].[userGroups] ([userGroupID])
GO
ALTER TABLE [dbo].[userGroupMemberships] CHECK CONSTRAINT [FK_userGroupMemberships_userGroupID]
GO
ALTER TABLE [dbo].[userGroupMemberships]  WITH CHECK ADD CHECK  (([memberLTID]=(1) OR [memberLTID]=(2)))
GO
