USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_note_new - create a new note record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_note_new]
(
    @noteTypeID INT,
	@userID INT,
	@noteTitle VARCHAR(128),
	@noteContent VARCHAR(MAX),
    @websiteID INT,
    @newNoteLEID INT = NULL OUTPUT
)
AS
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @newNoteID INT
	IF @noteTitle = '' OR @noteTitle IS NULL BEGIN SELECT @noteTitle = NULL END

	INSERT INTO notes (noteTitle, noteContent, noteDate, noteAuthorID, noteTypeID)
	VALUES(dbo.sqlProtect_xss(@noteTitle,4), dbo.sqlProtect_xss(@noteContent,1), GETDATE(), dbo.sqlProtect_xss(@userID,7), dbo.sqlProtect_xss(ISNULL(@noteTypeID, 7),5))

	SELECT @newNoteID = SCOPE_IDENTITY()
    IF @newNoteID IS NOT NULL EXEC dbo.pr_linkedEntity_new 7, @newNoteID, @websiteID

    SELECT @newNoteLEID = dbo.fn_linkedEntity_getID(7, @newNoteID)

	SELECT ISNULL(@newNoteLEID, 0)
END
GO
