USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_timeEntries - data for list of time entries
previously vw_employeeTimeClockEntries
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_timeEntries] AS


    SELECT timeEntryID, employeeID, isTimeClockEntry, dbo.fn_entityName_public(2, employeeID) AS empName, taskID, dbo.fn_entityName(253, taskID) AS taskName,
    startDateTime, endDateTime, dbo.fn_dateGroup(startDateTime, 0) AS dayHeader, latitude, longitude, deleted,
    (CONVERT(FLOAT, endDateTime) - CONVERT(FLOAT, startDateTime)) * 24 AS duration,
    SUM((CONVERT(FLOAT, endDateTime) - CONVERT(FLOAT, startDateTime)) * 24) OVER () AS totalDuration
    FROM timeEntries

GO
