USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_widgets - retrieves widget records list
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_widgets] AS


    SELECT widgetID, description, tag, LE.websiteID
    FROM widgets
    LEFT JOIN linkedEntities LE ON toLTID = 101 AND toXID = widgetID
    
GO
