USE [ectdb]
GO
/*
Written by Asira 03/15/2024
Table websiteSettings - settings applied globally to a website
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[websiteSettings](
	[websiteSettingID] [int] IDENTITY(1,1) NOT NULL,
	[websiteSettingTypeID] [int] NOT NULL,
	[websiteSettingValue] [varchar](max) NOT NULL,
	[websiteID] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_websiteSettings] PRIMARY KEY NONCLUSTERED 
(
	[websiteSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_websiteSettings_websiteID_settingTypeID] UNIQUE NONCLUSTERED 
(
	[websiteID] ASC,
	[websiteSettingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_websiteSettings]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_websiteSettings] ON [dbo].[websiteSettings]
(
	[websiteID] ASC,
	[websiteSettingTypeID] ASC,
	[websiteSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[websiteSettings] ADD  CONSTRAINT [DEFAULT_websiteSettings_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[websiteSettings]  WITH CHECK ADD  CONSTRAINT [FK_websiteSettings_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[websiteSettings] CHECK CONSTRAINT [FK_websiteSettings_websiteID]
GO
ALTER TABLE [dbo].[websiteSettings]  WITH CHECK ADD  CONSTRAINT [FK_websiteSettings_websiteSettingTypes] FOREIGN KEY([websiteSettingTypeID])
REFERENCES [dbo].[websiteSettingTypes] ([websiteSettingTypeID])
GO
ALTER TABLE [dbo].[websiteSettings] CHECK CONSTRAINT [FK_websiteSettings_websiteSettingTypes]
GO
