USE [ectdb]
GO
/*
Written by Asira 2023
Procedure sp_setting_new - change a user setting FROM THE USER ACCOUNT page
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_setting_new] (
    @userID INT,
    @settingTypeID INT,
    @settingValueID INT,
    @settingID INT = NULL OUTPUT,
    @settingValue VARCHAR(450) = NULL OUTPUT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkTypeID INT
    SELECT @checkTypeID = settingTypeID FROM settingValues WHERE settingValueID = @settingValueID
    IF @settingTypeID != @checkTypeID SELECT @errorMessage = 'The value cannot be applied for this new setting.'

    IF @settingTypeID = @checkTypeID --the setting value is valid for the setting type
    BEGIN
        INSERT INTO settings (settingTypeID, settingValueID, userID, date)
        VALUES(dbo.sqlProtect_xss(@settingTypeID, 7), dbo.sqlProtect_xss(@settingValueID, 7), dbo.sqlProtect_xss(@userID, 7), GETDATE())
        
        SELECT @settingID = SCOPE_IDENTITY()
        SELECT @settingValue = value FROM settingValues WHERE settingValueID = @settingValueID
    END


    SELECT ISNULL(@errorMessage, NULL), @settingValue, @settingID
GO
