USE [ectdb]
GO
/*
Written by Asira 04/26/2024
Procedure pr_productVariants_unmarkHidden - make all variants of a product visible
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_productVariants_unmarkHidden] (
    @parentProductID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    UPDATE productVariations SET isHidden = 0 WHERE parentProductID = @parentProductID
END
GO
