USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripNonAlphaNumeric - only keep alpha and numerals
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[fn_stripNonAlphaNumeric](@temp VARCHAR(MAX))
Returns VARCHAR(MAX)
AS
Begin

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^a-z^0-9]%'
    WHILE PatIndex(@keepValues, @temp) > 0
      SET @temp = Stuff(@temp, PatIndex(@keepValues, @temp), 1, '')

    RETURN @temp
End
GO
