USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_externalLinks - returns a list of externalLink (hyperlink) records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_externalLinks] AS

    SELECT link.externalLinkID AS link_ID, link.externalLinkDescription AS link_description, link.externalLinkURL AS link_url, LE.websiteID
    FROM externalLinks link
    LEFT JOIN linkedEntities LE ON toLTID = 11 AND toXID = link.externalLinkID
    
GO
