USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_collection_edit - modify an existing collection
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_collection_edit] (
    @collectionID INT,
    @parentCollectionID INT,
    @name VARCHAR(32),
    @memo VARCHAR(MAX),
    @keywords VARCHAR(MAX),
    @showEntities TINYINT,
    @isHidden BIT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @websiteID INT, @checkName VARCHAR(255), @checkRootID INT
    SELECT @websiteID = ISNULL(dbo.fn_linkedEntity_getWebsiteID(dbo.fn_linkedEntity_getID(18, @collectionID)), 0)

    SELECT @checkName = name FROM collections WHERE name = dbo.sqlProtect_xss(@name,4) AND collectionID != @collectionID AND websiteID = @websiteID
    IF @checkName IS NOT NULL SELECT @errorMessage = 'Each collection must have an unique name. Please choose a different name.'

    SELECT @checkRootID = collectionID FROM collections WHERE collectionID != @collectionID AND parentCollectionID IS NULL AND websiteID = @websiteID
    IF @checkRootID IS NOT NULL AND @parentCollectionID IS NULL SELECT @errorMessage = 'A parent collection must be provided because a root collection already exists on the website.'

    IF @name IS NULL SELECT @errorMessage = 'The collection must have a name.'
    IF @memo IS NULL SELECT @errorMessage = 'The collection must have a memo (information about the collection which is publicly visible on the website).'
    IF @showEntities IS NULL SELECT @errorMessage = 'Descendancy rule (don''t show, children only, or all descendants) must be provided.'



    IF @errorMessage IS NULL
    BEGIN
        DECLARE @checkParentGroupID INT
        SELECT @checkParentGroupID = parentCollectionID FROM collections WHERE collectionID = @collectionID

        IF @parentCollectionID IS NULL SELECT @showEntities = 0

        UPDATE collections
        SET name = dbo.sqlProtect_xss(@name,4), memo = dbo.sqlProtect_xss(@memo,1), imgURL = NULL, showEntities = dbo.sqlProtect_xss(@showEntities,7)
        WHERE collectionID = @collectionID

        IF ISNULL(@checkParentGroupID, 0) <> @parentCollectionID EXEC dbo.pr_collection_changeParent @collectionID, @parentCollectionID
        IF ISNULL(@isHidden, 0) = 0 EXEC dbo.pr_collection_unmarkHidden @collectionID
        IF ISNULL(@isHidden, 0) = 1 EXEC dbo.pr_collection_markHidden @collectionID
       
        EXEC dbo.pr_collection_updateKeywords @collectionID, @keywords
    END

    SELECT ISNULL(@errorMessage, NULL)
END
GO
