USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_record_delete - handles the process for deleting a record; applies to all linked entities
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_record_delete] (
    @LTID TINYINT,
    @XID INT,
    @xLTID TINYINT = @LTID,
    @xXID INT = @XID,    --what entity pr_record_delete is being called from. Defaults to LTID/XID unless otherwise specified.
    @websiteID INT,
    @message VARCHAR(255) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @linkedEntityID BIGINT, @contactID INT
    SELECT @linkedEntityID = dbo.fn_linkedEntity_getID(@LTID, @XID)
    SELECT @contactID = contactID FROM contacts WHERE ownerLEID = @linkedEntityID       --comp_contactCards

    --delete any associated shortcuts, linkedEntity, and reported issues
        --shortcuts and linkedEntities for users, employees, linkedTables, messages aren't deleted
    IF @LTID NOT IN (1,2,100,255)   
    BEGIN
        EXEC pr_record_deleteShortcuts @linkedEntityID
        EXEC pr_linkedEntity_delete @linkedEntityID, @LTID, @XID, @websiteID
    END





    --delete the actual record
    
    IF @LTID = 1 --users
    BEGIN
        DECLARE @firstName VARCHAR(50), @lastName VARCHAR(50), @displayName VARCHAR(101), @organizationID INT, @email VARCHAR(50), @userInActive BIT
        SELECT @firstName = firstName, @lastName = lastName, @displayName = displayName, @organizationID = organizationID, @email = email, @userInActive = 1 FROM users WHERE userID = @XID
        EXEC pr_user_edit @XID, @firstName, @lastName, @displayName, @organizationID, @email, @userInActive

        SELECT @message = 'User accounts cannot be deleted. This user has been marked as inactive instead.'
    END



    IF @LTID = 2 --employees
    BEGIN
        DECLARE @hourlyWage MONEY, @birthdate SMALLDATETIME
        SELECT @hourlyWage = hourlyWage, @birthdate = birthdate FROM employees WHERE employeeID = @XID
        EXEC pr_employee_edit @XID, @hourlyWage, 1, @birthdate, NULL

        SELECT @message = 'Employee records cannot be deleted. This employee has been marked as inactive instead.'
    END



    IF @LTID = 3 --userGroups
    BEGIN
        DECLARE @userGroupName VARCHAR(64)
        SELECT @userGroupName = groupName FROM userGroups WHERE userGroupID = @XID
        DELETE FROM userGroupMemberships WHERE userGroupID = @XID                 --remove members from group
        DELETE FROM userGRoups WHERE userGroupID = @XID                           --deletes group

        SELECT @message = 'Members were removed from the "' + dbo.sqlProtect_xss(@userGroupName,5) + '" user group and the group is now deleted.'
    END



    IF @LTID = 4 --organizations
    BEGIN
        DECLARE @organizationName VARCHAR(128)
        SELECT @organizationName = name FROM organizations WHERE organizationID = @XID
        UPDATE users SET organizationID = NULL WHERE users.organizationID = @XID                    --remove users from the organization

        --delete any associated contact information
        EXEC dbo.pr_contactInformation_deleteAll @contactID

        DELETE FROM organizations WHERE organizationID = @XID                                       --deletes organization
        SELECT @message = 'Organization members were removed from the "' + dbo.sqlProtect_xss(@organizationName,5) + '" organization and the organization is now deleted.'
    END



    IF @LTID = 5 --suppliers
    BEGIN
        SELECT @message = 'Deleting supplier is not yet set up in pr_record_delete'
    END



    IF @LTID = 6 --assets
    BEGIN
        DECLARE @assetDescription VARCHAR(255)
        SELECT @assetDescription = assetDescription FROM assets WHERE assetID = @XID

        DELETE FROM assets WHERE assetID = @XID
        SELECT @message = 'Asset successfully delete'
    END



    IF @LTID = 7 DELETE FROM notes WHERE noteID = @XID --notes



    IF @LTID = 8 DELETE FROM highlights WHERE highlightID = @XID --highlights



    IF @LTID = 9 --documents
    BEGIN
        DECLARE @docName VARCHAR(255), @parentDocID INT
        SELECT @docName = description, @parentDocID = parentDocumentID FROM documents WHERE documentID = @XID

        --orphan any direct descendants
        UPDATE documents
        SET parentDocumentID = @parentDocID
        WHERE documentID = @XID

        --delete the Doc recurd
        DELETE FROM documents WHERE documentID = @XID
        SELECT @message = 'Direct descendant docs adopted to their grandparent and deleted ' + dbo.sqlProtect_xss(@docName,5) + '.'
    END



    IF @LTID = 10 --knowledgebase
    BEGIN
        DECLARE @kbName VARCHAR(255), @parentKBID INT
        SELECT @kbName = description, @parentKBID = parentKnowledgebaseID FROM knowledgebase WHERE knowledgebaseID = @XID

        --orphan any direct descendants
        UPDATE knowledgebase
        SET parentKnowledgebaseID = @parentKBID
        WHERE parentKnowledgebaseID = @XID

        --delete the KB recurd
        DELETE FROM knowledgebase WHERE knowledgebaseID = @XID
        SELECT @message = 'Direct descendant knowledgebase records adopted to their grandparent and deleted ' + dbo.sqlProtect_xss(@kbName,5) + '.'
    END



    IF @LTID = 11 DELETE FROM externalLinks WHERE externalLinkID = @XID --externalLinks



    IF @LTID = 12 --fileFolders
    BEGIN
        SELECT @message = 'Deleting fileFolder is not yet set up in pr_record_delete'
    END



    IF @LTID = 13 --files
    BEGIN
        SELECT @message = 'Delete files is not yet set up in pr_record_delete'
    END



    IF @LTID = 14 --binLocations
    BEGIN
        DECLARE @binLocationTag VARCHAR(MAX), @binLocationName VARCHAR(255), @parentBinLocationID INT
        SELECT @binLocationName = description, @binLocationTag = dbo.fn_binLocationTag(parentBinLocationID, 1), @parentBinLocationID = parentBinLocationID FROM binLocations WHERE binLocationID = @XID

        --remove bins, assets, and products from the bin location
        UPDATE bins SET binLocationID = @parentBinLocationID WHERE binLocationID = @XID
        UPDATE assets SET locationXID = @parentBinLocationID WHERE locationLTID = 13 AND locationXID = @XID
        --move binned products to parentLocation

        --delete the binLocation
        DELETE FROM binLocations WHERE binLocationID = @XID
        SELECT @message = 'Assets, bins, and products moved from "' + dbo.sqlProtect_xss(@binLocationName,5) + '" at location "' + dbo.sqlProtect_xss(@binLocationTag,6) + '" to the parent bin location and the bin location is now deleted.'
    END



    IF @LTID = 15 --bins
    BEGIN
        SELECT @message = 'Deleting bin is not yet set up in pr_record_delete'
    END



    IF @LTID = 16 --warehouses
    BEGIN
        DECLARE @warehouseDescription VARCHAR(128)
        SELECT @warehouseDescription = [description] FROM warehouses WHERE warehouseID = @XID

        --DELETE FROM warehouses WHERE warehouseID = @XID                                                   --deletes warehouse

        --records should only delete if there are no bin locations stored at the warehouse
        SELECT @message = 'pr_record_delete isn''t fully prepared for warehouses. bins and binLocations needs to be set up first'
    END



    IF @LTID = 18 --collections
    BEGIN
        DECLARE @collectionName VARCHAR(255), @grandparentCollectionID INT
        SELECT @collectionName = name, @grandparentCollectionID = parentCollectionID FROM collections WHERE collectionID = @XID

        --orphan any direct descendants
        UPDATE collections
        SET parentCollectionID = @grandparentCollectionID
        WHERE parentCollectionID = @XID

        --delete the group recurd
        DELETE FROM collections WHERE collectionID = @XID
        SELECT @message = 'Direct descendant collections adopted to their grandparent and deleted ' + dbo.sqlProtect_xss(@collectionName,5) + '.'
    END



    IF @LTID = 19 --products
    BEGIN
        SELECT @message = 'Delete products is not set up yet.'
    END



    IF @LTID = 20 --product variations
    BEGIN
        SELECT @message = 'Delete product variations is not set up yet.'
    END



    IF @LTID = 21 --products
    BEGIN
        SELECT @message = 'Delete inventory ledger line is not set up yet.'
    END



    IF @LTID = 22 --priceTokens
    BEGIN
        SELECT @message = 'Delete priceToken is not set up yet.'
    END



    IF @LTID = 23 --saleCode
    BEGIN
        SELECT @message = 'Delete saleCode is not set up yet.'
    END



    IF @LTID = 30 --purchaseOrder
    BEGIN
        SELECT @message = 'Delete PO is not set up yet... should be set up to mark as cancelled?'
    END



    IF @LTID = 31 --bills
    BEGIN
        SELECT @message = 'Delete bills is not set up yet.'
    END



    IF @LTID = 32 --shipment
    BEGIN
        SELECT @message = 'Delete shipment is not set up yet.'
    END



    IF @LTID = 33 --shipBox
    BEGIN
        DECLARE @shipBoxMaterialID INT, @description VARCHAR(MAX), @length FLOAT, @width FLOAT, @height FLOAT, @boxWeight FLOAT, @maxWeight FLOAT, @ulineModel VARCHAR(MAX), @ulinePrice FLOAT

        SELECT @shipBoxMaterialID = shipBoxMaterialID, @description = CONCAT(REPLACE(description, ' (No longer used)', ''), ' (No longer used)'), @length = length, @width = width, @height = height, @boxWeight = boxWeight, @maxWeight = maxWeight, @ulineModel = ulineModel, @ulinePrice = ulinePrice FROM shipBoxes WHERE shipBoxID = @XID
        EXEC pr_shipBox_edit @XID, @shipBoxMaterialID, @description, @length, @width, @height, @boxWeight, @maxWeight, @ulineModel, @ulinePrice, 1

        SELECT @message = 'Ship box records cannot be deleted. This box has been marked as inactive instead with "no longer used" added to the title.'
    END



    IF @LTID = 34 --unused
    BEGIN
        SELECT @message = 'Delete for LTID 34 is not set up yet.'
    END



    IF @LTID = 35 --orders
    BEGIN
        SELECT @message = 'Delete orders is not set up yet.'
    END



    IF @LTID = 80 --emailChain
    BEGIN
        SELECT @message = 'Delete emailChain is not set up yet.'
    END



    IF @LTID = 81 --emailTemplate
    BEGIN
        SELECT @message = 'Delete emailTemplate is not set up yet.'
    END



    IF @LTID = 100 --linkedTables
    BEGIN
        SELECT @message = 'Deleting a linked table is not allowed!'
    END



    IF @LTID = 101 
    BEGIN
        DELETE FROM widgets WHERE widgetID = @XID --widgets
        SELECT @message = 'Widget successfully deleted.'
    END



    IF @LTID = 102 --websites
    BEGIN
        --what to do when the website record being deleted is not called from the website page itself (i.e. delete alternative URL)
        IF @xXID <> @XID DELETE FROM websites WHERE websiteID = @XID

        ELSE --what to do when deleting the actual website itself
        BEGIN
          SELECT @message = 'Deleting a website is not yet implemented'
        END
    END



    IF @LTID = 103 --virtual pages
    BEGIN
        SELECT @message = 'Deleting virtualPage is not yet set up in pr_record_delete'
    END



    IF @LTID = 104 --download groups
    BEGIN
        DECLARE @downloadGroupName VARCHAR(64)
        SELECT @downloadGroupName = downloadGroupName FROM downloadGroups WHERE downloadGroupID = @XID 

        DELETE FROM downloadFiles WHERE downloadGroupID = @XID
        DELETE FROM downloadGroups WHERE downloadGroupID = @XID

        SELECT @message = 'Removed files from the "' + dbo.sqlProtect_xss(@downloadGroupName,5) + '" download group and the group is now deleted. WARNING: actual files have not been removed from the server!'
    END



    IF @LTID = 200 --transaction ledger
    BEGIN
        SELECT @message = 'Delete transaction ledger line is not set up yet.'
    END



    IF @LTID = 201 --bank account
    BEGIN
        SELECT @message = 'Delete bank account is not set up yet.'
    END



    IF @LTID = 202 --bank transaction ledger
    BEGIN
        SELECT @message = 'Delete bank transaction is not set up yet.'
    END



    IF @LTID = 203 --payroll report
    BEGIN
        SELECT @message = 'Delete payroll report is not set up yet.'
    END



    IF @LTID = 204 --payroll entry
    BEGIN
        SELECT @message = 'Delete payroll entry is not set up yet.'
    END



    IF @LTID = 205 --reconciliations
    BEGIN
        SELECT @message = 'Delete transaction reconciliations is not set up yet.'
    END



    IF @LTID = 252 --projects
    BEGIN
        DECLARE @aTaskTable TABLE (aTaskID INT)
        DECLARE @aTaskID INT

        INSERT INTO @aTaskTable
        SELECT taskID FROM tasks WHERE assignedToProjectID = @XID

        --remove all tasks and their predecessor tasks
        WHILE (SELECT COUNT(*) FROM @aTaskTable) != 0
        BEGIN
            SELECT TOP(1) @aTaskID = aTaskID FROM @aTaskTable
            EXEC pr_record_delete 253, @aTaskID, NULL, NULL, NULL
            DELETE FROM @aTaskTable WHERE aTaskID = @aTaskID
        END

        DELETE FROM projects WHERE projectID = @XID
        SELECT @message = 'Deleted this project and its associated tasks (and their predecessor tasks).'
    END



    IF @LTID = 253 --tasks
    BEGIN
        DECLARE @aTaskTable2 TABLE (aTaskID INT)
        DECLARE @aTaskID2 INT

        INSERT INTO @aTaskTable2
        SELECT taskID FROM tasks WHERE predecessorOfTaskID = @XID

        --delete the predecessors of this task before deleting the task itself
        WHILE (SELECT COUNT(*) FROM @aTaskTable2) != 0
        BEGIN
            SELECT TOP(1) @aTaskID2 = aTaskID FROM @aTaskTable2
            EXEC pr_record_delete 253, @aTaskID2, NULL, NULL, NULL
            DELETE FROM @aTaskTable2 WHERE aTaskID = @aTaskID2
        END

        DELETE FROM timeEntries WHERE taskID = @XID
        DELETE FROM tasks WHERE taskID = @XID
        SELECT @message = 'Deleted this task and its predecessors.'
    END



    IF @LTID = 255 --messages
    UPDATE messages SET fromLTID = NULL, fromXID = NULL, message = '[deleted]', deleted = 1 WHERE messageID = @XID



    --ALSO consider whether or not searchedItems and linkedEntities need to be deleted when a record is deleted

    SELECT ISNULL(@message, NULL)
END
GO
