USE [ectdb]
GO
/*
Written by Asira 07/09/2023
Procedure pr_linkedEntity_getID - create and/or return an LEID (create only if it doesn't exist, always return one)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_linkedEntity_getID] (
    @toLTID TINYINT,
    @toXID INT,
    @newLinkedEntityID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --if it exists, return the current ID
    SELECT @newLinkedEntityID = dbo.fn_linkedEntity_getID(@toLTID, @toXID)

    --if it doesn't exist, create it and return the new ID
    IF @newLinkedEntityID IS NULL
    BEGIN
        EXEC dbo.pr_linkedEntity_new @toLTID, @toXID
        SELECT @newLinkedEntityID = @@IDENTITY
    END

    RETURN(CAST(ISNULL(@newLinkedEntityID, NULL) AS INT))
END
GO
