USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure apr_sessions_endFailedLoginSessions - automatically deletes sessions (and acl) where the user failed the signin process (daily)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_sessions_endFailedLoginSessions]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    EXEC dbo.pr_sessions_endFailedLoginSessions
    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_sessions_endFailedLoginSessions', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
