USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Function fn_searchedItem_keywords - Generates keywords for a particular searched item
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_searchedItem_keywords] (
  @LEID BIGINT
)
RETURNS VARCHAR(MAX)
AS
BEGIN

  DECLARE @keywords VARCHAR(MAX), @LTID TINYINT, @XID INT
  SELECT @keywords = ''
  SELECT @LTID = dbo.fn_linkedEntity_getLTID(@LEID), @XID = dbo.fn_linkedEntity_getXID(@LEID)



  --users
  IF @LTID = 1 SELECT @keywords = CAST(userID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(1, userID) + ' u us usr usrs user' FROM users WHERE users.userID = @XID

  --employees
  IF @LTID = 2 SELECT @keywords = CAST(employeeID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(2, employeeID) + ' e es emp emps empls empl emply emplys employee' FROM employees WHERE employees.employeeID = @XID

  --userGroups
  IF @LTID = 3 SELECT @keywords = CAST(userGroupID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(3, userGroupID) + ' u us ug ugs g gs usr usrs usrgrp grp grps usrgrps user group userGroup usersGroups userGroups' FROM userGroups WHERE userGroupID = @XID

  --organizations
  IF @LTID = 4 SELECT @keywords = CAST(organizationID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(4, organizationID) + ' org og ogs orgs o os organization' FROM organizations WHERE organizations.organizationID = @XID

  --suppliers
  --IF @LTID = 5 SELECT @keywords = CAST(supplierID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(5, supplierID) + ' supplier spl distributor vendor' FROM suppliers WHERE supplierID = @XID
  IF @LTID = 5 SELECT @keywords = '' --supplier table doesn't exist yet but will be added later

  --assets
  IF @LTID = 6 SELECT @keywords = CAST(assetID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(6, assetID) + ' at ats a as asset' FROM assets WHERE assetID = @XID

  --notes   --won't be added to search index (LTID 7)
  IF @LTID = 7 SELECT @keywords = ''

  --highlights
  IF @LTID = 8 SELECT @keywords = ISNULL(keywords, title + ' hl hlt highlight high light ' + CAST(highlightID AS VARCHAR(12))) FROM highlights WHERE highlightID = @XID

  --documents
  IF @LTID = 9 SELECT @keywords = ISNULL(keywords, description + ' doc dc document dox ' + CAST(documentID AS VARCHAR(12))) FROM documents WHERE documentID = @XID

  --knowledgebase
  IF @LTID = 10 SELECT @keywords = ISNULL(keywords, description + ' kb knowledgebase knowledge base ' + CAST(knowledgebaseID AS VARCHAR(12))) FROM knowledgebase WHERE knowledgebaseID = @XID

  --externalLinks
  --won't be added to search index (LTID 11)

  --fileFolders
  IF @LTID = 12 SELECT @keywords = CAST(fileFolderID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(12, fileFolderID) + ' file folder fileFolder fileFolders fl f fs fls' FROM fileFolders WHERE fileFolderID = @XID

  --files
  IF @LTID = 13 SELECT @keywords = CAST(fileID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(13, fileID) + ' file digital doc document' FROM files WHERE fileID = @XID

  --binLocations
  IF @LTID = 14 SELECT @keywords = CAST(binLocationID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(14, binLocationID) + ' bin bn bns b bs loc locs lc lcs l ls bnloc bnlocs binloc binlocs binlc binlcs bns bnlc bnlcs bnloc bnlocs binLocations binLocation location' FROM binLocations WHERE binLocationID = @XID

  --bins
  IF @LTID = 15 SELECT @keywords = CAST(binID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(15, binID) + ' bin bn bns b bs' FROM bins WHERE binID = @XID

  --warehouses
  IF @LTID = 16 SELECT @keywords = CAST(warehouseID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(16, warehouseID) + ' warehouse wrh ware house' FROM warehouses WHERE warehouseID = @XID

  --17, fulfillment centers

  --collections
  IF @LTID = 18 SELECT @keywords = CAST(collectionID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(18, collectionID) FROM collections WHERE collectionID = @XID

  --products
  IF @LTID = 19 SELECT @keywords = ISNULL(keywords, description) + ' product prod prd variant variation set group ' + CAST(productID AS VARCHAR(12)) FROM products WHERE productID = @XID

  --productVariants
  IF @LTID = 20 SELECT @keywords = ISNULL(productVariants.keywords, productVariants.description) + ' ' + ISNULL(products.keywords, products.description) + ' product prod prd variant variation ' + CAST(productVariants.productVariantID AS VARCHAR(12)) + ' ' + CAST(productVariants.parentProductID AS VARCHAR(12)) FROM productVariants LEFT JOIN products ON productVariants.parentProductID = products.productID WHERE productVariantID = @XID

  --22, priceTokens
  --22, saleCodes

  --30, purchaseOrders
  --31, bills

  --shipments 
  IF @LTID = 32 SELECT @keywords = dbo.fn_entityName(32, shipmentID) + ' shipment ship shp parcel package ' + CAST(shipmentID AS VARCHAR(12)) FROM shipments WHERE shipmentID = @XID

  --33, shipboxes
  IF @LTID = 33 SELECT @keywords = dbo.fn_entityName(33, shipBoxID) + ' shipbox box mailer pacel package ' + CAST(shipBoxID AS VARCHAR(12)) FROM shipBoxes WHERE shipBoxID = @XID

  --34, unused
  --35, orders

  --80, emailChains
  --81, emailTemplates

  --linkedTables
  --won't be added to search index (LTID 100) 

  --widgets
  IF @LTID = 101 SELECT @keywords = CAST(widgetID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(101, widgetID) + ' widget wdgt wdgts w ws wgs wg wgt wgts' FROM widgets WHERE widgetID = @XID

  --websites
  IF @LTID = 102 SELECT @keywords = CAST(websiteID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(102, websiteID) + ' ' + dbo.fn_entityName(102, parentWebsiteID) + ' web webs wbs wb w ws website site' FROM websites WHERE websiteID = @XID

  --virtualPages
  IF @LTID = 103 SELECT @keywords = CAST(virtualPageID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(103, virtualPageID) FROM virtualPages WHERE virtualPageID = @XID

  --downloadGroups
  IF @LTID = 104 SELECT @keywords = CAST(downloadGroupID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(104, downloadGroupID) FROM downloadGroups WHERE downloadGroupID = @XID

  --reports
  IF @LTID = 105 SELECT @keywords = CAST(ecreportID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(105, ecreportID) + ' report rpt ecreport ecreports' FROM ecreports WHERE ecreportID = @XID


  --200, ledgerTransactions
  --201, bankAccounts
  --202, bankTransactions
  --203 payrollReports
  --204, payrollEntries
  --205, reconciliations

  --252, projects
  --tasks
  IF @LTID = 253 SELECT @keywords = CAST(taskID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(253, taskID) + ' task tsk to do to-do' FROM tasks WHERE taskID = @XID

  --254, messageGroups (if ever needed)

  --messages
  IF @LTID = 255 SELECT @keywords = CAST(messageID AS VARCHAR(12)) + ' ' + dbo.fn_entityName(255, messageID) FROM messages WHERE messageID = @XID  



--remove unwanted characters from keywords
/*
  SELECT @keywords = REPLACE(@keywords, '/', ' ')
  SELECT @keywords = REPLACE(@keywords, '-', ' ')
  SELECT @keywords = REPLACE(@keywords, '(', ' ')
  SELECT @keywords = REPLACE(@keywords, ')', ' ')
  SELECT @keywords = REPLACE(@keywords, '[', ' ')
  SELECT @keywords = REPLACE(@keywords, ']', ' ')
--SELECT @keywords = REPLACE(@keywords, '.', '')
  SELECT @keywords = REPLACE(@keywords, '<', ' ')
  SELECT @keywords = REPLACE(@keywords, '>', ' ')
  SELECT @keywords = REPLACE(@keywords, '&', ' ')
  SELECT @keywords = REPLACE(@keywords, '#', ' ')
  SELECT @keywords = REPLACE(@keywords, '®', '')
  SELECT @keywords = REPLACE(@keywords, '"', '')
  SELECT @keywords = REPLACE(@keywords, '   ''', ' ')   --replace triple space with single space
  SELECT @keywords = REPLACE(@keywords, '  ''', ' ')    --replace double space with single space
  SELECT @keywords = REPLACE(@keywords, ''' ', ' ')
  SELECT @keywords = REPLACE(@keywords, CHAR(29), ' ')
  SELECT @keywords = LTRIM(RTRIM(@keywords))            --remove extra white space at start and end
  */

  SELECT @keywords = LTRIM(RTRIM(dbo.sqlProtect_xss(@keywords, 5))) --remove unwanted characters and trim whitespace


  --add various keywords from their contractions
  IF @keywords LIKE '%aren''t%' SELECT @keywords = @keywords + ' arent are not'
  IF @keywords LIKE '%can''t%' SELECT @keywords = @keywords + ' cant can not'
  IF @keywords LIKE '%couldn''t%' SELECT @keywords = @keywords + ' couldnt could not'
  IF @keywords LIKE '%could''ve%' SELECT @keywords = @keywords + ' couldve could have'
  IF @keywords LIKE '%didn''t%' SELECT @keywords = @keywords + ' didnt did not'
  IF @keywords LIKE '%doesn''t%' SELECT @keywords = @keywords + ' doesnt does not'
  IF @keywords LIKE '%don''t%' SELECT @keywords = @keywords + ' dont do not'
  IF @keywords LIKE '%hadn''t%' SELECT @keywords = @keywords + ' hadnt had not'
  IF @keywords LIKE '%hasn''t%' SELECT @keywords = @keywords + ' hasnt has not'
  IF @keywords LIKE '%haven''t%' SELECT @keywords = @keywords + ' havent have not'
  IF @keywords LIKE '%he''d%' SELECT @keywords = @keywords + ' hed he did would'
  IF @keywords LIKE '%he''s%' SELECT @keywords = @keywords + ' hes he is'
  IF @keywords LIKE '%i''d%' SELECT @keywords = @keywords + ' id i did would'
  IF @keywords LIKE '%i''ll%' SELECT @keywords = @keywords + ' ill i will'
  IF @keywords LIKE '%i''m%' SELECT @keywords = @keywords + ' im i am'
  IF @keywords LIKE '%isn''t%' SELECT @keywords = @keywords + ' isnt is not'
  IF @keywords LIKE '%i''ve%' SELECT @keywords = @keywords + ' ive i have'
  IF @keywords LIKE '%let''s%' SELECT @keywords = @keywords + ' lets let us'
  IF @keywords LIKE '%mightn''t%' SELECT @keywords = @keywords + ' mightnt might not'
  IF @keywords LIKE '%mustn''t%' SELECT @keywords = @keywords + ' mustnt must not'
  IF @keywords LIKE '%must''ve%' SELECT @keywords = @keywords + ' mustve must have'
  IF @keywords LIKE '%shouldn''t%' SELECT @keywords = @keywords + ' shouldnt should not'
  IF @keywords LIKE '%should''ve%' SELECT @keywords = @keywords + ' shouldve should have'
  IF @keywords LIKE '%that''ll%' SELECT @keywords = @keywords + ' thatll that will'
  IF @keywords LIKE '%that''s%' SELECT @keywords = @keywords + ' thats that is'
  IF @keywords LIKE '%there''s%' SELECT @keywords = @keywords + ' theres there is'
  IF @keywords LIKE '%they''d%' SELECT @keywords = @keywords + ' theyd they did would'
  IF @keywords LIKE '%they''ll%' SELECT @keywords = @keywords + ' theyll they will'
  IF @keywords LIKE '%they''re%' SELECT @keywords = @keywords + ' theyre there their they are'
  IF @keywords LIKE '%they''ve%' SELECT @keywords = @keywords + ' theyve they have'
  IF @keywords LIKE '%wasn''t%' SELECT @keywords = @keywords + ' wasnt was not'
  IF @keywords LIKE '%weren''t%' SELECT @keywords = @keywords + ' werent were not'
  IF @keywords LIKE '%we''ve%' SELECT @keywords = @keywords + ' weve we have'
  IF @keywords LIKE '%what''d%' SELECT @keywords = @keywords + ' whatd what did'
  IF @keywords LIKE '%what''ll%' SELECT @keywords = @keywords + ' whatll what will'
  IF @keywords LIKE '%what''re%' SELECT @keywords = @keywords + ' whatre what are'
  IF @keywords LIKE '%what''s%' SELECT @keywords = @keywords + ' whats what is'
  IF @keywords LIKE '%what''ve%' SELECT @keywords = @keywords + ' whatve what have'
  IF @keywords LIKE '%where''s%' SELECT @keywords = @keywords + ' wheres where is'
  IF @keywords LIKE '%who''d%' SELECT @keywords = @keywords + ' whod who did would'
  IF @keywords LIKE '%who''ll%' SELECT @keywords = @keywords + ' wholl who will'
  IF @keywords LIKE '%who''s%' SELECT @keywords = @keywords + ' whos who is whose'
  IF @keywords LIKE '%won''t%' SELECT @keywords = @keywords + ' wont will would not'
  IF @keywords LIKE '%wouldn''t%' SELECT @keywords = @keywords + ' wouldnt would not'
  IF @keywords LIKE '%would''ve%' SELECT @keywords = @keywords + ' wouldve would have'
  IF @keywords LIKE '%you''d%' SELECT @keywords = @keywords + ' youd you did would'
  IF @keywords LIKE '%you''ll%' SELECT @keywords = @keywords + ' youll you will'
  IF @keywords LIKE '%you''re%' SELECT @keywords = @keywords + ' youre you are'
  IF @keywords LIKE '%you''ve%' SELECT @keywords = @keywords + ' youve you have'

  SELECT @keywords = dbo.fn_sortAlphaString(dbo.fn_dedupeString(@keywords, ' '))
  RETURN @keywords
END
GO
