USE [ectdb]
GO
/*
Written by Asira 2024
Table notifications - a list of notifications, to and from whom, to be "played" for an employee to receive information about an logical event that has occurred.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[notificationContent] [varchar](max) NOT NULL,
	[fromLEID] [bigint] NULL,
	[toLEID] [bigint] NOT NULL,
	[sendDate] [datetime] NOT NULL,
	[resendDate] [datetime] NULL,
	[acknowledged] [bit] NOT NULL,
	[dismissed] [bit] NOT NULL,
 CONSTRAINT [PK_notifications] PRIMARY KEY NONCLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_notifications]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_notifications] ON [dbo].[notifications]
(
	[notificationID] ASC,
	[toLEID] ASC,
	[fromLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notifications_list]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_notifications_list] ON [dbo].[notifications]
(
	[notificationID] ASC,
	[toLEID] ASC,
	[sendDate] ASC,
	[resendDate] ASC,
	[acknowledged] ASC,
	[dismissed] ASC
)
INCLUDE([notificationContent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DEFAULT_notifications_sendDate]  DEFAULT (getdate()) FOR [sendDate]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DEFAULT_notifications_acknowledged]  DEFAULT ((0)) FOR [acknowledged]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DEFAULT_notifications_dismissed]  DEFAULT ((0)) FOR [dismissed]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_fromLEID] FOREIGN KEY([fromLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_fromLEID]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_toLEID] FOREIGN KEY([toLEID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_toLEID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'null if it is a system notification instead of a notification from another entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notifications', @level2type=N'COLUMN',@level2name=N'fromLEID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'if emp/user wishes to be re-notified later, acknolwedge sets to 0 and notification is resent later' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notifications', @level2type=N'COLUMN',@level2name=N'sendDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 until the first time emp/user sees in a pop-up. to see again, they open in quick notification panel. ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notifications', @level2type=N'COLUMN',@level2name=N'resendDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'emp/user has removed from their quick notification panel. old, dismissed notifications are deleted automatically at a later date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notifications', @level2type=N'COLUMN',@level2name=N'dismissed'
GO
