USE [ectdb]
GO
/*
Written by Asira 2023-2024
Function fn_websites_removeSubdomain - removes the subdomain from a URL (without http:// or https://) ... used as the "base domain" for a website record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_websites_removeSubdomain](
  @websiteURL VARCHAR(2048)
  )
RETURNS VARCHAR(2048)
BEGIN

    DECLARE @keepValues AS VARCHAR(50), @str AS VARCHAR(2048)
    SET @keepValues = '%[^.]%'
    SET @str = @websiteURL
    WHILE PATINDEX(@keepValues, @str) > 0 SET @str = STUFF(@str, PATINDEX(@keepValues, @str), 1, '')


    IF LEN(@str) > 1
    BEGIN
        DECLARE @startPos INT
        SET @startPos = CHARINDEX('.', @websiteURL) + 1
        SET @str = SUBSTRING(@websiteURL, @startPos, LEN(@websiteURL))
    END

    ELSE SET @str = @websiteURL

    RETURN @str
END
GO
