USE [ectdb]
GO
/*
Written by Asira 2023
Procedure pr_fileFolder_edit - modify an existing file folder record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_fileFolder_edit] (
    @fileFolderID INT,
    @folderName VARCHAR(255)
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --specifically used to RENAME a folder, and NOTHING else. Moving folders is in pr_fileFolder_move
    
    UPDATE fileFolders
    SET folderName = dbo.sqlProtect_xss(ISNULL(@folderName, 'New Folder'),6)
    WHERE fileFolderID = @fileFolderID

END
GO
