USE [ectdb]
GO
/*
Written by Asira 10/23/2023
Procedure pr_linkedEntity_report - Report to a content or TOS violation against a particular entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_linkedEntity_report] (
    @LTID TINYINT,
    @XID INT,
    @LEID BIGINT,
    @reportReasonID INT,
    @details VARCHAR(MAX),
    @reportedByUserID INT,
    @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkEntityID BIGINT, @checkIfReportedID INT
    IF @LEID IS NULL SELECT @LEID = dbo.fn_linkedEntity_getID(@LTID, @XID)

    SELECT @checkEntityID = dbo.fn_linkedEntity_getID(@LTID, @XID)
    IF @checkEntityID != @LEID SELECT @errorMessage = 'Linked entity mismatch. Please contact a system administrator.'

    IF (SELECT TOP 1 reportedLEID FROM linkedEntities_reported WHERE reportedLEID = @LEID AND reportedByUserID = @reportedByUserID) IS NOT NULL SELECT @errorMessage = 'You''ve already reported this content. We are currently reviewing your report and will take action if necessary.'

    IF @errorMessage IS NULL
    BEGIN
        SELECT @checkIfReportedID = reportedID FROM linkedEntities_reported WHERE reportedLEID = @LEID AND reasonID = @reportReasonID AND resolved = 0      --if it has already been reported for this reason, return a message instead of generating a new report.
        IF @checkIfReportedID IS NOT NULL SELECT @errorMessage = 'This content has already been reported for this reason. We are currently reviewing the report and will take action if necessary.'

        SELECT @checkIfReportedID = reportedID FROM linkedEntities_reported WHERE reportedLEID = @LEID AND reasonID = @reportReasonID AND resolved = 1               --if it has already been reported for this reason, return a message instead of generating a new report.
        IF @checkIfReportedID IS NOT NULL SELECT @errorMessage = 'This content has already been reported for this reason and we found that it did not violate our website policies.'


        IF @errorMessage IS NULL
        BEGIN
            INSERT INTO linkedEntities_reported (reportedLEID, reasonID, details, reportedByUserID, reportedOn) VALUES
            (dbo.sqlProtect_xss(@LEID,7), dbo.sqlProtect_xss(@reportReasonID,7), dbo.sqlProtect_xss(@details,4), dbo.sqlProtect_xss(@reportedByUserID,7), GETDATE())
        END
    END


    SELECT ISNULL(@errorMessage, NULL)
END
GO
