USE [ectdb]
GO
/*
Written by Asira 10/17/2024
Function fn_sessionStorage_get - get the value stored by tag for a session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_sessionStorage_get](
    @sessionID INT,
    @tag VARCHAR(64)
  )
RETURNS VARCHAR(MAX)
BEGIN
    RETURN(SELECT TOP 1 value FROM sessionStorage WHERE sessionID = @sessionID AND tag = dbo.sqlProtect_xss(@tag, 6))
END
GO
