USE [ectdb]
GO
/*
Written by Asira 06/12/2024
Procedure apr_entityImages_cleanup - automated/agent procedure "deleted" entity images are actually deleted daily
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_entityImages_cleanup]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM entityImages WHERE deleted = 1

    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_entityImages_cleanup', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
