USE [ectdb]
GO
/*
Written by Asira 08/31/2024
Table contactAddresses - an physical address linked to a contactID
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactAddresses](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[ownedByContactID] [int] NOT NULL,
	[recipient] [varchar](101) NULL,
	[company] [varchar](50) NULL,
	[address1] [varchar](50) NOT NULL,
	[address2] [varchar](50) NULL,
	[city] [varchar](50) NOT NULL,
	[territoryID] [int] NOT NULL,
	[zipcode] [varchar](10) NOT NULL,
	[countryID] [int] NOT NULL,
 CONSTRAINT [PK_addresses] PRIMARY KEY NONCLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_contactAddresses]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_contactAddresses] ON [dbo].[contactAddresses]
(
	[ownedByContactID] ASC,
	[addressID] ASC,
	[territoryID] ASC,
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contactAddresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_contactID] FOREIGN KEY([ownedByContactID])
REFERENCES [dbo].[contacts] ([contactID])
GO
ALTER TABLE [dbo].[contactAddresses] CHECK CONSTRAINT [FK_addresses_contactID]
GO
ALTER TABLE [dbo].[contactAddresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_countryID] FOREIGN KEY([countryID])
REFERENCES [dbo].[countries] ([countryID])
GO
ALTER TABLE [dbo].[contactAddresses] CHECK CONSTRAINT [FK_addresses_countryID]
GO
ALTER TABLE [dbo].[contactAddresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_territoryID] FOREIGN KEY([territoryID])
REFERENCES [dbo].[territories] ([territoryID])
GO
ALTER TABLE [dbo].[contactAddresses] CHECK CONSTRAINT [FK_addresses_territoryID]
GO
ALTER TABLE [dbo].[contactAddresses]  WITH CHECK ADD  CONSTRAINT [CHK_company_or_recipient] CHECK  (([company] IS NOT NULL OR [recipient] IS NOT NULL))
GO
ALTER TABLE [dbo].[contactAddresses] CHECK CONSTRAINT [CHK_company_or_recipient]
GO
