USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_user_new - create a new user record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_user_new] (
  @firstName VARCHAR(50),
  @lastName VARCHAR(50),
  @email VARCHAR(255),
  @organizationID INT,
  @password VARCHAR(32),
  @websiteID INT,
  @userID INT = NULL OUTPUT,
  @errorMessage VARCHAR(128) = NULL OUTPUT
  )
AS
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON

  SELECT @userID = userID FROM users WHERE email = @email AND websiteID = @websiteID
  IF @userID IS NOT NULL SELECT @userID = NULL, @errorMessage = 'There is already an account with that email. Please login instead.'


  IF @errorMessage IS NULL --create a new user
  BEGIN
    INSERT INTO users(firstName, lastName, email, organizationID, websiteID, passwordHash)
    VALUES (dbo.sqlProtect_xss(@firstName,5), dbo.sqlProtect_xss(@lastName,5), dbo.sqlProtect_xss(@email,4), dbo.sqlProtect_xss(@organizationID,7), dbo.sqlProtect_xss(@websiteID,7), HASHBYTES('SHA2_256', @password))
      
    SELECT @userID = SCOPE_IDENTITY()
    EXEC dbo.pr_linkedEntity_new 1, @userID, @websiteID

    DECLARE @userRisk TINYINT
    SELECT @userRisk = dbo.fn_userAccount_riskScore(@userID)

    IF @userRisk > 99 --account is too risky and needs to be verified by an employee before it can be used
    BEGIN 
      UPDATE users SET inActive = 1, accountRisk = @userRisk WHERE userID = @userID
      SELECT @errorMessage = 'Your account has been created but needs to be verified. Please contact customer support.'
    END
  END

  SELECT ISNULL(@userID, NULL), ISNULL(@errorMessage, NULL)
END
GO
