USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripSpecialCharacters - remove special characters
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_stripSpecialCharacters] (
	@str VARCHAR(MAX)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @expres AS VARCHAR(50)
    
    SELECT @expres='%[~,@,#,$,:,%,&,*,(,),.,!,/,'',"]%'
    WHILE PATINDEX( @expres, @str ) > 0 SET @str = Replace(REPLACE( @str, SUBSTRING( @str, PATINDEX( @expres, @str ), 1 ),''),'-',' ')

	RETURN @str
END
GO
