USE [ectdb]
GO
/*
Written by Asira 07/14/2023
Procedure apr_actionLog_cleanup - Cleans up actions logs by deleting old, irrelevant logs.
    Whether logs should be deleted or not depends on the number of months they should be retained for.
    0 months of retention = store indefinitely.
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apr_actionLog_cleanup]
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DELETE FROM actionLog WHERE logID IN (
        SELECT t3.logID FROM (
            SELECT t1.logID, DATEADD(MONTH, t2.monthsOfRetention, t1.actionDate) AS deletionDate
            FROM actionLog t1
            LEFT JOIN actions t2 ON t1.actionID = t2.actionID
            WHERE t2.monthsOfRetention > 0
        ) t3
        WHERE GETDATE() >= t3.deletionDate
    )

    EXEC dbo.pr_actionLog_new NULL, NULL, 5, 'apr_actionLog_cleanup', NULL, NULL, NULL, 'SQLServerAgent', NULL, NULL
END
GO
