USE [ectdb]
GO
/*
Written by Asira 2022
Function fn_stripForURL - only keep valid URI characters
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Function [dbo].[fn_stripForURL](@str VARCHAR(MAX))
Returns VARCHAR(MAX)
AS
Begin

    DECLARE @keepValues AS VARCHAR(50)
    SET @keepValues = '%[^A-Z^a-z^0-9-._~:/?#@!$&*+,;%=]%'
    WHILE PatIndex(@keepValues, @str) > 0
      SET @str = Stuff(@str, PatIndex(@keepValues, @str), 1, '')

    RETURN @str
End
GO
