USE [ectdb]
GO
/*
Written by Asira 07/19/2023
Function fn_messageThreads_childCount - how many descendants a message has (affects priority/weight)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_messageThreads_childCount]
    (@messageID int)
RETURNS INT
AS 
BEGIN
    DECLARE @childCount INT

    ; WITH CTE AS (
        SELECT t.messageID
        FROM messages t WITH (NOLOCK)
        WHERE t.messageID = @messageID

        UNION ALL

        SELECT t.messageID
        FROM messages t WITH (NOLOCK)
        JOIN CTE ON t.parentMessageID = cte.messageID
    )

    SELECT @childCount = (COUNT(*) - 1) FROM CTE  --subtract 1 because the CTE query selects the parent as well

    RETURN ISNULL(@childCount, 0)
END
GO
