USE [ectdb]
GO
/*
Written by Asira 07/21/2022
Table voteLedger - every up or down vote cast on an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voteLedger](
	[voteLedgerID] [int] IDENTITY(1,1) NOT NULL,
	[voteValue] [smallint] NOT NULL,
	[fromUserID] [int] NOT NULL,
	[toLinkedEntityID] [bigint] NOT NULL,
 CONSTRAINT [PK_votes] PRIMARY KEY NONCLUSTERED 
(
	[voteLedgerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_votes]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_votes] ON [dbo].[voteLedger]
(
	[voteLedgerID] ASC,
	[fromUserID] ASC,
	[toLinkedEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[voteLedger] ADD  CONSTRAINT [DEFAULT_votes_voteValue]  DEFAULT ((0)) FOR [voteValue]
GO
ALTER TABLE [dbo].[voteLedger]  WITH CHECK ADD  CONSTRAINT [FK_voteLedger_linkedEntityID] FOREIGN KEY([toLinkedEntityID])
REFERENCES [dbo].[linkedEntities] ([linkedEntityID])
GO
ALTER TABLE [dbo].[voteLedger] CHECK CONSTRAINT [FK_voteLedger_linkedEntityID]
GO
ALTER TABLE [dbo].[voteLedger]  WITH CHECK ADD  CONSTRAINT [FK_votes_fromUserID] FOREIGN KEY([fromUserID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[voteLedger] CHECK CONSTRAINT [FK_votes_fromUserID]
GO
ALTER TABLE [dbo].[voteLedger]  WITH CHECK ADD  CONSTRAINT [CK_votes_voteValue] CHECK  (([voteValue]=(-1) OR [voteValue]=(0) OR [voteValue]=(1)))
GO
ALTER TABLE [dbo].[voteLedger] CHECK CONSTRAINT [CK_votes_voteValue]
GO
