USE [ectdb]
GO
/*
Written by Asira 06/04/2024
View vw_notification_quickList - returns notifications read but not dismissed in the quickPanel
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_notification_quickList] AS

    SELECT notificationID, notificationContent, toLEID, acknowledged, sendDate
    FROM notifications
    WHERE dismissed = 0 AND CAST(resendDate AS DATE) <= CAST(GETDATE() AS DATE)

GO
