USE [ectdb]
GO
/*
Written by Asira 10/17/2024
Procedure pr_sessionStorage_clear - remove all or specific tag from session storage for a sessions
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_sessionStorage_clear] (
    @sessionID INT = NULL,
    @tag VARCHAR(64),
    @websiteID INT = NULL
  )
AS 
    SET XACT_ABORT ON
    SET NOCOUNT ON

    IF @tag IS NULL --deleting all stored items for all sessions or for only one session
    BEGIN
        IF @websiteID IS NULL AND @sessionID IS NULL DELETE FROM sessionStorage --delete all stored session items
        IF @websiteID IS NOT NULL AND @sessionID IS NULL DELETE ss FROM sessionStorage ss LEFT JOIN sessions s ON ss.sessionID = s.sessionID WHERE s.websiteID = @websiteID --delete stored session items for this site only

        IF @sessionID IS NOT NULL   DELETE FROM sessionStorage WHERE sessionID = @sessionID --delete stored session items only for this session
    END

    IF @tag IS NOT NULL --deleting a specific item for one session
    DELETE FROM sessionStorage WHERE sessionID = @sessionID AND tag = @tag

GO
