USE [ectdb]
GO
/*
Written by Asira 08/19/2024
Procedure pr_timeEntry_delete - SOFT DELETE a time entry
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_timeEntry_delete] (
    @timeEntryID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    --DO NOT ACTUALLY DELETE TIME ENTRIES
    --important to keep original records. "deleted" entries are not counted toward summed hours, payroll, etc...
    --they can still be viewed in ecreport timeEntries
  
    UPDATE timeEntries SET deleted = 1
    WHERE timeEntryID = @timeEntryID

END
GO
