USE [ectdb]
GO
/*
Written by Asira 06/05/2024
View vw_linkedTables - retrieves linkedTables records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_linkedTables] AS


    SELECT linkedTableID, description, tableTag, primaryKey, iconURL
    FROM linkedTables
    
GO
