USE [ectdb]
GO
/*
Written by Asira 10/17/2023
Table sessionStorage - A list of settings (tag) and values bound to a specific session
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessionStorage](
	[sessionStorageID] [int] IDENTITY(1,1) NOT NULL,
	[sessionID] [int] NOT NULL,
	[tag] [varchar](64) NOT NULL,
	[value] [varchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_sessionStorage] PRIMARY KEY NONCLUSTERED 
(
	[sessionStorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_sessionStorage]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_sessionStorage] ON [dbo].[sessionStorage]
(
	[sessionID] ASC,
	[sessionStorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sessionStorage] ADD  CONSTRAINT [DEFAULT_sessionStorage_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[sessionStorage]  WITH CHECK ADD  CONSTRAINT [FK_sessionStorage_sessionID] FOREIGN KEY([sessionID])
REFERENCES [dbo].[sessions] ([sessionID])
GO
ALTER TABLE [dbo].[sessionStorage] CHECK CONSTRAINT [FK_sessionStorage_sessionID]
GO
