USE [ectdb]
GO
/*
Written by Asira 07/21/2022
Function fn_voteScore_quick - returns the previously summed total votes for an entity
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_voteScore_quick](
    @toLinkedEntityID INT
  )
RETURNS SMALLINT
BEGIN
    DECLARE @voteScore SMALLINT

    SELECT @voteScore = voteLedgerSum FROM voteScores
    WHERE toLinkedEntityID = @toLinkedEntityID

    RETURN ISNULL(@voteScore, 0)
END
GO
