USE [ectdb]
GO
/*
Written by Asira 2022
Table documents - document content, keywords, and relations (parent-sibling, tree) that are intended to be public-facing
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[documentID] [int] IDENTITY(1,1) NOT NULL,
	[parentDocumentID] [int] NULL,
	[description] [varchar](255) NOT NULL,
	[keywords] [varchar](max) NULL,
	[documentContent] [text] NULL,
	[authorID] [int] NOT NULL,
	[authorNameOverride] [varchar](101) NULL,
	[isHidden] [bit] NOT NULL,
	[allowReplies] [bit] NOT NULL,
	[priority] [float] NOT NULL,
	[websiteID] [int] NOT NULL,
	[date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY NONCLUSTERED 
(
	[documentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_documents_description] UNIQUE NONCLUSTERED 
(
	[description] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_documents]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_documents] ON [dbo].[documents]
(
	[documentID] ASC,
	[parentDocumentID] ASC,
	[authorID] ASC,
	[websiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_documents_cardInformation]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE NONCLUSTERED INDEX [idx_documents_cardInformation] ON [dbo].[documents]
(
	[documentID] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DEFAULT_documents_hidden]  DEFAULT ((1)) FOR [isHidden]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DEFAULT_documents_allowReplies]  DEFAULT ((0)) FOR [allowReplies]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DEFAULT_documents_priority]  DEFAULT ((0.5)) FOR [priority]
GO
ALTER TABLE [dbo].[documents] ADD  CONSTRAINT [DEFAULT_documents_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_authorID] FOREIGN KEY([authorID])
REFERENCES [dbo].[employees] ([employeeID])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_authorID]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_parentDocumentID] FOREIGN KEY([parentDocumentID])
REFERENCES [dbo].[documents] ([documentID])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_parentDocumentID]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_websiteID] FOREIGN KEY([websiteID])
REFERENCES [dbo].[websites] ([websiteID])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_websiteID]
GO
