USE [ectdb]
GO
/*
Written by Asira 04/23/2024
Table productAttributeTypes - Attributes applied to a product variant
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productAttributes](
	[productAttributeID] [int] IDENTITY(1,1) NOT NULL,
	[productVariantID] [int] NOT NULL,
	[productAttributeTypeID] [int] NOT NULL,
	[productAttributeValueID] [int] NOT NULL,
 CONSTRAINT [PK_productAttributes] PRIMARY KEY NONCLUSTERED 
(
	[productAttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_productVariantAttribute] UNIQUE NONCLUSTERED 
(
	[productVariantID] ASC,
	[productAttributeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_productAttributes]    Script Date: 12/12/2024 3:16:54 PM ******/
CREATE CLUSTERED INDEX [idx_productAttributes] ON [dbo].[productAttributes]
(
	[productAttributeValueID] ASC,
	[productAttributeTypeID] ASC,
	[productVariantID] ASC,
	[productAttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productAttributes]  WITH CHECK ADD  CONSTRAINT [FK_productAttributes_productAttributeTypeID] FOREIGN KEY([productAttributeTypeID])
REFERENCES [dbo].[productAttributeTypes] ([productAttributeTypeID])
GO
ALTER TABLE [dbo].[productAttributes] CHECK CONSTRAINT [FK_productAttributes_productAttributeTypeID]
GO
ALTER TABLE [dbo].[productAttributes]  WITH CHECK ADD  CONSTRAINT [FK_productAttributes_productAttributeValueID] FOREIGN KEY([productAttributeValueID])
REFERENCES [dbo].[productAttributeValues] ([productAttributeValueID])
GO
ALTER TABLE [dbo].[productAttributes] CHECK CONSTRAINT [FK_productAttributes_productAttributeValueID]
GO
ALTER TABLE [dbo].[productAttributes]  WITH CHECK ADD  CONSTRAINT [FK_productAttributes_productVariantID] FOREIGN KEY([productVariantID])
REFERENCES [dbo].[productVariants] ([productVariantID])
GO
ALTER TABLE [dbo].[productAttributes] CHECK CONSTRAINT [FK_productAttributes_productVariantID]
GO
