USE [ectdb]
GO
/*
Written by Asira 06/26/2024
Procedure pr_shipBox_new - create a new shipping container record
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_shipBox_new] (
    @shipBoxMaterialID INT,
    @description VARCHAR(MAX),
    @length FLOAT,
    @width FLOAT,
    @height FLOAT,
    @boxWeight FLOAT,
    @maxWeight FLOAT,
    @ulineModel VARCHAR(MAX),
    @ulinePrice FLOAT,
    @websiteID INT,
    @newBoxID INT = NULL OUTPUT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    INSERT INTO shipBoxes (shipboxMaterialID, description, length, width, height, boxWeight, maxWeight, ulineModel, ulinePrice, inActive)
    VALUES (dbo.sqlProtect_xss(@shipBoxMaterialID,7), dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@length,7), dbo.sqlProtect_xss(@width,7), dbo.sqlProtect_xss(@height,7), dbo.sqlProtect_xss(@boxWeight,7), dbo.sqlProtect_xss(@maxWeight,7), dbo.sqlProtect_xss(@ulineModel,6), dbo.sqlProtect_xss(@ulinePrice,7), 0)

    SELECT @newBoxID = SCOPE_IDENTITY()
    IF @newBoxID IS NOT NULL EXEC dbo.pr_linkedEntity_new 33, @newBoxID, @websiteID


    SELECT ISNULL(@newBoxID, NULL)
END
GO
