USE [ectdb]
GO
/*
Written by Asira 06/03/2024
View vw_organizations - retrieves list of organization records
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_organizations] AS


    SELECT organizations.organizationID, organizations.name, contactAddresses.city, contactAddresses.zipcode, territories.name AS territoryName, countries.countryCode, contactPhoneNumbers.phoneNumber, contactPhoneNumbers.phoneNumberExtension, LE.websiteID
    FROM organizations
    LEFT JOIN linkedEntities LE ON toLTID = 4 AND toXID = organizations.organizationID
    LEFT JOIN contacts ON contacts.ownerLEID = LE.linkedEntityID
    LEFT JOIN contactAddresses ON ISNULL(contacts.primaryShipAddressID, contacts.primaryBillAddressID) = contactAddresses.addressID
    LEFT JOIN territories ON contactAddresses.territoryID = territories.territoryID
    LEFT JOIN countries ON territories.countryID = countries.countryID
    LEFT JOIN contactPhoneNumbers ON contacts.primaryPhoneNumberID = contactPhoneNumbers.phoneNumberID
    
GO
