USE [ectdb]
GO
/*
Written by Asira 07/09/2023
Procedure pr_linkedEntity_delete - delete an existing linkedEntity (ie the record was also deleted)
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_linkedEntity_delete] (
    @linkedEntityID BIGINT,
    @toLTID INT,
    @toXID INT,
    @websiteID INT
)
AS 
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON

    DECLARE @checkLEID BIGINT
    SELECT @checkLEID = linkedEntityID FROM linkedEntities WHERE toLTID = @toLTID AND toXID = @toXID AND websiteID = @websiteID

    IF @checkLEID IS NULL --ensures the correct entity is deleted
    BEGIN
        DELETE FROM linkedEntities_reported WHERE reportedLEID = @linkedEntityID
        DELETE FROM linkedEntities WHERE linkedEntityID = @linkedEntityID
    END
END
GO
