USE [ectdb]
GO
/*
Written by Asira 05/06/2025
Function tb_user_riskAssessment - Analyzes how risky a user account is based on various information about the account
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_user_riskAssessment]
(
    @userID int
)
RETURNS @aTable TABLE (score int, note varchar(200))
AS
BEGIN
    /*  returns line by line items detailing risk score for a user account... bigger number = riskier  */

    --all profile information supplied
    --risky keywords

    IF ISNULL(@userID, 0) != 0 --only valid userIDs should be checked
    BEGIN


    --WHAT IS BEING CHECKED FOR:
    DECLARE @firstName VARCHAR(50), @lastName VARCHAR(50)                           --identical first/last name is risky
    DECLARE @signupDate smalldatetime                                               --how long ago or recently they signed up
    DECLARE @organizationID INT                                                     --employee must be contacted in order to add a member to an organization
    DECLARE @employeeID INT                                                         --employee account risk is automatically significantly less; when user account is set as employee account, the assessment should automatically rerun
    DECLARE @email VARCHAR(50), @emailDomain VARCHAR(32), @emailValidated BIT       --email structure (domain, contains f/l name, etc)     --check if email is validated on the account; when validation link is clicked, the assessment should automatically rerun
    DECLARE @aclScore SMALLINT                                                      --session risk (uses latest known session associated with the account)
    --DECLARE @ordersCount SMALLINT                                                 --how many orders they have placed
    --DECLARE @countryID INT, @stateID INT                                          --check the location they say they are at





    --get basic account information
    SELECT
    @firstName = LOWER(t1.firstName), @lastName = LOWER(t1.lastName), @signupDate = t1.registrationDate, @email = LOWER(t1.email), @emailValidated = t1.emailValidated, @organizationID = t1.organizationID, @employeeID = t2.employeeID
    FROM users t1
    LEFT JOIN employees t2 ON t1.userID = t2.userID
    WHERE t1.userID = ISNULL(@userID, 0)





    --get latest session acl score
    SELECT TOP 1 @aclScore = dbo.fn_session_aclScore(sessionID)
    FROM sessions
    WHERE ownerID = @userID ORDER BY expires DESC

    INSERT INTO @aTable VALUES (@aclScore, 'Latest session ACL/Risk score')





    --get number of orders
    --SELECT @ordersCount = count(orderID)
    --FROM orders
    --WHERE userID = @userID





    --location assessment





    --add rows to table
    IF @firstName = @lastName
    INSERT INTO @aTable VALUES (70, 'First and last name are identical.')
    --ELSE --message feels unneccessary as no change to score is actually recorded.
    --INSERT INTO @aTable VALUES (0, 'Different first and last names.')





    /*  this function is typically only run a few times per account (on signup, if they join an organization, become and employee; it makes more sense for this part of the function to appear in orders risk assessment but not account risk assessment for now)  */
    --IF @signupDate IS NOT NULL
    --BEGIN
    --    DECLARE @weeksAgo SMALLINT = DATEDIFF(week, @signupDate, GETDATE())
    --    DECLARE @signupDateScore INT
    --    SELECT @signupDateScore =
    --    CASE
    --        WHEN @weeksAgo BETWEEN 0 AND 4 THEN 50
    --        WHEN @weeksAgo BETWEEN 4 AND 13 THEN 30
    --        WHEN @weeksAgo BETWEEN 13 AND 26 THEN 10
    --        WHEN @weeksAgo BETWEEN 26 AND 52 THEN 5
    --        WHEN @weeksAGO > 52 THEN 0
    --        ELSE 100
    --    END
    --    
    --    INSERT INTO @aTable VALUES (@signupDateScore, 'Account is ' + @weeksAgo + ' weeks old.')
    --END





    IF @organizationID IS NOT NULL  
    INSERT INTO @aTable VALUES (-50, 'User is a member of an organization we do business with.')
    --ELSE --message feels unneccessary as no change to score is actually recorded.
    --INSERT INTO @aTable VALUES (0, 'User isn''t a member of an organization we do business with.')





    IF @employeeID IS NOT NULL
    INSERT INTO @aTable VALUES (-200, 'User account is also an employee account.')
    --ELSE --message feels unneccessary as no change to score is actually recorded.
    --INSERT INTO @aTable VALUES (0, 'User account isn''t an employee account.')





    IF @emailValidated != CAST(1 AS BIT)
    INSERT INTO @aTable VALUES (20, 'Email isn''t validated.')
    ELSE 
    INSERT INTO @aTable VALUES (-30, 'Email is validated.')





    IF @email IS NOT NULL
    BEGIN
        DECLARE @domainScore INT
        SELECT @emailDomain = RIGHT(@email, LEN(@email) - CHARINDEX('@', @email))
        SELECT @domainScore = 
        CASE
            WHEN @emailDomain = 'aol.com' THEN '-5'
            WHEN @emailDomain = 'comcast.net' THEN '-5'
            WHEN @emailDomain = 'gmail.com' THEN '-20'
            WHEN @emailDomain = 'googlemail.com' THEN '-20'
            WHEN @emailDomain = 'icloud.com' THEN '-20'
            WHEN @emailDomain LIKE 'hotmail.%' THEN '-15'
            WHEN @emailDomain LIKE 'live.%' THEN '-10'
            WHEN @emailDomain = 'msn.net' THEN '-5'
            WHEN @emailDomain = 'outlook.com' THEN '-15'
            WHEN @emailDomain LIKE 'yahoo.%' THEN '5'
            ELSE 20 --other domains are riskier
        END


        --check if domain is one of our websites
        IF EXISTS (
            SELECT TOP 1 websiteID
            FROM websites WHERE websiteURL LIKE '%' + @emailDomain + '%'
        ) SET @domainScore = '-30' 

        INSERT INTO @aTable VALUES (@domainScore, 'Email registered with ' + @emailDomain + '.') --email domain score
        


        --email recognizability
        IF @email LIKE '%' + @firstName + '%' AND LEN(@firstName) > 3
            INSERT INTO @aTable VALUES('-15', 'Email contains user''s first name.')
        ELSE IF @email LIKE '%' + LEFT(@firstName, 3) + '%' AND LEN(@firstName) >= 4
            INSERT INTO @aTable VALUES('-10', 'Email contains part of user''s first name.')
        ELSE
            INSERT INTO @aTable VALUES(10, 'Email does''t contain user''s first name')

        IF @email LIKE '%' + @lastName + '%' AND LEN(@lastName) > 4
            INSERT INTO @aTable VALUES('-30', 'Email contains last name.')
        ELSE IF @email LIKE '%' + LEFT(@lastName, 4) + '%' AND LEN(@lastName) >= 4
            INSERT INTO @aTable VALUES('-15', 'Email contains part of user''s last name.')
        ELSE
            INSERT INTO @aTable VALUES(10, 'Email does''t contain user''s last name')
    END

    END
    RETURN 
END 
GO
