USE [ectdb]
GO
/*
Written by Asira 2022
Procedure pr_widget_new - create a new widget
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_widget_new] (
  @description VARCHAR(255),
  @tag VARCHAR(64),
  @sourceCode TEXT = NULL,
  @websiteID INT,
  @newWidgetID INT = NULL OUTPUT,
  @errorMessage VARCHAR(128) = NULL OUTPUT
)
AS 
BEGIN
  SET XACT_ABORT ON
  SET NOCOUNT ON
  
  DECLARE @checkTag VARCHAR(64), @widgetTag VARCHAR(64)

  SELECT @checkTag = tag FROM widgets WHERE tag = dbo.sqlProtect_xss(@tag,5)              --check to see if a widget with this tag already exists


  IF @checkTag IS NULL
  BEGIN
    INSERT INTO widgets(description, tag, sourceCode, isPublic)
    VALUES (dbo.sqlProtect_xss(@description,4), dbo.sqlProtect_xss(@tag,5), dbo.sqlProtect_xss(ISNULL(@sourceCode, '<!-- source code missing -->'),0), 0)
    
    SELECT @newWidgetID = SCOPE_IDENTITY()
    EXEC dbo.pr_linkedEntity_new 101, @newWidgetID, @websiteID
  END

  IF @checkTag IS NOT NULL SELECT @errorMessage = 'A widget with this tag already exists. Please choose a different tag.'


  SELECT ISNULL(@newWidgetID, NULL), ISNULL(@errorMessage, NULL)
END
GO
