USE [ectdb]
GO
/*
Written by Asira 11/29/2023
Table Function tb_searchedItems - returns a list of items based on search terms
*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tb_searchedItems] (
    @keywords VARCHAR(8000),
    @userID INT,
    @employeeID INT,
    @websiteID INT
)

RETURNS @aTable TABLE (LEID BIGINT, LTID TINYINT, XID INT, description VARCHAR(MAX), iconURL VARCHAR(2048), isActive BIT)
AS
BEGIN
    --filter on LTID is handled by ECPages

    IF @keywords IS NOT NULL

        INSERT INTO @aTable
        SELECT TOP(99999) LEID, LTID, XID, dbo.fn_entityName(LTID, XID) AS description, dbo.fn_entityImage(LEID, 3) AS iconURL, isActive FROM (
        
            SELECT SI.LEID, dbo.fn_linkedEntity_getLTID(SI.LEID) AS LTID, dbo.fn_linkedEntity_getXID(SI.LEID) AS XID, SI.searchRankFactor, SI.isActive
            FROM searchedItems SI
            LEFT JOIN linkedEntities LE ON SI.LEID = LE.linkedEntityID
            INNER JOIN FREETEXTTABLE(searchedItems, keywords, @keywords) FT ON SI.searchedItemID = FT.[KEY]
            WHERE LE.websiteID = @websiteID
        ) t1
        WHERE dbo.fn_accessLevel(@userID, @employeeID, t1.LTID, t1.XID) >= 2 
        ORDER BY t1.searchRankFactor DESC, description ASC, t1.LTID ASC, t1.XID DESC, t1.LEID DESC, t1.isActive DESC, iconURL ASC

    RETURN
END
GO
